.top-logo {
    margin-bottom: 20px;
    padding: 0 15px 40px;
    text-align: center;
}
.top-logo img {
    max-width: 500px;
}
.intro_box p {
    margin-bottom: 0;
}
.intro_box, .intro_box:focus, .intro_box:active {
    background: none repeat scroll 0 0 #888;
    color: #fff;
    display: block;
    font-size: 23px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.intro_box:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
.intro_box.marketonline {
    background: #63a940;
}
.intro_box.kdtt {
    background: #e53238;
}
.logo-icon.kdt {
    margin-left: -22px;
    padding-top: 10px;
}
.logo-icon {
    display: block;
    height: 120px;
}
.logo-icon.market {
    margin-left: -33px;
    padding-top: 28px;
}
.info-footer {
    padding: 20px 20px 20px 0;
}
.info-footer p {
    font-size: 16px;
    margin-bottom: 2px;
    color: #fff;
}
.footer {
    background: #888;
    margin-top: 140px;
}