.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.85);
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: #fff;
    font-family: "Segoe UI";
    font-size: 20px;
}
.navbar-inverse {
    background: #3b984c;
}
.navbar-inverse .navbar-brand img {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-left: -5px;
    margin-top: -8px;
    width: 35px;
}
.navbar-inverse .navbar-brand {
    padding-right: 10px;
}
.top-search-form {
    width: 36%;
    float: left;
}
.top-search-form .form-group {
    width: 100%;
}
.top-search-form .input-group {
    width: 100%;
}
#top-search-input {
    border: 0 none;
    float: left;
    height: 33px;
    width: 74%;
}
.top-search-form .input-group-btn {
    float: left
}
.top-search-form .dropdown-toggle {
    border: 0;
}
.navbar-fixed-top .navbar-brand {
    height: 49px;
}
.navbar-fixed-top {
    
}
.navbar-fixed-top .navbar-nav > li > a {
    height: 49px;
}
.page {
    padding-top: 70px;
    background: #d7e3da; /*#e8e8e8;*/
}
.profile-picture {
    border-radius: 0;
    float: left;
    margin-right: 15px;
    padding: 0;
    width: 115px;
}
.profile-box {
}
.profile-box h2 {
    
}
.profile-box .info-lines p {
    margin-bottom: 5px;
    padding-left: 26px;
    word-break: break-all;
}
.profile-box .info-lines p span {
    display: inline-block;
    font-size: 16px;
    margin-left: -22px;
    width: 18px;
}
.profile-box .school-name {
}
.profile-album {    
}
.profile-album ul {    
}
.profile-album ul li {    
}
.profile-album ul li img {    
}
.border-box {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
}
h2.top-name {
    margin-top: 0;
}
.info-lines {
    clear: both;
    padding-top: 10px;
}
p.controls {
    margin: 15px 0 0 0;
}
.album-main-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.album-main-image {
    float: right;
    padding: 0;
    position: absolute;
    width: 100%;
}
.top-info {
    background: #fff;
}
.top-info .border-box {
    margin-bottom: 0;
}
.profile-banner-col {
  padding: 0;
}
.top-info {
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
}
.top-info .border-box {
  padding-left: 0;
}
.mce-path {
  visibility: hidden !important;
}
.main-text-editor .placeholder {
    color: #888;
    display: none;
    left: 15px;
    position: absolute;
    top: 11px;
}
.main-text-editor .mce-panel {
  border-color: #ddd;
}
.main-text-editor .panel-body {
  padding: 0;
}
.main-text-editor .mce-tinymce {
  border: 0;
}
.main-text-editor.hide-control .panel-footer {
  display: none !important;
}
.main-text-editor.hide-control .mce-menubar {
  display: none !important;
}
.main-text-editor.hide-control .mce-toolbar-grp {
  display: none !important;
}
.main-text-editor.hide-control .mce-edit-area {
  border-top: 0;
}
.main-text-editor.hide-control .mce-statusbar {
  display: none;
}
.main-text-editor.hide-control .mce-tinymce {
  background: transparent !important;
  background-image: none !important;
}
.main-text-editor.hide-control .mce-container-body {
  background: transparent !important;
}
.main-text-editor.hide-control div.mce-edit-area {
  background: transparent !important;
}
.main-text-editor.hide-control #main-editor_ifr {
  height: 60px !important;
}
.main-text-editor.hide-control .placeholder {
  display: block;
}
.main-text-editor .mce-statusbar {
    border: 0 none;
    height: 0;
}
.main-text-editor .mce-statusbar .mce-container-body {
    height: 0;
}
.main-text-editor i.mce-i-resize {
    color: #333;
    margin-top: 54px;
}
.main-text-editor .mce-wordcount {
    left: 0;
    top: 10px;
    width: 50%;
}
.panel-footer .controls {
  text-align: right;
}
.main-text-editor i.mce-i-resize {
    color: #333;
    margin-top: 55px;
}
.mce-btn, .mce-panel {
  background-image: none !important;
}
.text-editor {
  position: relative;
}
.sub-info-meta {
    color: #888;
    float: right;
    font-size: 85%;
    margin-bottom: 0;
}
.friendlist .thumbnail {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
}
.widget .list-group { margin-bottom: 0;margin-top: 10px }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(0,0,0,.02); }
.widget .mic-info { color: #888;font-size: 85%; margin-bottom: 5px; }
.widget .action { margin-top:10px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.comment-line img {
    float: left;
    margin-left: -55px;
}
.comment-line {
    padding-left: 70px;
}
.friendlist .col-md-4 {
  padding: 0 5px 5px 0 ;
}
.friendlist {
  padding-top: 0;
  padding-bottom: 0;
}
.friendlist .row {
  padding: 5px 0 0 5px;
}
.friendlist .col-md-4 .thumbnail {
  margin-bottom: 0;
}
.main-text-editor .panel-heading .nav > li > a {
  padding: 2px 10px;
}
.main-text-editor .panel-heading {
  padding: 7px 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
  background-color: #ddd;
}
.list-group.nopadding .list-group-item {
    border-color: -moz-use-text-color -moz-use-text-color #ddd;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    float: left;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}
.list-group.nopadding .list-group-item.school-list {
  padding-bottom: 10px;
}
.list-group.nopadding .list-group-item.school-list .controls {
  margin-top: 5px;
}
.list-group.nopadding .list-group-item:last-child {
  border-bottom: 0;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}
.list-group .list-group-item img {
  float: left;
  margin-right: 10px;
}
.list-group.leftbar .list-group-item {
  padding-bottom: 10px;
}
.list-group.leftbar .badge {
  background: #b92c28;
}
.sub-info-heading {
    font-size: 85%;
    margin-top: 2px;
}
.navbar-inverse li.navli-icon a.main-but {
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-inverse li.navli-icon a.main-but span {
    font-size: 18px;
}
.navbar-inverse > li.login-info > a {
    padding-left: 10px;
    padding-right: 0;
}
.login-info img {
    float: left;
    margin-top: -5px;
    width: 30px;
    border: solid 1px rgba(255,255,255,0.6);
    margin-right: 0;
}
.top-search-type ul.dropdown-menu li a span {
    font-size: 18px;
}
.top-search-type button {
    font-size: 18px;
    padding-bottom: 1px;
    padding-top: 5px;
    height: 33px;
}
.top-main-cats {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.top-main-cats button {
    border: 0 none;
    border-radius: 0;
    height: 35px;
    background: rgba(255, 255, 255, 0.6);
}
.top-main-cats:hover button {
    background: rgba(255, 255, 255, 1);
}
.img_icon {
    width: 50px;
}
.img_product_icon {
    background: rgba(108, 190, 66, 1);
}
.img_service_icon {
    background: #ffaa31;
}
.img_trade_icon {
    background: #57BAE8;
}
.img_company_icon {
    background: #fe7477;
}
.img_study_icon {
    background: #83d328;
}
.current-top-menu {
    padding: 0;
}
.current-top-menu .img_icon_sm {
    width: 33px;
}
.top-main-cats .dropdown-menu li a {
    padding-left: 8px;
}
.top-main-cats button.dropdown-toggle {
    background: none repeat scroll 0 0 #3b984c;
    border: 1px solid #ddd;
    color: rgba(255, 255, 255, 0.85);
    height: 35px;
    margin-left: 0 !important;
    padding: 6px 0 !important;
    width: 36px;
}
.top-main-cats button.dropdown-toggle:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}
.top-setting-button {
    margin-right: 9px;
    margin-top: 8px;
}
.top-setting-button .btn-default {
    background-color: transparent;
    border: 0 none;
    color: #fff;
    padding: 7px 7px 3px;
}
.top-setting-button .btn-default span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
}
.top-setting-button .btn-default:hover span {
    color: rgba(255, 255, 255, 1);
}
.navbar-inverse .navbar-brand img {
    background-color: #fff;
    border-color: #fff;
}
.navbar-inverse .navbar-brand img:hover {
    border-color: rgba(255, 255, 255, 1);
}
.login-name {
    padding-left: 5px;
    padding-right: 5px;
}
.login-info img {
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.login-info:hover img {
    border: 1px solid rgba(255, 255, 255, 1);
}
.top-setting-button.open .dropdown-toggle span {
    color: #333;
}
.navbar-fixed-top {
    border-width: 0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.3);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-inverse li.top-chat-menu a.main-but span {
    font-size: 22px;
}
.navbar-inverse li.top-chat-menu a.main-but {
    padding: 13px 10px 14px;
}
.list-group-item .controls {
    margin-top: 5px;
}
.navbar-fixed-top .navbar-header {
}
.second-top-bar ul.nav {
    float: right;
}
.second-top-bar {
    display: none;
    float: right;
    height: 45px;
    margin-right: 40px;
}
.second-top-bar li {
    float: left;
}
.second-top-bar li a.main-but {
    padding-top: 15px;
}
.second-top-bar li a span {
    
}
.second-top-bar .login-name {
    display: none;
}
.mobile-top-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    height: 50px;
    width: 100%;
}
.navbar-inverse li.top-cart a.main-but span {
    font-size: 24px;
}
.navbar-left li:first-child a {
}
.top-logo {
    margin-right: 10px;
}
.top-menu-icon-button {
    font-size: 24px;
    margin-top: -3px;
}
.top-info {
    margin-bottom: 0;
}
.main-menu {
    border: 0 none;
    border-radius: 0 0 4px 4px;
    min-height: 40px;
    border-top: solid 1px #ddd;
}
.main-menu .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-fixed-top .dropdown-menu li a {
    padding-right: 40px;
}
.top-search-type .glyphicon {
    padding-right: 2px;
}
.navbar-inverse li.top-cart a.main-but {
    padding: 13px 10px 13px;
}
.second-top-bar {
    margin-right: 10px;
    height: 49px;
}
.navbar-inverse li.top-cart a.main-but {
    margin-top: -3px;
}
.top-logo {
    margin-right: 0;
}
.second-top-bar .dropdown-menu li {
    float: none;
}
.second-top-bar .dropdown-menu {
    left: auto;
    right: 0;
}
.mobile-top-menu .top-search-form {
    padding-top: 8px;
}
.navbar-fixed-top {
    min-width: 340px;
}
.info-left-logo-box {
    float: right;
    width: 53%;
}
.info-left-logo-box {    
}
.info-left-logo-box ul {    
}
.logo50 .list-group li {
    height: 39px;
    padding: 8px 15px;
}
.group_controls {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.logo50 img {
    margin-right: 10px;
}
.banner-group-info {
    position: absolute;
    bottom: 0;
    position: 
}
.album-main-image {
    float: right;
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}
.album-main-image img {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
.profile-banner-col {
    height: 100%;
    padding: 0;
    position: static;
}
.banner-group-info {
    bottom: 0;
    height: 100%;
    position: absolute;
}
.top-info {
    position: relative;
}
.banner-group-info {
    bottom: 0;
    color: #fff;
    height: auto;
    padding: 6px 15px;
    position: absolute;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.banner-group-info h2 {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 180%;
}
.banner-group-info h3 {
    margin: 0 0 2px;
    text-transform: uppercase;
    font-size: 130%;
}
.banner-group-info p {
    margin: 0;
}
.school_banner {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.school_banner img {
    width: 100%;
}
.school-info-box {    
}
.school-info-box .logo {    
}
.school-info-box .logo img {
    width: 100px;
}
.school-logo-box {
    padding: 0 0 15px 0;
    text-align: center;
}
.school-logo-box img {
    width: 180px;
    float: none;
}
button.nobutton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    padding: 14px 10px 10px;
    border-radius: 0;
}
button.nobutton:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(255, 255, 255, 1);
}
.second-top-bar .navbar-right {
    margin-top: 0;
}
.second-top-bar li a.main-but {
    color: rgba(255, 255, 255, 0.85);
}
.second-top-bar li a.main-but:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}
.navbar-fixed-top .toogle_list_box {
    min-width: 350px;
}
.navbar-fixed-top .toogle_list_box ul {
    padding: 0;
}
.navbar-fixed-top .toogle_list_box ul li {
    border-bottom: 1px solid #ddd;
    display: block;
    min-height: 60px;
    padding: 10px 15px 23px;
    position: relative;
}
.navbar-fixed-top .toogle_list_box ul li.noitem {
    min-height: inherit;
    padding: 10px 15px;
}
.navbar-fixed-top .toogle_list_box ul li.loading {
    border: solid 1px #ddd;
}
.navbar-fixed-top .toogle_list_box ul li:last-child {
    border-bottom: 0;
}
.navbar-fixed-top .toogle_list_box ul li:hover {
    background-color: #f8f8f8;
}
.navbar-fixed-top .toogle_list_box ul li a {
    padding: 0;
}
.navbar-fixed-top .toogle_list_box ul li img {
    float: left;
    height: 40px;
    margin-right: 7px;
    width: 40px;
}
.navbar-fixed-top .toogle_list_box ul li p {
    margin: 0;
}
.navbar-fixed-top .toogle_list_box .mic-info {
    color: #aaa;
    font-size: 85%;
    position: absolute;
    bottom: 3px;
    right: 10px;
}
.toogle_list_box {
    border: none;
    border-radius: 0;
    padding: 0;
    margin-top: 0;
}
.navbar-fixed-top .toogle_list_box .panel {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-fixed-top .toogle_list_box .panel-body {
    padding: 0 0 0 0;
}
.navbar-fixed-top .toogle_list_box .panel-footer {
    text-align: right;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: rgba(255, 255, 255, 0.85);
}
.top-search-form .form-group {
    margin-bottom: 0;
}
.navbar-fixed-top .nav > li.login-info > a {
    padding-right: 0;
}
.top-chatbox button.nobutton {
    font-size: 22px;
    padding-bottom: 5px;
}