@media (min-width: 1200px) {
  .span12, .container {
    width: 1200px;
  }
}
@media (min-width: 1300px) {
  .span12, .container {
    width: 1300px;
  }
}
@media (max-width:992px){
    .album-main-image {
      position: inherit;
    }
    .top-search-form {
      width: 50%;
    }
    #top-search-input {
      width: 76%;
    }
}
@media (max-width:767px){
  .top-search-form {
    width: 100%;
  }
  #top-search-input {
    width: 78%;
    margin-left: 44px;
  }
}
