@media (min-width: 768px) {
  .login-name {
    display: inline;
  }
  .top-search-form {
    width: 62%;
  }
  #top-search-input {
    width: 86%;
  }
}
@media (min-width: 992px) {
  .login-name {
    display: none;
  }
  .top-search-form {
    width: 35%;
  }
  #top-search-input {
    width: 81%;
  }
}
@media (min-width: 1200px) {
  .span12, .container {
    width: 1180px;
  }
  .login-name {
    display: inline;
  }
  .top-search-form {
    width: 38%;
  }
  #top-search-input {
    width: 84%;
  }
}
@media (min-width: 1300px) {
  .span12, .container {
    width: 1280px;
  }
  .login-name {
    display: inline;
  }
  .top-search-form {
    width: 41%;
  }
  #top-search-input {
    width: 87%;
  }
}
@media (max-width:991px){
  .album-main-image img {
    position: inherit;
  }
  .page {
    padding-top: 120px;
  }
}
@media (max-width:767px){
  .top-search-form {
    width: 70%;
    min-width: 284px;
  }
  #top-search-input {
    width: 81%;
    margin-left: 49px;
  }  
  .second-top-bar {
      display: inline-block
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-top-menu {
    display: block;
  }
  .navbar-fixed-top .dropdown-menu a {
    padding-right: 20px;
  }
  .navbar-inverse .navbar-toggle {
    display: none;
  }
  .top-setting-button {
    float: right;
    margin-right: 0;
    margin-top: 8px;
  }
  
}
