.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.85);
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    color: #fff;
    font-family: "Segoe UI";
    font-size: 20px;
}
.navbar-inverse {
    background: #3b984c;
}
.navbar-inverse .navbar-brand img {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-left: -5px;
    margin-top: -8px;
    width: 35px;
}
.navbar-inverse .navbar-brand {
    padding-right: 10px;
}
.top-search-form {
    width: 36%;
    float: left;
}
.top-search-form .form-group {
    width: 100%;
}
.top-search-form .input-group {
    width: 100%;
}
#top-search-input {
    border: 0 none;
    float: left;
    height: 33px;
    width: 99%;
    margin-left: 0;
}
.top-search-form .input-group-btn {
    float: left
}
.top-search-form .dropdown-toggle {
    border: 0;
}
.navbar-fixed-top .navbar-brand {
    height: 49px;
}
.navbar-fixed-top {
    
}
.navbar-fixed-top .navbar-nav > li > a {
    height: 49px;
}
.page {
    background: none repeat scroll 0 0 #e7eee9;
    min-height: 1000px;
    padding-top: 60px;
}
.profile-picture {
    border-radius: 0;
    float: left;
    margin-right: 15px;
    padding: 0;
    width: 115px;
    height: 115px;
}
.profile-box {
    position: relative;
}
.profile-box h2 {
    
}
.profile-box .info-lines p {
    margin-bottom: 5px;
    padding-left: 26px;
    word-break: break-all;
}
.profile-box .info-lines p span {
    display: inline-block;
    font-size: 16px;
    margin-left: -22px;
    width: 18px;
}
.profile-box .school-name {
}
.profile-album {    
}
.profile-album ul {    
}
.profile-album ul li {    
}
.profile-album ul li img {    
}
.border-box {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
}
h2.top-name {
    font-size: 26px;
    margin-top: 0;
}
.info-lines {
    clear: both;
    padding-top: 10px;
}
p.controls {
    margin: 15px 0 0 0;
}
.album-main-image img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.album-main-image {
    float: right;
    padding: 0;
    position: absolute;
    width: 100%;
}
.top-info {
    background: #fff;
}
.top-info .border-box {
    margin-bottom: 0;
}
.profile-banner-col {
  padding: 0;
}
.top-info {
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
}
.top-info .border-box {
  padding-left: 0;
}
.mce-path {
  visibility: hidden !important;
}
.main-text-editor .placeholder {
    color: #888;
    display: none;
    left: 15px;
    position: absolute;
    top: 11px;
}
.main-text-editor .mce-panel {
  border-color: #ddd;
}
.main-text-editor .panel-body {
  padding: 0;
}
.main-text-editor .mce-tinymce {
  border: 0;
}
.main-text-editor.hide-control .panel-footer {
  display: none !important;
}
.main-text-editor.hide-control .mce-menubar {
  display: none !important;
}
.main-text-editor.hide-control .mce-toolbar-grp {
  display: none !important;
}
.main-text-editor.hide-control .mce-edit-area {
  border-top: 0;
}
.main-text-editor.hide-control .mce-statusbar {
  display: none;
}
.main-text-editor.hide-control .mce-tinymce {
  background: transparent !important;
  background-image: none !important;
}
.main-text-editor.hide-control .mce-container-body {
  background: transparent !important;
}
.main-text-editor.hide-control div.mce-edit-area {
  background: transparent !important;
}
.main-text-editor.hide-control #main-editor_ifr {
  height: 60px !important;
}
.main-text-editor.hide-control .placeholder {
  display: block;
}
.main-text-editor .mce-statusbar, .edit-box .mce-statusbar{
    border: 0 none;
    height: 0;
}
.main-text-editor .mce-statusbar .mce-container-body, .edit-box .mce-statusbar .mce-container-body {
    height: 0;
}
.edit-box .mce-wordcount {
    left: 0;
    margin-top: 14px;
    width: 100px;
}
.main-text-editor i.mce-i-resize {
    color: #333;
}
.main-text-editor .mce-wordcount {
    left: 0;
    top: 10px;
    width: 50%;
}
.panel-footer .controls {
  text-align: right;
}
.main-text-editor i.mce-i-resize {
    color: #333;
}
.mce-btn, .mce-panel {
  background-image: none !important;
}
.text-editor {
  position: relative;
}
.sub-info-meta {
    color: #888;
    float: right;
    font-size: 85%;
    margin-bottom: 0;
}
.friendlist .thumbnail {
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 0;
}
.widget .list-group { margin-bottom: 0;margin-top: 10px }
.widget .panel-title { display:inline }
.widget .label-info { float: none; }
.widget li.list-group-item {border-radius: 0;border: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(0,0,0,.02); }
.widget .mic-info { color: #888;font-size: 85%; margin-bottom: 5px; }
.widget .action { margin-top:10px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.comment-line img {
    float: left;
    margin-left: -55px;
}
.comment-line {
    padding-left: 70px;
}
.friendlist .col-md-4 {
  padding: 0 5px 5px 0 ;
}
.friendlist {
  padding-top: 0;
  padding-bottom: 0;
}
.friendlist .row {
  padding: 5px 0 0 5px;
}
.friendlist .col-md-4 .thumbnail {
  margin-bottom: 0;
}
.panel-heading .nav > li > a {
  padding: 2px 10px;
}
.main-text-editor .panel-heading {
  padding: 7px 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
  background-color: #ddd;
}
.list-group.nopadding .list-group-item {
    border-color: -moz-use-text-color -moz-use-text-color #ddd;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    float: left;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}
.list-group.nopadding .list-group-item.school-list {
  padding-bottom: 10px;
}
.list-group.nopadding .list-group-item.school-list .controls {
  margin-top: 5px;
}
.list-group.nopadding .list-group-item:last-child {
  border-bottom: 0;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}
.list-group .list-group-item img {
  float: left;
  margin-right: 10px;
}
.list-group.leftbar .list-group-item {
  padding-bottom: 10px;
}
.list-group.leftbar .badge {
  background: #b92c28;
}
.sub-info-heading {
    font-size: 85%;
    margin-top: 2px;
}
.navbar-inverse li.navli-icon a.main-but {
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-inverse li.navli-icon a.main-but span {
    font-size: 18px;
}
.navbar-inverse > li.login-info > a {
    padding-left: 10px;
    padding-right: 0;
}
.login-info img {
    float: left;
    margin-top: -5px;
    width: 30px;
    border: solid 1px rgba(255,255,255,0.6);
    margin-right: 0;
}
.top-search-form ul.dropdown-menu li a span {
    font-size: 18px;
}
.top-search-form button {
    font-size: 18px;
    padding-bottom: 1px;
    padding-top: 5px;
    height: 33px;
}
.top-main-cats {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.top-main-cats button {
    border: 0 none;
    border-radius: 0;
    height: 35px;
    background: rgba(255, 255, 255, 0.6);
}
.top-main-cats:hover button {
    background: rgba(255, 255, 255, 1);
}
.img_icon {
    width: 50px;
}
.img_product_icon {
    background: #1acfac;
}
.img_service_icon {
    background: #ffa544;
}
.img_trade_icon {
    background: #57BAE8;
}
.img_company_icon {
    background: #fe7477;
}
.img_study_icon {
    background: #7ad04d;
}
.current-top-menu {
    padding: 0;
}
.current-top-menu .img_icon_sm {
    width: 33px;
}
.top-main-cats .dropdown-menu li a {
    padding-left: 8px;
}
.top-main-cats button.dropdown-toggle {
    background: none repeat scroll 0 0 #3b984c;
    border: 1px solid #ddd;
    color: rgba(255, 255, 255, 0.85);
    height: 35px;
    margin-left: 0 !important;
    padding: 6px 0 !important;
    width: 36px;
}
.top-main-cats button.dropdown-toggle:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}
.top-setting-button {
    margin-right: 9px;
    margin-top: 8px;
}
.top-setting-button .btn-default {
    background-color: transparent;
    border: 0 none;
    color: #fff;
    padding: 7px 7px 3px;
}
.top-setting-button .btn-default span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
}
.top-setting-button .btn-default:hover span {
    color: rgba(255, 255, 255, 1);
}
.navbar-inverse .navbar-brand img {
    background-color: #fff;
    border-color: #fff;
}
.navbar-inverse .navbar-brand img:hover {
    border-color: rgba(255, 255, 255, 1);
}
.login-name {
    padding-left: 5px;
    padding-right: 5px;
}
.login-info img {
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.login-info:hover img {
    border: 1px solid rgba(255, 255, 255, 1);
}
.top-setting-button.open .dropdown-toggle span {
    color: #333;
}
.navbar-fixed-top {
    border-width: 0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.3);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.navbar-inverse li.top-chat-menu a.main-but span {
    font-size: 22px;
}
.navbar-inverse li.top-chat-menu a.main-but {
    padding: 13px 10px 14px;
}
.list-group-item .controls {
    margin-top: 5px;
}
.navbar-fixed-top .navbar-header {
}
.second-top-bar ul.nav {
    float: right;
}
.second-top-bar {
    display: none;
    float: right;
    height: 45px;
    margin-right: 40px;
}
.second-top-bar li {
    float: left;
}
.second-top-bar li a.main-but {
    padding-top: 15px;
}
.second-top-bar li a span {
    
}
.second-top-bar .login-name {
    display: none;
}
.mobile-top-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    height: 50px;
    width: 100%;
}
.navbar-inverse li.top-cart a.main-but span {
    font-size: 24px;
}
.navbar-left li:first-child a {
}
.top-logo {
    margin-right: 10px;
}
.top-menu-icon-button {
    font-size: 24px;
    margin-top: -3px;
}
.top-info {
    margin-bottom: 0;
}
.main-menu {
    border-radius: 0 0 4px 4px;
    min-height: 40px;
    border: solid 1px #ddd;
}
.main-menu .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-fixed-top .dropdown-menu li a {
    padding-right: 40px;
}
.top-search-type .glyphicon {
    padding-right: 2px;
}
.navbar-inverse li.top-cart a.main-but {
    padding: 13px 10px 13px;
}
.second-top-bar {
    margin-right: 10px;
    height: 49px;
}
.navbar-inverse li.top-cart a.main-but {
    margin-top: -3px;
}
.top-logo {
    margin-right: 0;
}
.second-top-bar .dropdown-menu li {
    float: none;
}
.second-top-bar .dropdown-menu {
    left: auto;
    right: 0;
}
.top-search-form {
    padding-top: 8px;
}
.navbar-fixed-top {
    min-width: 340px;
}
.info-left-logo-box {
    float: right;
    width: 53%;
}
.info-left-logo-box {    
}
.info-left-logo-box ul {    
}
.logo50 .list-group li {
    height: 39px;
    padding: 8px 15px;
}
.group_controls {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.logo50 img {
    margin-right: 10px;
}
.banner-group-info {
    position: absolute;
    bottom: 0;
    position: 
}
.album-main-image {
    float: right;
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}
.album-main-image img {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
.profile-banner-col {
    height: 100%;
    padding: 0;
    position: static;
}
.banner-group-info {
    bottom: 0;
    height: 100%;
    position: absolute;
}
.top-info {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    position: relative;
}
.banner-group-info {
    bottom: 0;
    color: #fff;
    height: auto;
    padding: 6px 15px;
    position: absolute;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.banner-group-info h2 {
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 180%;
}
.banner-group-info h3 {
    margin: 0 0 2px;
    text-transform: uppercase;
    font-size: 130%;
}
.banner-group-info p {
    margin: 0;
}
.school_banner {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.school_banner img {
    width: 100%;
}
.school-info-box {    
}
.school-info-box .logo {    
}
.school-info-box .logo img {
    width: 100px;
}
.school-logo-box {
    padding: 0 0 15px 0;
    text-align: center;
}
.school-logo-box img {
    float: none;
    height: 160px;
    width: 160px;
}
.navbar-fixed-top .btn-group > .btn.nobutton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    height: 35px;
    margin: 8px 0 0 5px;
    padding: 5px 10px 1px;
    width: 35px;
}
.navbar-fixed-top .btn-group > .btn.nobutton:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar-fixed-top .btn-group.open > .btn.nobutton:hover {
    color: #333;
}
button.nobutton:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(255, 255, 255, 1);
}
.second-top-bar .navbar-right {
    margin-top: 0;
}
.second-top-bar li a.main-but {
    color: rgba(255, 255, 255, 0.85);
}
.second-top-bar li a.main-but:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}
.navbar-fixed-top .toogle_list_box {
    min-width: 350px;
}
.navbar-fixed-top .toogle_list_box ul {
    padding: 0;
}
.navbar-fixed-top .toogle_list_box ul li {
    border-bottom: 1px solid #ddd;
    display: block;
    min-height: 60px;
    padding: 10px 15px 23px;
    position: relative;
}
.navbar-fixed-top .toogle_list_box ul li.noitem {
    min-height: inherit;
    padding: 10px 15px;
}
.navbar-fixed-top .toogle_list_box ul li.loading {
    border: solid 1px #ddd;
}
.navbar-fixed-top .toogle_list_box ul li:last-child {
    border-bottom: 0;
}
.navbar-fixed-top .toogle_list_box ul li:hover {
    background-color: #f8f8f8;
}
.navbar-fixed-top .toogle_list_box ul li a {
    padding: 0;
}
.navbar-fixed-top .toogle_list_box ul li img {
    float: left;
    height: 40px;
    margin-right: 7px;
    width: 40px;
}
.navbar-fixed-top .toogle_list_box ul li p {
    margin: 0;
}
.navbar-fixed-top .toogle_list_box .mic-info {
    color: #aaa;
    font-size: 85%;
    position: absolute;
    bottom: 3px;
    right: 10px;
}
.toogle_list_box {
    border: medium none;
    margin-top: 3px;
    padding: 0;
}
.navbar-fixed-top .toogle_list_box .panel {
    margin-bottom: 0;
}
.navbar-fixed-top .toogle_list_box .panel-body {
    padding: 0 0 0 0;
}
.navbar-fixed-top .toogle_list_box .panel-footer {
    text-align: right;
}
.navbar-fixed-top .btn-default.active:hover, .navbar-fixed-top .btn-default:focus, .navbar-fixed-top .btn-default.focus, .navbar-fixed-top .btn-default:active, .navbar-fixed-top .btn-default.active, .navbar-fixed-top .open > .dropdown-toggle.btn-default {
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
}
.top-search-form .form-group {
    margin-bottom: 0;
}
.navbar-fixed-top .nav > li.login-info > a {
    padding-right: 0px;
}
.navbar-fixed-top .btn-group.top-chatbox > button.nobutton {
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 7px;
}
.toogle_list_box .panel-body {
    max-height: 320px;
    overflow-y: scroll;
}
.top-setting-button .btn-default:hover {
    background: transparent;
}
#chat-frame {
    bottom: 0;
    margin-bottom: -300px;
    position: fixed;
    right: 20px;
    width: 100%;
    z-index: 100;
}
.chat-outer {
    display: block;
    float: right;
    height: 1px;
    margin-left: 10px;
}
.chat-box {
    display: block;
    float: right;
    height: 300px;
    margin-top: -600px;
    width: 320px;
}
.chat-box.hidden {
    visibility: visible !important;
    display: block !important;
    margin-top: -299px;
    width: auto;
}
.chat-title {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    height: 30px;
    margin-top: -30px;
    padding: 7px 10px;
}
.chat-box.hidden .chat-title h2 a:hover {
    text-decoration: none;
}
.chat-title:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}
.chat-title span {
    float: right;
}
.chat-title h2 {
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0 10px 0 0;
}
.chat-title h2 a {
    color: #333;
}
.chat-content {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 0 10px;
    height: 241px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-list {
    
}
.chat-list ul {
    padding: 0;
}
.chat-list ul li {
    border-bottom: 1px solid #ddd;
    display: block;
    min-height: 60px;
    padding: 10px 0 22px;
    position: relative;
    padding-left: 50px;
}
.chat-list ul li:last-child {
    border-bottom: none;
}
.chat-list ul li a {
    
}
.chat-list ul li .datetimec {
    bottom: 2px;
    color: #aaa;
    float: right;
    font-size: 11px;
    position: absolute;
    right: 5px;
}
.chat-list ul li img.avatar {
    float: left;
    margin-left: -50px;
    margin-right: 10px;
}
.chat-form {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ddd;
    height: 60px;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.chat-form textarea {
    float: left;
    height: 50px;
    margin: 4px 0 0 4px;
    width: 282px;
}
.chat-min-but {
    color: rgba(0, 0, 0, 0);
    margin-right: 3px;
}
.chat-min-but:before {
    color: #fff;
    opacity: 0.7;
}
.chat-min-but:hover:before {
    opacity: 1;
    color: #fff !important;
}
.chat-title:hover .chat-min-but:before {
    opacity: 1;
}
.chat-min-but:before {
    color: #fff;
}
.chat-box.hidden .chat-min-but {
    display: none;
}
.chat-close-but {
    color: rgba(0,0,0,0);
    width: 10px;
}
.chat-close-but:hover:before {
    color: #d9534f;
}
.chat-box .glyphicon-remove:before {
    color: #fff;
    opacity: 0.7;
}
.chat-box .glyphicon-picture:before {
    color: #333;
}
.chatimage-box-but, .emotion-box-but {
    color: rgba(0, 0, 0, 0);
    float: right;
    font-size: 24px;
    overflow: hidden;
    padding: 0;
    width: 24px;
}
.chatimage-box-but {
    margin-right: -28px;
    margin-top: 29px;
}
.chatimage-box-but:hover, .emotion-box-but:hover {
    color: rgba(0, 0, 0, 0);
}
.emotion-box-but {
    background: url("../images/emotion-but-big.png") no-repeat scroll center center / 27px auto rgba(0, 0, 0, 0);
    height: 32px;
    text-indent: -9000px;
    width: 32px;
}
.chat-list .status {
    float: right;
    color: #888;
    font-size: 11px;
    width: 100px;
    text-align: right;
}
.top_chatbox_content ul li {
    cursor: pointer;
}
.chat-list .notification {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: -10px;
}
.chatloading {
    background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 100px;
}

.emotion-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    margin-top: -184px;
    padding: 10px;
    position: absolute;
}
.emotion-box .emotion_show {
    display: block;
    float: left;
    height: 27px;
    padding: 0 4px;
    cursor: pointer;
}
.emotion-box .emotion_show:hover img {
    background: #ddd;
}
.chat-list ul li.temp {
    opacity: 0.7;
}
.chat-title h2 a:before {
    background: none repeat scroll 0 0 #ddd;
    border-radius: 10px;
    content: "eee";
    display: block;
    float: left;
    height: 14px;
    margin-right: 8px;
    margin-top: 1px;
    text-indent: -9000px;
    width: 14px;
}
.chat-title h2 a.online:before {
    background: none repeat scroll 0 0 #66ff33;
}
.unread_count {
    position: absolute;
    background: #333;
    z-index: 100;
    margin-top: -40px;
    background-color: #b92c28;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
#chat-frame .chat-box.unread .chat-title {
}
.typing {
    border-top: 1px solid #ddd;
    margin: 3px 0 10px;
    padding-top: 5px;
    opacity: 0.7;
}
.typing img {
    margin-right: 10px;
}
.chat-ava-load {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -50px;
    font-size: 20px;
    padding: 10px;
    border: solid 1px #ddd;
    background: #f8f8f8;
}
.navli-icon .btn-group .badge_outer {
    display: block;
    font-size: 18px;
    margin-left: 1px;
    margin-top: -7px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.navli-icon .btn-group .badge {
    background: #b92c28;
}
.navli-icon .btn-group .badge_outer .badge {
    float: none !important;
    font-size: 11px;
    padding: 3px 5px;
}
.navbar-fixed-top .toogle_list_box ul li {
    background-color: #f8f8f8;
}
.navbar-fixed-top .toogle_list_box ul li.unread {
    background-color: #fff;
}
.clicked_note_box {
    padding: 10px 15px;
}
.navbar-fixed-top .top_statistic_content {
    min-width: 0;
    width: 255px;
}
.navbar-fixed-top .top_cart .shopping_cart {
    font-size: 24px;
    margin-top: -2px;
}
.navli-icon .top_cart .badge_outer {
    margin-left: -11px;
}
.top-search-form .input-group-btn .glyphicon {
    margin-right: 5px;
}
.top-search-form {
    position: relative;
    padding-left: 49px;
}
.top-search-form .dropdown-toggle {
    margin-left: -49px;
}
.top-search-result-box {
    margin-left: -49px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.top-search-result-box .panel-body {
    padding: 0;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 4px 4px 0 0;
}
.top-search-result-box .panel-heading {
    padding: 5px 10px;
}
.top-search-result-box .panel-title {
    font-size: 14px;
}
.top-search-result-box .list-group {
    margin-bottom: 0;
}
.top-search-result-box .list-group li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ddd;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
    margin: 0;
    padding: 10px 15px;
}
.top-search-result-box .list-group li:last-child {
    border-bottom: 0;
}
.top-search-result-box .list-group li:hover {
    background-color: #f8f8f8;
}
.top-search-result-box .list-group li img {
    color: rgba(0, 0, 0, 0);
    height: 60px;
    overflow: hidden;
    width: 60px;
}
.top-search-result-box .list-group li a {
    color: #333;
    display: block;
    height: 60px;
    overflow: hidden;
}
.top-search-result-box .list-group li a:hover {
    text-decoration: none;
}
.top-search-result-box .list-group li p {
    margin: 0;
}
.top-search-result-box .list-group li h4 {
    font-size: 18px;
    height: 21px;
    margin: 0;
    overflow: hidden;
}
.top-search-result-box .list-group li .more_info {

}
.search-loading {
    height: 50px;
    text-indent: -9000px;
    width: 100%;
    background: url("../images/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.no-search-top {
    padding: 20px;
    text-align: center;
}
.top-search-form .input-group-btn .dropdown-menu {
    margin-left: -49px;
}
.top-search-more {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    bottom: -11px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #333;
    left: 0;
}
.top-search-more:hover {
    background: none repeat scroll 0 0 #fafafa;
    color: #333;
    text-decoration: none;
}
.list_studypost .post-box .media-left .avatar {
    width: 50px;
}

.post-box .panel-heading .action {
    float: right;
    margin-top: -22px;
}
.list-group.leftbar .list-group-item {
    padding-left: 50px;
}
.list-group.leftbar .list-group-item img {
    width: 40px;
    height: 40px;
    margin-left: -50px;
}
.list-group.nopadding .list-group-item {
    padding-left: 60px;
    min-height: 60px;
}
.list-group.nopadding .list-group-item img {
    width: 50px;
    height: 50px;
    margin-left: -60px;
}
.post-box .edit-box .text-editor {
    margin: -16px;
}
.post-box .edit-box .mce-tinymce {
    border-top: none;
}
.post-box .edit-box .mce-container {
    border-color: #ddd;
}
.alert-controls {
    margin-left: 10px;
    display: inline-block;
}
.float-hide {
    position: absolute !important;
    left: -9000px !important;
}
.edit-image-button {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    font-size: 20px;
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 98;
    opacity: 0.6;
    cursor: pointer;
}
.edit-image-button:hover {
    opacity: 1;
}
.edit-image-button a:hover {
    text-decoration:  none;
}
.edit-image-button a.but {
    color: #333;
}
.edit-image-button.small {
    right: auto;
    left: 10px;
    font-size: 14px;
    padding: 2px 5px;
}
.edit-image-button.memberpage-logo {
    left: 80px;
    right: auto;
    top: 80px;
}
.glyphicon.check-color {
    color: #fff;
    margin-right: 7px;
}
.list-group .list-group-item .comment-line img {
    width: 40px;
    height: 40px;
}
.mic-info strong {
    color: #333;
}
.stars .star {
    color: #f0ad4e;
    padding-right: 1px;
}
.postable {
    margin-bottom: 5px;
}
.postable .stars .star {
    cursor: pointer;
    font-size: 16px;
}
.postable .stars .star-cancel {
    color: #d9534f;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 8px;
}
.comment-edit-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px 10px 8px 15px;
}
.comment-edit-box textarea {
    border: solid 1px #ddd;
    width: 100% !important;
    height: 40px;
    padding: 5px 10px;
    min-height: 40px;
    min-width: 100%;
}
.comment-edit-box a.post_comment {
    margin-top: 0;
    margin-left: 5px;
}
.comment-edit-box .comment_ava {
    height: 40px;
    margin-right: 7px;
    width: 40px;    
}
.comment-line .mic-info .action {
    margin-right: 10px;
    margin-top: -5px;
}
.uploader-box {
    padding: 20px;
}
#files div {
    float: left;
    margin-right: 15px;
    text-align: center;
    width: 100px;
    word-wrap: break-word;
}
#files div:last-child {
    margin-right: 0;
}
.form-tab {
    display: none;
}
.form-tab.active {
    display: block;
}
.text-editor-box {
    border: 0 none;
    margin: -15px;
}

.uploader-box {
    border: 0 none;
    margin: -15px;
    padding: 0;
}
.stars .point {
    float: left;
    font-size: 11px;
    height: 18px;
    margin-left: 5px;
    padding: 4px 3px;
    width: 18px;
}
.stars .star {
    float: left;
}
.postable {
    float: left;
    height: 15px;
    margin-bottom: 10px;
}
.postable .stars .point {
    margin-top: 2px;
}

.imges-size-1 {
    float: left;
    width: 100%;
}
.imges-size-1 a {
    display: block;
    min-height: 1px;
    width: 100%;
}


.imges-size-2 {
    float: left;
    width: 100%;
}
.imges-size-2 a {
    display: block;
    float: left;
    min-height: 1px;
    width: 49%;
}
.imges-size-2 .img-key-0 {
    
}
.imges-size-2 .img-key-1 {
    float: right
}

.imges-size-3 {
    float: left;
    width: 100%;
}
.imges-size-3 a {
    display: block;
    float: left;
    min-height: 1px;
    width: 32.3%;
    margin-right: 1.55%;
}
.imges-size-3 .img-key-0 {
    
}
.imges-size-3 .img-key-2 {
    float: right;
    margin-right: 0;
}
.uploader-box textarea {
    width: 100%;
    border: solid 1px #ddd;
    padding: 10px;
}
#files {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
#files span,#files br {
    display: none
}
.edit-box {
    margin: -5px -5px -25px;
}
.edit-box .panel {
}
.alert .close-but {    
}
.edit-image-button.bottom-right {
    left: auto;
    right: 10px;
    top: auto;
    bottom: 10px;
}
.school-logo-box {
    position: relative;
    margin: 0 auto;
    width: 160px;
    padding: 0;
    margin-bottom: 15px;
}
.post-box .comment-container {
    padding-top: 5px;
}
.post-box .comment-edit-box {
    margin-top: 5px;
}
.post-box .comment-container .list-group {
    margin-top: 3px;
    margin-bottom: 10px;
}
.comment_count {
    font-size: 90%;
    padding: 3px 6px;
}
.comment-container .view_more {
    margin-top: -10px;
    margin-bottom: 10px;
}
.school_logo_name {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.chat-title span:hover:before {
    color: #d43f3a;
    opacity: 1;
}
.post-box .content p {
    margin-bottom: 5px;
}
.chat-status-but .chat-status {
    background: none repeat scroll 0 0 #ccc;
    border-radius: 10px;
    display: block;
    float: left;
    height: 10px;
    margin-right: 7px;
    margin-top: 4px;
    text-indent: -9000px;
    width: 10px;
}
.chat-status-but.online .chat-status {
    background: none repeat scroll 0 0 #5cb85c;
}
.chat_friend_list {
    position: fixed;
    top: 60px;
    width: 300px;
    z-index: 99;
    right: 0;
}
.chat_friend_list .panel-heading {
    background: #99cc99;
    color: #fff;
    border-radius: 0;
    border-color: #3b984c;
    border-bottom: 0;
}
.chat_friend_list.chat-hide {
    right: -300px;
}
.sidebar-chat-list .panel-body {
    padding: 0;
}
.sidebar-chat-list ul {
    margin-bottom: 0;
}
.sidebar-chat-list li {
    min-height: 56px;
    padding: 7px;
    border: 0;
    cursor: pointer;
}
.sidebar-chat-list li:hover {
    background: #f8f8f8;
}
.sidebar-chat-list li p {
    margin: 0;
}
.sidebar-chat-list li h2 {
    display: inline;
    font-size: 14px;
}
.sidebar-chat-list li img {
    width: 40px;
}
.chat-sidebar-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #3b984c;
    overflow: auto;
    padding: 0;
}
.chat-sidebar-content .panel {
    border: 0;
}
.chat-sidebar-content .panel-default > .panel-heading .badge {
    background-color: #fff;
    color: #3b984c;
}
.chat-sidebar-content .panel:last-child {
    margin-bottom: 0;
}
.chat-toggle {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #3b984c;
    border-radius: 5px;
    color: #3b984c;
    cursor: pointer;
    font-size: 21px;
    left: -42px;
    padding: 8px;
    position: absolute;
}
.chat-toggle:hover {
    background: #3b984c;
    color: #fff;
}
.invite-friend-but {
    color: #333;
    font-size: 85%;
    font-weight: 700;
    line-height: 20px;
}
.invite-friend-but:hover {
    color: #333;
}
.chat-sidebar-content .invite-friend-but, .chat-sidebar-content .invite-friend-but:hover {
    color: #fff;
}
.heading-with-count .badge {
    margin-top: -2px;
}
.heading-with-count .badge {
    display: inline-block;
    line-height: 14px;
    margin-bottom: -5px;
}
.chat-title {
    background: #3b984c;
}
.chat-title:hover {
    background: #3b984c;
    color: #fff;
    opacity: 0.95;
}
.chat-title h2 a {
    color: #fff;
}
.chat-box .glyphicon-remove:before {
    color: #fff;
}
.chat-form textarea {
    border: 0;
}
.chat-form {
    background: #fff;
}
.shop_info {
    
}
.shop_info img {
    float: left;
    margin-right: 10px;
    width: 80px;
}
.shop_info h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
}
.shop_info p {
    margin: 0;
}
.right-banners a {
    margin-bottom: 10px;
    position: relative;
}
.right-banners a:last-child {
    margin-bottom: 0;
}
.right-banners a .overlay_title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    bottom: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    color: #fff;
}
#authorize-button {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    color: #888;
}
#authorize-button img {
    margin-bottom: 10px;
}
#authorize-button:hover {
    color: #ff3333;
}
.post-box .panel-body table {
max-width: 100% !important;
width: auto !important;
}
.top-info {
    border: 1px solid #ddd !important;
}
.album-main-image img {
    border-left: solid 1px #ddd;
}
.deal_box {
    border-color: #ddd;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
}
.deal_box .image_box {
    display: inline-block;
    float: left;
    height: 160px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}
.deal_box .description_box {
    
}
.deal_box .product_image {
    bottom: 0;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
}
.deal_box a.title {
    color: #333;
    display: block;
    font-size: 15px;
    max-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deal_box .prices {
    margin-top: 20px;
}
.deal_box .deal_price {
    font-size: 22px;
}
.deal_box .old_price {
    color: #777;
    text-decoration: line-through;
}
.deal_box.deal_big {
    
}
.deal_box.deal_big .image_box {
    float: none;
    height: 266px;
    margin-bottom: 15px;
    width: 100%;
}
.deal_box.deal_big .description_box {
    
}
.deal_box.deal_big a.title {
    height: 20px;
    overflow: hidden;
}
.deal_box.deal_big .prices {
    margin-top: 10px;
}
.deal_list {
    padding: 0 10px;
}
.deal_list .deal-col {
    padding-left: 5px;
    padding-right: 5px;
}
.deal_title {
    margin-top: 40px;
    font-size: 22px;
}
.deal_intro_box {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 12px;
    width: 100%;
    cursor: pointer;
}
.deal_intro_box:hover {
    opacity: 0.9;
    text-decoration: none;
}
.deal_intro_box .icon_bg {
    color: #888;
    display: block;
    text-align: center;
}
.deal_intro_box .icon_bg i {
    font-size: 50px;
    color: #fff;
}
.deal_intro_box .content {
    text-align: center;
}
.deal_intro_box .content h5 {
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 0;
}
@media screen and (min-width: 960px) {
    .custom-5-box {
        width: 20%;
    }
}
.fancybox-overlay {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
}
.sell_count span {
    background: red none repeat scroll 0 0;
    margin-top: 3px;
    position: absolute;
    right: 5px;
}
.list_studypost .content.short, .list_studypost .comment_content.short {
    max-height: 475px;
    overflow: hidden;
}
.list_studypost .comment_content.short {
    max-height: 113px;
}
.list_studypost .content.short .inner_content, .list_studypost .comment_content.short .inner_comment_content {
    margin-bottom: 25px;
}
.list_studypost .content, .list_studypost .comment_content {
    position: relative;
}
.list_studypost .content .read_more_link, .list_studypost .comment_content .read_more_link {
    display: none;
}
.list_studypost .content.short .read_more_link, .list_studypost .comment_content.short .read_more_link {
    background: #fff none repeat scroll 0 0;
    bottom: -5px;
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
}
