@media (min-width: 768px) {
  .login-name {
    display: inline;
  }
  .top-search-form {
    width: 62%;
  }
  #top-search-input {
    width: 86%;
  }
}
@media (min-width: 992px) {
  .login-name {
    display: none;
  }
  .top-search-form {
    width: 35%;
  }
  #top-search-input {
    width: 81%;
  }
}
@media (min-width: 1200px) {
  .span12, .container {
    width: 1180px;
  }
  .login-name {
    display: inline;
  }
  .top-search-form {
    width: 39%;
  }
  #top-search-input {
    width: 84%;
  }
}
@media (min-width: 1300px) {
  .span12, .container {
    width: 1280px;
  }
  .login-name {
    display: inline;
  }
  .top-search-form {
    width: 41%;
  }
  #top-search-input {
    width: 87%;
  }
}
@media (max-width:991px){
  .album-main-image {
    position: inherit;
  }    
}
@media (max-width:767px){
  .top-search-form {
    width: 100%;
  }
  #top-search-input {
    width: 74%;
    margin-left: 49px;
  }  
  .second-top-bar {
      display: inline-block
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-top-menu {
    display: block;
  }
  .top-logo {
    display: none;
  }
}
