# BEGIN REWRITE
ErrorDocument 404 /redirect.php?code=404
ErrorDocument 403 /redirect.php?code=403

Options +FollowSymLinks  
Options +Indexes  
RewriteEngine On

RewriteRule ^newhome/?$ index.php?layout=newhome [L]

RewriteRule ^mobile/?$ space/\?userid=phu-dong&layout=mobile [L]

RewriteRule ^privacy$ policy.html [L]
RewriteRule ^modern_demo/?$ index.php?do=studypost&action=modern_demo [L]
RewriteRule ^modern_demo/group?$ index.php?do=studypost&action=modern_demo_group [L]
RewriteRule ^modern_demo/school?$ index.php?do=studypost&action=modern_demo_school [L]
RewriteRule ^thuong-hieu/?(sinh-vien)?/?$ index.php?do=company&student=$1 [L]
RewriteRule ^thuong-hieu/hinh-anh-video/?(sinh-vien)?/?$ index.php?do=album&student=$1 [L]
RewriteRule ^thuong-hieu/cua-hang/?(sinh-vien)?/?$ index.php?do=company&membergroup_id=1&student=$1 [L]
RewriteRule ^thuong-hieu/ca-nhan/?(sinh-vien)?/?$ index.php?do=company&membergroup_id=2&student=$1 [L]
RewriteRule ^thuong-hieu/doanh-nghiep/?(sinh-vien)?/?$ index.php?do=company&membergroup_id=3&student=$1 [L]
RewriteRule ^thuong-hieu/cua-hang/([0-9]+)/([\-a-z0-9]+)/?(sinh-vien)?/?$ index.php?do=company&membergroup_id=1&industryid=$1&student=$3 [L]
RewriteRule ^thuong-hieu/ca-nhan/([0-9]+)/([\-a-z0-9]+)/?(sinh-vien)?/?$ index.php?do=company&membergroup_id=2&industryid=$1&student=$3 [L]
RewriteRule ^thuong-hieu/doanh-nghiep/([0-9]+)/([\-a-z0-9]+)/?(sinh-vien)?/?$ index.php?do=company&membergroup_id=3&industryid=$1&student=$3 [L]
RewriteRule ^thuong-hieu/([0-9]+)/([\-a-z0-9]+)/?(sinh-vien)?/?$ index.php?do=company&industryid=$1&student=$3 [L]
RewriteRule ^thuong-hieu/hinh-anh-video/([0-9]+)/(.*)(sinh-vien)?/?$ index.php?do=album&action=detail&id=$1&student=$3 [L]

RewriteRule ^danh-gia-shop/(.*)/([0-9]+)$ index.php?do=company&action=rating&star=$2&space_name=$1 [L]

RewriteRule ^thi-truongqweasdzxc/?$ index.php?do=area [L]
RewriteRule ^thi-truong/mien-nam/?$ index.php?do=area&areatype_id=1 [L]
RewriteRule ^thi-truong/mien-trung/?$ index.php?do=area&areatype_id=2 [L]
RewriteRule ^thi-truong/mien-bac/?$ index.php?do=area&areatype_id=3 [L]
RewriteRule ^thi-truong/mien-nam/([0-9]+)/([\-a-z0-9]+)/?$ index.php?do=area&areatype_id=1&area_id=$1 [L]
RewriteRule ^thi-truong/mien-trung/([0-9]+)/([\-a-z0-9]+)/?$ index.php?do=area&areatype_id=2&area_id=$1 [L]
RewriteRule ^thi-truong/mien-bac/([0-9]+)/([\-a-z0-9]+)/?$ index.php?do=area&areatype_id=3&area_id=$1 [L]

RewriteRule ^thi-truong/([\-a-z]+)/?$ index.php?do=area&action=listing&type=$1 [L]
RewriteRule ^thi-truong/mien-nam/([\-a-z]+)/?$ index.php?do=area&action=listing&areatype_id=1&type=$1 [L]
RewriteRule ^thi-truong/mien-trung/([\-a-z]+)/?$ index.php?do=area&action=listing&areatype_id=2&type=$1 [L]
RewriteRule ^thi-truong/mien-bac/([\-a-z]+)/?$ index.php?do=area&action=listing&areatype_id=3&type=$1 [L]
RewriteRule ^thi-truong/mien-nam/([0-9]+)/([\-a-z0-9]+)/([\-a-z]+)/?$ index.php?do=area&&action=listing&areatype_id=1&area_id=$1&type=$3 [L]
RewriteRule ^thi-truong/mien-trung/([0-9]+)/([\-a-z0-9]+)/([\-a-z]+)/?$ index.php?do=area&&action=listing&areatype_id=2&area_id=$1&type=$3 [L]
RewriteRule ^thi-truong/mien-bac/([0-9]+)/([\-a-z0-9]+)/([\-a-z]+)/?$ index.php?do=area&&action=listing&areatype_id=3&area_id=$1&type=$3 [L]

RewriteRule ^thi-truong/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&action=listing&type=$1&industry_id=$2 [L]
RewriteRule ^thi-truong/mien-nam/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&action=listing&areatype_id=1&type=$1&industry_id=$2 [L]
RewriteRule ^thi-truong/mien-trung/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&action=listing&areatype_id=2&type=$1&industry_id=$2 [L]
RewriteRule ^thi-truong/mien-bac/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&action=listing&areatype_id=3&type=$1&industry_id=$2 [L]
RewriteRule ^thi-truong/mien-nam/([0-9]+)/([\-a-z0-9]+)/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&&action=listing&areatype_id=1&area_id=$1&type=$3&industry_id=$4 [L]
RewriteRule ^thi-truong/mien-trung/([0-9]+)/([\-a-z0-9]+)/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&&action=listing&areatype_id=2&area_id=$1&type=$3&industry_id=$4 [L]
RewriteRule ^thi-truong/mien-bac/([0-9]+)/([\-a-z0-9]+)/([\-a-z]+)/([0-9]+)/([\-a-z]+)/?$ index.php?do=area&&action=listing&areatype_id=3&area_id=$1&type=$3&industry_id=$4 [L]

RewriteRule ^dang-san-pham?$ redirect.php?url=/virtual-office/product.php?do=edit [L]
RewriteRule ^dang-dich-vu?$ redirect.php?url=/virtual-office/product.php?do=edit\%26type=service [L]
RewriteRule ^lien-he/?$ contact.php [L]
RewriteRule ^(.*)products$ index.php?do=product [L]
RewriteRule ^san-pham/?$ index.php?do=product [L]
RewriteRule ^(.*)services$ index.php?do=product&action=services [L]
RewriteRule ^dich-vu/?(sinh-vien)?/?$ index.php?do=product&action=services&student=$2 [L]
RewriteRule ^(.*)offers$ index.php?do=product&action=offers [L]
RewriteRule ^thuong-mai/?(sinh-vien)?/?$ index.php?do=product&action=offers&student=$1 [L]
RewriteRule ^(.*)offers/([a-zA-Z]+)$ index.php?do=product&action=offers&offertype=$2 [L]
RewriteRule ^(.*)thuong-mai/mua/?(sinh-vien)?/?$ index.php?do=product&action=offers&offertype=buy&student=$2 [L]
RewriteRule ^(.*)thuong-mai/ban/?(sinh-vien)?/?$ index.php?do=product&action=offers&offertype=sell&student=$2 [L]
RewriteRule ^(.*)thuong-mai/phan-phoi/?(sinh-vien)?/?$ index.php?do=product&action=offers&offertype=supply&student=$2 [L]
RewriteRule ^(.*)thuong-mai/tim-doi-tac/?(sinh-vien)?/?$ index.php?do=product&action=offers&offertype=partner&student=$2 [L]
RewriteRule ^(.*)thuong-mai/([0-9]+)/([0-9]+)/([\_\-a-zA-Z0-9%]+)/?(sinh-vien)?/?$ index.php?do=product&action=offers&level=$2&industryid=$3&student=$5 [L]
RewriteRule ^(.*)thuong-mai/([0-9]+)/([\_\-a-zA-Z0-9%]+)/?(sinh-vien)?/?$ index.php?do=offer&action=detail&id=$2&student=$4 [L]
RewriteRule ^(.*)products/list-([0-9]+)-([0-9]+)\.html$ index.php?do=product&level=$2&industryid=$3 [L]
RewriteRule ^san-pham/([0-9]+)/([0-9]+)/(.*)$ index.php?do=product&level=$1&industryid=$2 [L]
RewriteRule ^(.*)services/list-([0-9]+)-([0-9]+)\.html$ index.php?do=product&action=services&level=$2&industryid=$3 [L]
RewriteRule ^(.*)dich-vu/([0-9]+)/([0-9]+)/([\_\s\-a-zA-Z0-9%]+)/?(sinh-vien)?/?$ index.php?do=product&action=services&level=$2&industryid=$3&student=$5 [L]
RewriteRule ^(.*)search/tag/keyid_([0-9]+).html$ index.php?do=product&action=search&tag=$2 [L]
RewriteRule ^(.*)product/detail/([0-9]+)\.html$ index.php\?do=product&action=detail&id=$2 [L]
RewriteRule ^san-pham/([0-9]+)/(.*)$ index.php\?do=product&action=detail&id=$1 [L]
RewriteRule ^(.*)dich-vu/([0-9]+)/([\_\s\-a-zA-Z0-9%]+)/?(sinh-vien)?/?$ index.php\?do=product&action=detail&id=$2&student=$4 [L]
RewriteRule ^(.*)banner/click/([0-9]+)\.html$ index.php\?do=product&action=banner_click&id=$2 [L]
RewriteRule ^(.*)space/([a-zA-Z0-9%]+)/$ space/\?userid=$2 [L]
RewriteRule ^(.*)space/([a-zA-Z0-9%]+)/([a-zA-Z]+)/$ space/\?userid=$2&do=$3 [L]
RewriteRule ^(.*)connect\.html$ index.php?do=product&action=connect [L]
RewriteRule ^(.*)trang-chu/?$ index.php?do=product&action=connect [L]
RewriteRule ^(.*)comments/add.html$ index.php\?do=product&action=postcomment [L]
RewriteRule ^(.*)comments/offer/add.html$ index.php\?do=product&action=postoffercomment [L]
RewriteRule ^(.*)contact/?$ contact.php [L]
RewriteRule ^(.*)dang-nhap/?(.*)?$ logging.php?redirect=$2 [L]
RewriteRule ^(.*)dang-ky$ register.php?typename=Company [L]
RewriteRule ^(.*)dang-ky/tao-gian-hang$ register.php?typename=Company [L]
RewriteRule ^(.*)dang-ky/xin-viec$ register.php?typename=Employee [L]
RewriteRule ^(.*)dang-ky/tuyen-dung$ register.php?typename=Employer [L]
RewriteRule ^(.*)dang-ky/hoc-tap$ register.php?typename=Learner [L]
RewriteRule ^(.*)hoc-va-lamqweasdzxc/?$ index.php?do=studypost&action=home [L]
RewriteRule ^(.*)hoc-va-lam/viec-lam$ index.php?do=job [L]
RewriteRule ^(.*)hoc-va-lam/viec-lam/([0-9]+)/(.*)$ index.php\?do=job&action=detail&id=$2 [L]
RewriteRule ^(.*)hoc-va-lam/ho-so-ung-vien$ index.php?do=employee [L]
RewriteRule ^(.*)hoc-va-lam/ho-so-ung-vien/([0-9]+)/(.*)$ index.php\?do=employee&action=detail&id=$2 [L]
RewriteRule ^(.*)hoc-va-lam/truong$ index.php?do=studypost [L]
RewriteRule ^(.*)hoc-va-lam/nhom$ index.php?do=studypost&type=group [L]
RewriteRule ^(.*)hoc-va-lam/hoc-vien$ index.php?do=studypost&type=learner [L]


RewriteRule ^(.*)thong-tin/([0-9]+)/([\_\-a-zA-Z0-9%]+)$ index.php\?do=announce&action=detail&id=$2 [L]



RewriteRule ^(.*)hoc-va-lam/truong/([0-9]+)/(.*)$ index.php?do=studypost&action=school&id=$2 [L]
RewriteRule ^(.*)hoc-va-lam/nhom/([0-9]+)/(.*)$ index.php?do=studypost&action=group&id=$2 [L]
RewriteRule ^(.*)hoc-va-lam/hoc-vien/([0-9]+)/([\_\-a-zA-Z0-9%]+)$ index.php?do=studypost&action=memberpage&id=$2 [L]
RewriteRule ^(.*)hoc-va-lam/hoc-vien/([0-9]+)/([\_\-a-zA-Z0-9%]+)/sharing$ index.php?do=studypost&action=memberpage&id=$2&sharing=1 [L]

RewriteRule ^(.*)jobs$ index.php?do=job [L]

RewriteRule ^([\_\-a-zA-Z0-9%]+)/chia-se$ index.php?do=product&action=inviteFriendPage&space_name=$1 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)$ space/\?userid=$1&dd=$2 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/welcome.htmls$ space/\?userid=$1&welcome=1 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([\_\s\-a-zA-Z0-9%]+)_un.htmls$ space/\?userid=$1&un=$2 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+).htmls$ space/\?userid=$1&do=$2 [L]

RewriteRule ^([\_\-a-zA-Z0-9%]+)/dich-vu/?$ space/\?userid=$1&do=service [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/thuong-mai/?$ space/\?userid=$1&do=offer [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/tin-tuc/?$ space/\?userid=$1&do=news [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/tuyen-dung/?$ space/\?userid=$1&do=job [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/ho-so/?$ space/\?userid=$1&do=intro [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/lien-he/?$ space/\?userid=$1&do=contact [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/san-pham/?$ space/\?userid=$1&do=product [L]


RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/type/([a-zA-Z0-9%]+).htmls$ space/\?userid=$1&do=$2&typeid=$3 [L]

#RewriteRule ^(.*)offer/detail/([0-9]+)\.html$ /offer/detail.php\?id=$2 [QSA]
#RewriteRule ^(.*)industry/([0-9]+)/$ /special/industry.php\?id=$2 [QSA]
#RewriteRule ^(.*)area/([0-9]+)/$ /special/area.php\?id=$2 [QSA]
#RewriteRule ^(.*)buy/detail/([0-9]+)\.html$ /offer/detail.php\?id=$2 [QSA]
#RewriteRule ^(.*)sell/detail/([0-9]+)\.html$ /offer/detail.php\?id=$2 [QSA]
#----------RewriteRule ^(.*)product/detail/([0-9]+)\.html$ /product/content.php\?id=$2 [QSA]
#RewriteRule ^(.*)news/detail/([0-9]+)\.html$ /news/detail.php\?id=$2 [QSA]
#RewriteRule ^(.*)market/detail/([0-9]+)\.html$ /market/detail.php\?id=$2 [QSA]
RewriteRule ^(.*)announce/detail/([0-9]+)\.html$ index.php\?do=announce&action=detail&id=$2 [L]
RewriteRule ^(.*)job/detail/([0-9]+)\.html$ index.php\?do=job&action=detail&id=$2 [L]
#RewriteRule ^(.*)fair/detail/([0-9]+)\.html$ /fair/detail.php\?id=$2 [QSA]
#RewriteRule ^(.*)page/([a-zA-Z0-9]+)\.html$ /page.php\?name=$2 [QSA]
#RewriteRule ^(.*)dict/detail/([0-9]+)\.html$ /dict/detail.php\?id=$2 [QSA]
#RewriteRule ^(.*)standard/detail/([0-9]+)\.html$ /standard.php\?id=$2 [QSA]
#RewriteRule ^(.*)brand/detail/([0-9]+)\.html$ /brand/detail.php\?id=$2 [QSA]


RewriteRule ^(.*)space/([a-zA-Z0-9%]+)/([a-zA-Z]+)/type-([0-9]+)-([0-9]+)\.html$ space/\?userid=$2&do=$3&typeid=$4&page=$5 [L]
RewriteRule ^(.*)space/([a-zA-Z0-9%]+)/([a-zA-Z]+)/list-([0-9]+)\.html$ space/\?userid=$2&do=$3&page=$4 [L]
RewriteRule ^(.*)space/([a-zA-Z0-9%]+)/([a-zA-Z]+)/detail-([0-9]+)\.html$ space/\?userid=$2&do=$3&nid=$4 [L]

RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/type-([0-9]+)-([0-9]+)-([0-9]+)_([a-zA-Z]+)\.htmls$ space/\?userid=$1&do=$2&typeid=$3&page=$4&memberid=$5&order=$6 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/type-([0-9]+)-([0-9]+)-([0-9]+)\.htmls$ space/\?userid=$1&do=$2&typeid=$3&page=$4&memberid=$5 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/type-([0-9]+)-([0-9]+)_([a-zA-Z]+)\.htmls$ space/\?userid=$1&do=$2&typeid=$3&page=$4&order=$5 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/type-([0-9]+)-([0-9]+)\.htmls$ space/\?userid=$1&do=$2&typeid=$3&page=$4 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/list-([0-9]+)\.htmls$ space/\?userid=$1&do=$2&page=$3 [L]
RewriteRule ^([\_\-a-zA-Z0-9%]+)/([a-zA-Z]+)/detail-([0-9]+)\.htmls$ space/\?userid=$1&do=$2&nid=$3 [L]


#RewriteCond %{HTTP_HOST} ^(www.)?(?!/.|www|bbs|demo)(.*)\.yourdomain\.com$
#RewriteRule ^/?$ /%{HTTP_HOST}
RewriteRule ([^.]+)\.yourdomain\.com(.*)$ space/\?userid=$1 [L]
RewriteRule ^(.*)space/([a-z]+)\.html$ space/\?userid=$1&do=$2
RewriteRule ^(.*)space/([a-z]+)/type-([0-9]+)\.html$ space/\?userid=$1&do=$2&typeid=$3
RewriteRule ^(.*)space/([a-z]+)/list-([0-9]+)\.html$ space/\?userid=$1&do=$2&page=$3
RewriteRule ^(.*)space/([a-z]+)/detail-([0-9]+)\.html$ space/\?userid=$1&do=$2&nid=$3


# END REWRITE