</div>
    <!-- /#wrapper-inner -->
    
    
    <footer class="footer">
        <div class="">
            <ul class="footer-menu" style="display: none">
                <li>
                    <a href="{the_url module=announces id=27 title='Cách mua'}">Cách mua</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=28 title='Cách bán'}">Cách bán</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=29 title='Cách kiếm tiền'}">Cách kiếm tiền</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li>
                    <a href="{the_url module=announces id=22 title='Giới thiệu'}">Giới thiệu</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=23 title='Điều khoản sử dụng'}">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=24 title='Quyền lợi thành viên'}">Quyền lợi thành viên</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=25 title='Bảo mật'}">Bảo mật</a>
                </li>
            </ul>
        </div>
        
        <div id="company_info" style="width: 100%; display: block">
				    <div class="cleft">
					<p><strong>{$pb_setting.owner_name}</strong></p>
					
					<p><strong>{lang office_room}:</strong> {$pb_setting.owner_office}
					</p>
					<p><strong>GPĐK:</strong> {$pb_setting.owner_gpdk} </p>
					
				    </div>
				    <div class="cright">
				      <p>
					  <strong>
					    {lang vpgd}:
					  </strong>
					  {$pb_setting.owner_vpgd}
				      </p>
				      <p>
					  <strong>ĐT:</strong> {$pb_setting.owner_phone}&nbsp;&nbsp;
					  <strong>Hotline:</strong> {$pb_setting.owner_hotline}&nbsp;&nbsp;<strong>						Email:</strong> <a href="mailto:{$pb_setting.owner_email}">{$pb_setting.owner_email}</a>
					</p>
				    </div>

        </div>
        
    </footer>