    <!-- Menu Toggle Script -->
    {literal}
	
	<script type="text/javascript">
	    <!--
	    (function() {
		if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile/)) {
		    var msViewportStyle = document.createElement("style");
		    msViewportStyle.appendChild(
			document.createTextNode("@-ms-viewport{width:auto!important}")
		    );
		    document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
	    })();
	    //-->
	</script>
    
        <script>
			
			function updateAdHovers() {
				$(".ad_hover").each(function() {
					var pos = $(this).attr("rel")
					var frame = 0
					
				});
			}
			
			function goclicky(meh, url)
{
    var x = screen.width/2 - 626/2;
    var y = screen.height/2 - 436/2;
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(url), 
      'facebook-share-dialog', 
      'width=626,height=436,left='+x+',top='+y); 
    return false;
    //window.open(meh.href, 'sharegplus','height=485,width=700,left='+x+',top='+y);
}
 
function goclicky_custom(meh, url, images, title, summary)
{
    var x = screen.width/2 - 626/2;
    var y = screen.height/2 - 436/2;
    window.open(
      'https://www.facebook.com/sharer/sharer.php?s=100&p[url]='+url+images+'&p[title]='+title+'&p[summary]='+summary, 
      'facebook-share-dialog', 
      'width=626,height=436,left='+x+',top='+y); 
    return false;
    //window.open(meh.href, 'sharegplus','height=485,width=700,left='+x+',top='+y);
}
			
			
		function resizeIframe(obj) {
			obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
		}
	    
	    function hideTopmenu() {
			$('.top_inbox_content').hide();		
			$('#search-panel').removeClass("in");
			$('#navbar').removeClass("in");
	    }
	    
	    function clearInbox() {
			//code
			$.ajax({
				url: ROOT_URL+"index.php?do=product&action=ajaxClearInbox",
			}).done(function ( data ) {
				if( console && console.log ) {
					
				}
			});
	    }
	    
	    var getInbox_xhr;
	    function getInbox() {
		if(getInbox_xhr && getInbox_xhr.readystate != 4){
			getInbox_xhr.abort();
		}
		//code
		getInbox_xhr = $.ajax({
			url: ROOT_URL+"index.php?do=product&action=ajaxInbox&layout=mobile",
		}).done(function ( data ) {
			if( console && console.log ) {
			    $(".top_inbox_content").html(data);
			    //alert($('<div>').html(data).find('.inbox_counter').html());
			    if($('<div>').html(data).find('.inbox_counter').length > 0) {
				var html = $('<div>').html(data).find('.inbox_counter').html();
				$('.pms-toggle .badge').html(html);
			    }
			}
		});
	    }
	    
	    function scrollTopSearch() {
		
	    }
	    
	    //--------------TOP SEARCH ACTIONS------------------------//
	    function hideSearch() {
		$('.top-search-result-box').hide();
		    
		$('.wrapper-search').hide();
		$('.wrapper-inner').show();
	    }
	    
	    function showSearch() {
		$('.top-search-result-box').show();
		    
		$('.wrapper-search').show();
		$('.wrapper-inner').hide();
	    }
	    
	    var keytimeout;
	    function goSearch() {
		if ($('.top-search-input').val().trim() != '') {
		    $(document).scrollTop(0);
		    
		    $('.top-search-result-box .panel-body').html('<div class="no-search-top search-loading">Loading</div>');
		    showSearch();
		    
		    clearTimeout(keytimeout);
		
		    keytimeout = setTimeout(function(){
			fullTextSearch( $('.top-search-input').val() );
		    }, 500);
		    
		} else {
		    hideSearch();
		}
	    }
	    
	    //full text search
	    var fullTextSearch_xhr;
	    function fullTextSearch(keyword) {
		var search_type = $('.top-search-type').attr("rel");
		
		if(fullTextSearch_xhr && fullTextSearch_xhr.readystate != 4){
		    fullTextSearch_xhr.abort();
		}
	    
		    fullTextSearch_xhr = $.ajax({
			url: ROOT_URL+"index.php?do=product&action=ajaxModernSearch&type="+search_type+"&keyword="+encodeURIComponent(keyword)
		    }).done(function ( data ) {
			if( console && console.log ) {
			    
			    $('.top-search-result-box .panel-body').html(data);
			    
			}
		    });
	    }
	    //=================================================//
	    
	    
            
            function getCartCount() {
                $.ajax({
		    url: ROOT_URL+"index.php?do=product&action=ajaxTopCart&mobile=1",
		}).done(function ( data ) {
		    if( console && console.log ) {
			
			//$('.cat-filter-items').html(html);
                        $('.cart_badge .badge').html("");
                        if(data!="0") {
                            $('.cart_badge .badge').html(data);
                        }

		    }
		});
            }
            
            function prevSlide() {
                var num = $('.mobile-product-gallery ul li').length;                
                var current = $('.mobile-product-gallery ul li.active').attr("rel");
                
                if (current == 0) {
                    gotoSlide(num-1);
                } else {
                    gotoSlide(parseInt(current)-1);
                }
            }
            
            function nextSlide() {
                var num = $('.mobile-product-gallery ul li').length;                
                var current = $('.mobile-product-gallery ul li.active').attr("rel");
                
                if (current == num-1) {
                    gotoSlide(0);
                } else {
                    gotoSlide(parseInt(current)+1);
                }
            }
            
            function gotoSlide(num) {
                var current = $('.mobile-product-gallery ul li.active').attr("rel");
                //alert(current);
                
                $('.mobile-product-gallery ul li[rel="'+current+'"]').hide();
                $('.mobile-product-gallery ul li[rel="'+current+'"]').removeClass("active");
                $('.mobile-product-gallery .pointers .pointer[rel="'+current+'"]').removeClass("active");
                
                $('.mobile-product-gallery ul li[rel="'+num+'"]').fadeIn();
                $('.mobile-product-gallery ul li[rel="'+num+'"]').addClass("active");
                $('.mobile-product-gallery .pointers .pointer[rel="'+num+'"]').addClass("active");
            }
            
            function initMobileGallery() {
                var num = $('.mobile-product-gallery ul li').length;
                
                $('.mobile-product-gallery ul li').each(function(index) {
                    $(this).attr("rel",index);
                });
                
                $('.mobile-product-gallery ul li').hide();
                $('.mobile-product-gallery ul li').removeClass("active");
                $('.mobile-product-gallery ul li').eq(0).fadeIn();
                $('.mobile-product-gallery ul li').eq(0).addClass("active");
                
                var html_point = '<div class="pointers">';
                for(var i=0;i<num;i++) {
                    html_point += '<span rel="'+i+'" class="pointer pointer-'+i+'"></span>';
                }
                html_point += '</div>';
                
                //for pointer left right
                html_point += '<span class="glyphicon glyphicon-chevron-right pointer-right"></span><span class="glyphicon glyphicon-chevron-left pointer-left"></span>';
                
                $('.mobile-product-gallery').append(html_point);
                $('.mobile-product-gallery .pointers .pointer').eq(0).addClass("active");
                
                
                //MobileGallery
                    $(".mobile-product-gallery").swipe( {
						//Generic swipe handler for all directions
						allowPageScroll: "vertical",
						swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
						  if(direction == 'right') {
							prevSlide();
						  }
						  if(direction == 'left') {
							nextSlide();
						  }
						},
                      //Default is 75px, set to 0 for demo so any distance triggers swipe
                       threshold: 10,
                       excludedElements: ".glyphicon"
                    });
                
                $("body").on("click",".pointer-right",function() {
                    nextSlide();
                });
                $("body").on("click",".pointer-left",function() {
                    prevSlide();
                });
                
            }
            
            function autoresizeMobileGallery() {
                var size = $(window).height()-100;
                
                if (size > $(window).width()-20) {
                    size = $(window).width()-20;
                }
                
                $('.mobile-product-gallery ul li').width(size);
                $('.mobile-product-gallery ul li').height(size);
                $('.mobile-product-gallery ul li').css("line-height",size+"px");
            }
            
            function moveLeft(box) {
                var current_left = parseInt(box.css('left'));
                var amount = 155*2;
                box.css('left', (current_left-amount)+'px');
            }
            
            function moveRight(box) {
                var current_left = parseInt(box.css('left'));
                var amount = 155*2;
                if(current_left<0) {
                    box.css('left', (current_left+amount)+'px');
                }
            }
            
            function cropping() {
		jQuery('.crop-img-square').each(function() {
		    var scale = 1;
		    jQuery(this).css('display','block');
		    jQuery(this).find('img').css('display','none');
		    jQuery(this).css('height',jQuery(this).width()*scale);
		    scale = jQuery(this).height()/jQuery(this).width();
		    
		    jQuery(this).css('background-image','url('+jQuery(this).find('img').attr("src")+')');
		    if(jQuery(this).find('img').width()*scale < jQuery(this).find('img').height()) {
		      jQuery(this).css('background-size',jQuery(this).width()+'px auto');
		    } else {
		      jQuery(this).css('background-size','auto '+jQuery(this).height()+'px');
		    }
		    jQuery(this).css('background-repeat','no-repeat');
		    jQuery(this).css('background-position','center center');
		});
		
		jQuery('.crop-img-space').each(function() {
		    //var scale = 12/8;
		    jQuery(this).css('display','block');
		    jQuery(this).find('img').css('display','none');
		    jQuery(this).css('height',"220px");
		    
		    //alert(jQuery(this).width());
		    
		    jQuery(this).css('background-image','url('+jQuery(this).find('img').attr("src")+')');
		    if(jQuery(this).find('img').width() < jQuery(this).find('img').height()) {
		      jQuery(this).css('background-size',jQuery(this).height()+'px auto');
		    } else {
		      jQuery(this).css('background-size','auto '+jQuery(this).width()+'px');
		    }
		    jQuery(this).css('background-repeat','no-repeat');
		    jQuery(this).css('background-position','center center');
		});
		
		jQuery('.shop-album-item').each(function() {
		    //var scale = 12/8;
		    jQuery(this).css('display','block');
		    jQuery(this).find('img').css('display','none');
		    jQuery(this).css('height',"150px");
		    
		    //alert(jQuery(this).width());
		    
		    jQuery(this).css('background-image','url('+jQuery(this).find('img').attr("src")+')');
		    if(jQuery(this).find('img').width() < jQuery(this).find('img').height()) {
		      jQuery(this).css('background-size',jQuery(this).height()+'px auto');
		    } else {
		      jQuery(this).css('background-size','auto '+jQuery(this).width()+'px');
		    }
		    jQuery(this).css('background-repeat','no-repeat');
		    jQuery(this).css('background-position','center center');
		});    
            }
            
            
            $(window).resize(function() {
                cropping();
                autoresizeMobileGallery();
		
		$('.img_box_fixer').height($('.images_inputs').height());
            });
	    
	    function blurSearchInput() {
		if($(document).scrollTop()>50) $("#search-panel input").blur();
	    }
	    $(document).scroll(function() {
                setTimeout("blurSearchInput();",500);
				
				//hide search box
				if ($(document).scrollTop() > 20) {
                    $("#search-panel").attr("style", "display:none !important")
                } else {
					$("#search-panel").show()
				}
        });
	    
            var ROOT_URL = "{/literal}{the_url module=root-url}{literal}";
            $(document).ready(function() {
		
		cropping();
                autoresizeMobileGallery();
                
                $('.img_box_fixer').height($('.images_inputs').height());
                
                
                //SIDEBAR EFFECT
                    //toogle sidebar
                    $("#menu-toggle").click(function(e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("toggled");
                    });                
                    //Enable swiping...
//                    $( "#wrapper" ).on( "swipe", function() {
//			$("#wrapper").toggleClass("toggled");
//		    } );
                
                //OTHER
                $('.mobile-horizon-slider ul').each(function() {
					var width =  $(this).find('li').width()+18;
                    $(this).width($(this).find('li').length*width+5);
                });

                
                
                //Gallery
                initMobileGallery();
                
                //Cart COut
                getCartCount();
		
		
		//for login page
		$("#LoggingFrm").validate();
		$("#checkout-meminfo").validate();
		
		$.validator.addMethod("unameCheck", function (value, element) {
		    var isSuccess = false;
		    if (value.match(/^[a-zA-Z0-9.\-\s_]*$/)) {
			    isSuccess = true;
		    }	
		    return isSuccess;
		}, "Vui lòng chỉ sử dụng chữ cái không dấu (a-z), số và các ký tự: <strong style='font-size: 18px;line-height:15px'>. _ -</strong>");
		
		$("#regfrm").validate({
		    rules: {
			"data[member][username]": {
			    required:true,
			    unameCheck: true,
			    remote: {
				url: ROOT_URL+"ajax.php?action=checkusername_mobile",
			    }
			},
			"data[member][email]": {
			    required:true,
			    remote: {
				url: ROOT_URL+"ajax.php?action=checkemail_mobile",
			    }
			},
			"confirm_email": {
			    equalTo: "#dataMemberEmail"
			},
			"data[member][userpass]": "required",
			"re_memberpass": {
			    equalTo: "#memberpass"
			},
			"data[member][referrer_id]": {
			    remote: {
				url: ROOT_URL+"ajax.php?action=checkreferrer_mobile",
			    }
			}
		    },
		    messages: {
			"data[member][email]": {
			    remote: "Email đã có người sử dụng"
			},
			"re_memberpass": "Mật khẩu chưa khớp",
			"confirm_email": "Email chưa khớp",
			"data[member][referrer_id]": 'Người giới thiệu không tồn tại',
			"typename": "Chọn loại thành viên",
			"data[member][username]": {
			    remote: "Tên người dùng đã có người sử dụng"
			},
		    }
		});		
		//$('.is_select2').select2();
		
		
		$('#exchange_imgcapt').click(function (){
			$('#imgcaptcha').attr('src','captcha.php?sid=' + Math.random());
			$('#login_auth').focus();
			return false;
		});	
		
		//--------------TOP SEARCH ACTIONS------------------------//
        
		$('.top-search-form .dropdown-menu li').click(function() {
		    $('.top-search-type').removeClass("shop","fins");
		    $('.top-search-type').addClass($(this).attr("icon-rel"));
		    $('.top-search-type').attr("rel",$(this).attr("rel"));
		    $('.top-search-input').attr("placeholder",$(this).attr("holder-rel"));
		    
		    goSearch();
		});            
		$('.top-search-input').on("keyup", function(event){
		    if (event.keyCode == 13) {
			if($('.top-search-type').attr("rel")=='product') {
			    window.location = ROOT_URL+"index.php?do=product&level=search&keyword="+$('#top-search-input').val();
			}
		    }
		    $('.top-search-input').val($(this).val());
		    goSearch();
		});
		$('.top-search-input').on("focus", function(event){
		    goSearch();
		});
		$('.navbar-header').on("click", function(event){
		    hideSearch();
		});
		$('.top-search-bg').on("click", function(event){
		    goSearch();
		});
		$('.wrapper-search').on("mouseup", function(event){
		    $("#search-panel input").blur();
		});
		
		///////////////////////////////////////////////////////////
		
		$('body').on("click", ".tree_bound h3", function(){
		    $('.tree_bound ul').toggle();
		});
		
		
		
		//Inbox
		$('body').on("click",".pms-toggle", function() {
		    $('.top_inbox_content').toggle();
		    //if ($('.top_inbox_content').css("display")=="block") {
			$('#search-panel').removeClass("in");
			clearInbox();
		    //}
		});
		
		getInbox();
		setInterval("getInbox()", 10000);
		
		
		
			//hide topmenu			
			$('body').on("click",".search-toggle",function(){
				$('.top_inbox_content').hide();		
				$('#navbar').removeClass("in");
			});
			
			$('body').on("click",".user-toggle",function(){
				$('.top_inbox_content').hide();		
				$('#search-panel').removeClass("in");
			});
			
			$('body').on("click",".pms-toggle",function(){
				$('#search-panel').removeClass("in");
				$('#navbar').removeClass("in");
			});		
			$("#contact_feedback").validate();
		
			
			
			////when ad appear
			//$('.iframe_ad').on('appear', function(event, $all_appeared_elements) {
			//  if (typeof($(this).attr("src")) == "undefined") {
			//	$(this).attr("src", $(this).attr("src_tmp"))
			//  }
			//});
			//$('.iframe_ad').appear();
			
			//$(".mobile-product-gallery li").click(function() {
			//	//alert($(this).find("a").attr("href"));
			//	window.location = $(this).find("a").attr("href")
			//})
			
			
			
			$(".ad_banner_item").click(function() {
				var pos = $(this).attr("pos")
				OpenInNewTab("http://marketonline.vn:3000/ads/new?pos="+pos)
			  })
			  $(".ad_toggle").click(function(e) {
				e.preventDefault()
				if ($(".ad_banner_item_hover").css("display") == "block") {
				  $(".ad_banner_item, .ad_banner_item_hover").fadeOut()
				  $(this).removeClass("ad_fixed_in")
				  $(this).html("Đăng Quảng Cáo")
				} else {
				  $(".ad_banner_item, .ad_banner_item_hover").fadeIn()
				  $(this).addClass("ad_fixed_in")
				  $(this).html("X")
				  
				  // update position info        
				  $(".ad_banner_item").each(function() {
					var pos = $(this).attr("pos")
					var box = $(this)
					if (typeof(pos) != "undefined") {
					  $.ajax({
						url: "http://marketonline.vn:3000/ad_positions/get_remaining_time?pos="+pos,
					  }).done(function ( data ) {
						box.find(".ad_info_hover").remove()
						//alert(data.time)
						if(data.time != "") {
						  box.append('<div class=\"ad_info_hover\"><div class="subtitle right time_remaining">Có thể quảng cáo từ ngày: <br /><strong>'+data.time+'</strong></div><span class=\"size\">'+data.pos.width+' x '+data.pos.height+'</span><span class=\"ticket\">Đăng ký trước</span></div>')
						} else {
						  box.append('<div class=\"ad_info_hover\"><div class="subtitle right time_remaining"><strong>Có thể quảng cáo ngay</strong></div><span class=\"size\">'+data.pos.width+' x '+data.pos.height+'</span><span class=\"ticket\">Đăng ký ngay</span></div>')
						}
					  });
					}
				  })
				}
			  })
			
			
        });
	    
	    
	    
        </script>
    {/literal}