        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="logo-sidebar" href="#">
                        <img src="{the_url module=root-url}images/logo-home.png" />
                    </a>
                </li>
                <li class="sidebar-menu sidebar-menu-product">
                    <a href="{the_url module='product_main'}">
                        <span class="color-point"></span>
                        Sản phẩm</a>
                </li>
                <li class="sidebar-menu sidebar-menu-service">
                    <a href="{the_url module='service_main'}">
                        <span class="color-point"></span>
                        Dịch vụ</a>
                </li>
                <li class="sidebar-menu sidebar-menu-trade">
                    <a href="{the_url module='offer_main'}">
                        <span class="color-point"></span>
                        Thương mại</a>
                </li>
                <li class="sidebar-menu sidebar-menu-company">
                    <a href="{the_url module='companies'}">
                        <span class="color-point"></span>
                        Thương hiệu</a>
                </li>
                <li class="sidebar-menu sidebar-menu-job">
                    <a href="{the_url module='jobs'}">
                        <span class="color-point"></span>
                        Học và Làm</a>
                </li>
                <li class="divider"></li>
                <li><a href="{the_url module=root-url}lien-he">Trợ giúp / Liên hệ</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->