    <nav class="navbar navbar-inverse navbar-default">
      <div class="container">
        <div class="navbar-header">
          
                
          
                <button type="button" class="custome-navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="glyphicon glyphicon-user"></span>
                </button>
                
                <button type="button" class="custome-navbar-toggle search-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#search-panel" aria-expanded="false" aria-controls="search-panel">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
                

                <a href="{the_url module=root-url}/index.php?do=product&action=add_cart" type="button" class="custome-navbar-toggle navbar-toggle collapsed">
                  <div class="count_badge_outer">
                      <span class="badge"></span>
                  </div>
                  <span class="glyphicon glyphicons shopping_cart"></span>
                </a>
          
          <button id="menu-toggle" class="leftbar-toggle">
            <span class="glyphicon glyphicon-list"></span>
          </button>
          
          
          <a class="navbar-brand" href="{the_url module=root-url}">MarketOnline</a>

        </div>
        
        
        
        
        
        <div id="navbar" class="collapse navbar-collapse">
          <!--{if $pb_username!=""}-->            
              <ul class="nav navbar-nav">
                    <li>
                        <a target="_blank" href="{the_url module=root-url}redirect.php?url=/virtual-office/">
                            Trang quản lý
                        </a>
                      </li>
                      <li class="divider"></li>
                        {if $pb_company}
                            <li {if $pb_userinfo.current_type == 1 || $pb_userinfo.current_type == 2 || $pb_userinfo.current_type == 3}class="active"{/if}>
                                <a href="{the_url module=space userid=`$pb_company.cache_spacename` change_current_type=`$pb_userinfo.membertype_id`}">
                                    {$pb_company.shop_name}
                                </a>
                            </li>
                        {/if}
                      
                        {loop $pb_userinfo.other_types typeitem typeitem_0 typeitemkey0}
                            {if $typeitem.membertype_id == 6}
                                <li {if $pb_userinfo.current_type == $typeitem.membertype_id}class="active"{/if}>                                
                                    <a href="{the_url module=studypost action=school change_current_type=`$typeitem.membertype_id`}">
                                        {$pb_userinfo.first_name} {$pb_userinfo.last_name}
                                    </a>
                                </li>
                            {/if}
                        {/loop}
                        
                        {if $pb_userinfo.current_type == 6}
                            <li>
                                <a href="{the_url module=studypost}">Diễn đàn Dạy và Học</a>
                            </li>
                        {/if}
                      <li class="divider"></li>
                      <li><a href="{the_url module=root-url}logging.php?action=logout">Đăng xuất</a></li>
              </ul>
            
          <!--{else}-->
            <ul class="nav navbar-nav">
                <li><a href="{the_url module=login redirect=`$current_address_encoded`}">Đăng nhập</a></li>
                <li>
                    {if $smarty.get.do == "employee"}
                        <a class="main-but" href="{the_url module=register typename=Employee}">{lang register_now}</a>	    
                    {elseif $smarty.get.do == "job"}
                        <a class="main-but" href="{the_url module=register typename=Employer}">{lang register_now}</a>	    
                    {elseif $smarty.get.do == "studypost"}
                        <a class="main-but" href="{the_url module=register typename=Learner}">{lang register_now}</a>
                    {else}
                        <a class="main-but" href="{the_url module=register}">{lang register_now}</a>
                    {/if}
                </li>
            </ul>
          <!--{/if}-->
        </div><!--/.nav-collapse -->
      </div>
      
      <div id="search-panel" class="row collapse navbar-collapse top-search-form">
            <div class="form-group">                    
              <div class="input-group">
                <span class="glyphicon glyphicon-search top-search-bg"></span>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span aria-hidden="true" class="top-search-type glyphicon glyphicons shop" rel="shop"></span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li rel="shop" icon-rel="shop" holder-rel="Tên Gian hàng/Công ty/Chủ nhân/Email/...">
                        <a href="#">
                          <span aria-hidden="true" class="glyphicon glyphicons shop"></span>
                          &nbsp;&nbsp;Tìm kiếm gian hàng
                        </a>
                      </li>
                      <li rel="product" icon-rel="fins" holder-rel="Tên sản phẩm/Mã sản phẩm/Tên Thương hiệu/...">
                        <a href="#">
                          <span aria-hidden="true" class="glyphicon glyphicons fins"></span>
                          &nbsp;&nbsp;Tìm kiếm sản phẩm
                        </a>
                      </li>                      
                    </ul>
                </div><!-- /btn-group -->
                <input id="top-search-input" placeholder="Tên Gian hàng/Công ty/Chủ nhân/Email/..." type="text" class="top-search-input form-control">
              </div><!-- /input-group -->
            </div>
        </div>
      
      
      
        <div class="top-search-result-box" style="display: none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Kết quả tìm kiếm</h3>                  
                    </div>
                    <div class="panel-body">
                              
                    </div>
                </div>
            </div>
      
      
    </nav>
    <div class="top-nav-cover"></div>