<!--{include file="`$theme_name`/mobile/header.html" page_title="Trang chủ - MarketOnline.vn"}-->

{literal}
    <style>
        .deal_intro_but {
            display: none;
        }
    </style>
{/literal}

<div style="padding: 10px;background: #fff">
<h2 style="line-height: 30px; text-align:center">Chương trình Quà tặng &amp; Giảm giá cực Sốc hằng ngày của <br/> Thị trường Trực tuyến MarketOnline.vn</h2>
<p>Chương trình nhằm tri ân Khách Hàng đã ủng hộ hoạt động của MarketOnline.vn trong thời gian qua. Chúng tôi sẽ ra mắt chương trình này kể từ ngày <strong>15/01/2016</strong> với những chương trình <strong>Quà tặng</strong> và <strong>Sản phẩm giảm giá</strong> cực kỳ hấp dẫn:</p>
<p><img src="https://cdn2.iconfinder.com/data/icons/basicset/tick_64.png" width="25" /> Những sản phẩm độc đáo sẽ được <strong>tặng miễn phí</strong> và <strong>giảm giá cực kỳ hấp dẫn</strong> (lên đến <strong>80%</strong>)</p>
<p><img src="https://cdn2.iconfinder.com/data/icons/basicset/tick_64.png" width="25" />  Mọi người đều có thể tham gia kiếm tiền bằng cách chia sẻ sản phẩm giảm giá với chiết khấu cao</p>
<p><img src="https://cdn2.iconfinder.com/data/icons/basicset/tick_64.png" width="25" />  Thành viên Mua và Bán sẽ nhận được <strong>quà tặng hấp dẫn</strong> tương xứng với điểm hoạt của mình</p>
<p>Mời Quý Khách cùng đăng ký thành viên để chuẩn bị sẵn sàng cho chương trình <strong>Độc đáo & Hấp dẫn</strong> này. </p>
<p style="">Chúng tôi luôn đồng hành cùng sự phát triển & thành công của Quý Khách! Chân thành cám ơn Quý Khách!<p>

<div class=""><img src="/images/hoa.png" width="100%" /></div>

<br/>
<div style="text-align: center;">
    <p>Hãy chia sẻ để mọi người cùng tham gia và nhận quà với bạn:
</p>
<div class="share_buts" style=" display: inline-block;
    width: 230px;">

						
								<!-- AddThis Button BEGIN -->
								{literal}
									<div addthis:url='http://marketonline.vn/deal_share.html' class="addthis_toolbox addthis_default_style addthis_32x32_style">
									<a class="addthis_button_facebook"></a>
									<a class="addthis_button_twitter"></a>
									<a class="addthis_button_google_plusone_share"></a>
									<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
									</div>
									<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
									<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520993b51c3b7da7"></script>
								{/literal}
								<!-- AddThis Button END -->

								
				</div>

</div>
<!--{include file="`$theme_name`/mobile/_footer_home.html"}-->
<!--{include file="`$theme_name`/mobile/footer.html"}-->