        <!--{include file="`$theme_name`/mobile/header.html" page_title="`$box_title` - MarketOnline.vn"}-->
            
        <!-- Page Content -->
        <div id="page-content-wrapper" class="home-page">
            
            <div class="">
                <div class="row">
                    
                    
                    <div class="page-inner page-register">
                       <h1>{$box_title}</h1>
                       
                       <h4>{$message}</h4>
                       
                       
                       
                    </div>
                            
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
        <!--{include file="`$theme_name`/mobile/_footer_home.html"}-->
        <!--{include file="`$theme_name`/mobile/footer.html"}-->