    
    <footer class="footer">
        <div class="">
            <ul class="footer-menu">
                <li>
                    <a href="{the_url module=announces id=27 title='Cách mua'}">Cách mua</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=28 title='Cách bán'}">Cách bán</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=29 title='Cách kiếm tiền'}">Cách kiếm tiền</a>
                </li>
            </ul>
            <ul class="footer-menu">
                <li>
                    <a href="{the_url module=announces id=22 title='Giới thiệu'}">Giới thiệu</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=23 title='Điều khoản sử dụng'}">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=24 title='Quyền lợi thành viên'}">Quyền lợi thành viên</a>
                </li>
                <li>
                    <a href="{the_url module=announces id=25 title='Bảo mật'}">Bảo mật</a>
                </li>
            </ul>
        </div>
    </footer>


    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{the_url module=root-url}{$theme_img_path}mobile/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{the_url module=root-url}{$theme_img_path}mobile/bootstrap/js/bootstrap.min.js"></script>
    <script src="{the_url module=root-url}{$theme_img_path}mobile/js/jquery.touchSwipe.js"></script>

    <!--{include file="`$theme_name`/mobile/_script.html"}-->

</body>

</html>