    
    <footer class="footer">
        <div class="container">
            <ul class="footer-menu">
                <li>
                    <a href="">Cách mua</a>
                </li>
                <li>
                    <a href="">Cách bán</a>
                </li>
                <li>
                    <a href="">Cách kiếm tiền</a>
                </li>
            </ul>
            
            <ul class="footer-menu">
                <li>
                    <a href="">Giới thiệu</a>
                </li>
                <li>
                    <a href="">Điều khoản sử dụng</a>
                </li>
                <li>
                    <a href="">Quyền lợi thành viên</a>
                </li>
                <li>
                    <a href="">Bảo mật</a>
                </li>
            </ul>
        </div>
    </footer>


    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{the_url module=root-url}{$theme_img_path}mobile/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{the_url module=root-url}{$theme_img_path}mobile/bootstrap/js/bootstrap.min.js"></script>
    <script src="{the_url module=root-url}{$theme_img_path}mobile/js/jquery.touchSwipe.js"></script>

    <!--{include file="`$theme_name`/mobile/_script.html"}-->

</body>

</html>