<!--{include file="`$theme_name`/mobile/header.html" page_title="Trang chủ - MarketOnline.vn"}-->

<span class="ad_toggle add_ad_button">Đăng Quảng Cáo</span>
<div class="home_ads" style="padding: 10px;">
    <h2 class="area-title">Sản phẩm được quan tâm nhiều</h2>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_1" pos="home_top_banner_1">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_2" pos="home_top_banner_2">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_3" pos="home_top_banner_3">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_4" pos="home_top_banner_3">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_4 ad_1" pos="home_top_banner_3">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_4 ad_2" pos="home_top_banner_3">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_top_banner_4 ad_3" pos="home_top_banner_3">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe rel="iframe_home_top_banner" class="ad_box ad_box_1" onload="resizeIframe(this)" scrolling="no" style="overflow: hidden;border: medium none;height: 900px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_top_banner?device=mobile" style="border: none;"></iframe>
    </div>
    
    <h2 class="area-title second">Sản phẩm nổi bật</h2>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_hot_product home_feature_hot_product_left" pos="home_feature_hot_product_left">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe class="ad_box_2" onload="resizeIframe(this)" scrolling="no" style="overflow: hidden;border: medium none;height: 580px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_product_left&device=mobile" style="border: none;"></iframe>
    </div>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_hot_product home_feature_hot_product_right" pos="home_feature_hot_product_right">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe class="ad_box_2" onload="resizeIframe(this)" scrolling="no" style="overflow: hidden;border: medium none;height: 580px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_product_right&device=mobile" style="border: none;"></iframe>
    </div>
    
    <h2 class="area-title second">Dịch vụ nổi bật</h2>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_hot_product home_feature_hot_service_left" pos="home_feature_hot_service_left">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe class="ad_box_3" scrolling="no" style="overflow: hidden;border: medium none;height: 490px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_service_left&show_title=false&device=mobile" style="border: none;"></iframe>
    </div>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_hot_product home_feature_hot_service_right" pos="home_feature_hot_service_right">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe class="ad_box_3"  scrolling="no" style="overflow: hidden;border: medium none;height: 490px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_service_right&show_title=false&device=mobile" style="border: none;"></iframe>
    </div>
    
    
    <h2 class="area-title second">Thương mại nổi bật</h2>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_trade_1" pos="home_feature_trade_1">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_trade_2" pos="home_feature_trade_2">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe scrolling="no" class="ad_box_4" style="overflow: hidden;border: medium none;height: 525px;width: 49%; float: left" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_1&device=mobile" style="border: none;"></iframe>
        <iframe scrolling="no" class="ad_box_4" style="overflow: hidden;border: medium none;height: 525px;width: 49%; float: right" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_2&device=mobile" style="border: none;"></iframe>
        <br style="clear: both" />
    </div>
    <div style="position: relative; width: 100%">
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_trade_1" pos="home_feature_trade_3">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <div class="ad_banner_item ad_banner_item ad_hover home_feature_trade_2" pos="home_feature_trade_4">
            Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
        </div>
        <iframe scrolling="no" class="ad_box_4" style="overflow: hidden;border: medium none;height: 525px;width: 49%; float: left" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_3&device=mobile" style="border: none;"></iframe>
        <iframe scrolling="no" class="ad_box_4" style="overflow: hidden;border: medium none;height: 525px;width: 49%; float: right" src="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_4&device=mobile" style="border: none;"></iframe>
        <br style="clear: both" />
    </div>
    
    <br style="clear: both" />
    <br />
        <h2 class="area-title">Thương hiệu tiêu biểu</h2>
        <iframe scrolling="no" class="ad_box_5" style="border: medium none;height: 485px;width: 100%;overflow: hidden" src="http://marketonline.vn:3000/ad_positions/iframe_6_items_list?pos=home_feature_company&device=mobile" style="border: none;"></iframe>

    
</div>

{literal}
    <script>
        function resizeAds() {
            //alert(2.5)
            $(".ad_box_1").css("height", $(window).width()*2.66)
            $(".ad_box_2").css("height", $(window).width()*1.2)
            $(".ad_box_3").css("height", $(window).width()*0.95)
            $(".ad_box_4").css("height", $(window).width()*0.9)
            $(".ad_box_5").css("height", $(window).width()*3.5)
        }
        
        resizeAds()
        $( window ).resize(function() {
            resizeAds()
        });
    </script>
{/literal}

<!--{include file="`$theme_name`/mobile/_footer_home.html"}-->
<!--{include file="`$theme_name`/mobile/footer.html"}-->