<!--{include file="`$theme_name`/mobile/header.html" page_title="Trang chủ - MarketOnline.vn"}-->

<div class="home_ads" style="padding: 10px;">
    <h2 class="area-title">Sản phẩm được quan tâm nhiều</h2>
    <iframe scrolling="no" style="overflow: hidden;border: medium none;height: 641px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_top_banner?device=mobile" style="border: none;"></iframe>
    
    
    <h2 class="area-title">Sản phẩm nổi bật</h2>
    <iframe class="iframe_ad" scrolling="no" style="overflow: hidden;border: medium none;height: 580px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_product_right" style="border: none;"></iframe>
    
    <h2 class="area-title">Dịch vụ nổi bật</h2>
    <iframe class="iframe_ad" scrolling="no" style="overflow: hidden;border: medium none;height: 490px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_service_left&show_title=false" style="border: none;"></iframe>
    <iframe class="iframe_ad"  scrolling="no" style="overflow: hidden;border: medium none;height: 490px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_service_right&show_title=false" style="border: none;"></iframe>
    
    
    <h2 class="area-title">Thương mại nổi bật</h2>
    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_1" style="border: none;"></iframe>
    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_2" style="border: none;"></iframe>
    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_3" style="border: none;"></iframe>
    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_4" style="border: none;"></iframe>
    
    
    <h2 class="area-title">Thương hiệu tiêu biểu</h2>
    <iframe scrolling="no" class="iframe_ad" style="border: medium none;height: 485px;width: 100%;overflow: hidden" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_6_items_list?pos=home_feature_company" style="border: none;"></iframe>
    
</div>

<!--{include file="`$theme_name`/mobile/_footer_home.html"}-->
<!--{include file="`$theme_name`/mobile/footer.html"}-->