        <!--{include file="`$theme_name`/mobile/header.html" page_title="Trang chủ - MarketOnline.vn"}-->
            
        <!-- Page Content -->
        <div id="page-content-wrapper" class="home-page">
            
            <div class="container-fluid">
                <div class="row">
                    
                    <!--{loop $mobile_home_cats cat level key}-->
                        
                        <!--{if $cat.items}-->
                        
                            <div class="col-lg-12">
                                <div class="mobile-horizon-slider-title">
                                    <h4>{$cat.name}</h4>
                                    <a href="{the_url module=products level=1 industryid=`$cat.id` title=`$cat.name`}" class="view-more">Xem thêm...</a>
                                </div>
                                    
                                <div class="mobile-horizon-slider">                            
                                    <ul>
                                    
                                        <!--{loop $cat.items item ilevel ikey}-->
                                            <li>
                                                <a href="{$item.target_url}" class="crop-img-square">
                                                    <img src="{$item.logo}" />                                        
                                                </a>
                                                <a href="{$item.target_url}" class="title">
                                                    {$item.name}
                                                </a>
                                            </li>                                            
                                        <!--{/loop}-->
                                        
                                    </ul>
                                </div>
                            </div>
                            
                        <!--{/if}-->
                            
                    <!--{/loop}-->
                            
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
        
        <!--{include file="`$theme_name`/mobile/footer.html"}-->