        <!--{include file="`$theme_name`/mobile/header.html" page_title="Trang chủ - MarketOnline.vn"}-->
            
            <div class="loading_page">
        <div class="cover_page"></div>
        <div class="loadicon"></div>
    </div>
            
        <!-- Page Content -->
        <div id="page-content-wrapper" class="">
            
            <div class="">
                <div class="row" style="padding: 0 15px;margin: 10px 0 20px 0">                    
                    
                    <a style="" href="http://marketonline.vn/home_ads">
                        <img style="width: 100%;border: solid 1px #ddd;" src="http://test.marketonline.vn/images/aqc.jpg" width="100%" />
                    </a>
                    
                    <!--{if $home_ads}-->
                        
                        <div class="">
                            <div class="mobile-horizon-slider-title">
                                <h4>Có thể bạn quan tâm</h4>
                                
                            </div>
                                
                            <div class="mobile-horizon-slider ad_slider">                            
                                <ul>
                                
                                    <!--{loop $home_ads item ilevel ikey}-->
                                        <li>
                                            <a target="_blank" href="{$item.target_url}" class="crop-img-square">
                                                <img src="{$item.logo}" />                                        
                                            </a>
                                            <a target="_blank" href="{$item.target_url}" class="title">
                                                {$item.name}
                                            </a>
                                        </li>                                            
                                    <!--{/loop}-->
                                    
                                </ul>
                            </div>
                        </div>
                        
                    <!--{/if}-->
                    <br style="clear: both" />
                    <!--{loop $mobile_home_cats cat level key}-->
                        
                        <!--{if $cat.items}-->
                        
                            <div class="">
                                <div class="mobile-horizon-slider-title">
                                    <h4>{$cat.name}</h4>
                                    <a href="{the_url module=products level=1 industryid=`$cat.id` title=`$cat.name`}" class="view-more">Xem thêm...</a>
                                </div>
                                    
                                <div class="mobile-horizon-slider">                            
                                    <ul>
                                    
                                        <!--{loop $cat.items item ilevel ikey}-->
                                            <li>
                                                <a href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}" class="crop-img-square">
                                                    <img src="{$item.thumb}" />                                        
                                                </a>
                                                <a title="{$item.name}" href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}" class="title">
                                                    {$item.name|truncate:50}
                                                </a>
                                                <div class="price-block">
                                                    {if $item.new_price || $item.price}
                                                            {if $item.new_price != "" && $item.new_price != 0}
                                                                    <span class="price">{if $item.price}<span class="old_price">{$item.price} <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span>{/if} <span class="main_price"><span class="amount">{$item.new_price}</span> <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span></span> 
                                                            {else}
                                                                    <span class="price"><span class="main_price"><span class="amount">{$item.price}</span> <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span></span>
                                                            {/if}
                                                    {/if}
                                                </div>
                                            </li>                                            
                                        <!--{/loop}-->
                                        
                                    </ul>
                                </div>
                            </div>
                            
                        <!--{/if}-->
                            
                    <!--{/loop}-->
                            
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
        <!--{include file="`$theme_name`/mobile/_footer_home.html"}-->
        <!--{include file="`$theme_name`/mobile/footer.html"}-->