<!--{foreach from=$banners item=itemxxx}-->
<div class="rightbanner_block text_left">
	<a class="" style="border: none;margin-top: 0;padding-top: 0;border-top:solid 0px #ccc;padding-bottom: 0" href="{the_url module=ad id=`$itemxxx.id`}">{$itemxxx.title}</a>
	<a class="leftlogodetailz" href="{the_url module=ad id=`$itemxxx.id`}">
		<img title="{$itemxxx.title}" alt="{$itemxxx.title}" src="{$itemxxx.image}" />
		<span style="display: none" class="shopname_right">{$itemxxx.title|truncate:32}</span>
	</a>
	{if $itemxxx.description}<div style="margin-bottom: 0">{$itemxxx.description|truncate:99}</div>{/if}
</div>
<!--{/foreach}-->

<!-- {pb:product name="itemz" industryid="$inn_array" row=2} -->
    {if $Product.id != $itemz.id}
	<a style="display: none;margin-bottom: 20px" href="{the_url module=product id=`$itemz.id` product_name=`$itemz.name`}"><img title="{$itemz.name}" alt="{$itemz.name}" src="{$itemz.thumb}" /></a>
    {/if}
<!-- {/pb:product} -->

<!--{if $COMPANY.r_spacename}-->
	<a href="{the_url module=space userid=`$COMPANY.r_spacename`}" class="leftlogodetail">
		<img title="{$COMPANY.r_name}" alt="{$COMPANY.r_name}" src="{$COMPANY.r_logo}" />
		<span class="shopname_right">{$COMPANY.r_shop_name|truncate:32}</span>
	</a>
<!--{/if}-->
