<ul class="product_list_widget">
				
		    {pb:product memberid=`$member_id` row=11 titlelen="35" name="itemz"}
				{if $product_id != $itemz.id}
					<li>
							    
			<a style="float: right;width: 100px;" href="{the_url id=`$itemz.id` module='product'}">
					<img width="200" height="200" src="{$itemz.thumb}" class="attachment-shop_thumbnail wp-post-image" alt="675476-1">
			</a>
				
				<!--<del><span class="amount">&#36;{$itemz.price}</span></del>-->
				<ins style="margin-bottom: 5px;padding: 0;max-width: 162px;">
				
				{if $itemz.new_price || $itemz.price}
					{if $itemz.new_price != "" && $itemz.new_price != 0}
					    {if $itemz.price}<span class="old_price">{$itemz.price} <span class="price_unit">VNĐ{if $itemz.price_unit}/{$itemz.price_unit}{/if}</span></span> {/if}<span class="amount">{$itemz.new_price} <span class="price_unit">VNĐ{if $itemz.price_unit}/{$itemz.price_unit}{/if}</span></span>
					{else}
					    <span class="amount">{$itemz.price} <span class="price_unit">VNĐ{if $itemz.price_unit}/{$itemz.price_unit}{/if}</span></span>
					{/if}
				{/if}
				
				</ins>
				<div class="related_title">{$itemz.link}</div>
					</li>
					{/if}
                    {/pb:product}
		    
			</ul>