<div class="top_title">Tên Gian Hàng</div>
{if $list}
<div class="search-scroll">
<ul class="shop">
    
    <!--{loop $list item level key}-->
        {if $item.shop_name}
            <li onclick="window.location={the_url module=space userid=`$item.cache_spacename`}">
                <img src="{$item.logo}" />
                <h2>
                    <a href="{the_url module=space userid=`$item.cache_spacename`}">
                        {$item.shop_name|strip_tags}
                    </a>
                </h2>
                <p>
                    {$item.name|strip_tags} ({$item.last_name} {$item.first_name})
                </p>
            </li>
        {/if}
    <!--{/loop}-->
</ul>
</div>
{else}
    <div class="no-search-top">Không có gian hàng phù hợp</div>
{/if}