<div id="inboxhome">
<a class="but" href="javascript:void(0)">{lang inbox} </a>{if $Count}<span class="inbox_counter">{$Count}</span>{/if}


    <div id="quick_inbox_content">
	
        <ul>
            {if !$Items}
                <li style="text-align: center">{lang no_message}</li>
            {/if}
            <!--{loop $Items item level key}-->
                <li {if !$item.status}class="unread"{/if}>
                    <img src="{$item.company_logo}" />
                    <!--<p class="title">{$item.title}</p>-->
                    <p class="content">{$item.content}</p>
                    <p class="timeinbox">{$item.created}</p>
                </li>
            <!--{/loop}-->
        </ul>
        <a class="inbox_more inbox_close" href="javascript:void(0)">X {lang close}</a> <a class="inbox_more" href="javascript:void(0)">|</a>
        <a class="inbox_more" href="{$SiteUrl}virtual-office/pms.php">{lang read_more}</a>
    </div>
</div>
<!--{literal}-->
<script>
    
    
    
$('#verytopmenu #quick_inbox_content ul li img').resizecrop({
		   width:40,
		   height:40
		 });

$("#quick_inbox_content ul").mCustomScrollbar({
						autoHideScrollbar:true,
						theme:"light-thin",
						scrollSpeed: 40
					});
                 
$('#quick_inbox_content').css("display","none");
$('#quick_inbox_content').css("visibility","visible");
$("#inboxhome a.but").click(function(e){
		    $('#quick_inbox_content').toggle();
                    e.stopPropagation();
                    clearInbox();
		});
$(".inbox_close").click(function(){
		    $('#quick_inbox_content').css("display","none");
                    getInbox();
		});


                
</script>
<!--{/literal}-->
