



<!--{if $Products}-->
<!--{loop $Products item level key}-->

<div id="list_product_ajax0" class="col_products">
			<ul class="products" {if $k%4 == 3}style="margin-right:0"{/if}>
					
					
					
					
					
					<li class="product ">

	
	<a href="{the_url module=product id=`$item.id`}">

		<div class="space_img_out"><img width="225" height="" src="{$item.thumb}" class="attachment-shop_catalog wp-post-image" alt="683920-1"></div>
		<h3>{$item.name|truncate:60}</h3>

		{if $item.new_price || $item.price}
			{if $item.new_price != "" && $item.new_price != 0}
						<span class="price">{if $item.price}<span class="old_price">{$item.price} <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span> {/if}<span class="amount">{$item.new_price} <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span></span> {if $item.price_note}<span class="noteprice">({$item.price_note})</span>{/if}
			{else}
						<span class="price"><span class="amount">{$item.price} <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span></span>
			{/if}
{/if}

	</a>

	

	<a onclick="getCart({$item.id}, 1, $(this))" href="javascript:void(0)" rel="nofollow" class="add_to_cart_button button product_type_simple">{lang add_to_cart}</a>

</li>
					</ul>
			
			</div>
					{if $k++}{/if}





<!--{/loop}-->
<!--{/if}-->		
					
