    
{if $items}
    {if $items.0.company}
        <div class="company-info">
            <a target="_blank" href="{the_url module=space userid=`$items.0.company.cache_spacename`}">
                <img src="{$items.0.company.logo}" />
            </a>
            <h2>
                <a target="_blank" href="{the_url module=space userid=`$items.0.company.cache_spacename`}">
                    {$items.0.company.shop_name}
                </a>
            </h2>
            <p>{$items.0.company.name}</p>
        </div>
    {/if}
    <div class="box-4items">
        <!--{loop $items item level key}-->
            <div class="box-item {if $key>0}box-right{/if} box-{$key+1}">
                    <div class="stretch_banner">
                        <a target="_blank" href="{$item.target_url}" title="{$item.name}">
                            <img src="{$item.logo}" />
                        </a>
                    </div>
            </div>            
        <!--{/loop}-->        
    </div>
    {if $items.0.name}
        <div class="desc-box">
            <div class="desc-left">
                <h3>{$items.0.name}</h3>
                {$items.0.description}
            </div>
            <div class="desc-right">
                <div class="line line-1">{$items.0.text_line1}</div>
                <div class="line line-1">{$items.0.text_line2}</div>
                <div class="line line-1">
                    <a target="_blank" href="{$items.0.target_url}" title="{$items.0.name}">
                        Vào xem
                    </a>
                </div>
            </div>
        </div>
    {/if}
{/if}
            