{if $industries}
    
    <h3>{$parent.name}</h3>
    <ul>
        <!--{loop $industries item level key}-->
            {if $item.count}
                <li class="item">
                    <a target="_blank" class="link_item" href="{the_url module=products level=2 industryid=`$item.id` title=`$item.name`}">
                        {$item.name}
                    </a>
                    {if $item.children}
                        
                        <ul>
                            <!--{loop $item.children item1 level1 key1}-->
                                <li class="item">
                                    <a target="_blank" class="link_item" href="{the_url module=products level=3 industryid=`$item1.id` title=`$item1.name`}">
                                        {$item1.name}
                                    </a>
                                </li>
                            <!--{/loop}-->
                        </ul>
                    {/if}
                </li>
                {if $item.stt%3 == 2}</ul><ul>{/if}
            {/if}
        <!--{/loop}-->
        </ul><ul>
        <!--{loop $industries item level key}-->
            {if $item.count == 0}
                <li class="item">
                    <a target="_blank" class="link_item" href="{the_url module=products level=2 industryid=`$item.id` title=`$item.name`}">
                        {$item.name}
                    </a>                    
                </li>
                
            {/if}
        <!--{/loop}-->
    </ul>
    
    <br style="clear: both" />
{/if}