<div class="menu_industry_list menu_areas">
    <ul class="toptoptop">
	<li class="level0">
	    <a class="level0" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='hoc-tap'}">
		Trường học
		<i></i>
	    </a>
	    <ul style="display: none">					
		<li class="level1">
		    <a class="level1" href="">
			Môn học
		    </a>
		    <a class="level1" href="">
			Học viên
		    </a>
		</li>
	    </ul>
	</li>
	<li class="level0">
	    <a class="level0" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='thuong-hieu'}">
		Thương hiệu
		<i></i>
	    </a>
	    <ul style="display: none">					
		<li class="level1">
		    <a class="level1" href="">
			Công ty
		    </a>
		    <a class="level1" href="">
			Cá nhân
		    </a>
		    <a class="level1" href="">
			Cửa hàng
		    </a>
		</li>
	    </ul>
	</li>
	<li class="level0">
	    <a class="level0" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='san-pham'}">
		Sản phẩm
	    </a>	    
	</li>
	<li class="level0">
	    <a class="level0" href="">
		Dịch vụ
	    </a>	    
	</li>
	<li class="level0">
	    <a class="level0" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='thuong-mai'}">
		Thương mại
		<i></i>
	    </a>
	    <ul style="display: none">					
		<li class="level1">
		    <a class="level1" href="">
			Nhu cầu mua
		    </a>
		    <a class="level1" href="">
			Nhu cầu bán
		    </a>
		    <a class="level1" href="">
			Nhà phân phối
		    </a>
		    <a class="level1" href="">
			Tìm đối tác
		    </a>
		</li>
	    </ul>
	</li>
	<li class="level0">
	    <a class="level0" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='viec-lam'}">
		Việc làm
	    </a>	    
	</li>
    </ul>
</div>