<div class="scroll-content">
    <ul>
    <!--{loop $list item0 level_0 key0}-->
                <li>
                                  {if true}
                                      <a title="{$item0.name}" class="link_item" href="{the_url id=`$item0.id` module='product'}">
                                        <img alt="{$item0.name}" title="{$item0.name}" src="{$item0.smallimg}" />				    
                                        <!--<title>{$item0.name}</title>-->
                                      </a>
                                  {/if}
                </li>
    <!--{/loop}-->
    </ul>
</div>