<div class="offer_content_inner" style="">
			 
			<div class="left-offerbox">
				<a href="javascript:void(0)">
					{if $Trade.image}<img src="{$Trade.image}" />{/if}
                                        {if $Trade.image1}<img src="{$Trade.image1}" />{/if}
                                        {if $Trade.image2}<img src="{$Trade.image2}" />{/if}
                                        {if $Trade.image3}<img src="{$Trade.image3}" />{/if}
                                        {if $Trade.image4}<img src="{$Trade.image4}" />{/if}					
				</a>
				<span class="next">.</span>
				<span class="previous">.</span>
			</div>
			
			<div class="right-offerbox">
				<div class="member-title">
						
						
			{if $company}
						
					<div class="avatar">
						<a class="pic" target="_blank" href="{$company.url}"><img src="{$company.logo}" /></a>
						<!--{if $pb_username!=""}-->
							<a class="chat_with_owner {if $member.online}online{/if}" onclick="getChatbox({$Trade.member_id}, false)" href="javascript:void(0)">Tin nhắn</a>
						<!--{else}-->
							<a onclick="" href="#login-box" class="chat_with_owner {if $member.online}online{/if} comment_but">Nhắn tin</a>
						<!--{/if}-->
					</div>
					<h2><a target="_blank" href="{$company.url}">{$company.shop_name}</a></h2>
					
					{if $company.link_man}
						<p>
							<label>Liên hệ</label>:
							{$company.link_man}
						</p>
					{/if}
					{if $company.contact_mobile}
						<p>
							<label>Di động</label>:
							{$company.contact_mobile}
						</p>
					{/if}
					{if $company.contact_email}
						<p>
							<label>Email</label>:
							{$company.contact_email}
						</p>
					{/if}
					{if $company.address}
						<p>
							<label>Địa chỉ</label>:
							{$member.address}
						</p>
					{/if}
			{else}
			
						<div class="avatar">
						<img src="{$member.photo}" />
						<a onclick="" href="#login-box" class="chat_with_owner online comment_but">Nhắn tin</a>
					</div>
					<h2>{$member.name}</h2>
					
					{if $member.mobile}
						<p>
							<label>Điện thoại</label>:
							{$member.mobile}
						</p>
					{/if}
					{if $member.email}
						<p>
							<label>Email</label>:
							{$member.email}
						</p>
					{/if}
					{if $member.address}
						<p>
							<label>Địa chỉ</label>:
							{$member.address}
						</p>
					{/if}
			{/if}
						
						
					
						
				</div>
				<br style="clear: both" />
				
				<div class="detail-comments">
					<h4>{lang comments} (<span class="comment_count">{$comments_count}</span>)</h4>
					
					<div class="comments-box">
					
						<div class="comments_list">
							
						</div>
					
						<!--{if $pb_username!=""}-->
							<form name="productaddfrm" class="productaddfrm" id="Frm1" method="post" action="{the_url module=products action=postoffercomment id=`$item.id`}" onsubmit="$('#Save').attr('disabled',true);">
								<img src="{if $pb_company}{$pb_company.image}{else}  {if $user_avatar} {$user_avatar} {else} {$theme_img_path}image/usericon_big.png  {/if} {/if}" />
								<!-- {formhash} -->
								<input type="hidden" id="pid" name="data[id]" value="{$Trade.id}" />
								<textarea id="comment" name="data[content]"></textarea>
								
								<!--<input type="button" id="postcmm" value="{lang send}" onclick="postComment()" />-->
							</form>
						<!--{else}-->
							<form name="productaddfrm" class="productaddfrm" id="Frm1" method="post" action="{the_url module=products action=postoffercomment id=`$item.id`}" onsubmit="$('#Save').attr('disabled',true);">
									<img src="{if $pb_company}{$pb_company.image}{else}  {if $user_avatar} {$user_avatar} {else} {$theme_img_path}image/usericon_big.png  {/if} {/if}" />
									<!-- {formhash} -->
									<input type="hidden" id="pid" name="data[id]" value="{$Trade.id}" />
									<input type="hidden" id="guest_name" name="data[guest_name]" value="" />
									<input type="hidden" id="guest_email" name="data[guest_email]" value="" />
									<input type="hidden" id="guest_isedit" name="guest_isedit" value="0" />
									<textarea id="comment" name="data[content]"></textarea> <span class="guest_info"></span>
							</form>
						<!--{/if}-->
					
					</div>
				</div>
				
				<div class="detail-info">
					<h4>{$Trade.name|truncate:80}</h4>
					<div class="description">
						{$Trade.content}
					</div>
				</div>
			</div>
			 
		</div>

<!--{literal}-->
<script>
	if ($.cookie("guest_name") && $.cookie("guest_email")) {
			$('input[name="box_guest_name"]').val($.cookie("guest_name"));
			$('input[name="box_guest_email"]').val($.cookie("guest_email"));
		}
		if($('input[name="box_guest_name"]').val() != '' && $('input[name="box_guest_name"]').val() != '')
		{
			$('#guest_name').val($('input[name="box_guest_name"]').val());
			$('#guest_email').val($('input[name="box_guest_email"]').val());
			$('.guest_info').html('<strong>'+$('#guest_name').val()+'</strong> ('+$('#guest_email').val()+') | <a class="change_guest_info" href="javascript:void(0)">Chỉnh sửa</a> - <a class="delete_guest_info" href="javascript:void(0)">Thoát</a>');
		}
</script>
<!--{/literal}-->