<div class="chat-outer">
    <div class="chat-box" id="chat-box-{$chatid}" rel="{$chatid}">
	<div class="chat-title">
	    <span class="glyphicon glyphicon-remove chat-close-but">x</span>
	    <span class="chat-min-but glyphicon glyphicon-minus">-</span>
	    <h2><a title="{$chattitle}" rel="{if $type_id == 6}{the_url module=studypost action=memberpage id=`$member.id` title=`$member.fullname`}{else}{the_url module=space userid=`$member.space_name`}{/if}" href="javascript:void(0)" class="{if $member.online}online{/if}">{$chattitle}</a></h2>
	</div>
	<div class="chat-content">
	    <div class="chat-list">
		<ul>
		    <li class="chatloading"></li>
		</ul>
		<div class="notification"></div>
		<div class="typing" style="display: none">		
		    <img width="40" height="40" src="{$member.company_logo}" class="avatar">
		    <span class="emotion">đang viết...</span>
		    <!--{$chattitle} đang viết...-->
		</div>
	    </div>
	    
	</div>
	<div class="chat-form">
	    <a class="emotion-box-but" href="javascript:void(0)">show</a>
	    <a class="glyphicon glyphicon-picture chatimage-box-but" href="javascript:void(0)">image</a>
	    <textarea id="chatboxarea{$chatid}" class="post-content" name="chat[content]"></textarea>
	    
	    
	    <div style="display: none" class="emotion-box emotion"> >:) :)) /:) <):) :)] :) :(( :( ;;) ;) >:D< :D :-SS #:-S :-? >:P :P (:| :| :-/ :-* =(( ~X( B-) :-S =)) O:-) :-B =; 8-| L-) :oo :-$ [-( :O) 8-}
<:-P :x =P~ #-o =D> @-) :^o :-w :-< :-O :> :-c X( :-h 8-> :bd o|^_^|o (y) </div>
	</div>
    </div>
</div>