<!--{include file="`$theme_name`/header.html" page_title="`$IndustryList.name`"}-->
<!--{literal}-->
<style>
  .eleven, .row .eleven {
    width: 100%;
}
</style>
<!--{/literal}-->
<div id="body-wrapper" >
<div id="body-wrapper-padding" class="connect_page">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{literal}-->
<script type="application/x-javascript">
  
	  function pagination(total, p) {
	    page = p;

	    var pages = Math.ceil(total/num_per_page);
		
		var begin = p-10;
		var end = p+10;
		
		if (begin < 0) {
          end = end - begin
		  begin = 1
        }
		
		if (end > pages) {
          begin = begin - (end - pages)
		  end = pages
        }
		
		if (begin < 0) {
		  begin = 1
        }
	    
	    $('.pagination-list').html("");
	    
	    if (pages > 1 && total > 0) {
	      var html = '';
	      	      
	      html += '<ul>';
	      if (page > 1) {
		html += '<li class="first"><a href="javascript:void(0)" rel="1"><<</a></li>'+
			'<li class="prev"><a href="javascript:void(0)" rel="'+(page-1)+'"><</a></li>';
	      }
		  
	      for(var i = begin; i <= end; i++) {
		var active = '';
		if (page == i) {
		  active = ' active';
		}
		html += '<li class="num'+active+'"><a href="javascript:void(0)" rel="'+i+'">'+i+'</a></li>';
	      }
	      
	      if (page < pages) {
		html += '<li class="next"><a href="javascript:void(0)" rel="'+(page+1)+'">></a></li>'+
			'<li class="last"><a href="javascript:void(0)" rel="'+(pages)+'">>></a></li>';
	      }
	      
	      html += '</ul>';
	      
	      $('.pagination-list').html(html);
	      
	      $('.pagination-list ul li a').click(function(){
		ajaxListProductPage(getFilterProducts(),parseInt($(this).attr("rel")));
	      });
	    }
	  }
  
	  function ajaxLoadMenu(id, level, item) {
	    //code
	    //$('h1.page-title').html(item.html());
	    if(item) item.parent().parent().find("li").removeClass('active');
	    if(item) item.parent().addClass('active');
	    $.ajax({
			url: "index.php?do=product&action=ajaxLoadMenuConnect&industryid="+id,			
		}).done(function ( data ) {
			if( console && console.log ) {
			  
			  if(item) $('h1.page-title').html(item.html());
			  
				$('.product_list_title').html($(data).filter('#mapp').html());
				
				
				
				$('.product_list_title a').eq(0).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '2', $(this));
				});
				$('.product_list_title a').eq(1).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));
				});
				$('.product_list_title a').eq(2).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '4', $(this));
				});
				
				$('.product_list_title a').click(function() {

						  industryid = $(this).attr('rel');
						  
						  if (industryid) {
						      //getFilterProducts() in custom.js
						      resetKeyword();
						      ajaxListProduct(getFilterProducts());
						  }
						 
				});
				//alert("aaaa");
				//alert(data);
				if(typeof($(data).filter('ul').html()) != 'undefined' || true)
				{
				    var levelx = level;
				    $('.parent-menu-title').html("<a>"+$('.product_list_title parent').html()+"</a>");
				    if(typeof($(data).filter('ul').html()) == 'undefined')
				    {
				      levelx = level - 1;
					  $('.parent-menu-title').html("<a>"+$('.product_list_title a').eq(levelx-2).html()+"</a>");
				    }
				      if (industryid == 0) {
					$('.parent-menu-title').html("<a href='javascript:void(0)'>Danh mục sản phẩm</a>");
					//$('.product_list_title').html(" / Tìm kiếm");
				      }
				    
				  if (levelx == '2') {
				    $('.s-scroll').animate({ marginLeft: '-240px' }, 500);
				  }
				  else if (levelx == '3') {				    
				    $('.s-scroll').animate({ marginLeft: '-480px' }, 500);
				  }
				  else if (levelx == '4') {
				    $('.s-scroll').animate({ marginLeft: '-720px' }, 500);
				  }
				    
				    
				    $('.box-level'+level).html(data);
				    $('.box-level'+level).mCustomScrollbar({
					    autoHideScrollbar:true,
					    theme:"light-thin"
				    });
				    
				    $('.box-level'+level+' ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), parseInt(level)+1, $(this));				      
				    });
				    
				    $('.box-level'+level+' ul.menu li a').click(function() {
						  
						  industryid = $(this).attr('rel');
						  
						  
						  if (industryid) {
						     //getFilterProducts() in custom.js
						     resetKeyword();
						    ajaxListProduct(getFilterProducts());
						  }
						 
				    });
				}				
			}
		});
	  }
   
	function getMinHeight() {
	  
	    //for offer
	    if (offer) {
	      return 0;
	    }
	  
	    //code
	    var min =  $('#list_product_ajax0').height();
	    var it = 0;
	    for (var j=1; j < 3; j++) {
	       if ($('#list_product_ajax'+j).height() < min) {
			  min = $('#list_product_ajax'+j).height();
			  it = j;
	       }				    
	    }
	    return it;
	}
	 
	function ajaxListProduct(filter) {
	      if ($(window).scrollTop() > 253) $("html, body").animate({ scrollTop: 253 }, "slow");
	  
		$('.product_list_loading').height($('.product_listing').height());
		$('.product_list_loading').css("display", "block");
		$.ajax({
			url: "index.php?do=product&leftbar=1&action=listAjax"+filter+"&pos_pg="+((1-1)*num_per_page)+"&num_per_page="+num_per_page,
			beforeSend: function ( xhr ) {
				//xhr.overrideMimeType("text/plain; charset=x-user-defined");
				$('#list_product_ajax').html('<div class="loading">'+$('#loading').html()+'</div>');
			}
		}).done(function ( data ) {
			if( console && console.log ) {
				for (var j=0; j < 5; j++) {
				    $('#list_product_ajax'+j+' ul').html("");
				}
				for (var i=0; i < num_per_page; i++) {
				    var pos = i%3;
				    
				    $('#list_product_ajax'+pos+' ul').append($(data).filter(".products_"+i).html());
				}
				
				pos_pg = nnum_pp_page;
				$('.product_list_loading').css("display", "none");
				
				
				if(!scroll) scroll = true;
				
				$('.product_listing ul.products li.product img').load(function() {
				  $(this).parent().css("height", $(this).parent().height());
				});
				
				pagination(parseInt($(data).filter(".total-count").html()), 1);
				
				
				if (offer && first_offer) {
				  $('.offer_transform ul.products li.product img').live('click', function() {
				
				    getOfferDetail($(this).parent().parent().parent().attr("rel"),0);
				  
				  });
				  $('.offer_transform ul.products li.product h3 a').live('click', function() {
				
				    getOfferDetail($(this).parent().parent().parent().attr("rel"),0);
				  
				  });
				  first_offer =  0;
				}
				
				
				$('a,img').qtip({ // Grab some elements to apply the tooltip to
				    content: {
					attr: 'title'                        
				    },
				    position: {
					target: 'mouse', // Track the mouse as the positioning target
					adjust: { x: 10, y: 25 } // Offset it slightly from under the mouse
				    }
				})
				
				$('.paging_col_ajax ul.products li.boxcols img').resizecrop({
					width:275,
					height:275
				});
			}
		});
	}
	
	 function resetFilter(args) {
	    //$('#ProductName').val("");
	    $('#dataProductIndustryId1').val(0);
	    $('#dataProductIndustryId2').val(0);
	    $('#dataProductIndustryId3').val(0);
	    $('#dataProductIndustryId4').val(0);
	    service = 0;
	    
	    //for other product
	    other = 0;
	    
	    //for sale
	    sale = 0;
	    
	    //for offer
	    offer = 0;
	    $('.col_products ul').html("");
	    $('.product_listing').removeClass("offer_transform");
	    ///////////////
	    
	 }
	
	function ajaxListProductScroll(filter) {
	  
		$.ajax({
			url: "index.php?do=product&leftbar=1&action=listAjax"+filter,
		}).done(function ( data ) {
			if( console && console.log ) {
				//console.log("Sample of data:", data.slice(0, 200));
				//alert(data);
				//$('#list_product_ajax').append(data);
				for (var i=0; i < num_per_page; i++) {
				    var pos = i%3;
				    $('#list_product_ajax'+getMinHeight()+' ul').append($(data).filter(".products_"+i).html());
				    //alert(getMinHeight());
				}
				startscroll = true;
				pos_pg += nnum_pp_page;
				
				$('.product_listing ul.products li.product img').load(function() {
				    $(this).parent().css("height", $(this).parent().height());
				});
				
				$('a,img').qtip({ // Grab some elements to apply the tooltip to
				    content: {
					attr: 'title'                        
				    },
				    position: {
					target: 'mouse', // Track the mouse as the positioning target
					adjust: { x: 10, y: 25 } // Offset it slightly from under the mouse
				    }
				})
				
				$('.paging_col_ajax ul.products li.boxcols img').resizecrop({
					width:275,
					height:275
				});
			}
		});
	}
	
	function ajaxListProductPage(filter,page) {
		$('.product_list_loading').height(300);
		$('.product_list_loading').css("display", "block");
		if ($(window).scrollTop() > 253) $("html, body").animate({ scrollTop: 253 }, "slow");
		$.ajax({
			url: "index.php?do=product&leftbar=1&action=listAjax"+filter+"&pos_pg="+((page-1)*num_per_page)+"&num_per_page="+num_per_page,
		}).done(function ( data ) {
			if( console && console.log ) {
				//console.log("Sample of data:", data.slice(0, 200));
				//alert(data);
				pagination(parseInt($(data).filter(".total-count").html()), page);
				$('.product_list_loading').css("display", "none");
				
				$('.col_products ul').html("");
				for (var i=0; i < num_per_page; i++) {
				    var pos = i%3;
				    $('#list_product_ajax'+pos+' ul').append($(data).filter(".products_"+i).html());
				    //alert(getMinHeight());
				}
				startscroll = true;
				pos_pg += nnum_pp_page;
				
				$('.product_listing ul.products li.product img').load(function() {
				    $(this).parent().css("height", $(this).parent().height());
				});
				
				$('a,img').qtip({ // Grab some elements to apply the tooltip to
				    content: {
					attr: 'title'                        
				    },
				    position: {
					target: 'mouse', // Track the mouse as the positioning target
					adjust: { x: 10, y: 25 } // Offset it slightly from under the mouse
				    }
				})
				
				$('.paging_col_ajax ul.products li.boxcols img').resizecrop({
					width:275,
					height:275
				});
			}
		});
	}
	
	var industryid = 0;
	var service = 0;
	
	//for other product
	var other = 0;
	
	//for sale
	var sale = 0;
	
	//for offer
	var offer = 0;
	var first_offer = 1;
	
	var orderby = 'dateline';
	var scroll = false;
	
	var page = 1;
	var num_per_page = 30;
	$(document).ready(function() {
	  
	  if ($('#aq-block-5').height())
	    pos_searchlist = $('#aq-block-5').height() + 440;
	  else
	    pos_searchlist = 250;
	       
	      {/literal}{if $smarty.get.level == 'search'}{literal}
		orderby = 'all';
		industryid = <!--{/literal}-->{$IndustryList.id}<!--{literal}-->;
		ajaxListProductPage(getFilterProducts(),1);
	      {/literal}{else}{literal}
		//Init level 4
		$(".hotnewlist").removeClass("active");
		$('#new_product_but').addClass("active");
		industryid = <!--{/literal}-->{$IndustryList.id}<!--{literal}-->;
		ajaxListProductPage(getFilterProducts(),1);
	      {/literal}{/if}{literal}
	      
	      
	      ajaxLoadMenu(<!--{/literal}-->{$IndustryList.id}, {$p_level+1}<!--{literal}-->, null)
	 
		$('#hot_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'favourite';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#new_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#new_service_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			service = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#recentbuy_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			
			ajaxListProduct("");
		});
		
		//for other product
		$('#other_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			other = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		//for offer
		$('#new_offer_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
			
			
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		
		//for sale
		$('#sale_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			sale = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#search_list_but').click(function() {
			ajaxListProduct(getFilterProducts());
		});
		
				    $('.box-level2 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));				      
				    });
				    
				    $('.box-level3 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '4', $(this));				      
				    });
				    
				    $('.box-level4 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '5', $(this));
				    });

		
		$('.box-scroll ul.menu li a.item').click(function() {
			industryid = $(this).attr('rel');
			
			if (industryid) {
			    //getFilterProducts() in custom.js
			    resetKeyword();
			    ajaxListProduct(getFilterProducts());
			}
		});
		
		$('a.all_p').click(function() {
		    industryid = 0;
		    
		    resetKeyword();
		    
		    $('.box-scroll ul li').removeClass('active');
			
		    $('span.product_list_title').html("");
		    
		    //getFilterProducts() in custom.js
		    ajaxListProduct(getFilterProducts());
		    
		    $('.s-scroll').animate({ marginLeft: '0px' }, 200);
		    
		    $('.parent-menu-title').html("<a href='javascript:void(0)'>Danh mục sản phẩm</a>");
		});
		
		$('.box-level1 ul li a.item').click(function() {		
		  ajaxLoadMenu($(this).attr("rel"), '2', $(this));	 
		  
		});
		
		$(".box-level1").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level2").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level3").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level4").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
				
		$('.parent-menu-title').live("click",function() {
		  industryid = $(this).find("a").attr('rel');
		  $('.connect_menu .menu li a[rel='+industryid+']').trigger("click");
		});
		$('.widget ul.menu li.liback').live("click", function(){
		  if($('.product_list_title a').length)
		  {
		    $('.product_list_title a').last().trigger("click");
		  }
		  else
		  {
		    $('a.all_p').trigger("click");
		  }
		});		
	});
	
	
	var startscroll = true;
	var nnum_pp_page = 15;
	var pos_pg = nnum_pp_page;
	

	$(document).scroll(function(){		
		if(($(document).height()-$(window).height()-$(document).scrollTop()) < 1000){
			if (startscroll && scroll) {
				startscroll = false;
				//code
				console.log('Scrolled to bottom');
				//ArticleList.loadMoreArticles();
				//alert("end");
				
				
				//ajaxListProductScroll(getFilterProducts()+"&pos_pg="+pos_pg);		
			}
		
		} else {
		    //console.log('Scroll '+$(document).height()+' - '+$(window).height()+' - ' +$(document).scrollTop());
		}
	});	
	
</script>
   

<!--{/literal}-->

<!--{include file="`$theme_name`/topmenu.html"}-->




      
      {if $IndustryList.count && false}
  
<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title">

    <div class="super-main-category mainproductpage">
		<div class="show-but">
			Chuyên mục chính
			
		</div>
		<a href="{if $item.service}{the_url module='service_main'}{else}{the_url module='product_main'}{/if}" class="show-but current-but {if $item.service}service{else}product{/if}">
			.			
		</a>
		<br style="clear:both" />
		<div class="main-cat-content-out">
			<span class="pointer_topmenuz">.</span>
			<div class="main-cat-content"></div>
		</div>
	</div>

    <h1 class="page-title">{$IndustryList.name}</h1>

    <div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a><span class="delim">/</span><a href="index.php?do=product&level=1&industryid={$IndustryList.level0_id}">{$IndustryList.level0_name}</a><span class="delim">/</span><a href="index.php?do=product&level=2&industryid={$IndustryList.level1_id}">{$IndustryList.level1_name}</a><span class="delim">/</span>{$IndustryList.name} </div>
    
  </div>

  
  </div>
</div>
  
  
  
<div class="row">
  
 <div id="aq-block-5" style="padding: 0 12px;" class="aq-block aq-block-aq_recent_block fifteen columns aq-first cf">
  <div id="recent" class="section-block clearing-container" style="height: auto">
        
   

    <div class="works-list xxsmall">
        <ul class="filterable-grid" style="height: auto">
            
		<!--{loop $IndustryList.sub item0 level_0 key0}-->
		    
		    <li class="item" data-id="id-1" data-type="dentity motion sites web-design ">
			<div class="{$item0.size} odd">
			    <div class="pic">
				
				{if $item0.images != ""}					
					<img {if $item0.size == "large"} width="390" height="180" {else} width="193" height="180" {/if} src="{$item0.images.0}" style="margin:0 0;" alt="{$item0.name}" title="{$item0.name}" >
                                {else}
					<img src="{if $item0.size == "large"}http://theme.crumina.net/onetouch/wp-content/uploads/2012/12/tumblr_m6p161c56j1qdq19eo1_1280-390x180.jpg{else}http://theme.crumina.net/onetouch/wp-content/uploads/2012/11/tumblr_m3yj7gRlDS1qdq19eo1_1280-193x180.jpg{/if}" style="margin:0 0;" alt="{$item0.name}" title="{$item0.name}" >
					
				{/if}
				
			    
			    
			    </div>
			    <div class="description">
				<div class="title">
				    <!--<time>{lang category}</time>-->
				    <h4>{$item0.name}</h4>
				</div>
			    </div>
			    <a href="index.php?do=product&level=4&industryid={$item0.id}"></a>
			</div>
		    </li>
		  		     
		<!--{/loop}-->
                                            
        </ul>
    </div>
    </div>

    <!--{literal}-->
    <script type="text/javascript">
        /*-----------------------------------------------------------------------------------

           Custom JS - All front-end jQuery

      -----------------------------------------------------------------------------------*/

        jQuery(document).ready(function($) {

            function portfolio_quicksand() {

                // Setting Up Our Variables
                var $filter;
                var $container;
                var $containerClone;
                var $filterLink;
                var $filteredItems

                // Set Our Filter
                $filter = $('.filter li.active a').attr('class');

                // Set Our Filter Link
                $filterLink = $('.filter li a');

                // Set Our Container
                $container = $('ul.filterable-grid');

                // Clone Our Container
                $containerClone = $container.clone();

                // Apply our Quicksand to work on a click function
                // for each for the filter li link elements
                $filterLink.click(function(e)
                {
                    // Remove the active class
                    $('.filter li').removeClass('active');

                    // Split each of the filter elements and override our filter
                    $filter = $(this).attr('class').split(' ');

                    // Apply the 'active' class to the clicked link
                    $(this).parent().addClass('active');

                    // If 'all' is selected, display all elements
                    // else output all items referenced to the data-type
                    if ($filter == 'all') {
                        $filteredItems = $containerClone.find('li');
                    }
                    else {
                        $filteredItems = $containerClone.find('li[data-type~=' + $filter + ']');
                    }

                    // Finally call the Quicksand function
                    $container.quicksand($filteredItems,
                            {
                                // The Duration for animation
                                duration: 750,
                                // the easing effect when animation
                                easing: 'easeInOutQuad'
                                // height adjustment becomes dynamic

                            });

                    //Initalize our PrettyPhoto Script When Filtered
                    $container.quicksand($filteredItems,
                            function () { lightbox(); }
                    );
                });
            }

            if(jQuery().quicksand) {
                portfolio_quicksand();
            }


        }); // END OF DOCUMENT
    </script>
    <!--{/literal}-->
    
    </div>
 
 
</div>
{/if}





<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title" class="connect_ptitle" style="padding-left: 110px;">

    <div class="super-main-category mainproductpage">
		<div class="show-but">
			Chuyên mục chính
			
		</div>
		<a href="{if $smarty.get.action == "services"}{the_url module='service_main'}{else}{the_url module='product_main'}{/if}" class="show-but current-but {if $smarty.get.action == "services"}service{else}product{/if}">
			.			
		</a>
		<br style="clear:both" />
		<div class="main-cat-content-out">
			<span class="pointer_topmenuz">.</span>
			<div class="main-cat-content"></div>
		</div>
	</div>
    
    
    <div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a></div>

    <h1 class="page-title">{$IndustryList.name}</h1>
    
  </div>

  </div>
</div>

    
<div class="row" style="height: 45px;">
  
        
                <div id="SearchList" class="connect_searchx" style="padding-left: 10px;position: absolute;top: 250px;">
	    <div  class="follow-scrollz">
      
        <input id="search_list_but" type="submit" value="{lang search}" />

        <div id="dataIndustry" style="display: none">
	    <select name="industry[id][4]" id="dataProductIndustryId1" class="level_4" ></select>
	    <select name="industry[id][3]" id="dataProductIndustryId3" class="level_3" ></select>	    
	    <select name="industry[id][2]" id="dataProductIndustryId2" class="level_2"></select>
	    <select name="industry[id][1]" id="dataProductIndustryId1" class="level_1" ></select>
	</div>
	
        <!--<label>{lang industry}&nbsp;&nbsp;</label>-->
        <input type="text" id="ProductName" name="q" value="{$keyword}" placeholder="Tìm kiếm (nhập tên, mã sản phẩm/dịch vụ)" />
	
	<h5><a href="javascript:void(0)" class="all_p"><span class="cat_title">Danh mục sản phẩm</span></a> <span class="product_list_title">
	  
	  
	</span></h5>
	
	<section style="background: none; width: 230px" class="widget-1 widget-first widget widget_nav_menu widget_recent_products nav-products-menu connect_menu" id="nav_menu-2">
	  <div class="widget-inner">
	   
	    <ul class="menu" id="menu-features-list" style="display: none">
	      
	      <!--{loop $IndustryList item0 level_0 key0}-->
		  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954" id="menu-item-954">
		    <a class="menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
		      {$item0.name}
		    </a>
		    {if $item0.sub}
		      <ul>
			<!--{loop $item0.sub level1 level_1_industry key_level1}-->
			  <li><a class="menu_lvl2" rel="{$level1.id}" content="<a rel='{$item0.id}' content='{$item0.name}' href='javascript:void(0)'>{$item0.name}</a> / {$level1.name}" href="javascript:void(0)">{$level1.name}</a>
			    {if $level1.sub}
			      <ul>
				<!--{loop $level1.sub level2 level_2_industry key_level2}-->
				  <li><a class="menu_lvl3" rel="{$level2.id}" content="<a rel='{$item0.id}' href='javascript:void(0)' content='{$item0.name}'>{$item0.name}</a> / <a rel='{$level1.id}' content='<a rel=&quot;{$item0.id}&quot; href=&quot;javascript:void(0)&quot; content=&quot;{$item0.name}&quot;>{$item0.name}</a> / {$level1.name}' href='javascript:void(0)'>{$level1.name}</a> / {$level2.name}" href="javascript:void(0)">{$level2.name}</a></li>
				<!--{/loop}-->
				<!--{if $level1.sub}--><li><a class="mback bmenu_lvl3" href="javascript:void(0)" back-id="{$item0.id}">{lang back}</a></li><!--{/if}-->
			      </ul>
			    {/if}
			  </li>
			<!--{/loop}-->
			<li class=""><a class="mback bmenu_lvl2" href="javascript:void(0)">{lang back}</a></li>
		      </ul>
		    {/if}
		  </li>
	      <!--{/loop}-->
	      
</ul>
	    
	    
	    
	    
	  
	  </div>
	
	
	</section>
	
	
        </div>
    </div>
		
		
</div>
  
  
<div class="row" id="containerz">
  <aside id="left-sidebar" class="four columns follow-scroll connect_menu">
   
    
    
	<div class="box-scroll connect_menu widget">
	      <div class="parent-menu-title">
		
	      </div>
	      <div class="s-scroll">
	      <div class="box-level1">
		<ul class="menu" id="menu-features-list">
		  <!--{loop $IndustryList.box1 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level0_id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=products level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		</ul>
	      </div>
	    
	      <div class="box-level2">
		    <ul class="menu">
			<!--{loop $IndustryList.box2 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level1_id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=products level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	      <div class="box-level3">
		    <ul class="menu">
				<!--{loop $IndustryList.box3 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=products level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	      <div class="box-level4">
		    <ul class="menu">
				<!--{loop $IndustryList.box4 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=products level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	    </div>
	    </div>
	
	
	<section style="display: none" id="recent_products-3" class="widget-3 widget-last widget widget_recent_products ">
                <div class="widget-inner">
                    <h3>{lang friend_links}</h3>

				<ul>
					<!--{loop $Friends spacelink spacelink}-->
					<li><a href="space/?userid={$spacelink.username}&do=" target="_blank">{$spacelink.username}</a></li>
					<!--{/loop}-->
				</ul>

		</div></section>
   
   
  </aside>
  
  <div id="content" class="eleven columns" style="margin-top: -16px">
    <div id="main">

      
      <div class="page-title">

    
    <div class="subtitle loplo" style="margin-top: 8px;">
        {lang product_list}    </div>
    <h1 style="font-size: 18px;margin: 0;padding-top: 0px;" class="page-titlez mainhotnew">
      <a id="new_product_but" class="hotnewlist" href="javascript:void(0)">{lang new_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <!-- for sale -->
      <a id="sale_product_but" class="hotnewlist" href="javascript:void(0)">Giảm giá/Khuyến mãi</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
      
      <a id="hot_product_but" class="hotnewlist" href="javascript:void(0)">{lang hot_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <!-- for other -->
      <a id="other_product_but" class="hotnewlist" href="javascript:void(0)">{lang other_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <!--<a id="new_service_but" class="hotnewlist" href="javascript:void(0)">{lang services}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      <!-- for offer -->
      <!--<a id="new_offer_but" class="hotnewlist" href="javascript:void(0)">{lang raovat}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      
      <!--<a id="recentbuy_product_but" class="hotnewlist" href="#list">{lang recent_buy}</a>-->
      
      </h1>


<div class="postitem">
	<!--{include file="`$theme_name`/_postitems.html"}-->
      </div>
    
    
  </div>
      
      {if $smarty.get.level == 'search'}
	<h4 class="keyword_header">{$IndustryList.name}</h4>
      {/if}

	  
	  <br class="clear" />
      
      <!--<div class="pagination-list"></div>-->
      
      <div class="product_listing level4 product_listing4">
	<div class="product_list_loading">
	  <img src="{$theme_img_path}/image/loading.gif" />
	</div>
      
      <!-- list ajax product -->
			<div id="list_product_ajax0" class="col_products paging_col_ajax">
			<ul class="products">
			   

			</ul>
			
			</div>
			<div id="list_product_ajax1" class="col_products paging_col_ajax">
			  <ul class="products">
			  
			   
			  </ul>
			   
			   
			</div>
			<div id="list_product_ajax2" class="col_products paging_col_ajax">
			   
			   <ul class="products">
			   
			   </ul>
			</div>

			
			<!--div id="list_product_ajax3" class="col_products">
			   <ul class="products">
			   
			   
			   
			   </ul>
			   
			   
			</div>
			
			<div id="list_product_ajax4" class="col_products">
			   <ul class="products">
			   
			   
			  
			   </ul>
			   
			   
			</div>-->
			
		
		<div class="clear"></div>

      </div>
      
      <div class="pagination-list"></div><br style="clear:both" /><br />
      
      
    </div>
  </div>
</div>
  
  


  




  
  

  
</div></div>

  </div>

<script>
var cache_path = "";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
var industry_id1 = {$item.industry_id1|default:0} ;
var industry_id2 = {$item.industry_id2|default:0} ;
var industry_id3 = {$item.industry_id3|default:0} ;
</script>
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<script src="scripts/script_industry.js"></script>

<!--{include file="`$theme_name`/footer.html"}-->


















