<html>
    
    <head>
        <meta charset="utf-8">
    </head>
    
    <body>
        <form method="post" action="">
            
            <label>Điều kiện lớn hơn:</label>
            <input name="condition_more" />
            <label>Điều kiện nhỏ hơn:</label>
            <input name="condition_less" />
            <label>Số cộng thêm:</label>
            <input name="addnumber" />
            <label>Chẵn:</label>
            <input type="checkbox" name="chan" value="1" />
            <label>lẻ:</label>
            <input type="checkbox" name="le" value="1" />
            
            <input type="submit" value="Thực hiện" />
        </form>
    </body>
</html>