<!--{include file="`$theme_name`/header.html" page_title="`$_nventory`"}-->
<!--{literal}-->
<style>
  .eleven, .row .eleven {
    width: 100%;
}
</style>
<!--{/literal}-->
<div id="body-wrapper" >
<div id="body-wrapper-padding" class="connect_page">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{literal}-->
<script type="application/x-javascript">
  
  //for offer
	  function getOfferDetail(id)
	  {
	    
	    $('.offer_transform ul.products li.product[rel="'+id+'"]').addClass('loading');
	    
	    $('.offerbox-outer').html("<div class='offer-loading'>.</div>");
	    $("#offerbox-but").trigger("click");
	    
	      $.ajax({
			url: "index.php?do=product&action=getOfferDetail&id="+id			
		}).done(function ( data ) {
			if( console && console.log ) {
				//alert(data);
				
				$('.offerbox-outer').html(data);
				
				  //$("#offerbox-but").trigger("click");
				  
				  //for offer album
				  $('.left-offerbox a img').css("display", "none");
				  $('.left-offerbox a img').eq(0).addClass("active");
				  
				  $('.offer_content_inner .left-offerbox span.next').click(function() {
				    $('.left-offerbox a img').each(function() {
				      if ($(this).hasClass("active")) {				     
					$(this).removeClass("active");
					if ($(this).next().length) {
					  $(this).next().addClass("active");
					}
					else
					{
					  $('.left-offerbox a img').eq(0).addClass("active");
					}					
					return false;
				      }
				    });
				  });
				  $('.offer_content_inner .left-offerbox span.previous').click(function() {
				    $('.left-offerbox a img').each(function() {
				      if ($(this).hasClass("active")) {				     
					$(this).removeClass("active");
					if ($(this).prev().length) {
					  $(this).prev().addClass("active");
					}
					else
					{
					  $('.left-offerbox a img:last-child').addClass("active");
					}					
					return false;
				      }
				    });
				  });
				  
				  $('.left-offerbox a').click(function() {
				    $('.offer_content_inner .left-offerbox span.next').trigger("click");
				  });
				  
				  $('.offer_content_inner .right-offerbox .member-title img').resizecrop({
				    width:87,
				    height:87
				  });
				  
				  $('.offer_transform ul.products li.product[rel="'+id+'"]').removeClass('loading');
			}
		});
	  }
  
	  function ajaxLoadMenu(id, level, item) {
	    //code
	    if(item) item.parent().parent().find("li").removeClass('active');
	    if(item) item.parent().addClass('active');
	    $.ajax({
			url: "index.php?do=product&action=ajaxLoadMenuConnect&industryid="+id,			
		}).done(function ( data ) {
			if( console && console.log ) {
			  
				$('.product_list_title').html($(data).filter('#mapp').html());
				
				
				$('.product_list_title a').eq(0).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '2', $(this));
				});
				$('.product_list_title a').eq(1).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));
				});
				$('.product_list_title a').eq(2).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '4', $(this));
				});
				
				$('.product_list_title a').click(function() {

						  industryid = $(this).attr('rel');
						  
						  if (industryid) {
						      var ff = "&orderby="+orderby;
						      if($('#ProductName').val()) ff += "&q="+$('#ProductName').val();
						      
						      //for offer
						      if(offer != 0) ff += "&type=offer";
						      
						      if(industryid != 0) ff += "&industryid="+industryid;
						      
						      ajaxListProduct(ff);
						  }
						 
				});
				
				//alert(data);
				if(typeof($(data).filter('ul').html()) != 'undefined')
				{
				    
				    
				    
				    
				  if (level == '2') {
				    $('.s-scroll').animate({ marginLeft: '-240px' }, 500);
				  }
				  else if (level == '3') {				    
				    $('.s-scroll').animate({ marginLeft: '-480px' }, 500);
				  }
				  else if (level == '4') {
				    $('.s-scroll').animate({ marginLeft: '-720px' }, 500);
				  }
				    
				    
				    $('.box-level'+level).html(data);
				    $('.box-level'+level).mCustomScrollbar({
					    autoHideScrollbar:true,
					    theme:"light-thin"
				    });
				    
				    
				    $('.box-level2 ul li a.mback').click(function() {
				      $('.s-scroll').animate({ marginLeft: '0px' }, 500);
				    });
				    
				    $('.box-level3 ul li a.mback').click(function() {
				      $('.s-scroll').animate({ marginLeft: '-240px' }, 500);
				    });
				    
				    $('.box-level4 ul li a.mback').click(function() {
				      $('.s-scroll').animate({ marginLeft: '-480px' }, 500);
				    });
				    				    
				    $('.box-level'+level+' ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));				      
				    });
				    
				    
				    $('.box-level'+level+' ul.menu li a').click(function() {

						  industryid = $(this).attr('rel');
						  
						  if (industryid) {
						      var ff = "&orderby="+orderby;
						      if($('#ProductName').val()) ff += "&q="+$('#ProductName').val();
						      if(industryid != 0) ff += "&industryid="+industryid;
						      if(service != 0) ff += "&type=service";
						      
						      //for offer
						      if(offer != 0) ff += "&type=offer";
						      
						      ajaxListProduct(ff);
						  }
						 
				    });
				}
			}
		});
	  }
   
	function getMinHeight() {
	  
	    //for offer
	    if (offer) {
	      return 0;
	    }
	  
	    //code
	    var min =  $('#list_product_ajax0').height();
	    var it = 0;
	    for (var j=1; j < 3; j++) {
	       if ($('#list_product_ajax'+j).height() < min) {
		  min = $('#list_product_ajax'+j).height();
		  it = j;
	       }				    
	    }
	    return it;
	}
	 
	function ajaxListProduct(filter) {
	      if ($(window).scrollTop() > 305) $("html, body").animate({ scrollTop: 305 }, "slow");
	  
	      $('.product_list_loading').height($('.product_listing').height());
		$('.product_list_loading').css("display", "block");
		$.ajax({
			url: "index.php?do=product&action=listAjax"+filter,
			beforeSend: function ( xhr ) {
				//xhr.overrideMimeType("text/plain; charset=x-user-defined");
				$('#list_product_ajax').html('<div class="loading">'+$('#loading').html()+'</div>');
			}
		}).done(function ( data ) {
			if( console && console.log ) {
				//console.log("Sample of data:", data.slice(0, 200));
				//alert($(data).filter(".products_0").html());
				//$('#list_product_ajax').html(data);
				//alert(data);
				for (var j=0; j < 5; j++) {
				    $('#list_product_ajax'+j+' ul').html("");
				}
				for (var i=0; i < 15; i++) {
				    var pos = i%3;
				    
				    $('#list_product_ajax'+getMinHeight()+' ul').append($(data).filter(".products_"+i).html());
				}
				
				pos_pg = 15;
				$('.product_list_loading').css("display", "none");
				
				
				//for offer
				$('.offer_transform ul.products li.product img').not('.offer_transform ul.products li.product span img').resizecrop({
				  width:150,
				  height:120
				});
				
				if (offer && first_offer) {
				  $('.offer_transform ul.products li.product img').live('click', function() {
				
				    getOfferDetail($(this).parent().parent().parent().parent().attr("rel"),0);
				  
				  });
				  $('.offer_transform ul.products li.product h3 a').live('click', function() {
				
				    getOfferDetail($(this).parent().parent().parent().attr("rel"),0);
				  
				  });
				  first_offer =  0;
				}
				
			}
		});
	}
	
	 function resetFilter(args) {
	    $('#ProductName').val("");
	    $('#dataProductIndustryId1').val(0);
	    $('#dataProductIndustryId2').val(0);
	    $('#dataProductIndustryId3').val(0);
	    $('#dataProductIndustryId4').val(0);
	    
	    //for offer
	    offer = 0;
	    $('.col_products ul').html("");
	    $('.product_listing').removeClass("offer_transform");
	    ///////////////
	 }
	
	function ajaxListProductScroll(filter) {
	  
		
	  
		$.ajax({
			url: "index.php?do=product&action=listAjax"+filter,
		}).done(function ( data ) {
			if( console && console.log ) {
				//console.log("Sample of data:", data.slice(0, 200));
				//alert(data);
				//$('#list_product_ajax').append(data);
				for (var i=0; i < 15; i++) {
				    var pos = i%3;
				    $('#list_product_ajax'+getMinHeight()+' ul').append($(data).filter(".products_"+i).html());
				    //alert(getMinHeight());
				}
				startscroll = true;
				pos_pg += 15;
				
				
				//for offer
				$('.offer_transform ul.products li.product img').not('.offer_transform ul.products li.product span img').resizecrop({
				  width:150,
				  height:120
				});
				
			}
		});
	}
	
	var industryid = 0;
	var orderby = 'dateline';
	var service = 0;
	
	//for offer
	var offer = 0;
	var first_offer = 1;
	
	$(document).ready(function() {
	  
	  pos_searchlist = 267;
	       
	      //Init level 4
	       $(".hotnewlist").removeClass("active");
	       $('#new_product_but').addClass("active");
	       industryid = <!--{/literal}-->{$IndustryList.id}<!--{literal}-->;
	       
	      var ff = "&orderby="+orderby;
	      if(industryid != 0) ff += "&industryid="+industryid;
	      ajaxLoadMenu(<!--{/literal}-->{$IndustryList.id}<!--{literal}-->, 4, null)
	      $('.s-scroll').animate({ marginLeft: '-720px' }, 200);
	      $('.box-level4 ul li a.mback').click(function() {
		$('.s-scroll').animate({ marginLeft: '-480px' }, 200);
	      });
	      
	      //for offer
	      if(offer != 0) ff += "&type=offer";
	      
	      ajaxListProduct(ff);
	      
	 
	 
	 
	 
		$('#hot_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'favourite';
			if(industryid != 0) orderby += "&industryid="+industryid;
			
			ajaxListProduct("&orderby="+orderby);
		});
		
		$('#new_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			if(industryid != 0) orderby += "&industryid="+industryid;
			
			ajaxListProduct("&orderby="+orderby);
		});
		
		$('#recentbuy_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			
			ajaxListProduct("");
		});
		
		//for offer
		$('#new_offer_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			if(industryid != 0) orderby += "&industryid="+industryid;
			ajaxListProduct("&type=offer&orderby="+orderby);
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		
		$('#search_list_but').click(function() {
			
			//get industry select
			//if ($('#dataProductIndustryId3').val() != "0") {
			//	//code
			//	industryid = $('#dataProductIndustryId3').val();
			//	//alert("dsds");
			//} else if ($('#dataProductIndustryId2').val() != "0") {
			////code
			//	industryid = $('#dataProductIndustryId2').val();
			//} else
			//{
			//	industryid = $('#dataProductIndustryId1').val();
			//}
			//
			//alert(industryid);
			var ff = "&orderby="+orderby;
			if($('#ProductName').val()) ff += "&q="+$('#ProductName').val();
			
			//for offer
			if(offer != 0) ff += "&type=offer";
			
			if(industryid != 0) ff += "&industryid="+industryid;
			
			ajaxListProduct(ff);
		});
		
		$('.box-level2 ul li a.mback').click(function() {
				      $('.s-scroll').animate({ marginLeft: '0px' }, 200);
				    });
				    
				    $('.box-level2 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));				      
				    });
				    
				    $('.box-level3 ul li a.mback').click(function() {
				      $('.s-scroll').animate({ marginLeft: '-240px' }, 200);
				    });
				    
				    $('.box-level3 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '4', $(this));				      
				    });
				    
				    $('.box-level4 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '5', $(this));
				    });
				    
				    $('.box-level4 ul li a.mback').click(function() {
				      $('.s-scroll').animate({ marginLeft: '-480px' }, 200);
				    });
		
		$('.box-scroll ul.menu li a.item').click(function() {
		  
		  
			
			industryid = $(this).attr('rel');
			
			if (industryid) {
			  
			    
			    var ff = "&orderby="+orderby;
			    if($('#ProductName').val()) ff += "&q="+$('#ProductName').val();
			    if(industryid != 0) ff += "&industryid="+industryid;
			    
			    //for offer
			    if(offer != 0) ff += "&type=offer";
			    
			    ajaxListProduct(ff);
			}
			
			
		});
		
		$('a.all_p').click(function() {
		    industryid = 0;
		    
		    $('.box-scroll ul li').removeClass('active');
			
		    $('span.product_list_title').html("");
		    
		    var ff = "&orderby="+orderby;
		    if($('#ProductName').val()) ff += "&q="+$('#ProductName').val();
		    if(industryid != 0) ff += "&industryid="+industryid;
		    
		    //for offer
		    if(offer != 0) ff += "&type=offer";
		    
		    ajaxListProduct(ff);
		    $('.s-scroll').animate({ marginLeft: '0px' }, 200);
		});
		
		$('.box-level1 ul li a.item').click(function() {		
		  ajaxLoadMenu($(this).attr("rel"), '2', $(this));	 
		  
		});
		
		
		$(".box-level1").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level2").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level3").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level4").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
		
	});
	
	
	var startscroll = true;
	var pos_pg = 15;

	$(document).scroll(function(){		
		if(($(document).height()-$(window).height()-$(document).scrollTop()) < 1000){
			if (startscroll) {
				startscroll = false;
				//code
				console.log('Scrolled to bottom');
				//ArticleList.loadMoreArticles();
				//alert("end");
				
				var ff = "&pos_pg="+pos_pg+"&orderby="+orderby;
				if($('#ProductName').val()) ff += "&q="+$('#ProductName').val();
				if(industryid != 0) ff += "&industryid="+industryid;
				
				//for offer
				if(offer != 0) ff += "&type=offer";
				
				ajaxListProductScroll(ff);		
			}
		
		} else {
		    //console.log('Scroll '+$(document).height()+' - '+$(window).height()+' - ' +$(document).scrollTop());
		}
	});	
	
</script>
   

<!--{/literal}-->

<!--{include file="`$theme_name`/topmenu.html"}-->




<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title" class="connect_ptitle">

    <a class="back" href="javascript:history.back()"></a>
    <div class="subtitle">
        {lang category}    </div>
    <h1 class="page-title">{$IndustryList.name}</h1>

    <div style="display: none" class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a><span class="delim">/</span><a href="index.php?do=product&level=1&industryid={$IndustryList.level0_id}">{$IndustryList.level0_name}</a><span class="delim">/</span><a href="index.php?do=product&level=2&industryid={$IndustryList.level1_id}">{$IndustryList.level1_name}</a> <span class="delim">/</span>{$IndustryList.name}</div>

    
    
  </div>

  
  </div>
</div>

    
<div class="row" style="height: 52px;">
  
        
                <div id="SearchList" class="connect_searchx" style="padding-left: 10px;position: absolute; top: 267px;">
	    <div  class="follow-scrollz">
      
        <input id="search_list_but" type="submit" value="{lang search}" />

        <div id="dataIndustry" style="display: none">
	    <select name="industry[id][4]" id="dataProductIndustryId1" class="level_4" ></select>
	    <select name="industry[id][3]" id="dataProductIndustryId3" class="level_3" ></select>	    
	    <select name="industry[id][2]" id="dataProductIndustryId2" class="level_2"></select>
	    <select name="industry[id][1]" id="dataProductIndustryId1" class="level_1" ></select>
	</div>
	
        <!--<label>{lang industry}&nbsp;&nbsp;</label>-->
        <input type="text" id="ProductName" name="q" placeholder="{lang search_keyword}" />
	
	<h5><a href="javascript:void(0)" class="all_p"><span class="cat_title">{lang product_category}</span></a> <span class="product_list_title"></span></h5>
	
	<section style="background: none; width: 230px" class="widget-1 widget-first widget widget_nav_menu widget_recent_products nav-products-menu connect_menu" id="nav_menu-2">
	  <div class="widget-inner">
	   
	    
	    
	    <ul class="menu" id="menu-features-list" style="display: none">
	      
	      <!--{loop $IndustryList item0 level_0 key0}-->
		  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954" id="menu-item-954">
		    <a class="menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
		      {$item0.name}
		    </a>
		    {if $item0.sub}
		      <ul>
			<!--{loop $item0.sub level1 level_1_industry key_level1}-->
			  <li><a class="menu_lvl2" rel="{$level1.id}" content="<a rel='{$item0.id}' content='{$item0.name}' href='javascript:void(0)'>{$item0.name}</a> / {$level1.name}" href="javascript:void(0)">{$level1.name}</a>
			    {if $level1.sub}
			      <ul>
				<!--{loop $level1.sub level2 level_2_industry key_level2}-->
				  <li><a class="menu_lvl3" rel="{$level2.id}" content="<a rel='{$item0.id}' href='javascript:void(0)' content='{$item0.name}'>{$item0.name}</a> / <a rel='{$level1.id}' content='<a rel=&quot;{$item0.id}&quot; href=&quot;javascript:void(0)&quot; content=&quot;{$item0.name}&quot;>{$item0.name}</a> / {$level1.name}' href='javascript:void(0)'>{$level1.name}</a> / {$level2.name}" href="javascript:void(0)">{$level2.name}</a></li>
				<!--{/loop}-->
				<!--{if $level1.sub}--><li><a class="mback bmenu_lvl3" href="javascript:void(0)">{lang back}</a></li><!--{/if}-->
			      </ul>
			    {/if}
			  </li>
			<!--{/loop}-->
			<li class=""><a class="mback bmenu_lvl2" href="javascript:void(0)">{lang back}</a></li>
		      </ul>
		    {/if}
		  </li>
	      <!--{/loop}-->
	      
	      
</ul>
	    
	    <div class="box-scroll">
	      <div class="s-scroll">
	      <div class="box-level1">
		<ul class="menu" id="menu-features-list">
		  <!--{loop $IndustryList.box1 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level0_id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		</ul>
	      </div>
	    
	      <div class="box-level2">
		    <ul class="menu">
			<!--{loop $IndustryList.box2 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level1_id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	      <div class="box-level3">
		    <ul class="menu">
				<!--{loop $IndustryList.box3 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level2_id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	      <div class="box-level4">
		    <ul class="menu">
				<!--{loop $IndustryList.box4 item0 level_0 key0}-->
		      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.id} active{/if}" id="menu-item-954">
			<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
			  {$item0.name} <span>{$item0.count}</span>
			</a>
		      </li>
		  <!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	    </div>
	    </div>
	  
	  </div>
	
	
	</section>
	
	
        </div>
    </div>
		
		
</div>
  
  
<div class="row" id="containerz">
  <aside id="left-sidebar" class="four columns follow-scroll connect_menu">
   
   
	
	
	
	<section style="display: none" id="recent_products-3" class="widget-3 widget-last widget widget_recent_products ">
                <div class="widget-inner">
                    <h3>{lang friend_links}</h3>

				<ul>
					<!--{loop $Friends spacelink spacelink}-->
					<li><a href="space/?userid={$spacelink.username}&do=" target="_blank">{$spacelink.username}</a></li>
					<!--{/loop}-->
				</ul>

		</div></section>
   
   
  </aside>
  
  <div id="content" class="eleven columns" style="margin-top: -13px">
    <div id="main">

      
      <div class="page-title">

    
    <div class="subtitle" style="margin-top: 7px;">
        {lang product_list}    </div>
    <h1 style="font-size: 18px;margin: 0;padding-top: 7px;" class="page-titlez mainhotnew">
      <a id="new_product_but" class="hotnewlist active" href="javascript:void(0)">{lang new_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="hot_product_but" class="hotnewlist" href="javascript:void(0)">{lang hot_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
       <!-- for offer -->
      <a id="new_offer_but" class="hotnewlist" href="javascript:void(0)">{lang raovat}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
      <!--<a id="recentbuy_product_but" class="hotnewlist" href="#list">{lang recent_buy}</a>-->
      
      </h1>


<!--{if $pb_username!=""}-->
  <div class="postitem"><a target="_blank" href="redirect.php?url=/virtual-office/product.php?do=edit">{lang post_product}</a>
	<a target="_blank" href="redirect.php?url=/virtual-office/product.php?do=edit%26type=service">{lang add_service}</a></div>
<!--{else}-->
  <div class="postitem"><a href="redirect.php?url=/logging.php">{lang post_product}</a>
  <a target="_blank" href="redirect.php?url=/logging.php">{lang add_service}</a></div>
<!--{/if}-->
    
    
  </div>
      
      

	  
	  <br class="clear" />
      
      <div class="product_listing level4 product_listing4">
	<div class="product_list_loading">
	  <img src="{$theme_img_path}/image/loading.gif" />
	</div>
      
      <!-- list ajax product -->
			<div id="list_product_ajax0" class="col_products">
			<ul class="products">
			   

			</ul>
			
			</div>
			<div id="list_product_ajax1" class="col_products">
			   <ul class="products">
			   
			   
			   </ul>
			   
			   
			</div>
			<div id="list_product_ajax2" class="col_products">
			   
			   <ul class="products">
			   
			   </ul>
			</div>

			
			<!--div id="list_product_ajax3" class="col_products">
			   <ul class="products">
			   
			   
			   
			   </ul>
			   
			   
			</div>
			
			<div id="list_product_ajax4" class="col_products">
			   <ul class="products">
			   
			   
			  
			   </ul>
			   
			   
			</div>-->
			
		
		<div class="clear"></div>

      </div>
      
      
    </div>
  </div>
</div>
  
  


  




  
  

  
</div></div>

  </div>

<script>
var cache_path = "";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
var industry_id1 = {$item.industry_id1|default:0} ;
var industry_id2 = {$item.industry_id2|default:0} ;
var industry_id3 = {$item.industry_id3|default:0} ;
</script>

<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<script src="scripts/script_industry.js"></script>

<!--{include file="`$theme_name`/footer_none.html"}-->


















