<!--{include file="`$theme_name`/header.html" page_title="Bổ sung thông tin mua hàng" nav_id="`$nav_id`"}-->



<!--{literal}-->


<script type="application/x-javascript">

function checkConfirmOrderFields() {
	
	var valid = true;
	
	//$("#receiver_email").val($("#email").val());
	//$("#receiver_fullname").val($("#fullname").val());
	//$("#receiver_mobile").val($("#mobile").val());
	//$("#receiver_address").val($("#address").val());
	
	if($("#email").val().trim() == "")
	{
		$("#email").addClass('error');
		valid = false;
	}
	else
	{
		$("#email").removeClass('error');
	}
	
	if($("#fullname").val().trim() == "")
	{
		$("#fullname").addClass('error');
		valid = false;
	}
	else
	{
		$("#fullname").removeClass('error');
	}
	
	if($("#mobile").val().trim() == "")
	{
		$("#mobile").addClass('error');
		valid = false;
	}
	else
	{
		$("#mobile").removeClass('error');
	}
	
	if($("#address").val().trim() == "")
	{
		$("#address").addClass('error');
		valid = false;
	}
	else
	{
		$("#address").removeClass('error');
	}
	
	//if($("#message").val() == "")
	//{
	//	$("#message").addClass('error');
	//	valid = false;
	//}
	//else
	//{
	//	$("#message").removeClass('error');
	//}
	
	if(!$('#chkSameBuyer').is(':checked'))
	{
		if($("#receiver_email").val() == "")
		{
			$("#receiver_email").addClass('error');
			valid = false;
		}
		else
		{
			$("#receiver_email").removeClass('error');
		}
		
		if($("#receiver_fullname").val() == "")
		{
			$("#receiver_fullname").addClass('error');
			valid = false;
		}
		else
		{
			$("#receiver_fullname").removeClass('error');
		}
		
		if($("#receiver_mobile").val() == "")
		{
			$("#receiver_mobile").addClass('error');
			valid = false;
		}
		else
		{
			$("#receiver_mobile").removeClass('error');
		}
		
		if($("#receiver_address").val() == "")
		{
			$("#receiver_address").addClass('error');
			valid = false;
		}
		else
		{
			$("#receiver_address").removeClass('error');
		}
	}
	else
	{
		$(".reciever input").removeClass('error');
	}
	
	return valid;
}
		
		
	$(document).ready(function() {
		
		//
		
		
		//buyer info
		function changeCheckBuyer() {
			//code
			if($('#chkSameBuyer').is(':checked'))
			{
			    //alert("sdfsdfs");
			    $('.reciever input, .reciever textarea, .reciever select').attr('disabled', 'disabled');		    
			}
			else
			{
			    $('.reciever input, .reciever textarea, .reciever select').removeAttr('disabled');
			}
		}
	
		changeCheckBuyer();
		$('#chkSameBuyer').change( function () {
		
			changeCheckBuyer();
			if(this.checked) {
				updateReceiverFileds();
				$(".reciever input").removeClass('error');
			    }
			
		
		});
		
		
		$('#CountryId').change(function () {
				$.ajax({
					url: "index.php?do=product&action=getStates&country_id="+$(this).val(),
					//beforeSend: function ( xhr ) {
					//xhr.overrideMimeType("text/plain; charset=x-user-defined");
					//}
					}).done(function ( data ) {
					if( console && console.log ) {
						//alert(data);
						$('#mem_state').html(data);
						updateReceiverFileds();
					}
				});
			}
		);
		
		$('#receiver_CountryId').change(function () {
				$.ajax({
					url: "index.php?do=product&action=getStates&country_id="+$(this).val(),
					//beforeSend: function ( xhr ) {
					//xhr.overrideMimeType("text/plain; charset=x-user-defined");
					//}
					}).done(function ( data ) {
					if( console && console.log ) {
						//alert(data);
						$('#receiver_mem_state').html(data);
						updateReceiverFileds();
					}
				});
			}
		);
		
		function updateReceiverFileds() {
			//code
			if($('#chkSameBuyer').is(':checked'))
			{
				$("#receiver_email").val($("#email").val());
				$("#receiver_fullname").val($("#fullname").val());
				$("#receiver_mobile").val($("#mobile").val());
				$("#receiver_address").val($("#address").val());
				$("#receiver_CountryId").val($("#CountryId").val());
				$(".dataProductAreaId3_re").html($("#dataProductAreaId3").html());
				$(".dataProductAreaId2_re").html($("#dataProductAreaId2").html());
				$(".dataProductAreaId1_re").html($("#dataProductAreaId1").html());
				$(".dataProductAreaId3_re").val($("#dataProductAreaId3").val());
				$(".dataProductAreaId2_re").val($("#dataProductAreaId2").val());
				$(".dataProductAreaId1_re").val($("#dataProductAreaId1").val());
				//$("#receiver_mem_state").val($("#mem_state").val());
			}
		}
		updateReceiverFileds();
		//change auto
		$("#email").change(function() {updateReceiverFileds();});
		$("#fullname").change(function() {updateReceiverFileds();});
		$("#mobile").change(function() {updateReceiverFileds();});
		$("#CountryId").change(function() {updateReceiverFileds();});
		$("#dataProductAreaId1").change(function() {updateReceiverFileds();});
		$("#dataProductAreaId2").change(function() {updateReceiverFileds();});
		$("#dataProductAreaId3").change(function() {updateReceiverFileds();});
		$("#address").change(function() {updateReceiverFileds();});
	});
</script>

	<!--{/literal}-->




<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
    <div class="fifteen columns" id="page-title">
        <a class="back" href="javascript:history.back()"></a>
        <div class="subtitle">
            
                        <p></p>
        </div>
	<div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a> </div>
        <h1 class="page-title">
                        Mua hàng                    </h1>

        

    </div>






	<div class="content">

    
    <div class="detailtopcon clearfix">
		
		<div class="qiugouleftcon carttable">
			<form name="offer_list_frm" id="cart" method="post" onsubmit="return checkConfirmOrderFields();">


<div class="orderdetail_form_ut" style="width:900px">
<h3 class="head">{lang customer_info}</h3>
		<!--<h2>Thông tin người mua</h2>   -->
                <p class="hint">{lang member_info_announce}</p>
		
	<div class="checkInfor orderdetail_form" style="padding:20px">
                        
            
            <div class="clearfix bg-blockItem boderStore" style="margin-top:20px;">
                <div class="boderStore-line clearfix">    
                <div class="blockBStore">
            <h3>{lang buyer_information}</h3>
            <div class="contStore" style="clear: both;">
              <div class="formProfile box-profile">
		
		
		
		{if false}
			{if $pb_userinfo}
				<p>
					<span>{lang username}</span>
					<input type="text" id="username" name="user[order][username]" class="bgWhite" value="{$pb_userinfo.username}" {if $pb_userinfo.username} readonly="readonly" {/if}>
				</p>
			{else}
				<p style="margin-bottom: 16px;">
					<span>Người mua</span>
					<br /><strong>Khách hàng</strong>
				</p>
			{/if}
			
			<p>
				<span>{lang fullname}<b class="red-bold">*</b>&nbsp;</span>
				<input type="text" id="fullname" name="data[order][fullname]" class="bgWhite" value="{$pb_company.link_man}">
			</p>
			
			<p>
				<span>{lang mobile}<b class="red-bold">*</b>&nbsp;</span>
				<input value="{$pb_company.contact_mobile}" type="text" name="data[order][mobile]" id="mobile" class="bgWhite">
			</p>
			
			<p>
				<span>{lang email}<b class="red-bold">*</b>&nbsp;</span>
				<input value="{$pb_company.contact_email}" type="text" name="data[order][email]" id="email" class="bgWhite" value="">
				
			</p>
			
				
			
			<p>
				<span>{lang address}<b class="red-bold">*</b>&nbsp;</span>
				<input type="text" value="" maxlength="120" name="data[order][address]" id="address" class="bgWhite" />
			</p>		
		{else}
			{if $pb_userinfo}
				<p>
					<span>{lang username}</span>
					<input type="text" id="username" name="user[order][username]" class="bgWhite" value="{$pb_userinfo.username}" {if $pb_userinfo.username} readonly="readonly" {/if}>
				</p>
			{else}
				<p style="margin-bottom: 16px;">
					<span>Người mua</span>
					<br /><strong>Khách hàng</strong>
				</p>
			{/if}
			
			<p>
				<span>{lang fullname}<b class="red-bold">*</b>&nbsp;</span>
				<input type="text" id="fullname" name="data[order][fullname]" class="bgWhite" value="{$pb_userinfo.last_name} {$pb_userinfo.first_name}">
			</p>
			
			<p>
				<span>{lang mobile}<b class="red-bold">*</b>&nbsp;</span>
				<input value="{$pb_userinfo.mobile}" type="text" name="data[order][mobile]" id="mobile" class="bgWhite" value="{$pb_username.mobile}">
			</p>
			
			<p>
				<span>{lang email}<b class="red-bold">*</b>&nbsp;</span>
				<input value="{$pb_userinfo.email}" type="text" name="data[order][email]" id="email" class="bgWhite" value="">
				<div class="info_annoucr">Vui lòng kiểm tra email chính xác để nhận thông tin tài khoản</div>
			</p>
			
				
			
			<p>
				<span>{lang address}<b class="red-bold">*</b>&nbsp;</span>
				<input type="text" value="{$pb_userinfo.address}" maxlength="120" name="data[order][address]" id="address" class="bgWhite" />
			</p>
			
			<div style="float: left; width: 100%">
				<div style="float: left;margin-right: 8px;width: 49%;">
					<p>
						<span>Tên người dùng</span>
						<input type="text" value="{$pb_userinfo.address}" maxlength="120" name="user_name" id="address" class="bgWhite" />
					</p>
				</div>
				<div  style="float: left; width: 50%; width: 49%">
					<p>
						<span>Mật khẩu đăng nhập</span>
						<input type="text" value="{$pb_userinfo.address}" maxlength="120" name="password" id="address" class="bgWhite" />
					</p>
				</div>
			</div>
		{/if}
		
		
		
		
		
              
                
		
                
              </div>
            </div>
          </div>
          
          <div class="blockBStore">
            <h3>{lang receiver_information}</h3>
	    <p style="margin:15px 0" class="sameBuy">
			<input checked="checked" type="checkbox" id="chkSameBuyer" name="data[orderz][chkSameBuyer]"><label for="buyer">{lang same_buyer}</label>
		  </p>
            <div class="contStore" style="clear: both;">
              <div class="formProfile box-profile">
                  
		  
		  <div class="reciever">
                
		
		
		<p>
			<span>{lang fullname}<b class="red-bold">*</b>&nbsp;</span>
			<input type="text" id="receiver_fullname" name="data[order][receiver_fullname]" class="bgWhite" value="{$pb_userinfo.receiver_fullname}" {if $pb_userinfo.receiver_fullname} disabled="disabled" {/if}>
		</p>
		
		<p>
			<span>{lang mobile}<b class="red-bold">*</b>&nbsp;</span>
			<input value="{$pb_userinfo.receiver_mobile}" {if $pb_userinfo.receiver_mobile} disabled="disabled" {/if} type="text" name="data[order][receiver_mobile]" id="receiver_mobile" class="bgWhite">
		</p>
		
		<p>
			<span>{lang email}<b class="red-bold">*</b>&nbsp;</span>
			<input value="{$pb_userinfo.receiver_email}" {if $pb_userinfo.receiver_email} disabled="disabled" {/if} type="text" name="data[order][receiver_email]" id="receiver_email" class="bgWhite">
		</p>
		
		<p>		
			<span>{lang address}<b class="red-bold">*</b>&nbsp;</span>
			<input type="text" value="{$pb_userinfo.receiver_address}" {if $pb_userinfo.receiver_address} disabled="disabled" {/if} maxlength="120" name="data[order][receiver_address]" id="receiver_address" class="bgWhite" />
		</p>

		
		  </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          
            <div class="clearfix"></div>
            <div class="messforSell">
                <span style="font-size: 14px;margin-top: 20px;font-size:18px">Nội dung cần trao đổi với người bán</span>
		<textarea style="max-width: 858px;width:858px;" id="message" type="text" name="data[order][message]" value="" style="" class="bgInput">{$order.message}</textarea>
            </div>
            <div class="boxGray clearfix ">
                  <a href="?portal=market&amp;page=shopping_cart" class="btn-small SGray btCheck"><span>{lang back}</span></a> 
                  <span style="float:right;"> 
                          
                        <span><input class="checkout_but" type="submit" value="Lưu thông tin" /></span>
                         
                </span>
            </div>
            
		</div>

</div>
				
			</form>
		</div>
		
	</div>	

</div>
<script>
var cache_path = "";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
var industry_id1 = {$item.industry_id1|default:0} ;
var industry_id2 = {$item.industry_id2|default:0} ;
var industry_id3 = {$item.industry_id3|default:0} ;
</script>

<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<script src="scripts/script_industry.js"></script>


</div>


<script type='text/javascript' src='{$theme_img_path}js/jquery.validate.js'></script>
<!--{literal}-->
<script>
$(document).ready(function() {

	alert("checking");
	$("validateion").check(function() {
	})

});
</script>
<!--{/literal}-->





</div>
  </div>

<!--{include file="`$theme_name`/footer.html"}-->