{if $count}
<div class="row">
    <div class="fifteen columns" id="page-title" style="padding-left: 10px;margin-top: 5px;">

        <h1 class="page-title">
                        <strong>{lang cart}</strong>                    </h1>

        <div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a><span class="delim">/</span>{lang cart} </div>

    </div>
    
    
    
    
    
    
    <div class="cart_content" style="clear: both;">
	
    
    <div class="detailtopcon clearfix">
		
		
		
		<div class="qiugouleftcon carttable">
		    <iframe name="cart_update" id="cart_update" style="display: none" />
			<form name="offer_list_frm" id="cart" target="cart_update" action="{the_url module=root-url}">
				<input type='hidden' name="do" value="product" />
				<input type='hidden' name="action" value="add_cart" />
				<input type='hidden' id="task" name="task" value="update" />
				<input type='hidden' id="template" name="template" value="ajax" />
				<input type='hidden' id="cartitemid" name="cartitemid" value="" />
				<table cellspacing=1>
					<tr>
						<th>{lang picture}</th>
						<th width="35%" style="text-align: left">{lang products}</th>
						
						<th style="text-align: right" width="157px">{lang quantity} <span id="update_quantity_but"></span></th>
						<th style="text-align: right">{lang unit_price} (VNĐ)</th>
						<th style="text-align: right">{lang sum_price} (VNĐ)</th>
						<th style="text-align: right" width="10%" style="text-align: left" width="15%">{lang action}</th>	
						
					</tr>
					<!--{loop $StickyItems shop sticky_offer}-->
						<tr>
							<td colspan=6 style="background: #efefef">
								<a href="{the_url module=space userid=`$shop.space_name`}">{$shop.shop_name}</a>
							</td>
						</tr>
													
							<!--{loop $shop.items sticky sticky_offer}-->
							<tr>
							<td class="offer_img" width="9%"><a href="{the_url module=product id=`$sticky.p_id` product_name=`$sticky.p_name`}" title="{$sticky.p_name}">
							<img src="{$sticky.image}" border=0 alt="{$sticky.title}"></a></td>
							<td style="padding-top: 20px" class="title_link">
								<a href="{the_url module=product id=`$sticky.p_id` product_name=`$sticky.p_name`}" title="{$sticky.p_name}">{$sticky.p_name}</a>
							</td>
							
							<td style="padding-top: 20px" align="right">
							    <select class="quantity_sel" onchange="$(this).parent().find('.quantity_val').val($(this).val())">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							    </select>
							    <input class="quantity_val" style="height:22px;margin: 0 auto; width: 48px; text-align: right" type="text" name="product[{$sticky.id}]" value="{$sticky.quantity}" />
							    <input class="quantity_but" type="submit" value="{lang update}" />
							</td>
							<td align=right style="text-align: right;padding-top: 20px">
								{if $sticky.deal}
									{$sticky.deal.price}
								{else}
									{$sticky.p_price}
								{/if}
							</td>
							<td align=right style="text-align: right;padding-top: 20px">{$sticky.p_total}</td>
							<td align="right"  style="text-align: right;padding-top: 20px">
							    
							    <input class="cart_remove" onclick="$('#cartitemid').val('{$sticky.id}');$('#task').val('remove');$('#cart').submit()" type="button" value="{lang remove}" />
							</td>
							</tr>
							<!--{/loop}-->
							<tr>
							    <td colspan=4 align=right style="text-align: right;">
								Tổng cộng
								<span class="hide_border">.</span>
							    </td>
							    <td align=right style="text-align: right;">
								{$shop.total}
								<span class="hide_border">.</span>
							    </td>
							    <td>
								VNĐ
							    </td>
							</tr>
							<tr>
							    <td colspan=6 align=right style="text-align: right;">
								{if $pb_username}										
								    <input name="checkout" class="checkout_but" onclick="window.location='index.php?do=product&action=meminfo&id={$shop.id}'"  type="button" value="{lang confirm_cart}" />
								{/if}
								{if !$pb_username}										
								    <input href="#login-box" name="checkout" class="checkout_but comment_but" rel="{$shop.id}" redirect="index.php?do=product&action=meminfo&id={$shop.id}"  type="button" value="{lang confirm_cart}" />
								{/if}
								<input type="button" onclick="window.location='{the_url module=root-url}index.php?do=product&action=add_cart'" class="checkout_but" style="margin-right: 10px" value="Vào giỏ hàng" />
							    </td>
							</tr>
						
					<!--{/loop}-->
				</table>
			</form>
		</div>
		
		
		
		
	</div>	
    <div class="blank6"></div>
	
</div>
    
    
    
    
    
    
    
    
</div>


{else}
<div style="width:400px;">
<div class="fifteen columns" id="page-title" style="padding-left: 20px;margin-top: 5px;">

        <h1 class="page-title">
                        <strong>{lang cart}</strong>                    </h1>

        <div class="breadcrumbs" style="width:auto"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a><span class="delim">/</span>{lang cart} </div>

    </div>
		    <div class="qiugouleftcon carttable" style="padding: 20px">
			<p style="" class="no_pp">Hiện chưa có sản phẩm nào!</p>
		    </div>
</div>
{/if}