<aside class="four columns leftbar_space" id="left-sidebar">
	      {if $tree}
	      <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products">
                <div class="widget-inner">
                    <h3>{lang product_category}</h3>
		    <div class="scrollbarleft">
			<ul>
			    <!--{loop $tree item0 level_0 key0}-->
					  {if true}
					      <li style="padding-left: {$item0.padding}px{if $item0.hide};display: none{/if}" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954 plevel{$item0.lpad} {if $item0.member_id == $smarty.get.memberid && $item0.id == $smarty.get.typeid} active{/if}" id="menu-item-954">
						<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.id}" href="{the_url module=producttype typeid=`$item0.id` member_id=`$item0.member_id` userid=`$smarty.get.userid`}">
						  <span>{$item0.count}</span>{$item0.name} 
						</a>
					      </li>
					   {/if}
			    <!--{/loop}-->
			</ul>
			</div>
		</div>
	      </section>
              {/if}
              
              
              <section style="display: none" id="recent_products-3" class="widget-3 widget-last widget widget_recent_products">
                <div class="widget-inner">
                    <h3>{lang friend_links}</h3>
                    
                    <!--{if $Links}-->
				<ul>
					<!--{loop $Links spacelink spacelink}-->
					<li><a href="{$spacelink.url}">{$spacelink.title}</a></li>
					<!--{/loop}-->
				</ul>
				<!--{/if}-->
		</div></section>
	      
	       <!--{if $pb_username == 'Shop Yen' && $COMPANY.id != 479 }-->
			    <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products kkleft">
			      <div class="widget-inner">
				  <h3>{lang friend_links}</h3>
				  
					      <!--{if $Friends}-->
					      <ul>
						      <!--{loop $Friends spacelink spacelink}-->
						      <li><a href="{$spacelink.link}" target="_blank">{$spacelink.shop_name}</a></li>
						      <!--{/loop}-->
					      </ul>
					      <!--{/if}-->
	      
			      </div></section>
			    
			    
			   
			    
			    <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products kkleft">
			      <div class="widget-inner">
				  <h3>{lang follow}</h3>
				  
					      <!--{if $FollowFriends}-->
					      <ul>
						      <!--{loop $FollowFriends spacelink spacelink}-->
						      <li><a href="{$spacelink.link}" target="_blank">{$spacelink.shop_name}</a></li>
						      <!--{/loop}-->
					      </ul>
					      <!--{/if}-->
	      
			      </div></section>
	      
	      <!--{/if}-->
              
<!--              <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products">
                <div class="widget-inner">
                    <h3>{lang contact_method}</h3>
                    
                    <p>
			{lang contact_people} {$COMPANY.link_man}  </p>
			<p>{lang address} {$COMPANY.address}</p>
                        <p>{lang phone} {$COMPANY.tel}</p>
                        <p>{lang fax} {$COMPANY.fax}</p>
                        
                      
                    
                    
		</div></section>-->
		{if $COMPANY.facebook}
		
		<div class="wpb_wrapper fb_boxx">
		    <img style="display: block; margin: 0 auto" src="images/facebg.png">
		    
		    
			    <div class="facebookOuter">
				    <div class="facebookInner">
					<div class="fb-like-box"
					     data-width="235" data-height="265"
					     data-href="{$COMPANY.facebook_full}"
					     data-colorscheme="light"
					     data-border-color="#4e616d" data-show-faces="true"
					     data-stream="false" data-header="false">
					</div>
				    </div>
				</div>
    
		</div>
		

	      {/if}
              
</aside>

