<aside class="four columns leftbar_space" id="left-sidebar">
	      <div class="tree_bound">
		<div class="tree_loading"></div>
	      </div>
              
              
	      
	      <!--{if $pb_userinfo.role == 'admin' && $MEMBER.id != $pb_userinfo.id }-->
			    <!--{if $Friends}-->
					  <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products kkleft">
					    <div class="widget-inner">
						<h3>{lang friend_links}</h3>					    
							    <ul>
								    <!--{loop $Friends spacelink spacelink}-->
								    <li><a href="{$spacelink.link}" target="_blank">{$spacelink.shop_name}</a></li>
								    <!--{/loop}-->
							    </ul>			    
					  </div></section>
			    <!--{/if}-->	    
			    
			   
			    <!--{if $FollowFriends}-->
					  <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products kkleft">
					    <div class="widget-inner">
						<h3>{lang follow}</h3>						    
							    <ul>
								    <!--{loop $FollowFriends spacelink spacelink}-->
								    <li><a href="{$spacelink.link}" target="_blank">{$spacelink.shop_name}</a></li>
								    <!--{/loop}-->
							    </ul>		    
					  </div></section>
			    <!--{/if}-->
	      <!--{/if}-->
              
<!--              <section id="recent_products-3" class="widget-3 widget-last widget widget_recent_products">
                <div class="widget-inner">
                    <h3>{lang contact_method}</h3>
                    
                    <p>
			{lang contact_people} {$COMPANY.link_man}  </p>
			<p>{lang address} {$COMPANY.address}</p>
                        <p>{lang phone} {$COMPANY.tel}</p>
                        <p>{lang fax} {$COMPANY.fax}</p>
                        
                      
                    
                    
		</div></section>-->
		{if $COMPANY.facebook}
		
		<!--<div class="wpb_wrapper fb_boxx">
			    <div style="padding: 6px 5px 6px 6px;background: #fff">
					<div style="background: #fff" class="fb-like-box"
					     data-width="235" data-height="265"
					     data-href="{$COMPANY.facebook_full}"
					     data-colorscheme="light"
					     data-border-color="#4e616d" data-show-faces="true"
					     data-stream="false" data-header="false">
					</div>
			    </div>
		</div>-->
		

		{/if}
              
</aside>



<!--{literal}-->
<script>
    $(document).ready(function() {
	$.ajax({
	    url: "{/literal}{the_url module=root-url}{literal}index.php?do=product&action=get_space_tree&userid={/literal}{$smarty.get.userid}{literal}&page_memid={/literal}{$MEMBER.id}{literal}&typeid={/literal}{$smarty.get.typeid}{literal}&page={/literal}{$smarty.get.page}{literal}&memberid={/literal}{$smarty.get.memberid}{literal}&order={/literal}{$smarty.get.order}{literal}",
	}).done(function ( data ) {
	    if( console && console.log ) {
		$('.tree_bound').html(data);
	    }
	});
    });
</script>
<!--{/literal}-->