<!--{include file="header.html" PageTitle="`$item.title`" cur="space_index"}-->
<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->


<!--{include file="topmenu.html"}-->


<div class="row widget space_content">


<!--{include file="leftbar.html"}-->



<div class="eleven columns" id="content">


              
              <div class="row" style="margin-right: 0;">
    <div style="width: 100%;padding-left: 0" class="">

	<div id="container">
	<div class="" id="">
	      
	      <h3 style="padding-left: 0; margin-bottom: 15px;">{$item.title}</h3>
	      
	      <p>{$item.content}</p>
						<p style="text-align:right;margin-top: 60px; font-size: 15px"><a style="margin-right: 20px;" href="{$Menus.news}" class="link12_blue"><strong>{lang back}</strong></a> <a href="javascript: window.print();" class="link12_blue print_but">.</a></p>
	      
	      
        </div>
	<p><div class="pagination"><!-- {pager rowcount=`$paging.total`} --></div></p>
</div>
    </div>

</div>
                  
              </div>



</div>



</div>
<!--{include file="footer.html"}-->







