<!--{include file="header.html" PageTitle="`$item.title`" cur="space_index"}-->
<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">
    Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->


<!--{include file="topmenu.html"}-->


<div class="row widget space_content">


<!--{include file="leftbar.html"}-->



<div class="eleven columns" id="content">

    <div class="row" style="margin-right: 0;">
	<div style="width: 100%;padding-left: 0" class="">

	    <div id="container">
		<div class="" id="">
	      
		    <h3 style="padding-left: 0; margin-bottom: 15px;">{$item.title}</h3>
		  
		    <p>{$item.content}</p>
		    <p style="text-align:right;margin-top: 60px; font-size: 15px">
			<a style="margin-right: 20px;" href="{$Menus.news}" class="link12_blue">
			    <strong>{lang back}</strong>
			</a>
			<a href="javascript: window.print();" class="link12_blue print_but">.</a>
		    </p>
	      
		</div>
		
		<br />
		<h3 style="padding-left: 0;margin-bottom: 17px;font-size:20px;">Chia sẻ thông tin</h3>
				<a class="" title="" onclick="{if !$FACE}goclicky(this, '{$F_URL}#welcome15'){else}goclicky_custom(this, '{$F_URL}#welcome15', '{$FACE.images}', '{$FACE.title}', '{$FACE.summary}'){/if}" href="javascript:void(0)">
					<span class="at15t_facebookz">
						<span class="">Share on facebook</span>
					</span>
				</a>
				<div class="share_buts">
					
				  <!-- AddThis Button BEGIN -->
				{literal}
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<!--<a class="addthis_button_facebook"></a>-->
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_google_plusone_share"></a>
					<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520993b51c3b7da7"></script>
				{/literal}
				<!-- AddThis Button END -->
		<p><div class="pagination"><!-- {pager rowcount=`$paging.total`} --></div></p>
	    </div>
	</div>

    </div>
</div>



</div>



</div>
<!--{include file="footer.html"}-->







