        <a target="_blank" class="list_nottt" href="{the_url module=root-url}/virtual-office/album.php?do=edit">
		Đăng hình ảnh/videos
	</a>
        

		
		
		<!--{loop $albumtypes type level key}-->
			<!--{if $type.videos}-->
				<div class="works-list album video_new_page">
					<h3 style="margin-bottom: 20px;"><a href="javascript:void(0)">{$type.name}</a></h3>

					<ul style="height: 230px;" class="filterable-grid">					      
						<!--{loop $type.videos item level key}-->
							<li data-type="dentity motion sites web-design " data-id="id-1" class="item id{$item.id}">
								<div class="half odd">
									<div class="pic video-overlay"><img title="{$item.title}" alt="{$item.title}" style="margin:0 0;" src="{$item.image}"></div>
									
									<a rel="video_group" class="album_fancy album_a_block" title="{$item.title}" href="{$item.href}"></a>
									<div style="display: none" id="video-item-player{$item.id}">
										<video controls width="892" height="502">
											<source src="{$item.href}" type="video/mp4" />
											Your browser does not support the video tag.
										</video>
									</div>
								</div>
								<div class="description-bottom">
									<div class="title">				      
										<h4><a target="_blank" title="{$item.title}" href="{$item.href}">{$item.title|truncate:50}</a>
											
										</h4>
										<a class="shop_link" href="{the_url module=space userid=`$item.space_name`}">Gian hàng: {$item.shop_name}</a>
									</div>
								</div>
							</li>
						<!--{/loop}-->
					</ul>
				</div>
			<!--{/if}-->
		<!--{/loop}-->
		
		<!--{if $images}-->
			<div class="works-list album album_new_page">
			    <h3 style="margin-bottom: 20px;"><a href="javascript:void(0)">Hình ảnh</a></h3>
			    
			    
			    
			      <ul style="height: 230px;" class="filterable-grid">
				  
				  <!--{loop $images item level key}-->
				      <li data-type="dentity motion sites web-design " data-id="id-1" class="item">
					  <div class="half odd">
						    <div class="pic"><img title="{$item.title}" alt="{$item.title}" style="margin:0 0;" src="{$item.image}"></div>
						    <a rel="image_group" class="album_fancy" title="{$item.title}" href="{$item.href}"></a>
					  </div>
					    <div class="description-bottom">
						    <div class="title">				      
							    <h4><a target="_blank" title="{$item.title}" href="{$item.href}">{$item.title}</a></h4>
						    </div>
					    </div>
				      </li>
				  <!--{/loop}-->
				    
			      </ul>
			</div>
		<!--{/if}-->
