        <a target="_blank" class="list_nottt" href="{the_url module=root-url}virtual-office">
		Tiêu chuẩn thương hiệu
	</a>

        <div style="float: right; width: 300px; margin-top: -50px" id="searchleft_innerbox">
	    <form action="{the_url module='companies' action='search'}" method="get">
		<input type="hidden" name="do" value="company" />
		<input type="hidden" name="action" value="search" />
		<input type="text" placeholder="Tìm kiếm Gian hàng" name="keyword" style="float: left">
		<input type="submit" value="Tìm kiếm">
	    </form>
	</div>
      
      
    <!--{loop $list item0 level0 key0}-->
	{if $item0.adses}
	    <div class="works-list">
		<h3 style="margin-bottom: 20px;"><a href="#">{$item0.name}</a></h3>
		
			
			<ul style="height: 230px;" class="filterable-grid">
			    
				<!--{loop $item0.adses item level key}-->
					<li data-type="dentity motion sites web-design " data-id="id-1" class="item">
						<div class="half odd">
						    <div class="pic"><img title="{$item.name}" alt="{$item.name}" style="margin:0 0;" src="{$item.logo}"></div>
						    
						    <a target="_blank" title="{$item.name}" href="{$item.href}"></a>
						</div>
						<div class="description-bottom">
						      <div class="title">				      
							  <h4><a target="_blank" title="{$item.name}" href="{$item.href}">{$item.name}</a></h4>
						      </div>
						</div>
					</li>
				<!--{/loop}-->
			      
			</ul>
	    </div>
	{/if}
    <!--{/loop}-->