<!--{include file="`$theme_name`/header.html" page_title="`$PageTitle`" nav_id="`$nav_id`"}-->


<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title" class="connect_ptitle" style="padding-left: 110px">

    <div class="super-main-category mainproductpage company">
		<div class="show-but">
			Chuyên mục chính
			
		</div>
		<a href="{the_url module='companies'}" class="show-but current-but market">
			.			
		</a>
		<br style="clear:both" />
		<div class="main-cat-content-out">
			<span class="pointer_topmenuz">.</span>
			<div class="main-cat-content"></div>
		</div>
	</div>
	
    <div class="breadcrumbs">
	<a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="{the_url module=offer_main}">Thương hiệu</a></div>
    
	<h1 class="page-title">Thương hiệu {if $industry}- {$industry.name}{/if}</h1>
    
    </div>

  </div>
</div>


<div class="row company-container">
		
      <div class="row" style="margin: 0">
	<div style="margin-top: 0px;padding-left: 4px;position: relative" class="fifteen columns">
      
	      <h2 class="block-title company_listing_h2">
		  <span>
			<a class="{if $smarty.get.membergroup_id==3}active{/if}" href="{the_url module='companies' membergroup_id='3' industryid=`$smarty.get.industryid` title=`$industry.name`}">Doanh nghiệp</a>&nbsp;&nbsp;&nbsp;
			<a class="{if $smarty.get.membergroup_id==1}active{/if}" href="{the_url module='companies' membergroup_id='1' industryid=`$smarty.get.industryid` title=`$industry.name`}">Cửa hàng</a>&nbsp;&nbsp;&nbsp;
			<a class="{if $smarty.get.membergroup_id==2}active{/if}" href="{the_url module='companies' membergroup_id='2' industryid=`$smarty.get.industryid` title=`$industry.name`}">Cá nhân</a>&nbsp;&nbsp;&nbsp;
			<!--<a class="{if $smarty.get.student}active{/if}" href="{the_url module='companies' industryid=`$smarty.get.industryid` title=`$industry.name` student=1}">Sinh viên</a>&nbsp;&nbsp;&nbsp;-->
			<a class="{if $smarty.get.do==album}active{/if}" href="{the_url module='album' type='image'}">Hình ảnh/Videos</a>
		  </span>
	      </h2>
	      
	</div>
      </div>
      
      
	{if $smarty.get.do=='company'}
	    
	    <!--{include file="`$theme_name`/company/_companies.html"}-->
	
	{elseif $smarty.get.do=='album'}
	
	    <!--{include file="`$theme_name`/company/_album.html"}-->	
	
	{/if}
	
  
</div>




















</div>
  </div>



<!--{include file="`$theme_name`/footer.html"}-->



