<!--{include file="`$theme_name`/header.html" page_title="Thương hiệu - MarketOnline.vn" nav_id="`$nav_id`"}-->


<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title" class="connect_ptitle" style="padding-left: 110px">

    <div class="super-main-category mainproductpage company">
		<div class="show-but">
			Chuyên mục chính
			
		</div>
		<a href="{the_url module='companies'}" class="show-but current-but market">
			.			
		</a>
		<br style="clear:both" />
		<div class="main-cat-content-out">
			<span class="pointer_topmenuz">.</span>
			<div class="main-cat-content"></div>
		</div>
	</div>
    
    

    <div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="{the_url module=offer_main}">Thương hiệu</a></div>

    <h1 class="page-title">Thương hiệu {if $industry}- {$industry.name}{/if}</h1>
    
  </div>

  </div>
</div>



<div class="row company-container">
		
	
	
      <div class="row" style="margin: 0">
	<div style="margin-top: 0px;padding-left: 4px;position: relative" class="fifteen columns">
      
	  
	      <h2 class="block-title company_listing_h2">
		  <span>
		      <a class="{if $smarty.get.membergroup_id==3}active{/if}" href="{the_url module='companies' membergroup_id='3' industryid=`$smarty.get.industryid` title=`$industry.name`}">Doanh nghiệp</a>&nbsp;&nbsp;&nbsp;
		      <a class="{if $smarty.get.membergroup_id==1}active{/if}" href="{the_url module='companies' membergroup_id='1' industryid=`$smarty.get.industryid` title=`$industry.name`}">Cửa hàng</a>&nbsp;&nbsp;&nbsp;
		      <a class="{if $smarty.get.membergroup_id==2}active{/if}" href="{the_url module='companies' membergroup_id='2' industryid=`$smarty.get.industryid` title=`$industry.name`}">Cá nhân</a>
		  </span>
	      </h2>
	      <a class="list_nottt" href="{the_url module=root-url}/virtual-office">
		Tiêu chuẩn thương hiệu
	      </a>
	</div>
      </div>
      
      
	<div style="float: right; width: 300px; margin-top: -50px" id="searchleft_innerbox">
	    <form action="{the_url module='companies' action='search'}" method="get">
		<input type="hidden" name="do" value="company" />
		<input type="hidden" name="action" value="search" />
		<input type="text" placeholder="Tìm kiếm Gian hàng" name="keyword" style="float: left">
		<input type="submit" value="Tìm kiếm">
	    </form>
	</div>
      
      
    <!--{loop $list item0 level0 key0}-->
	{if $item0.adses}
	    <div class="works-list">
		<h3 style="margin-bottom: 20px;"><a href="#">{$item0.name}</a></h3>
		
		
		
		  <ul style="height: 230px;" class="filterable-grid">
		      
		      <!--{loop $item0.adses item level key}-->
			  <li data-type="dentity motion sites web-design " data-id="id-1" class="item">
			      <div class="half odd">
				  <div class="pic"><img title="{$item.name}" alt="{$item.name}" style="margin:0 0;" src="{$item.logo}"></div>
				  
				  <a target="_blank" title="{$item.name}" href="{$item.href}"></a>
			      </div>
				<div class="description-bottom">
				      <div class="title">				      
					  <h4><a target="_blank" title="{$item.name}" href="{$item.href}">{$item.name}</a></h4>
				      </div>
				</div>
			  </li>
		      <!--{/loop}-->
			
		  </ul>
	    </div>
	{/if}
    <!--{/loop}-->
  
</div>




















</div>
  </div>



<!--{include file="`$theme_name`/footer.html"}-->



