        <div class="notice">
              <h2><a href="announce.php?type=1">{lang announce}</a></h2>
              <ul>
				{announce row=10 userid=$MEMBER.id typeid=1 membertypeid=$MEMBER.membertype_id}
					{if $announce.status}
						<li{if !$announce.read} class="notread"{/if}><a href="{$announce.url}">{$announce.title}</a></li>
					{/if}
				{/announce}
              </ul>
           </div>
	   <div class="notice">
              <h2><a href="announce.php?type=6">Hướng dẫn</a></h2>
              <ul>
				{announce row=10 userid=$MEMBER.id typeid=6 membertypeid=$MEMBER.membertype_id}
					{if $announce.status}
						<li{if !$announce.read} class="notread"{/if}><a href="{$announce.url}">{$announce.title}</a></li>
					{/if}
				{/announce}
              </ul>
        </div>