<!--{assign var="page_title" value="`$_announce`"}-->
<!--{include file="header.html"}-->


<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <!--{include file="menu.html"}-->
       </div>
    </div>
     <div class="main_content">
	
	<div class="main_content_left">
		<div class="blank"></div>
		    <div class="offer_banner"><img src="{$office_theme_path}images/offer_01.gif" /></div>
		<div class="offer_info_title"><h2>{$item.subject}</h2></div>
      
		<div class="content-inner">
			{$item.message}
		</div>
		
		
		<p></p>
		<br />
		<p style="text-align: center">
		    <a class="btn_publish" href="index.php{if $newshop}#newshop{/if}">Tiếp tục</a>
		</p>
		
	</div>
	
	<div class="main_content_right">
	    <!--{include file="_rightbar.html"}-->           
        </div>
		
</div>
</div>
<!--{include file="footer.html"}-->

