<!--{assign var="page_title" value="Kết nối bạn bè"}-->
<!--{include file="header.html"}-->
<script src="{$SiteUrl}scripts/jquery/jquery.colorbox.js" type="text/javascript"></script>
<link href="{$SiteUrl}scripts/jquery/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="../scripts/jquery/jquery.textbox.js" charset="{$charset}"></script>
<!--{literal}-->
<script>
jQuery(document).ready(function($) {
	$('a[rel*=lightbox]').colorbox({maxWidth:600,opacity:0.1});
})
</script>
<!--{/literal}-->

<!--{literal}-->
<script>
	jQuery(document).ready(function($) {
		$('.MenuItem30_3').addClass('mActive');
	});
</script>
<!--{/literal}-->

<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <!--{include file="menu.html"}-->
       </div>
    </div>
    <div class="main_content">
    <div class="blank"></div>
	<div class="offer_banner">
		<img src="{$office_theme_path}images/offer_01.gif" />
	</div>
	
    <div class="offer_info_title">
		<h2>
			Kết nối bạn bè
		</h2>
	</div>
     
    
	<div class="contact_listing">
		
	</div>
	
	
	<!--Add a button for the user to click to initiate auth sequence -->
    <button id="authorize-button" style="visibility: hidden">
		<img src="{the_url module=root-url}templates/default/image/google_contact.PNG" /><br />
		Kết nối với Google
	</button>
	
    {literal}
	<script type="text/javascript">
    
	  var clientId = '163816291487-3hjafj771lm3557bf2eh102437iuc5b6.apps.googleusercontent.com';
    
	  var apiKey = 'AIzaSyCqtWoscUHNUnGXInd1nlFTqD6hhJ4cpbA';
    
	  var scopes = 'https://www.google.com/m8/feeds';
    
	  function handleClientLoad() {
	    // Step 2: Reference the API key
		
		
	    gapi.client.setApiKey(apiKey);
	    window.setTimeout(checkAuth,1);
	  }
    
	  function checkAuth() {
	    gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
	  }
    
	  function handleAuthResult(authResult) {
	    var authorizeButton = document.getElementById('authorize-button');
	    if (authResult && !authResult.error) {
	      authorizeButton.style.visibility = 'hidden';
	      makeApiCall();
	    } else {
	      authorizeButton.style.visibility = '';
	      authorizeButton.onclick = handleAuthClick;
	    }
	  }
    
	  function handleAuthClick(event) {
	    // Step 3: get authorization to use private data
	    gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
	    return false;
	  }
    
	  // Load the API and make an API call.  Display the results on the screen.
	  function makeApiCall() {
	    var token = gapi.auth.getToken();
		
		$.ajax({
			url: 'https://www.google.com/m8/feeds/contacts/default/full?alt=json&max-results=2000',
			dataType: 'jsonp',
			data: token
		}).done(function(data) {
			//console.log(JSON.stringify(data));
			saveGoogleContactString(encodeURIComponent(JSON.stringify(data)));
			renderContactList(data);
		}); 
	  }
		
	
	var firstentry;
	function renderContactList(list) {
		var length=0;
		var html = '<ul>';
		if (typeof(list.feed.entry) != 'undefined') {
			list.feed.entry.forEach(function(entry) {
				//console.log(entry);
				html += '<li>';
				
				html += '<h2>'+entry.title.$t+'</h2>';
				
				if (typeof(entry.gd$email) != 'undefined') {
					entry.gd$email.forEach(function(email){
						if(email.primary) {
							html += '<span>'+email.address+'</span>';
						}
					});
				}					
				
				html += '</li>';
				
				length = list.feed.entry.length;
			});
		} else {
			html += '<li style="border:0">';
				
			html += 'Chưa có bạn bè trên Google!';		
				
			html += '</li>';
		}
		html += '</ul>';
			
			//alert(html);
			if (!$('.contact_listing ul').length) {
				//$('.contact_listing').html(html);
				
				$('.contact_listing').html("<p>Bạn đang kết nối với <strong>"+length+" bạn bè</strong> trên Google bằng tài khoản <strong>"+list.feed.author[0].email.$t+"</strong></p>");
				$('.contact_listing').append("<h3 class='list-title'>Danh sách bạn bè</h3>");
				$('.contact_listing').append(html);
			}
			
			firstentry = list;
	}
		
		function getAllContactNana(args) {
			//code
		}
		
		function saveGoogleContactString(data) {
			var jdata = {};
			jdata["data"] = data;
			$.ajax({
				url: '../index.php?do=product&action=saveGoogleContactString',
				type: "POST",
				data: jdata
			}).done(function(data) {
				//console.log(JSON.stringify(data));
			}); 
		}
	</script>
	{/literal}

    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
	
	
	
</div>
</div>
<!--{include file="footer.html"}-->