<!--{assign var="page_title" value="Hồ sơ xin việc"}-->
<!--{include file="header.html"}-->

<!--{literal}-->
<script>
        //alert("sdfsdfsdfs");
	jQuery(document).ready(function($) {
	        
		$('.MenuItem31').addClass('mActive');
		
		
	});

</script>
<!--{/literal}-->
<script src="../scripts/jquery/jquery.textbox.js" charset="{$charset}"></script>
<!--{editor type="tiny_mce_new"}-->

<div class="wrap clearfix">
	<div class="sidebar">
	   <div class="sidebar_menu">
	     <!--{include file="menu.html"}-->
	   </div>
	</div>
	<div class="main_content employee_edit">
		<div class="blank"></div>
		    <div class="offer_banner"><img src="{$office_theme_path}images/offer_01.gif" /></div>
		<div class="offer_info_title"><h2>{$page_title}</h2></div>
		<div class="hint">{lang must_input_with_star}</div>
			
		<form name="jobfrm" id="" action="employee.php" method="post" onsubmit="return checkEmployeeSubmit()">
		<!-- {formhash} -->	
		<input type="hidden" name="id" value="{$item.id}">
		
			<div class="employee_steps">
				<a href="#" class="active"><span>1</span>Thông tin chung</a>
				<a href="{if $item.id}employee.php?do=step2&id={$item.id}{else}#{/if}" {if !$item.id}class="notyet"{/if}><span>2</span>Hồ sơ chi tiết</a>
			</div>
			<br />
			<table>			
				<tr>
					<th valign="top" style="padding-top: 30px;">Số năm kinh nghiệm<font class="red">*</font></th>
					<td>
						<input type="checkbox" name="employee[newgrad]" {if $item.newgrad}checked{/if} />
						Tôi mới tốt nghiệp/chưa có kinh nghiệm làm việc <br />
						<input type="text" name="employee[years_experience]" value="{if $item.newgrad}0{else}{$item.years_experience}{/if}" {if $item.newgrad}disabled{/if} />
					</td>
				</tr>
				<tr>
					<th valign="top" style="padding-top: 10px;">Trình độ ngoại ngữ</th>
					<td>
						<div class="language_select">
							{if $item.languages}
								<!--{loop $item.languages itemM level_M keyM}-->
									<div class="language_select_item">
										<select name="languages[{$keyM}][name]">
											<option value="0">Chọn ngôn ngữ...</option>
											<!--{loop $language_options item0 level_0 key0}-->
												<option value="{$item0.id}" {if $itemM.0 == $item0.id}selected{/if}>{$item0.name}</option>
											<!--{/loop}-->
										</select>
										<select name="languages[{$keyM}][level]">
											<option value="0">Chọn trình độ...</option>
											<!--{loop $LanguageLevels item0 level_0 key0}-->
												<option value="{$key0}" {if $itemM.1 == $key0}selected{/if}>{$item0}</option>
											<!--{/loop}-->
										</select>
										<a href="javascript:void(0)" class="close_but">X</a>
									</div>
								<!--{/loop}-->
							{else}
								<div class="language_select_item">
										<select name="languages[0][name]">
											<option value="0">Chọn ngôn ngữ...</option>
											<!--{loop $language_options item0 level_0 key0}-->
												<option value="{$item0.id}">{$item0.name}</option>
											<!--{/loop}-->
										</select>
										<select name="languages[0][level]">
											<option value="0">Chọn trình độ...</option>
											<!--{loop $LanguageLevels item0 level_0 key0}-->
												<option value="{$key0}">{$item0}</option>
											<!--{/loop}-->
										</select>
										<a href="javascript:void(0)" class="close_but">X</a>
								</div>
							{/if}
							
						</div>
						<a class="add_button language_add_button" href="javascript:void(0)"><span>+</span> Thêm trình độ ngoại ngữ</a>
					</td>
				</tr>
				<tr>
					<th>Vị trí mong muốn<font class="red">*</font></th>
					<td><input placeholder="VD: Nhân viên kinh doanh, Nhân viên kỹ thuật, Tìm việc bán thời gian,..." type="text" name="employee[expected_position]" value="{$item.expected_position}" /></td>
				</tr>
				<tr>
					<th>Cấp bậc mong muốn<font class="red">*</font></th>
					<td>
						<select name="employee[joblevel_id]">
							<option value="0">Chọn</option>
							<!--{loop $JobProficiencies item0 level_0 key0}-->
								<option value="{$key0}" {if $item.joblevel_id == $key0}selected{/if}>{$item0}</option>
							<!--{/loop}-->
						</select>
					</td>
				</tr>
				<tr>
					<th>Nơi làm việc<font class="red">*</font></th>
					<td>
						<select name="areas[]" multiple>
							{$AreaOptions}
						</select>
					</td>
				</tr>
				<tr>
					<th>Ngành nghề<font class="red">*</font></th>
					<td>
						<select name="jobindusts[]" multiple>
							{$JobindustOptions}
						</select>
					</td>
				</tr>				
				<tr>
					<th>Mức lương mong muốn<font class="red">*</font></th>
					<td>
						<input type="radio" name="has_salary" value="1" {if $item.salary}checked="checked"{/if} />
						<input type="text" name="employee[salary]" value="{$item.salary}"  {if !$item.salary}disabled{/if} /> <span>
						<input type="radio" name="employee[salary_currency]" value="VNĐ" {if $item.salary_currency == "VNĐ"}checked="checked"{/if} /> VNĐ
						<input type="radio" name="employee[salary_currency]" value="USD" {if $item.salary_currency == "USD"}checked="checked"{/if} /> USD &nbsp;&nbsp;&nbsp;/ tháng</span> <br />
						<input type="radio" name="has_salary" value="0" {if !$item.salary}checked="checked"{/if} />
						Thương lượng
					</td>
				</tr>
				<tr>
					<th>Cho phép tìm kiếm</th>
					<td>
						<input type="checkbox" name="employee[searched]" {if $item.searched}checked{/if} /> Cho phép tìm kiếm từ trang ngoài.
					</td>
				</tr>
				<tr>
				      <th class="circle_bottomleft"></th>
				      <td class="circle_bottomright"><input name="save" type="submit" id="save" value="Tiếp tục"></td>
				</tr>
			</table>
		</form>
	
	</div>
</div>

<script>
var cache_path = "../";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
var industry_id1 = {$item.industry_id1|default:0} ;
var industry_id2 = {$item.industry_id2|default:0} ;
var industry_id3 = {$item.industry_id3|default:0} ;
var industry_id4 = {$item.industry_id4|default:0} ;
var jobtype_id = {$item.jobtype_id|default:0} ;
</script>
<!--{literal}-->
<script>
	
	function checkEmployeeSubmit()
	{
		var result = true;
		
		if (!$('input[name="employee[newgrad]"]').prop('checked') && $('input[name="employee[years_experience]"]').val() == "") {
			if(!$('input[name="employee[years_experience]"]').parent().find('label').length) $('input[name="employee[years_experience]"]').after('<label for="" class="errorz">Nội dung yêu cầu</label>');
			result = false;
		}
		else
		{
			$('input[name="employee[years_experience]"]').parent().find('label').remove();
		}
		
		//if ($('.language_select div.language_select_item:first-child select').eq(0).val() == "0"
		//    || $('.language_select div.language_select_item:first-child select').eq(1).val() == "0"
		//    ) {
		//	if(!$('.language_select div.language_select_item:first-child').parent().find('label').length) $('.language_select div.language_select_item:first-child').after('<label for="" class="errorz">Nội dung yêu cầu</label>');
		//	result = false;
		//}
		//else
		//{
		//	$('.language_select div.language_select_item:first-child').parent().find('label').remove();
		//}
		
		//expected_position
		if ($('input[name="employee[expected_position]"]').val() == "") {
			if(!$('input[name="employee[expected_position]"]').parent().find('label').length)
				$('input[name="employee[expected_position]"]').after('<label for="" class="errorz">Nội dung yêu cầu</label>');
			
			result = false;
		}
		else
		{
			$('input[name="employee[expected_position]"]').parent().find('label').remove();
		}
		
		if ($('select[name="employee[joblevel_id]"]').val() == "0") {
			if(!$('select[name="employee[joblevel_id]"]').parent().find('label').length)
				$('select[name="employee[joblevel_id]"]').after('<label for="" class="errorz">Nội dung yêu cầu</label>');
			
			result = false;
		}
		else
		{
			$('select[name="employee[joblevel_id]"]').parent().find('label').remove();
		}
		
				
		if (!$('select[name="areas[]"]').val()) {
			if(!$('select[name="areas[]"]').parent().find('label').length)
				$('select[name="areas[]"]').after('<label for="" class="errorz">Nội dung yêu cầu</label>');
			
			result = false;
		}
		else
		{
			$('select[name="areas[]"]').parent().find('label').remove();
		}
		
		if (!$('select[name="jobindusts[]"]').val()) {
			if(!$('select[name="jobindusts[]"]').parent().find('label').length)
				$('select[name="jobindusts[]"]').after('<label for="" class="errorz">Nội dung yêu cầu</label>');
			
			result = false;
		}
		else
		{
			$('select[name="jobindusts[]"]').parent().find('label').remove();
		}
		
		if ($('input[name="has_salary"]:checked').val() == "1" && ($('input[name="employee[salary]"]').val() == "" || !$('input[name="employee[salary_currency]"]:checked').length)) {
			$('input[name="employee[salary]"]').parent().find('label').remove();
				if ($('input[name="employee[salary]"]').val() == "") {
					$('input[name="employee[salary]"]').parent().find("br").after('<label for="" class="errorz">Nhập mức lương</label>');
				}
				else
				{
					$('input[name="employee[salary]"]').parent().find("br").after('<label for="" class="errorz">Chọn đơn vị tiền tệ</label>');
				}

			
			result = false;
		}
		else
		{
			$('input[name="employee[salary]"]').parent().find('label').remove();
		}
		
		
		return result;
	}

jQuery(document).ready(function($) {	
	
	//employee_edit
	if ($('.language_select div').length < 2) {
		$('.language_select div:first-child .close_but').css("display","none");
	}
	$('.language_add_button').click(function() {
		$('.language_select').append($('.language_select div').first().clone());
		$('.language_select div').last().find('select').val("0");
		if ($('.language_select div').length > 2) {
			$('.language_add_button').css("display","none");
		}
		$('.language_select div .close_but').css("display","block");
		
		var cc = 0;
		$('.language_select div').each(function(){
			$(this).find('select').eq(0).attr("name", "languages["+cc+"][name]");
			$(this).find('select').eq(1).attr("name", "languages["+cc+"][level]");
			cc++;
		});
	});
	$('.language_select_item .close_but').live("click",function() {
		if ($('.language_select div').length > 1) {
			$(this).parent().remove();
			$('.language_add_button').css("display","block");
		}
		if ($('.language_select div').length < 2) {
			$('.language_select div:first-child .close_but').css("display","none");
		}
	});
	
	//$('input[name="employee[newgrad]"]').prop('checked')
	$('input[name="employee[newgrad]"]').change(function() {		
		if ($(this).prop('checked')) {
			$('input[name="employee[years_experience]"]').val(0);
			$('input[name="employee[years_experience]"]').prop('disabled', true);
		}
		else
		{
			$('input[name="employee[years_experience]"]').val("");			
			$('input[name="employee[years_experience]"]').prop('disabled', false);
			$('input[name="employee[years_experience]"]').focus();
		}
	});
	
	$('.employee_edit select[name="jobindusts[]"]').select2({ maximumSelectionSize: 3, placeholder: "Chọn ngành nghề"});
	$('.employee_edit select[name="areas[]"]').select2({ maximumSelectionSize: 3, placeholder: "Chọn khu vực"});
	
	//$('input[name="employee[newgrad]"]').prop('checked')
	$('input[name="has_salary"]').change(function() {		
		if ($('input[name="has_salary"]:checked').val() == "1") {
			$('input[name="employee[salary]"]').val("");			
			$('input[name="employee[salary]"]').prop('disabled', false);
			$('input[name="employee[salary]"]').focus();
		}
		else
		{
			$('input[name="employee[salary]"]').val('');
			$('input[name="employee[salary]"]').prop('disabled', true);
		}
	});
	
	$('input[name="employee[salary]"]').keyup(function(){
		$(this).parseNumber({format:"#,###", locale:"vn"});
		$(this).formatNumber({format:"#,###", locale:"vn"});
	});
})
</script>
<!--{/literal}-->
<script src="../scripts/multi_select.js" charset="{$charset}"></script>
<script src="../scripts/script_area.js"></script>
<script src="../scripts/script_industry.js"></script>
<!--{include file="footer.html"}-->