    <tr class="nofanpage_row" style="display: none">
	<th>Facebook (Fan Page):</th>
	<td><input placeholder="Nhập đường dẫn đến Fan Page của bạn" name="data[company][facebook]" type="text" id="contact_facebook" value="{$item.facebook}" style="width:432px;"></td>
      </tr>
      <tr class="nofanpage_row" style="display: none">
	<th>Facebook (Trang cá nhân):</th>
	<td><input placeholder="Nhập đường dẫn đến Trang cá nhân của bạn" name="data[company][facebook_personal]" type="text" id="contact_facebook_personal" value="{$item.facebook_personal}" style="width:432px;"></td>
      </tr>
      <tr class="fanpage_row" style="display: none">
	<th>Facebook (Fan Page):</th>
	<td class="fanpage_main">
	  <input placeholder="Nhập đường dẫn đến Fan Page của bạn" name="data[company][facebook]" type="text" id="contact_facebook" value="{$item.facebook}" style="width:432px;">
	</td>
      </tr>


      <tr style="display: none">
	<th><br />Liên kết Facebook:</th>
	<td class="facebook_connect"><br />
	  <!--{include file="_fb_connect.html"}-->
	</td>
      </tr>
