{if $pb_userinfo.role == 'admin'}
	      <tr>
                <th>Liên kết Facebook với MarketOnline.vn:</th>
                <td>
			
				{if $fb_data}
				    <div class="fb_box">
					<p><strong style="font-size: 16px;">Trang cá nhân của bạn: </strong></p>
					<ul>
					  <li>{$fb_user.first_name} {$fb_user.last_name}</li>
					</ul>
					<br />
					<p><strong style="font-size: 16px;">Fanpages của bạn: </strong></p>
					<ul>
						<!--{loop $fb_data.data itemc level_0 key0}-->
							<li>{$itemc.name}</li>
						<!--{/loop}-->
					</ul>
					<br />				    
					<a href="https://www.facebook.com/dialog/oauth?client_id=290596171126161&redirect_uri=http://marketonline.vn/fb-tokens/&scope=manage_pages,publish_actions,read_friendlists">Làm mới liên kết</a>
				    </div>
				{else}
				    <div class="fb_box">
					<a href="https://www.facebook.com/dialog/oauth?client_id=290596171126161&redirect_uri=http://marketonline.vn/fb-tokens/&scope=manage_pages,publish_actions,read_friendlists">Nhấn vào đây để liên kết với Facebook của bạn. MarketOnline hỗ trợ tự động cập nhật tin lên trang cá nhân và các trang fanpages của bạn</a>
				    </div>
				{/if}
			
		</td>
              </tr>
{/if}