<!--{assign var="page_title" value="`$title`"}-->
<!--{include file="header.html"}-->

<div class="wrap clearfix flash_page">
    <div class="sidebar">
       <div class="sidebar_menu">
         <!--{include file="menu.html"}-->
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>

     <div class="offer_info_title"><h2>{lang action_tip}</h2></div>
     <div id="announce_div">
        <h2>{$message}</h2>
        <p>
            <span><a href="{$url}" class="btn_publish">{lang go_back}</a></span><span><a href="index.php" class="btn_publish">{lang go_office_room}</a></span>
        </p>
     </div>
     

      
     </div>
   </div>
<!--{include file="footer.html"}-->