<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{$page_title} - {lang office_room} - {$_G.site_name}</title>

<link href="../images/faviconz.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="{$office_theme_path}images/style.css?v=10" rel="stylesheet" type="text/css">
<script src="../scripts/jquery.js"></script>
<script type='text/javascript' src='../templates/default/js/jquery.jcookie.min.js'></script>
<script src="../data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
<script src="../scripts/jquery/jquery.validate_2.js"></script>
<script src="../scripts/general.js"></script>
<script type='text/javascript' src='../images/jwplayer/jwplayer.js'></script>
<script type='text/javascript' src='../templates/default/js/jquery.resizecrop-1.0.3.js'></script>
<script src="../scripts/hashtable.js"></script>
<script src="../scripts/jquery.numberformatter.js"></script>

<link href="../templates/default/js/select2/select2.css" rel="stylesheet" type="text/css">
<script src="../templates/default/js/select2/select2.min.js"></script>
<script src="../templates/default/js/select2/select2_locale_vi.js"></script>


<link href="../templates/office/calendar/jquery.datepick.css" rel="stylesheet" type="text/css">
<script src="../templates/office/calendar/jquery.datepick.js"></script>
<script src="../templates/office/calendar/jquery.datepick-vi.js"></script>

<script type="text/javascript" src="../templates/default/js/jemotion/jemotion.js"></script>

<script type="text/javascript" src="http://www.vietbando.com/maps/API/VBDMapAPI.js?key={$pb_setting.vietbando_key}"></script>



<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_eVHPKnNHwaSU5Gd2Bke9gaYDyZU2S_w">
</script>
<script src="../templates/default/js/custom_map.js"></script>



<!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
<!--<script src="http://marketonline.vn/scripts/mudim-0.9-r162.js"></script>-->
<!--{literal}-->
<script>
	
	
	
	function updateFanpageSelect() {
		$.ajax({
			url: "{/literal}{the_url module='root-url'}virtual-office/{literal}company.php?do=fanpage_select",
		}).done(function ( data ) {
			//alert(data);
			if(data != 'false') {
				$('.fanpage_main').html(data);
				$('.fanpage_row').show();
				$('.nofanpage_row').hide();
			} else {
				$('.fanpage_row').hide();
				$('.nofanpage_row').show();
			}
			//$('#company_shop_name').trigger("keyup");
		});
	}
	
	function updateFacebookConnect() {
		$.ajax({
			url: "{/literal}{the_url module='root-url'}virtual-office/{literal}company.php?do=facebook_connect",
		}).done(function ( data ) {
			//alert(data);
			$('.facebook_connect').html(data);
			$('#company_shop_name').trigger("keyup");
			updateFanpageSelect();
		});
	}
	
	function insertChatImage(image, box) {
		$('#chat-frame #chat-box-'+box+' textarea').val("<div class='ajax-loader'>Đang tải ảnh...</div>");
		postChatNew(box, image);
	}
	
	function insertAtCaret(areaId,text) {
	var txtarea = document.getElementById(areaId);
	var scrollPos = txtarea.scrollTop;
	var strPos = 0;
	var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ? 
	    "ff" : (document.selection ? "ie" : false ) );
	if (br == "ie") { 
	    txtarea.focus();
	    var range = document.selection.createRange();
	    range.moveStart ('character', -txtarea.value.length);
	    strPos = range.text.length;
	}
	else if (br == "ff") strPos = txtarea.selectionStart;
    
	var front = (txtarea.value).substring(0,strPos);  
	var back = (txtarea.value).substring(strPos,txtarea.value.length); 
	txtarea.value=front+text+back;
	strPos = strPos + text.length;
	if (br == "ie") { 
	    txtarea.focus();
	    var range = document.selection.createRange();
	    range.moveStart ('character', -txtarea.value.length);
	    range.moveStart ('character', strPos);
	    range.moveEnd ('character', 0);
	    range.select();
	}
	else if (br == "ff") {
	    txtarea.selectionStart = strPos;
	    txtarea.selectionEnd = strPos;
	    txtarea.focus();
	}
	txtarea.scrollTop = scrollPos;
    }
	
	function updateChatboxNew()
    {
	$.ajax({
	    url: "../index.php?do=product&action=updateChatboxNew",
	}).done(function ( data ) {
	    //alert(data);
	    var arr = jQuery.parseJSON(data);
	    $(arr).each(function(index,value) {
		//alert(value.id);
		if ($('#chat-box-'+value).length>0) {
		    if ($('#chat-box-'+value).hasClass('hidden')) {
			getChatboxNew(value, true);
		    }
		    else
		    {
			getChatboxNew(value, false);		       
		    }
		}
		else
		{
		    getChatboxNew(value, true);
		}
	    });
	});
    }
    function postChatNew(id, content, hash)
    {	
	if ($.trim(content) == "") {
	    $('#chat-frame #chat-box-'+id+' textarea').val("");
	    return;
	}
	
	//remove notification
	$('#chat-frame #chat-box-'+id+' .notification').html('');
	
	$('#chat-frame #chat-box-'+id).addClass("chatloading");	
	
	$('#chat-frame #chat-box-'+id+' .chat-list ul').append('<li class="me temp" rel="'+$('#chat-frame #chat-box-'+id+' .chat-list ul li:last-child').attr("rel")+'" class="me">'+
								'<img width="40" height="40" src="'+companylogo+'" class="avatar">'+
								$('#chat-frame #chat-box-'+id+' textarea').val()+
							    '<span class="status">đang gửi...</span></li>');
	
	$('#chat-frame #chat-box-'+id+' .chat-list ul li.temp').emotions({
	    handle: "a#toggle",
	    css: null //Note: don't put comma (,) after the last property
	});
	
	$('#chat-frame #chat-box-'+id+' textarea').val("");
	$('#chat-frame #chat-box-'+id+' .chat-list').scrollTop($('#chat-frame #chat-box-'+id+' .chat-list')[0].scrollHeight);
	
			$.ajax({
			    type: "POST",
			    url: "../index.php?do=product&action=postChatNew",
			    encoding: "UTF-8",
			    data: "data[content]="+encodeURIComponent(content)+"&formhash="+hash+"&data[id]="+id
			}).done(function ( data ) {
			    if( console && console.log ) {
				$('#chat-frame #chat-box-'+id).removeClass("chatloading");
			    }
			});
    }
    
    
    function removeChatboxNew(uid)
    {
	$.ajax({
	    url: "../index.php?do=product&action=removeChatboxNew&id="+uid,
	}).done(function ( data ) {
	    clearInterval(ichatbox[uid]);
	});
    }
    
    function updateChatsNew()
    {
	//get current chatboxs
	var ids = '';
	$('#chat-frame .chat-box').each(function(){
	    var last = 0;
	    if ($(this).find('.chat-content .chat-list ul li').length > 1) {
		if($(this).find('.chat-content .chat-list ul li[read=0]').length) {
		  last = $(this).find('.chat-content .chat-list ul li[read=0]').first().attr("rel");
		}
		else {
		  last = parseInt($(this).find('.chat-content .chat-list ul li').last().attr("rel"))+1;
		}
	    }
	    
	    ids += $(this).attr('rel')+"_"+last+",";
	});
	
	var typing = '';	
	if ($(':focus').hasClass('post-content') && $(':focus').val().trim() != '' ) {
	    typing = '&typing='+$(':focus').parent().parent().attr("rel");
	}
	
	$.ajax({
	    url: "../index.php?do=product&action=ajaxUpdateChatsNew&ids="+ids+typing,
	}).done(function ( data ) {
	    if( console && console.log ) {
		//remove temp item
		
		$('#chat-frame .chat-box .chat-list ul li.chatloading').remove();
		
		//update chats
		var datajson = JSON.parse(data);
		$.each(datajson, function(i, items){
		    //Update each chatbox
		    var element = null;
		    for (var j = items.data.length-1; j >= 0; j--) {
			element = items.data[j];
			//update each chat line			
			updateChatsById(i, element);			
			
		    }
		    
		    //check if viewed
		    var last_line = $('#chat-frame #chat-box-'+i+' .chat-list ul li').last();
		    if (last_line.hasClass("me") && last_line.attr("read") == '1') {
		        if(items.data.length) $('#chat-frame #chat-box-'+i+' .notification').html(items.data[0].viewed_notice);
		    }
		    else
		    {
			$('#chat-frame #chat-box-'+i+' .notification').html('');
		    }
		    
		    
		    $('#chat-frame #chat-box-'+i+' .chat-list ul li .emotion').emotions({
			handle: "a#toggle",
			css: null //Note: don't put comma (,) after the last property
		    });
		    
		    if (items.typing) {
			var nneeww = $('#chat-frame #chat-box-'+i+' .typing').css("display") == "none";
			$('#chat-frame #chat-box-'+i+' .typing').show();
			if(nneeww) $('#chat-frame #chat-box-'+i+' .chat-list').scrollTop($('#chat-frame #chat-box-1x2 .chat-list').scrollTop()+66);
		    }
		    else
		    {
			$('#chat-frame #chat-box-'+i+' .typing').hide();
		    }
		    
		});
		
		//check for unread message
		checkChatboxUnread();
	    }
	});
    }
    
    function getChatboxNew(uid, hide)
    {
	//show hide chatbox when exsit
	if ($('#chat-box-'+uid).length>0) {
	    //alert("exists");
	    if (hide) {
		hideChatbox(uid);
	    }
	    else
	    {
		showChatbox(uid);
	    }
	    return;
	}
	
	//Load new chatbox
	$.ajax({
	    url: "../index.php?do=product&action=getChatboxNew&id="+uid,
	}).done(function ( data ) {
	    if( console && console.log && $('#chat-box-'+uid).length<1 ) {
		//alert(data);
		
		$('#chat-frame').prepend(data);
		$('#chat-frame #chat-box-'+uid+' .chat-list').scrollTop($('#chat-frame #chat-box-'+uid+' .chat-list')[0].scrollHeight);
		
		// Chat box functions
		$('#chat-frame #chat-box-'+uid+' .chat-title').click(function() {
		   
		    
		    $(this).parent().find(".chat-content").toggle();
		    $(this).parent().find(".chat-form").toggle();
		    
		    //Title click
		    if ($(this).parent().hasClass("hidden")) {
			$(this).parent().removeClass("hidden");			
			updateReadChat(uid);
			$('#chat-frame #chat-box-'+uid+' .chat-list').scrollTop($('#chat-frame #chat-box-'+uid+' .chat-list')[0].scrollHeight);
			
		    }
		    else
		    {
			$(this).parent().addClass("hidden");
		    }
		    
		    //***checkChatboxUnread();
		    //$(this).parent().find(".chat-form textarea").focus();
		});
		
		$('#chat-frame #chat-box-'+uid+' .chat-title h2 a').click(function() {
			if (!$(this).parent().parent().parent().hasClass("hidden"))
			{				
				window.location = $(this).attr("rel");
			}
		});
		
		//close chatbox
		$('#chat-frame #chat-box-'+uid+' .chat-title span.chat-close-but').click(function(){
		    $(this).parent().parent().parent().remove();
		    removeChatboxNew(uid);	
		});
		
		//post chat
		$('#chat-frame #chat-box-'+uid+' .post-content').keydown(function(event) {
		    if (event.keyCode == 13) {
			event.preventDefault();

		    	postChatNew(uid, $(this).val());
			
			$('#chat-frame #chat-box-'+uid+' .emotion-box').hide();
		    }
		});
		$('#chat-frame #chat-box-'+uid+' .post-content').focus(function() {$('#chat-frame #chat-box-'+uid+' .emotion-box').hide();});		
		
		//refresh new post
		clearInterval(chat_interval);
		chat_interval = setInterval("updateChatsNew()", 5000);
		
		//hide chatbox
		if (hide) {
		    hideChatbox(uid);
		}
		
		
		//set read chats
		if(!$('#chat-frame #chat-box-'+uid).hasClass("hidden"))
		{
		    updateReadChat(uid);
		}
		
		
		//check chatbox status
		//***checkChatboxUnread();
		
		//focus
		//$('#chat-frame #chat-box-'+uid+' .post-content').focus();
		
		$('#chat-frame #chat-box-'+uid+' .emotion-box').emotions({
                    handle: "a#toggle",
                    css: null //Note: don't put comma (,) after the last property
                });
		
		$('#chat-frame #chat-box-'+uid+' .emotion-box-but').click(function(){
		    $('#chat-frame #chat-box-'+uid+' .emotion-box').toggle();
		});
		$('#chat-frame #chat-box-'+uid+' .emotion-box span img').click(function() {
		    insertAtCaret("chatboxarea"+uid,' '+decodeURIComponent(unescape($(this).attr("rel"))).replace('&lt;','<').replace('&gt;', '>').replace('&amp;', '&')+' ');
		});		
		$('#chat-frame #chat-box-'+uid+' .chat-form textarea').click(function(){
		    $('#chat-frame #chat-box-'+uid+' .emotion-box').hide();
		});
		
		$('#chat-frame #chat-box-'+uid+' .chatimage-box-but').click(function(){
		    $('#uploadChatImage input[name=chatbox_id]').val(uid);
		    $('#uploadChatImage_but').trigger("click");
		});
	    }
	});
    }
	
	function updateChatsById(uid, item)
    {
	if ($('#chat-frame #chat-box-'+uid+' .chat-list ul li[chat-id='+item.id+']').length) {
	    //update esxit line
	    var line = $('#chat-frame #chat-box-'+uid+' .chat-list ul li[chat-id='+item.id+']');
	    
	    //update read
	    if (line.attr("read") == '0' && item.read == '1') {
		line.attr("read", item.read);
	    }
	    
	}
	else
	{
	    $('#chat-frame #chat-box-'+uid+' .chat-list ul li.temp').remove();
	    //render chat line if not exsit
	    $('#chat-frame #chat-box-'+uid+' .chat-list ul').append(renderChatLine(item));
	    $('li[chat-id="'+item.id+'"] .chatimage_thumb').fancybox();
	    $('li[chat-id="'+item.id+'"] .chatimage_thumb').attr("target","_blank");
	    //scroll to bottom
	    $('#chat-frame #chat-box-'+uid+' .chat-list').scrollTop($('#chat-frame #chat-box-'+uid+' .chat-list')[0].scrollHeight);
	}
    }
    
    function renderChatLine(item)
    {
	var result = '<li class="'+item.me+'" rel="'+item.created_or+'" chat-id="'+item.id+'" read="'+item.read+'">'
                            +'<span class="datetimec">'+item.created+'</span>'
                            +'<img width="40" height="40" src="'+item.company_logo+'" class="avatar">'
                            +'<span class="emotion">'+item.content.replace(/\\/g, '')+'</span></li>';
	
	return result;
    }
    
    function updateChats()
    {
	//get current chatboxs
	var ids = '';
	$('#chat-frame .chat-box').each(function(){
	    ids += $(this).attr('rel')+",";
	});	
	
	$.ajax({
	    url: "../index.php?do=product&action=ajaxUpdateChats&ids="+ids,
	}).done(function ( data ) {
	    if( console && console.log ) {
		//remove temp item
		
		$('#chat-frame .chat-box .chat-list ul li.chatloading').remove();
		
		//update chats
		var datajson = JSON.parse(data);
		$.each(datajson, function(i, items){
		    //Update each chatbox
		    var element = null;
		    for (var j = items.length-1; j >= 0; j--) {
			element = items[j];
			//update each chat line			
			updateChatsById(i, element);			
			
		    }
		    
		    //check if viewed
		    var last_line = $('#chat-frame #chat-box-'+i+' .chat-list ul li').last();
		    if (last_line.hasClass("me") && last_line.attr("read") == '1') {
		        $('#chat-frame #chat-box-'+i+' .notification').html(items[0].viewed_notice);
		    }
		    else
		    {
			$('#chat-frame #chat-box-'+i+' .notification').html('');
		    }
		    
		    
		    
		    
		});
		
		//check for unread message
		checkChatboxUnread();
	    }
	});
    }
    
    function updateReadTopChat()
    {
	//alert(id);
	var ids = '-1';
	$('#quick_message_content ul li[read=0]').each(function(){
	    ids = ids+','+$(this).attr("chat-id");
	    $(this).attr("read", 1);
	});
	//alert(ids);
	if(ids != '-1') setReadChat(ids);
	$('#messagehome .message_counter').remove();
    }
    
    function getTopChat() {
	//code
	$.ajax({
		url: "../index.php?do=product&action=getTopChatAnnounce",
	}).done(function ( data ) {
		if( console && console.log ) {
			$("#message_out").html(data);
			//alert(data);
		}
	});
    }
    
    function updateChatbox()
    {
	$.ajax({
	    url: "../index.php?do=product&action=updateChatbox",
	}).done(function ( data ) {
	    //alert(data);
	    var arr = jQuery.parseJSON(data);
	    $(arr).each(function(index,value) {
		//alert(value);
		if ($('#chat-box-'+value.id).length>0) {
		    if ($('#chat-box-'+value.id).hasClass('hidden')) {
			getChatbox(value.id, true, value.membertype_id);
		    }
		    else
		    {
			getChatbox(value.id, false, value.membertype_id);		       
		    }
		}
		else
		{
		    getChatbox(value.id, true, value.membertype_id);
		}
	    });
	});
    }
    
    function checkChatboxUnread()
    {
	$('#chat-frame .chat-box').each(function() {
	    if ($(this).hasClass("hidden") || !on_page) {
		if($(this).find("ul li[read=0]").not("ul li.me").length)
		{
		    $(this).addClass("unread");
		    $(this).find(".unread_count").remove();
		    $(this).prepend('<span class="unread_count">'+$(this).find("ul li[read=0]").not("ul li.me").length+'</span>');
		    
		    
		    //BOOONGGGGGGGGGGGGGGGGGGGGGGGGGG ===========  
		    //update boong from cookie
		    var cookiestring = '';
		    if (typeof($.cookie("cookiestring")) != 'undefined') {
			    cookiestring = $.cookie("cookiestring");
		    }
		    $(this).find("ul li[read=0]").not("ul li.me, ul li.boong").each(function(){
			if(cookiestring.indexOf("["+$(this).attr("chat-id")+"]") >= 0)
			    $(this).addClass('boong');
		    });
		    
		    //play boong
		    if ($(this).find("ul li[read=0]").not("ul li.me, ul li.boong").length) {
			var audioElement = document.createElement('audio');
			audioElement.setAttribute('src', 'http://marketonline.vn/images/alert.mp3');
			audioElement.play();
			
			$(this).find("ul li[read=0]").not("ul li.me, ul li.boong").addClass('boong');		
			$(this).find("ul li[read=0].boong").each(function(){
			    //alert(cookiestring.indexOf("["+$(this).attr("chat-id")+"]"));
			    if(cookiestring.indexOf("["+$(this).attr("chat-id")+"]") <= 0)
				cookiestring += "["+$(this).attr("chat-id")+"]";
			});
			$.cookie("cookiestring", cookiestring);
		    }
		    //==========================
		    
		    
		    
		    
		}
		else
		{
		    $(this).removeClass("unread");
		    $(this).find(".unread_count").remove();
		}
	    }
	    else
	    {
		$(this).removeClass("unread");
		$(this).find(".unread_count").remove();
	    }
	    $(this).find('ul li[read=1]').removeClass('boong');
	    //$(this).find('.chat-list').scrollTop($(this).find('.chat-list')[0].scrollHeight);
	});
    }
    
    function updateReadChat(id)
    {
	if (!on_page) {
	    return;
	}
	//alert(id);
	var ids = '-1';
	$('#chat-frame #chat-box-'+id+' .chat-list ul li[read=0]').not('#chat-frame #chat-box-'+id+' .chat-list ul li.me').each(function(){
	    ids = ids+','+$(this).attr("chat-id");
	    $(this).attr("read", 1);
	});
	//alert(ids);
	if(ids != '-1') setReadChat(ids);
    }    
    function setReadChat(ids) {
	
	setTimeout(function() {
	    $.ajax({
		url: "../index.php?do=product&action=setReadChat&id="+ids,
	    }).done(function ( data ) {
		//clearInterval(ichatbox[uid]);
	    });
	}, 6000);
	
    }
    
    function hideChatbox(uid)
    {
	var item = $('#chat-frame #chat-box-'+uid);	
		    item.find(".chat-content").css("display", "none");
		    item.find(".chat-form").css("display", "none");

		    //Title click
		    item.addClass("hidden");
    }
    function showChatbox(uid)
    {
	var item = $('#chat-frame #chat-box-'+uid);	
		    item.find(".chat-content").css("display", "block");
		    item.find(".chat-form").css("display", "block");

		    //Title click
		    item.removeClass("hidden");
		    updateReadChat(uid);
		    //$('#chat-frame #chat-box-'+uid+' .chat-form textarea').focus();
    }
    
    function removeChatbox(uid)
    {
	$.ajax({
	    url: "../index.php?do=product&action=removeChatbox&id="+uid,
	}).done(function ( data ) {
	    clearInterval(ichatbox[uid]);
	});
    }
    
    function getNewChats(uid)
    {
	if (true) {
	    chat_lock = 1;
	
	    var dates = '';
	    var seen = '';
	    if ($('#chat-frame #chat-box-'+uid+' .chat-list ul li').not('#chat-frame #chat-box-'+uid+' .chat-list ul li.temp').length) {
	       dates = "&date="+$('#chat-frame #chat-box-'+uid+' .chat-list ul li:last-child').attr("rel");
	    }
	    
	    var lastchat = $('#chat-frame #chat-box-'+uid+' .chat-list ul li').not('#chat-frame #chat-box-'+uid+' .chat-list ul li.temp').last();
	    if(lastchat.hasClass('me'))
	    {
		if (lastchat.attr('read') == '0') {
		    seen = "&seen="+lastchat.attr("chat-id");
		    //$('#chat-frame #chat-box-'+uid+' .notification').html('wait for being seen');
		}
		else
		{
		    //$('#chat-frame #chat-box-'+uid+' .notification').html('Đã xem');
		}
		
	    }
	    else
	    {
		$('#chat-frame #chat-box-'+uid+' .notification').html('');
	    }
    
	    $.ajax({
		url: "../index.php?do=product&action=getNewChats&id="+uid+dates+seen,
	    }).done(function ( data ) {
		if( console && console.log ) {
		    
		    $("<div>").html(data).find('.chat-list li').each(function(){
			
			$('#chat-frame #chat-box-'+uid+' .chat-list ul li.temp').remove();
			
			
			if($('#chat-frame #chat-box-'+uid+' .chat-list ul li[box-id='+$(this).attr("box-id")+']').length == 0)
			{
			    $('#chat-frame #chat-box-'+uid+' .chat-list ul').append($(this).clone());
			    $('#chat-frame #chat-box-'+uid+' .chat-list').scrollTop($('#chat-frame #chat-box-'+uid+' .chat-list')[0].scrollHeight);
			    
			    
			    
			    //play sound
			    if (!$(this).hasClass("me") && $('#chat-frame #chat-box-'+uid).hasClass("hidden")) {
				//var audioElement = document.createElement('audio');
				//audioElement.setAttribute('src', 'http://marketonline.vn/images/alert.mp3');
				//audioElement.play();
			    }
			    
			}
		    });
		    
		    if(!$('#chat-frame #chat-box-'+uid).hasClass("hidden"))
		    {
			updateReadChat(uid);		    
		    }
		    
		    checkChatboxUnread();
		    
		    
		    //seen
		    if($("<div>").html(data).find('.seen-id').length)
		    {
			var new_lastchat = $('#chat-frame #chat-box-'+uid+' .chat-list ul li').last();
			var lastchat = $('#chat-frame #chat-box-'+uid+' .chat-list ul li[chat-id='+$("<div>").html(data).find('.seen-id').html()+']');
			
			//alert(lastchat.attr('chat-id'));
			//alert(new_lastchat.attr('chat-id'));
			
			if (new_lastchat.attr('chat-id') == lastchat.attr('chat-id'))
			{
			    lastchat.attr('read','1');
			    $('#chat-frame #chat-box-'+uid+' .notification').html($("<div>").html(data).find('.seen-content').html());
			    
			    //alert($("<div>").html(data).find('.seen-content').html());
			}
			else
			{
			    $('#chat-frame #chat-box-'+uid+' .notification').html('');
			}
		    }
		    
		    
		    //opoen lock
		    chat_lock = 0;
		}
		
		
	    });
	    
	}
    }
    
    function postChat(id, content, hash, membertype_id)
    {
	if(typeof(membertype_id)==='undefined') membertype_id = 0;
	//membertype_id
	var type_str = "";
	if (membertype_id) {
	    type_str = "&membertypeid="+membertype_id;
	}
	
	if ($.trim(content) == "") {
	    $('#chat-frame #chat-box-'+id+' textarea').val("");
	    return;
	}
	
	//remove notification
	$('#chat-frame #chat-box-'+id+' .notification').html('');
	
	$('#chat-frame #chat-box-'+id).addClass("chatloading");	
	
	$('#chat-frame #chat-box-'+id+' .chat-list ul').append('<li class="me temp" rel="'+$('#chat-frame #chat-box-'+id+' .chat-list ul li:last-child').attr("rel")+'" class="me">'+
								'<img width="40" height="40" src="'+companylogo+'" class="avatar">'+
								$('#chat-frame #chat-box-'+id+' textarea').val()+
							    '<span class="status">đang gửi...</span></li>');
	
	$('#chat-frame #chat-box-'+id+' textarea').val("");
	$('#chat-frame #chat-box-'+id+' .chat-list').scrollTop($('#chat-frame #chat-box-'+id+' .chat-list')[0].scrollHeight);
	
			$.ajax({
			    type: "POST",
			    url: "../index.php?do=product&action=postChat"+type_str,
			    encoding: "UTF-8",
			    data: "data[content]="+encodeURIComponent(content)+"&formhash="+hash+"&data[id]="+id
			}).done(function ( data ) {
			    if( console && console.log ) {
			        //alert('#chat-frame #chat-box-'+id+' .chat-list ul li[rel='+$(data).attr("rel")+']');
				//if($('#chat-frame #chat-box-'+id+' .chat-list ul li[rel='+$(data).attr("rel")+']').length == 0)
				//    $('#chat-frame #chat-box-'+id+' .chat-list ul').append(data);
				
				$('#chat-frame #chat-box-'+id).removeClass("chatloading");
				
			    }
			});
    }
    
    function getChatbox(uid, hide, membertype_id)
    {
	if(typeof(membertype_id)==='undefined') membertype_id = 0;
	//membertype_id
	var type_str = "";
	if (membertype_id) {
	    type_str = "&membertypeid="+membertype_id;
	}
	//show hide chatbox when exsit
	if ($('#chat-box-'+uid).length>0) {
	    //alert("exists");
	    if (hide) {
		hideChatbox(uid);
	    }
	    else
	    {
		showChatbox(uid);
	    }
	    return;
	}
	
	//Load new chatbox
	$.ajax({
	    url: "../index.php?do=product&action=getChatbox&id="+uid+type_str,
	}).done(function ( data ) {
	    if( console && console.log ) {
		//alert(data);
		
		$('#chat-frame').prepend(data);
		$('#chat-frame #chat-box-'+uid+' .chat-list').scrollTop($('#chat-frame #chat-box-'+uid+' .chat-list')[0].scrollHeight);
		
		// Chat box functions
		$('#chat-frame #chat-box-'+uid+' .chat-title').click(function() {
		   
		    
		    $(this).parent().find(".chat-content").toggle();
		    $(this).parent().find(".chat-form").toggle();
		    
		    //Title click
		    if ($(this).parent().hasClass("hidden")) {
			$(this).parent().removeClass("hidden");			
			updateReadChat(uid);
			$('#chat-frame #chat-box-'+uid+' .chat-list').scrollTop($('#chat-frame #chat-box-'+uid+' .chat-list')[0].scrollHeight);
			
		    }
		    else
		    {
			$(this).parent().addClass("hidden");
		    }
		    
		    //***checkChatboxUnread();
		    //$(this).parent().find(".chat-form textarea").focus();
		});
		
		$('#chat-frame #chat-box-'+uid+' .chat-title h2 a').click(function() {
			if (!$(this).parent().parent().parent().hasClass("hidden"))
			{				
				window.location = $(this).attr("rel");
			}
		});

		//close chatbox
		$('#chat-frame #chat-box-'+uid+' .chat-title span.chat-close-but').click(function(){
		    $(this).parent().parent().parent().remove();
		    removeChatbox(uid);	
		});

		//post chat
		$('#chat-frame #chat-box-'+uid+' .post-content').keydown(function(event) {			
		    if (event.keyCode == 13) {
			event.preventDefault();
		    	postChat(uid, $(this).val(), "zzz");
		    }
		});		
		
		//refresh new post
		clearInterval(chat_interval);
		chat_interval = setInterval("updateChats()", 5000);
		
		//hide chatbox
		if (hide) {
		    hideChatbox(uid);
		}
		
		
		//set read chats
		if(!$('#chat-frame #chat-box-'+uid).hasClass("hidden"))
		{
		    updateReadChat(uid);
		}
		
		
		//check chatbox status
		//***checkChatboxUnread();
		
		//focus
		//$('#chat-frame #chat-box-'+uid+' .post-content').focus();
	    }
	});
    }
	
	function tooltipHelper(item, content)
	{
		item.append("<div class='tooltip-box'><span class='pointer-tooltip'>...</span><div class='tooltip-box-content'>"+content+"</div></div>");
	}
	
	function getCustomIndustriesByCurrent(id) {
		if (id != 0) {
			$('#dataCustomIndustry select').addClass("iloading");
			$.ajax({
				url: "../index.php?do=product&action=getCustomIndustriesByCurrent&id="+id+"&member_id=<!--{/literal}-->{$MEMBER.id}<!--{literal}-->",
			}).done(function ( data ) {
				if( console && console.log ) {
					for (var i=1; i<5; i++) {
						if ($(data).filter('#block_'+i).html()) {
							//alert($(data).filter('#block_'+i).html());
							$('#dataCustomIndustry .pos_'+i+' select').html($(data).filter('#block_'+i).html());
							$('#dataCustomIndustry .pos_'+i).css('visibility', 'visible');
							$('#dataCustomIndustry .pos_'+i+' input').attr('disabled','disabled');
							$('#dataCustomIndustry .pos_'+i+' input').css('display', 'none');
							$('#dataCustomIndustry .pos_'+i+' select').removeAttr('disabled');
						}
						$('#dataCustomIndustry select').removeClass("iloading");
					}
					
				}
			});	
		}
		else
		{
			getCustomIndustriesByParent(0, 1);
		}
		
	}
	
	function getCustomIndustriesByCustomParent(id, level) {
		if (level > 3 || id == 0) {				
			changeIndustry();			
			if (id == 0) {
				for (var i=parseInt(level)+1; i < 5; i++) {
					$('#dataCustomIndustry .pos_'+i+' select').html('<option value="0">-<!--{/literal}-->{lang create_custom_industry}<!--{literal}-->-</option>');
					$('#dataCustomIndustry .pos_'+i).css('visibility', 'hidden');
					$('#dataCustomIndustry .pos_'+i+' input').attr('disabled','disabled');
					$('#dataCustomIndustry .pos_'+i+' select').attr('disabled','disabled');
				}
			}
			return;
		}

		$('#dataCustomIndustry .pos_'+level+' select').addClass("iloading");

		$.ajax({
			url: "../index.php?do=product&action=getCustomIndustriesByCustomParent&id="+id+"&member_id=<!--{/literal}-->{$MEMBER.id}<!--{literal}-->",
		}).done(function ( data ) {
			if( console && console.log ) {
				//alert(data);
				$('#dataCustomIndustry .pos_'+(parseInt(level)+1)+' select').html(data);				
				changeIndustry();
				$('#dataCustomIndustry .pos_'+level+' select').removeClass("iloading");
			}
		});
	}
	
	function getCustomIndustriesByParent(id, level) {
		if (id == 0 && level == 1) {
			$('#dataCustomIndustry .pos_'+level+' select').addClass("iloading");
			$.ajax({
			url: "../index.php?do=product&action=getCustomIndustriesByParent&id=-1&member_id=<!--{/literal}-->{$MEMBER.id}<!--{literal}-->",
			}).done(function ( data ) {
				if( console && console.log ) {
					$('#dataCustomIndustry .pos_'+level+' select').html(data);
					changeIndustry();
					$('#dataCustomIndustry .pos_'+level+' select').removeClass("iloading");
					//getCustomIndustriesByCustomParent($('#dataCustomIndustry .pos_'+level+' select').val(), level)
				}
			});	
		}
		else
		{
			$('#dataCustomIndustry .pos_'+(parseInt(level)+1)+' select').addClass("iloading");
			$.ajax({
				url: "../index.php?do=product&action=getCustomIndustriesByParent&id="+id+"&member_id=<!--{/literal}-->{$MEMBER.id}<!--{literal}-->",
			}).done(function ( data ) {
				if( console && console.log ) {
					$('#dataCustomIndustry .pos_'+(parseInt(level)+1)+' select').html(data);
					changeIndustry();
					$('#dataCustomIndustry .pos_'+(parseInt(level)+1)+' select').removeClass("iloading");
					//getCustomIndustriesByCustomParent($('#dataCustomIndustry .pos_'+(parseInt(level)+1)+' select').val(), parseInt(level)+1)
				}
			});
		}
	}
	
	function updateCustomIndustry() {
		for (var i=1; i < 5; i++) {
			if ($('#dataCustomIndustry .pos_'+i+' select').val() != 0) {
				$('#dataCustomIndustry .pos_'+i+' input').attr('disabled','disabled');
				$('#dataCustomIndustry .pos_'+i+' input').css('display', 'none');
			}
			else
			{
				$('#dataCustomIndustry .pos_'+i+' input').removeAttr('disabled');
				$('#dataCustomIndustry .pos_'+i+' input').removeAttr("style");				
			}
		}
	}
	
	function changeIndustry(item) {
		//alert($(item).val());
		//getCustomIndustriesByParent($(item).val(), $(item).attr("rel"));
		var index = parseInt($(item).attr("rel"));
		
		for (var i=4; i > 0; i--) {			
			//getCustomIndustriesByParent($('#dataProductIndustryId'+i).val(), $('#dataProductIndustryId'+i).attr("rel"));
			
			if ($('#dataProductIndustryId'+i).val() != 0) {
				$('#dataCustomIndustry .pos_'+i).css('visibility', 'hidden');
				$('#dataCustomIndustry .pos_'+i+' input').attr('disabled','disabled');
				$('#dataCustomIndustry .pos_'+i+' select').attr('disabled','disabled');
			}
			else
			{
				$('#dataCustomIndustry .pos_'+i).css('visibility', 'visible');
				$('#dataCustomIndustry .pos_'+i+' input').removeAttr('disabled');
				$('#dataCustomIndustry .pos_'+i+' select').removeAttr('disabled');
				
				for(var j=i+1; j < 5; j++)
				{
					if ((($('#dataCustomIndustry .pos_'+(j-1)+' select').val() != -1)) && $('#dataCustomIndustry .pos_'+(j-1)).css('visibility') == 'visible') {
						$('#dataCustomIndustry .pos_'+j).css('visibility', 'visible');
						$('#dataCustomIndustry .pos_'+j+' input').removeAttr('disabled');
						$('#dataCustomIndustry .pos_'+j+' select').removeAttr('disabled');
					}
					else
					{
						$('#dataCustomIndustry .pos_'+j).css('visibility', 'hidden');
						$('#dataCustomIndustry .pos_'+j+' input').attr('disabled','disabled');
						$('#dataCustomIndustry .pos_'+j+' select').attr('disabled','disabled');
					}
				}
			}
		}
		updateCustomIndustry();
	}
	
	
	var chat_lock = 0;
	var chat_interval;
	var on_page = 1;
	var boong = 1;
	var companylogo = '<!--{/literal}-->{if $COMPANYINFO.name && $MEMBER.current_type != 6}../{$COMPANYINFO.logo}{else}{if $user_avatar} ../{$user_avatar} {else} ../templates/default/image/usericon.jpg  {/if}{/if}<!--{literal}-->';
	
	var ROOT_URL = '<!--{/literal}-->{the_url module=root-url}<!--{literal}-->';
	
$(document).ready(function() {
	
	$("#GoTop").click(function(){
		$('html, body').animate({scrollTop: '0px'}, 300);return false;
	});
	$("#check_all").click(function(){
		var isCheckAll=$(this).attr("checked");
		$('input[type="checkbox"][rel="check_item"]').each(function(){
		   $(this).attr("checked",isCheckAll);
		});
	});
	
	$('#settingbox').css('margin-left', $('#settingouter').width()-205);
	
	$('#CompanyLogo img').resizecrop({
		   width:238,
		   height:238
		   
		 });
	$('#CompanyLogo img').css('display', 'block');
	//$('#CompanyLogo img').
	
	$('.bglist img.iiimg').resizecrop({
		   width:75,
		   height:75		   
	});
	
	$('img.img_album').resizecrop({
		   width:160,
		   height:160		   
	});
	
	$('.avatar img').resizecrop({
		   width:80,
		   height:80		   
	});
	
	$("#add_new_brand_but").fancybox({
			'padding': 0,
			'zoomOpacity': true,
			'zoomSpeedIn': 500,
			'zoomSpeedOut': 500,
			'overlayOpacity': 0.75,
			'frameWidth': 530,
			'frameHeight': 400,
			'hideOnContentClick': false
		});
	
	$('#new_brand_box:before').click(function() {
		alert('sdds');
		$('#new_brand_box').css('display', 'none');
	});
	
	getCart();
	//getInbox();
	
	$('#dataCustomIndustry select').change(function(){
		//changeIndustry();
		getCustomIndustriesByCustomParent($(this).val(), $(this).attr("rel"));
	});
	$('#dataCustomIndustry input').keyup(function(){
		for(var j=parseInt($(this).attr("rel"))+1; j < 5; j++)
		{
			if ($(this).val() != '' && j == parseInt($(this).attr("rel"))+1) {
				$('#dataCustomIndustry .pos_'+j+' select').html('<option value="0">-<!--{/literal}-->{lang create_custom_industry}<!--{literal}-->-</option>');
				$('#dataCustomIndustry .pos_'+j).css('visibility', 'visible');
				$('#dataCustomIndustry .pos_'+j+' input').removeAttr('disabled');
				$('#dataCustomIndustry .pos_'+j+' input').removeAttr("style");
				$('#dataCustomIndustry .pos_'+j+' select').removeAttr('disabled');
			}
			else
			{
				$('#dataCustomIndustry .pos_'+j+' select').html('<option value="0">-<!--{/literal}-->{lang create_custom_industry}<!--{literal}-->-</option>');
				$('#dataCustomIndustry .pos_'+j).css('visibility', 'hidden');
				$('#dataCustomIndustry .pos_'+j+' input').attr('disabled', 'disabled');
				$('#dataCustomIndustry .pos_'+j+' input').css("display", "none");
				$('#dataCustomIndustry .pos_'+j+' select').attr('disabled', 'disabled');
			}
		}
		
	});
	
	getCustomIndustriesByCurrent(<!--{/literal}-->{if $item.producttype_id}{$item.producttype_id}{else}0{/if}<!--{literal}-->);
	
	
	$("#dataProductPrice").keyup(function(){
		$(this).parseNumber({format:"#,###", locale:"vn"});
		$(this).formatNumber({format:"#,###", locale:"vn"});
	});
	$("#dataProductNewPrice").keyup(function(){
		$(this).parseNumber({format:"#,###", locale:"vn"});
		$(this).formatNumber({format:"#,###", locale:"vn"});
	});
	$("#DataTradePrice").keyup(function(){
		$(this).parseNumber({format:"#,###", locale:"vn"});
		$(this).formatNumber({format:"#,###", locale:"vn"});
	});
	
	$("input[name='job[peoples]']").keyup(function(){
		$(this).parseNumber({format:"#,###", locale:"vn"});
		$(this).formatNumber({format:"#,###", locale:"vn"});
	});	
	
	if (window.location.hash == "#newshop") {
		tooltipHelper($('.shop_menu'), "<h2>Chúc mừng bạn đã khởi tạo thành công gian hàng online</h2> Nhấn vào liên kết bên trên để vào gian hàng của bạn");
	}
	
	if(!$('.main_content_right ul li').length)
	{
		$('.main_content_right').css("display", "none");
	}
	
	
	setInterval(function(){ updateChatboxNew(); }, 8000);
	
	
	///chattt
	<!--{/literal}-->
		{loop $chatboxsnew item level key}
                            {if $item != ''}
                                getChatboxNew("{$item}", true);
                            {/if}
                        {/loop}
	<!--{literal}-->
	
	
	$(window).on("blur focus", function(e) {
		var prevType = $(this).data("prevType");
	    
		if (prevType != e.type) {   //  reduce double fire issues
		    switch (e.type) {
			case "blur":
			    on_page = 0;
			    //console.log(on_page);
			    break;
			case "focus":
			    on_page = 1;
			    //console.log(on_page);
			    break;
		    }
		}
	    
		$(this).data("prevType", e.type);
	})
	
	var date = new Date();
	var minutes = 120;
	date.setTime(date.getTime() + (minutes * 60 * 1000));
	$.cookie.settings = {
		    path : "/",
		    expires : date
	};
	
	
	$('#JobcatId').select2({ maximumSelectionSize: 3, placeholder: "Chọn chức năng"});
	$('#JobindustId').select2({ maximumSelectionSize: 3, placeholder: "Chọn ngành nghề"});
	$('#school_select').select2({ maximumSelectionSize: 3, placeholder: "Chọn trường"});
	$('#subject_select').select2({ placeholder: "Tìm môn liên kết"});
	
	$(".date_deadline").datepick();
	
	
	//$('#change_logoz a').live("click",function() {
	//	//alert("sdfsdf");
	//	$('#change_logo_but').trigger('click');
	//});
	
	$('.notice').each(function() {
		if(!$(this).find('li').length) {
			$(this).hide();
		}
	});
	
	
	$("#underconstruction-info-but").fancybox({
			'padding': 0,
			'zoomOpacity': true,
			'zoomSpeedIn': 500,
			'zoomSpeedOut': 500,
			'overlayOpacity': 0.75,
			'frameWidth': 530,
			'frameHeight': 400,
			'hideOnContentClick': false,
			height: 500,
			helpers: { 
			      title: null
			}
		});
	if(!$.cookie("underconstruction"))
	{
	    $.cookie("underconstruction", true);
	    $("#underconstruction-info-but").trigger("click");
	}
	
	//alert($('#company_shop_name').val().html());
	$('#company_shop_name').keyup(function() {
		if ($(this).val().trim() != '') {
			$('.fb_connect_message span').html($(this).val().trim());
		} else {
			$('.fb_connect_message span').html("Gian hàng của bạn");
		}
	});
	$('#company_shop_name').trigger("keyup");
	updateFanpageSelect();
	
	//if connect to facebook
	{/literal}{if $smarty.get.action == connect_facebook}{literal}
		$('.fb_connect_message a').trigger("click");
		$("html, body").animate({ scrollTop: 600 }, 100);
	{/literal}{/if}{literal}
	
	$('.video-overlay').append('<span class="vv-oo"></span>');
	
	//showEditor('textarea');
});


</script>
<!--{/literal}-->


<!--{literal}-->
<style>
#body-wrapper {
	background-attachment:fixed!important;
	background-repeat:repeat;
}
</style>

<script type="application/x-javascript">
	
	function insertBrand(id, title){
		//alert(id);
		$('#brand_id_select').append('<option value="'+id+'">'+title+'</option>');
		$('#brand_id_select').val(id);
		$('#new_brand_box').css('display', 'none');
	}
	
	function getCart(p_id, amount) {
		var param = "";
		if(typeof(p_id)!='undefined')
		{
			param += "&id="+p_id;
		}
		if(typeof(amount)!='undefined') param += "&amount="+amount;
		
		//code
		$.ajax({
			url: "../index.php?do=product&action=getTopCartAjax"+param,
		}).done(function ( data ) {
			if( console && console.log ) {
				//alert(data);
				$('#topCart').html(data);
				$('a.cart_link').attr('href', '../index.php?do=product&action=add_cart');
				$('a.cart_link').attr('target', '_blank');
				$('.item_rows').hover(
					function () {
					    //$('#settingbox').fadeIn();
					}
					,
					function () {
					    $('.item_rows').fadeOut();
					}
				);
				
				//alert
				if(typeof(p_id)!='undefined')
				{
					//alert("<!--{/literal}-->{lang added_to_cart}<!--{literal}-->");
					//$('#box_alert')
					$('#hiddenclicker').trigger('click');
				}
			}
		});
	}
	
	function removeCartItem(id, row, down) {
		//code
		//alert(down.replace(/\./g, ""));
		//alert($.number($('#cart_total').html().replace(/\./g, "") - down.replace(/\./g, ""), 0, ',', '.'));
		
		$.ajax({
			url: "../index.php?do=product&action=add_cart&task=remove&cartitemid="+id,
		}).done(function ( data ) {
			if( console && console.log ) {
				//alert(data);
				$(row).parent().parent().fadeOut();
				$('#cart_count').html($('#cart_count').html()-1);
				
				$('#cart_total').html($.number($('#cart_total').html().replace(/\./g, "") - down.replace(/\./g, ""), 0, ',', '.'));
				
			}
		});
	}
	
	function getInbox() {
		//code
		$.ajax({
			url: "../index.php?do=product&action=ajaxInbox",
		}).done(function ( data ) {
			if( console && console.log ) {
				$("#inbox_out").html(data);
			}
		});
	}
	
	
</script>

	<!--{/literal}-->


</head>
<body>
	{if $pb_userinfo.current_type == 6}
		<!--{include file="topmenu_study.html"}-->
	{else}
		<!--{include file="topmenu.html"}-->
	{/if}
	
<div id="content_bkg">
<div id="basePageFrame">
    <div class="header clearfix" style="display: none">
	
        <div class="header_nav">
       </div>
       <div class="login_info">{$_hello|sprintf:$UserName}(<a href="personal.php" style="text-decoration:underline;">{$smarty.session.MemberName}</a>)
       <!--{if $menu.pms and $newpm}--><a href="pms.php" title=""><img src="../images/message.gif" alt="{$newpm}" /></a><!--{/if}-->
       </div>
    </div>
    <div class="header_txt">
       <div class="welcome_txt">
	   <span class="title" id="welcome-to">{lang welcome_to_office}</span>
	   <form name="searchFrm" id="HeadSearchFrm" action="../index.php" target="_blank" method="get">
	   <input type="hidden" name="do" value="offer" />
	   <input type="hidden" name="action" value="lists" />
	   <span class="search"><input name="q" type="text"  id="SearchKeyword" value="{lang input_keywords}" onfocus="if(this.value=='{lang input_keywords}') this.value='';" onblur="if(this.value=='') this.value='{lang input_keywords}';" class="input_white" /><input type="submit" value="{lang search}" onclick="if($('#SearchKeyword').val()=='{lang input_keywords}') alert('{lang input_keywords}');$('#SearchKeyword').focus();return false;" /></span>
	   </form>
	   </div>
       <!--<div class="welcome_txt_small"><span>{lang service_hotline}{$service_tel}</span></div>-->
   </div>
   <div id="main-nav">
	 <div class="nav-wrapper">
		<ul>
			<li><a href="index.php" id="home-page"><span>Quản lý chung</span></a></li>
			
			
			{if $hasProfile && $membertype_id == 6}
			      <li><a class="" href="{the_url module='studypost' action='memberpage' id=`$pb_userinfo.id`}" id="info-manage"><span>{$pb_userinfo.first_name} {$pb_userinfo.last_name}</span></a></li>
			{/if}
			
			<!--{if $COMPANYINFO.cache_spacename and $COMPANYINFO.status==1 && $MEMBER.membertype_id != 5}--><li class="shop_menu"><a href="{$COMPANYINFO.space_url}" target="_blank"><span>{$COMPANYINFO.shop_name}</span></a></li><!--{/if}-->
			
			<!--<li><a class="" href="announce.php?id=34" id="info-manage"><span>Dịch vụ MarketOnline</span></a></li>-->
			<li><a href="../logging.php?action=logout"><span>{lang login_out}</span></a></li>
		</ul>
	</div>
  </div>
   
   {if $no_company_info}<div class="no_editable"></div><p class="no_company_info">{lang pls_complete_company_info}<span onclick="javascript:history.back()">X</span></p>{/if}
   
   
   
   <!--{literal}-->
<script>
	function checkBrandOverBoxCheck() {
		var result = true;
		
		if ($('#dataBrandName').val() == '') {
			$('#dataBrandName').after('<label for="dataBrandName" generated="true" class="error">Nội dung yêu cầu nhập</label>');
			result = false;
		}
		
		if (result) {
			$('#save_brand').attr('disabled',true);
			$('#save_brand').val('Đang thực hiện...');
		}
		
		return result;
	}
	
	jQuery(document).ready(function($) {
		$("#IKK").validate({
		submitHandler: function(form) {
	
							//$('#dataProductIndustryId4').css('border', 'solid 1px red');
							$(form).find(":submit").attr("disabled", true).attr("value",pb_lang.DO_PROCESSING);
							document.GetDocumentByID('#save').click();
			
		}
		});
	})	
</script>
<!--{/literal}-->
   
<div id="new_brand_box" style="display: none;">
	
	<span class="close_box_but" onclick="$('#new_brand_box').css('display', 'none')">X</span>
	
	
	
	<div class="new_brand_box_inner" style="padding: 0px 20px 10px 20px;width: 906px">
		
		<iframe style="display: none" name="BrandOverFrame" id="BrandOverFrame"></iframe>
	
			 <div class="content_inner">
			 
			<div class="offer_info_title"><h2>{lang brands}</h2></div>	
				
				
<form id="#IKK" target="BrandOverFrame" method="post" action="brand.php" enctype="multipart/form-data" onsubmit="return checkBrandOverBoxCheck()">
	  <!-- {formhash} -->
	  <input type="hidden" name="target" value="1" />
	  <input type="hidden" name="formattribute_ids" value="{$item.formattribute_ids}" />
        <div class="hint">{lang must_input_with_star}</div>
        <table class="offer_info_content">
			  <tr>
				<th>{lang brand_name}<font class="red">*</font></th>
				<td class="tdright"><input style="width: 350px;" placeholder="{lang brand_name_desc} ({lang ex_logo_brand})" name="data[brand][name]" type="text" id="dataBrandName" value="">
				</td>
			  </tr>
			
			  
		<tr>
				<th valign="top">{lang brand_image}</th>
                    <td>
			
                        <input name="pic" type="file" id="uploadfile" onchange="preview()" />
                         <span class="gray"><br>
                            {lang image_size_format_provision}</span></td>
		    
                    </tr>
			  <tr>
                    <th valign="top">{lang description}</th>
                    <td class="tdright"><textarea name="data[brand][description]" id="BrandDescription" rows="8" wrap="VIRTUAL" style="width:700px;"></textarea><div id="txtTips"></div></td>
              </tr>
			
                   
			  <tr>
				<th class="circle_bottomleft"></th>
				<td class="circle_bottomright"><input name="save" type="submit" class="save_brand" id="savez" value=" {lang confirm_submit} " /></td>
			  </tr>
		</table>
	</form>

</div>

	</div>
	
</div>
   
   
   <div id="chat-frame">
    
   </div>
   <div style="display:none">
        <iframe name="uploadChatImage_frame" id="uploadChatImage_frame" style="display: none"></iframe>
            <form target="uploadChatImage_frame" name="productaddfrm" id="uploadChatImage" method="post" action="{$WebRootUrl}index.php?do=product&action=uploadChatImage" enctype="multipart/form-data">
              <!-- {formhash} -->
              <input type="hidden" name="chatbox_id" value="" />
              <p><input accept="image/*" type="file" name="uploadChatImage" id="uploadChatImage_but" onchange="$('#uploadChatImage').submit()" /></p>
    
            </form>
    </div>
   
   
<div id="upgrade_shop" class="notifybox" style="display: none">
	<div class="notifybox_inner">
		<span class="notifybox_close_box_but" onclick="$(this).parent().parent().css('display', 'none')">X</span>
		<h2>Đăng ký tạo SHOP</h2>
		<h3>Bạn là:</h3>
		<ul class="select_shop_type">
			<li><a href="company.php?do=change_grouptype&id=2">Cá Nhân</a></li>
			<li><a href="company.php?do=change_grouptype&id=1">Cửa Hàng</a></li>
			<li><a href="company.php?do=change_grouptype&id=3">Công Ty</a></li>
		</ul>
	</div>
</div>

<div id="upgrade_company" class="notifybox" style="display: none">
	<div class="notifybox_inner">
		<span class="notifybox_close_box_but" onclick="$(this).parent().parent().css('display', 'none')">X</span>
		<h2>Đăng ký tạo SHOP</h2>
		<h3>Bạn là:</h3>
		<ul class="select_shop_type">
			<li><a href="company.php?do=upgrade_company&id=1">Cá Nhân</a></li>
			<li><a href="company.php?do=upgrade_company&id=3">Cửa Hàng</a></li>
			<li><a href="company.php?do=upgrade_company&id=2">Công Ty</a></li>
		</ul>
	</div>
</div>

<a id="underconstruction-info-but" href="#underconstruction-info" style="display: none">Hidden Clicker</a>
   <div id="underconstruction-info" style="display: none">
	
	<div style="padding: 20px 20px 20px 20px;width: 800px">
			
            <div class="content_inner" style="padding-bottom:10px;">
            <p><h4>Kính gửi quý Khách hàng!</h4></p>
            <p>Cám ơn Quý khách đã tin tưởng và sử dụng dịch vụ thương mại điện tử của chúng tôi trong thời gian qua.
                Hiện nay lượng truy cập đã tăng đột ngột làm chúng tôi không kịp xử lý. Mong quý khách thông cảm nếu trong thời gian sử dụng có bị trở ngại về tốc độ truy cập.
            </p>
            <p>
                Chúng tôi đang nâng cấp và khắc phục trong ngày 11/08/2014. Sau thời gian nói trên chắc chắn chúng tôi sẽ làm hài lòng quý khách và cung cấp cho quý khách dịch vụ tốt hơn.
            </p>
            <p></p>
            <p>Kính chúc Quý khách nhiều sức khỏe, hạnh phúc và thành công!</p>
	</div>
      </div>
	
</div>