<table class="menu_nav" >
	<tr>
	</tr>
	<tr>
	<td>
		<!--{if $menu.offer}-->
		
			<!--{if $showEmployeeShop && $membertype_id != 5 && $membertype_id != 6}-->
		
				<table class="menu_width167">
				<tr>
				  <td>
			  <table class="menu_nav title_nav">
					  <tr>
						<td width="10"></td>
						<td class="title_bar" onclick="if($('#MenuTrade').length>0) $('#MenuTrade').toggle();"><a name="menu_top"></a>{lang business_information}</td>
						<td width="5"></td>
					  </tr>
				  </table>
			  </td>
				</tr>
				<tr>
				  <td align="center">
					
					
					
						<table class="menu_nav_content" id="MenuTrade">
								<tr class="MenuItem1">
								      <th><img src="{$office_theme_path}images/sell_add.gif"></th>
								      <td><a href="offer.php?do=edit">{lang release_supply}</a></td>
								</tr>
								<tr class="MenuItem2">
								      <th><img src="{$office_theme_path}images/buy.gif"></th>
								      <td><a href="offer.php">{lang our_offer}</a></td>
								</tr>
								<!--<tr>
								      <th><img src="{$office_theme_path}images/favor.gif"></th>
								      <td><a href="favor.php">{lang our_favorites}</a></td>
								</tr>-->
								<tr  class="MenuItem3">
								      <th><img src="{$office_theme_path}images/sell.gif" width="14" height="14"></th>
								      <td><a href="stat.php">{lang buy_statistics}</a></td>
								</tr>
							      <!--<tr>
								<th><img src="{$office_theme_path}images/message_in.gif" /></td>
								<td><a href="pms.php?type=inquery">{lang customer_inquiry}</a></td>
							      </tr>	-->	  
						</table>
						
						
				       </td>
				</tr>
			  </table>
			
			<!--{/if}-->
		
		
		<!--{/if}-->
		
		
		<!--{if $showEmployeeShop && $membertype_id != 5 && $membertype_id != 6}-->
			<table class="menu_width167">
			  <tr>
				<td>
					<table class="menu_nav title_nav">
						<tr>
						  <td width="10"></td>
						  <td class="title_bar" onclick="if($('#MenuProduct').length>0) $('#MenuProduct').toggle();"><a name="p"></a>{lang information_management}</td>
						  <td width="55"></td>
						</tr>
					</table>
				</td>
			  </tr>
			  <tr>
				<td align="center">
				<table class="menu_nav_content" id="MenuProduct">
					<tr class="MenuItem4">
					  <th><img src="{$office_theme_path}images/product.gif"></th>
					  <td><a href="product.php?do=edit">{lang release_products}</a> </td>
					</tr>
					<tr class="MenuItem5">
					  <th><img src="{$office_theme_path}images/product2.gif"></th>
					  <td><a href="product.php">{lang our_productse}</a></td>
					</tr>
					<!--<tr>
					  <th><img src="{$office_theme_path}images/cal.gif"></th>
					  <td><a href="price.php">{lang my_product_price}</a></td>
					</tr>-->
					<tr class="MenuItem24">
					  <th><img src="{$office_theme_path}images/sort.gif"></th>
					  <td><a href="producttype.php">{lang categories_management}</a></td>
					</tr>
					<tr class="MenuItem6">
					  <th><img src="{$office_theme_path}images/brand.gif"></th>
					  <td><a href="brand.php">{lang brand_manage}</a></td>
					</tr>
					<tr class="MenuItem7">
					  <th><img src="{$office_theme_path}images/invoice.png"></th>
					  <td><a href="buyerorder.php">{lang buy_order}</a></td>
					</tr>
					<tr class="MenuItem8">
					  <th><img src="{$office_theme_path}images/invoice.png"></th>
					  <td><a href="sellerorder.php">{lang sell_order}</a></td>
					</tr>
				</table></td>
			  </tr>
			</table>
		<!--{/if}-->
			
			
		<!--{if $showEmployeeShop && $membertype_id != 5 && $membertype_id != 6}-->
			<table class="menu_width167">
			  <tr>
				<td>
					<table class="menu_nav title_nav">
						<tr>
						  <td width="10"></td>
						  <td class="title_bar" onclick="if($('#MenuService').length>0) $('#MenuService').toggle();"><a name="p"></a>{lang services_menu_title}</td>
						  <td width="25"></td>
						</tr>
					</table>
				</td>
			  </tr>
			  <tr>
				<td align="center">
				<table class="menu_nav_content" id="MenuService">
					<tr class="MenuItem21">
					  <th><img src="{$office_theme_path}images/product.gif"></th>
					  <td><a href="product.php?type=service&do=edit">{lang add_service}</a> </td>
					</tr>
					<tr class="MenuItem22">
					  <th><img src="{$office_theme_path}images/product2.gif"></th>
					  <td><a href="product.php?type=service">{lang service_list}</a></td>
					</tr>
					<!--<tr>
					  <th><img src="{$office_theme_path}images/cal.gif"></th>
					  <td><a href="price.php">{lang my_product_price}</a></td>
					</tr>
					<tr>
					  <th><img src="{$office_theme_path}images/sort.gif"></th>
					  <td><a href="producttype.php">{lang categories_management}</a></td>
					</tr>-->
					<tr class="MenuItem23">
					  <th><img src="{$office_theme_path}images/brand.gif"></th>
					  <td><a href="brand.php?type=service">{lang brand_manage}</a></td>
					</tr>
					<!--<tr class="MenuItem7">
					  <th><img src="{$office_theme_path}images/invoice.png"></th>
					  <td><a href="buyerorder.php">{lang buy_order}</a></td>
					</tr>
					<tr class="MenuItem8">
					  <th><img src="{$office_theme_path}images/invoice.png"></th>
					  <td><a href="sellerorder.php">{lang sell_order}</a></td>
					</tr>-->
				</table></td>
			  </tr>
			</table>
		<!--{/if}-->
		
		<!--{if $showEmployeeShop && $membertype_id != 5 && $membertype_id != 6}-->
				<table class="menu_width167">
				  <tr>
					<td>
						<table class="menu_nav title_nav">
							<tr>
							  <td width="10"></td>
							  <td class="title_bar" onclick="if($('#MenuAds').length>0) $('#MenuAds').toggle();"><a name="p"></a>{lang site_advertising}</td>
							  <td width="25"></td>
							</tr>
						</table>
					</td>
				  </tr>
				  <tr>
					<td align="center">
					<table class="menu_nav_content" id="MenuAds">
						<tr class="MenuItem30">
							<th><img src="{$office_theme_path}images/news.gif" /></th>
							<td><a href="banner.php">{lang site_advertising}</a></td>
						</tr>
					</table></td>
				  </tr>
				</table>
		<!--{/if}-->
		
		
			<!--{if $menu.company && $MEMBER.membergroup_id == 3 && $showEmployeeShop && $membertype_id != 6}-->
				<table class="menu_width167">
				  <tr>
					<td> <table class="menu_nav title_nav">
						<tr class="MenuItem9">
						  <td width="10"></td>
						  <td class="title_bar" onclick="if($('#MenuCompany').length>0) $('#MenuCompany').toggle();">
							{if $membertype_id == 5}Nhà tuyển dụng{else}{lang company_information}{/if}</td>
						</tr>
					</table></td>
				  </tr>
				  <tr>
					<td align="center">
					<table class="menu_nav_content" id="MenuCompany" style="">
						<tr class="MenuItem10"> 
						  <th><img src="{$office_theme_path}images/company.gif"></th>
						  <td><a href="company.php">{lang basic_information} {$membertype_name}</a> </td>
						</tr>
						<tr class="MenuItem11"> 
						  <th><img width="16" height="16" src="{$office_theme_path}images/Release.gif"></th>
						  <td><a href="policy.php">{lang policy}</a> </td>
						</tr>
						<tr class="MenuItem20"> 
						  <th><img src="{$office_theme_path}images/product2.gif"></th>
						  <td><a href="news.php?typeid=9">{lang comnote} {$membertype_name}</a></td>
						</tr>
						<tr class="MenuItem12"> 
						  <th><img src="{$office_theme_path}images/album.gif"></th>
						  <td><a href="album.php">{lang company_album} {$membertype_name}</a> </td>
						</tr>
						<!--<tr> 
						  <th><img src="{$office_theme_path}images/contact.gif"></th>
						  <td><a href="card.php">{lang card_information}</a> </td>
						</tr>-->
						<tr class="MenuItem13"> 
						  <th><img src="{$office_theme_path}images/alert.gif"></th>
						  <td><a href="news.php">{lang company_news}</a></td>
						</tr>
						<tr class="MenuItem14">
						  <th><img src="{$office_theme_path}images/hr.gif" /></th>
						  <td><a href="job.php">{lang hr}</a></td>
						<tr> 
						<tr class="MenuItem15"> 
						  <th><img src="{$office_theme_path}images/link.gif"></th>
						  <td><a href="link.php" title="{lang friendlink}">{lang link_exchange}</a></td>
						</tr>
					  </table></td>
				  </tr>
				</table>
			<!--{/if}-->

			<!--{if $menu.company && ($MEMBER.membergroup_id == 1 || $MEMBER.membergroup_id == 2) && $showEmployeeShop && $membertype_id != 6}-->
				<table class="menu_width167">
				  <tr>
					<td>
						<table class="menu_nav title_nav">
							<tr>
							  <td width="10"></td>
							  <td class="title_bar" onclick="if($('#MenuCompany').length>0) $('#MenuCompany').toggle();">{lang shop_information} {if $MEMBER.membergroup_id == 2}({lang personal}){/if}</td>
							</tr>
						</table>
					</td>
				  </tr>
				  <tr>
					<td align="center">
					<table class="menu_nav_content" id="MenuCompany" style="">
						<tr class="MenuItem10"> 
						  <th><img src="{$office_theme_path}images/company.gif"></th>
						  <td><a href="company.php">{lang basic_information} {if $MEMBER.membergroup_id == 2}Cửa hàng{else}{$membertype_name}{/if}</a> </td>
						</tr>
						<tr class="MenuItem11"> 
						  <th><img width="16" height="16" src="{$office_theme_path}images/Release.gif"></th>
						  <td><a href="policy.php">{lang policy}</a> </td>
						</tr>
						
						{if $MEMBER.membergroup_id == 1}
							<tr class="MenuItem20"> 
							  <th><img src="{$office_theme_path}images/product2.gif"></th>
							  <td><a href="news.php?typeid=9">{lang comnote} {$membertype_name}</a></td>
							</tr>
						{/if}
						
						<tr class="MenuItem12"> 
						  <th><img src="{$office_theme_path}images/album.gif"></th>
						  <td><a href="album.php">{lang company_album} {$membertype_name}</a> </td>
						</tr>
						<!--<tr> 
						  <th><img src="{$office_theme_path}images/contact.gif"></th>
						  <td><a href="card.php">{lang card_information}</a> </td>
						</tr>-->
						<tr class="MenuItem13"> 
						  <th><img src="{$office_theme_path}images/alert.gif"></th>
						  <td><a href="news.php">{lang company_news}</a></td>
						</tr>
						<tr class="MenuItem14">
						  <th><img src="{$office_theme_path}images/hr.gif" /></th>
						  <td><a href="job.php">{lang hr}</a></td>
						<tr> 
						<tr class="MenuItem15"> 
						  <th><img src="{$office_theme_path}images/link.gif"></th>
						  <td><a href="link.php" title="{lang friendlink}">{lang link_exchange}</a></td>
						</tr>
					  </table></td>
				  </tr>
				</table>
			<!--{/if}-->
		
		
		
		<!--{if $membertype_id != 5}-->
			<table class="menu_width167">
			  <tr>
				<td> <table class="menu_nav title_nav">
					<tr>
					  <td width="10"></td>
					  <td class="title_bar" onclick="if($('#MenuEmployee').length>0) $('#MenuEmployee').toggle();">{lang office_employee}</td>
					  <td width="55"></td>
					</tr>
				</table></td>
			  </tr>
			  <tr>
				<td align="center">
				<table class="menu_nav_content" id="MenuEmployee" style="">
					<tr class="MenuItem31">
					  <th><img src="{$office_theme_path}images/message.gif"/></th>
					  <td><a href="employee.php?do=edit">{lang employee_send}</a></td>
					</tr>
					<tr class="MenuItem32">
					  <th><img src="{$office_theme_path}images/personals.gif" /></th>
					  <td><a href="employee.php">{lang employee_list}</a></td>
					</tr>
					
				</table>
				</td>
			  </tr>
			</table>
		<!--{/if}-->
		
		
		
		<!--{if $menu.pms}-->
		<table class="menu_width167">
		  <tr>
			<td> <table class="menu_nav title_nav">
				<tr>
				  <td width="10"></td>
				  <td class="title_bar" onclick="if($('#MenuPMS').length>0) $('#MenuPMS').toggle();">{lang exchange_information}</td>
				  <td width="55"></td>
				</tr>
			</table></td>
		  </tr>
		  <tr>
			<td align="center">
			<table class="menu_nav_content" id="MenuPMS" style="">
				<tr class="MenuItem17">
				  <th><img src="{$office_theme_path}images/message.gif"/></th>
				  <td><a href="pms.php?do=send">{lang send_message}</a></td>
				</tr>
				<tr class="MenuItem16">
				  <th><img src="{$office_theme_path}images/message_in.gif" /></th>
				  <td><a href="pms.php">{lang sms}</a></td>
				</tr>
				<tr class="MenuItem16sent">
				  <th><img src="{$office_theme_path}images/message_out.gif" /></th>
				  <td><a href="pms.php?type=sent">{lang sms_sent}</a></td>
				</tr>	
				
			</table>
			</td>
		  </tr>
		</table>
		<!--{/if}-->
		
		
		
		<!--{if $menu.basic}-->
	   <table class="menu_width167">
		  <tr>
			<td><table class="menu_nav title_nav">
				<tr>
				  <td width="10"></td>
				  <td class="title_bar" onclick="if($('#MenuBasic').length>0) $('#MenuBasic').toggle();">{lang system_settings}</td>
				  <td width="55"></td>
				</tr>
			</table></td>
		  </tr>
		  <tr>
			<td align="center">
			<table class="menu_nav_content" id="MenuBasic">
				<tr class="MenuItem18">
				  <th><img src="{$office_theme_path}images/personals.gif"></th>
				  <td><a href="personal.php">{lang profile}</a></td>
				</tr>
				<tr class="MenuItem19"> 
				  <th><img src="{$office_theme_path}images/password.gif"></th>
				  <td><a href="changepass.php">{lang change_password}</a></td>
				</tr>
				<!--<tr> 
				  <th><img src="{$office_theme_path}images/code.gif"></th>
				  <td><a href="invite.php">{lang our_invitation_code}</a></td>
				</tr>-->
			</table></td>
		  </tr>
		  <tr>
			<td><div class="backtop"><a href="javascript:;" id="GoTop">{lang go_top}</a></div></td>
		  </tr>
	  </table>
		<!--{/if}-->
		
		<!--{if $membertype_id == 4 && !$hasCompany && $hasProfile && $employeecount}-->		
			<div class="create_shop">
				<a href="#createShop" onclick="$('#upgrade_shop').css('display','block')">Tạo SHOP<br /> tham gia hoạt động<br /> kinh doanh</a>
			</div>
		<!--{/if}-->
		
		<!--{if ($membertype_id == 5 && $hasCompany && $jobcount) || ($membertype_id == 6 && $hasProfile)}-->
		
			<div class="create_shop">
				<a href="#createShop" onclick="$('#upgrade_company').css('display','block')">Tạo SHOP<br /> tham gia hoạt động<br /> kinh doanh</a>
			</div>
		
		<!--{/if}-->
	  </td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	</tr>
</table>