<!--{assign var="page_title" value="`$_profile`"}-->
<!--{include file="header.html"}-->

<!--{literal}-->
<script>
		function checkOtherSubject()
		{
			if ($('input[name="other_subject"]:checked').length) {
				//$('.subject_name span.select_box').css("display","none");				
				$('.other_subjects input[name="other_subject_name"]').css("display","inline");
				$('.other_subjects input[name="other_subject_name"]').focus();
			}
			else
			{
				//$('.subject_name span.select_box').css("display","inline");				
				$('.other_subjects input[name="other_subject_name"]').css("display","none");
			}
		}
		
		function checkOtherSchool()
		{
			if ($('input[name="other_school"]:checked').length) {
				$('.school_name span.select_box').css("display","none");				
				$('.school_name .new_school_form').css("display","block");
				$('.school_name .new_school_form').focus();
			}
			else
			{
				$('.school_name span.select_box').css("display","inline");				
				$('.school_name .new_school_form').css("display","none");
			}
		}
		
		function uploadLogo(item) {
				//alert("uploading......");
				$('#upload_logo_form').submit();
				$('#CompanyLogo img').css('opacity','0.3');
		}

		function changeLogo(image) {
				//alert("Thay logo thành công");
				$('#CompanyLogo img').css('opacity','1');
				d = new Date();
				$('#CompanyLogo').html('<img alt="(tỉ lệ: 1.2 x 1 - VD: 600 x 500)" title="(tỉ lệ: 1.2 x 1 - VD: 600 x 500)" style="margin-bottom: 0" src="../attachment/'+image+"?"+d.getTime()+'" width="230" id="LogoCom" alt="" />');
				//$('#CompanyLogo').html('src', '../attachment/'+image+"?"+d.getTime());
				$('#CompanyLogo img').resizecrop({
					width:238,
					height:238		   
				});
				
				$('#change_logoz a').html('<!--{/literal}-->{lang change_personal_photo}<!--{literal}-->');
				
				<!--{/literal}-->{if !$item.photo}<!--{literal}-->
					$('#image_tmp').val(image);
				<!--{/literal}-->{/if}<!--{literal}-->
		}
	
    
function readURL(input) {

		if (input.files && input.files[0]) {
		    var reader = new FileReader();
	    
		    reader.onload = function (e) {
			$('#CompanyLogo img').attr('src', e.target.result);
			$('#CompanyLogo img').resizecrop({
					width:238,
					height:238		   
			});
		    }
	    
		    reader.readAsDataURL(input.files[0]);
		}
	}

    
    
	jQuery(document).ready(function($) {
		$('.MenuItem18').addClass('mActive');
		
		$("#Frm1").validate({
		    submitHandler: function(form) {
			
			
			var result = true;
			
			<!--{/literal}-->{if !$item.photo}<!--{literal}-->
			//    if($('#change_logo_but').val() == '')
			//    {
			//	result = false;
			//    }
			<!--{/literal}-->{/if}<!--{literal}-->
	
			if (($('#dataMemberfieldAreaId3').val() ==  '0' && $('#dataMemberfieldAreaId1').val() ==  '1') || $('#dataMemberfieldAreaId1').val() ==  '0') {
				
				$('#dataMemberfieldAreaId3').parent().find('label').remove();
				$('#dataMemberfieldAreaId3').parent().append('<label for="" class="errorz">Nội dung yêu cầu nhập</label>');
				result = false;
			}
			
			//if ($('#dataMemberfieldAreaId3').val() ==  '0') {			
			//	result = false;
			//}
			
			
				if(!$('input[name="memberfield[gender]"]:checked').val())
				{						
					result = false;
				}
			
			if(($('#school_select').val() == "0" && !$('input[name="other_school"]:checked').length) ||
				($('input[name="other_school_name"]').val() == "" && $('input[name="other_school"]:checked').length))
			{
				result = false;
			}
			
			
			if (result) {
				$(form).find(":submit").attr("disabled", true).attr("value",pb_lang.DO_PROCESSING);
				document.GetDocumentByID('#save').click();
			}
		    }
		});
		
		$('#save').click(function() {
			var result = true;
			
			<!--{/literal}-->{if !$item.photo}<!--{literal}-->
				//if($('#change_logo_but').val() == '')
				//{
				//	$('.cclogo').find('label.errorz').remove();
				//	$('.cclogo').append('<label for="" style="clear:both" class="errorz">Bạn phải chọn logo đại diện</label>');
				//	$("html, body").animate({ scrollTop: 100 }, 100);
				//	result = false;
				//}
				//else
				//{
				//	$('.cclogo').find('label.errorz').remove();
				//}
				//$('#change_logo_but').change(function(){
				//	$('.cclogo').find('label.errorz').remove();
				//});
			<!--{/literal}-->{/if}<!--{literal}-->
	
			if (($('#dataMemberfieldAreaId3').val() ==  '0' && $('#dataMemberfieldAreaId1').val() ==  '1') || $('#dataMemberfieldAreaId1').val() ==  '0') {
			
				$('#dataMemberfieldAreaId3').parent().find('label').remove();
				$('#dataMemberfieldAreaId3').parent().append('<label for="" class="errorz">Nội dung yêu cầu nhập</label>');
				result = false;
			}
			else
			{
			    $('#dataMemberfieldAreaId3').parent().find('label').remove();
			}
			$('#dataMemberfieldAreaId3, #dataMemberfieldAreaId2, #dataMemberfieldAreaId1').change(function(){
				if ($('#dataMemberfieldAreaId3').val() !=  '0') {
					$('#dataMemberfieldAreaId3').parent().find('label').remove();
				}
				else
				{
					$('#dataMemberfieldAreaId3').parent().find('label').remove();
					$('#dataMemberfieldAreaId3').parent().append('<label for="" class="errorz">Nội dung yêu cầu nhập</label>');
				}
			});
			
			
			
				if(!$('input[name="memberfield[gender]"]:checked').val())
				{
						$('.gendercheck').find('label.errorz').remove();
						$('.gendercheck').append('<label for="" class="errorz">Nội dung yêu cầu nhập</label>');
						result = false;
				}
				else
				{
						$('.gendercheck').find('label.errorz').remove();
				}
				
			if(($('#school_select').val() == "0" && !$('input[name="other_school"]:checked').length) ||
				($('input[name="other_school_name"]').val() == "" && $('input[name="other_school"]:checked').length))
			{
				$('.school_name').parent().find('label.errorz').remove();
				$('.school_name').parent().append('<label for="" class="errorz">Yêu cầu nhập tên trường</label>');
				result = false;
			}
			else
			{
				$('.school_name').parent().find('label.errorz').remove();
			}
				
			
			if (!result) {
				$("html, body").animate({ scrollTop:100 }, 100);
			}
		});
		
		$("#MemberPhoto").change(function(){
		    readURL(this);
		});
		
		$('#change_logoz a').click(function() {
				//alert("sdfsdf");
				$('#change_logo_but').trigger('click');
			});
			
			$('#change_logo_but').change(function() {
				//$('#company_top_info #CompanyLogo').html('<p>Logo đã được thay đổi. Bạn phải lưu thông tin để thấy logo mới.</p>');		
				uploadLogo(this);
			});
			
			
		//show hide school
		checkOtherSchool();
		$('input[name="other_school"]').change(function(){
			checkOtherSchool();
		});
		
		//show hide subject
		checkOtherSubject();
		$('input[name="other_subject"]').change(function(){
			checkOtherSubject();
		});
	});
</script>
<!--{/literal}-->

<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <!--{include file="menu.html"}-->
       </div>
    </div>
     <div class="main_content">
	
{if (!$hasProfile || !$hasCompany) && $membertype_id != 4 && $membertype_id != 5 && $membertype_id != 6}

<div class="steps">
	<div>
	    <h2{if $hasProfile} class="done"{/if}><a class="active" href="personal.php">{lang complete_pro_date}</a></h2>{if $hasProfile} <img style="margin-left: 10px;margin-right: -13px; position: absolute" src="../templates/office/images/published_big.png" />{/if}
	</div>
	<div>
	    <h2{if $hasCompany} class="done"{/if}><a href="company.php">{lang added_comany_info}</a></h2>{if $hasCompany} <img style="margin-left: 10px; margin-right: -13px;" src="../templates/office/images/published_big.png" />{/if}
	</div>
</div>

{/if}


{if !$hasProfile && $membertype_id != 5}
<!--{literal}-->
<script>
    jQuery(document).ready(function($) {
	setTimeout(function(){$('.message_step').fadeIn()}, 200);
    });
</script>
<!--{/literal}-->
<div class="message_step" style="display: none">{lang no_step1}</div>
{/if}


{if (false) }

<div class="steps">
	<div>
	    <h2><a class="active" href="personal.php">{lang complete_pro_date_personal}{if $hasProfile} <img style="margin-left: 10px;margin-right: -13px;" src="../templates/office/images/published.png" />{/if}</a></h2>
	</div>
</div>
	
{/if}



<div class="hide">
	<iframe name="upload_logo"  id="upload_logo"></iframe>
	<form target="upload_logo" id="upload_logo_form" enctype="multipart/form-data" action="../index.php?do=product&amp;action=change_ava" method="post" id="Frm1" name="productaddfrm">
	  <!-- {formhash} -->
	  <input type="hidden" value="{$MEMBER.username}" name="admin">
	  <input type="hidden" value="{$MEMBER.id}" name="com_id">
	  <input type="file" id="change_logo_but" name="upload_logo">
	  <input type="submit" value="tải lên" style="padding: 2px 10px; margin-left: 10px;" class="checkout_but">
	</form>	
</div>
	
     <div class="blank"></div>
	 <div class="offer_banner"><img src="{$office_theme_path}images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2>{$page_title}</h2></div>
     <div class="hint">{lang must_input_with_star}</div>
	  <form name="companyeditfrm" id="Frm1" method="post" enctype="multipart/form-data">
	  <!-- {formhash} -->
		
		<input type="hidden" value="" name="image_tmp" id="image_tmp">
		
		
		<div id="product_edit_box" style="margin-bottom: 10px;">
		 
		<table id="company_top_info" width="100%">
			<tr>
				<td class="circle_leftz cclogo" valign="top">
					<div id="CompanyLogo" style="">
					    <!--{if $item.photo}-->
						<img id="mem_photo" src="{$item.image}" />
					    <!--{else}-->
						<img id="mem_photo" src="../images/personal_nopic.png" />
					    <!--{/if}-->
					</div>
					    
					
					<div style="margin-top: 5px;<!--{if $item.photo}--> display: none<!--{/if}-->" id="change_logoz"><a href="javascript:void(0)"><!--{if $item.photo}-->{lang change_personal_photo}<!--{else}-->{lang add_personal_photo}<!--{/if}--></a></div>
					<input id="com_pic" style="margin-bottom: 5px;position: absolute;margin-left: -50000px" name="photo" type="file" id="MemberPhoto" size="32" onchange="document.getElementById('CompanyLogo').innerHTML='<img src=\''+this.value+'\' width=117 height=63>'">
					
				</td>
				<td class="circle_right" valign="top">
					<div class="tablebox_personal">
						<table class="offer_info_content">
							<tr>
								<th class="circle_left">{lang vorname}<font color="#FF6600">*</font></th>
								<td class="circle_right"><input name="memberfield[first_name]" type="text" placeholder="{lang first_name}" id="memberlastname" value="{$item.first_name}" size="25">&nbsp;<input placeholder="{lang last_name}" name="memberfield[last_name]" type="text" id="memberlastname" value="{$item.last_name}" class="required" size="25"></td>
							      </tr>
							      
							      <tr>
								<th>{lang sex_n}<font color="#FF6600">*</font></th>
								<td class="gendercheck">{html_radios name="memberfield[gender]" options=$Genders checked=$item.gender separator=" "}</td>
							      </tr>
							       <tr style="display: none">
								<th>{lang contact_phone}</th>
								<td><input placeholder="{lang contact_phone}" size="25" name="memberfield[tel]" type="text" id="membertel" value="{$item.tel}">
								
								 <!--<input placeholder="{lang fax_number}" size="25" name="memberfield[fax]" type="text" id="memberfax" value="{$item.fax}">-->
								</td>
							      </tr>
							      <tr>
								<th>{lang mobile_number}<font color="#FF6600">*</font></th>
								<td><input size="25" name="memberfield[mobile]" type="text" id="membermobile" value="{$item.mobile}" class="required">
								    
								</td>
							      </tr>
							      <tr>
								<th>{lang email_addr}<font color="#FF6600">*</font></th>
								<td><input name="member[email]" type="text" id="memberemail" value="{$item.email}" size="40" class="required email"> (<a name="mod" href="javascript:;" onclick="javascript:$('#memberemail').attr('disabled',false);">{lang modify}</a>)</td>
							      </tr>
							      <tr>
								<th>{lang area}<font color="#FF6600">*</font></th>
								<td>
											<div id="dataArea">
												<select name="area[id][1]" id="dataMemberfieldAreaId1" class="level_1" style="width:120px;" ></select>
												<select name="area[id][2]" id="dataMemberfieldAreaId2" class="level_2" style="width:120px;"></select>
												<select name="area[id][3]" id="dataMemberfieldAreaId3" class="level_3" style="width:120px;"></select>
											</div>
											</td>
							      </tr>
							      
							      <tr>
								<th>{lang address}</th>
								<td><input placeholder="Số đường Tên đường, Phường/Xã" name="memberfield[address]" type="text" id="memberaddress" value="{$item.address_s}" class=""></td>
							      </tr>
							      
						</table>
						</div>
				</td>
			</tr>
		</table>
		
		
		
		
		
		
		
		
		{if $membertype_id == 6 || $pb_userinfo.is_student}
		
				<br style="clear: both" />		
				<h2 class="studyh2">Thông tin học tập</h2>
				<span class="top-table">.</span>
				<table class="offer_info_content">
			      
				        <tr>
						<th>Trường<font color="#FF6600">*</font></th>
						<td>							
						
							<span class="school_name">
								<span class="select_box">
									<select name="memberfield[school_id]" id="school_select">
										<!--{loop $Schools item0 level_0 key0}-->
											<option value="{$item0.id}" {if $item.school_id == $item0.id}selected{/if}>{$item0.name}</option>
										<!--{/loop}-->
									</select>
									<br />
								</span>
								<div class="new_school_form">
									<input placeholder="Nhập tên trường" type="text" size="30" name="other_school_name" />
									<input placeholder="Địa chỉ" type="text" size="30" name="other_school_addres" />
									<!--<input placeholder="Số điện thoại" type="text" size="30" name="other_school_phone" />
									<input placeholder="Email" type="text" size="30" name="other_school_email" />
									<input placeholder="Website" type="text" size="30" name="other_school_website" />-->
									<!--<br />Logo trường:<br /><input type="file" size="30" name="other_school_logo" />
									<br />Hình ảnh giới thiệu:<br /><input type="file" size="30" name="other_school_banner" />-->
								</div>
							</span>
							<input type="checkbox" name="other_school" /> Thêm tên trường của bạn (nếu không có trong danh sách)
						</td>
					</tr>
					<tr>
						<th>Khoa</th>
						<td>
							<input size="30" name="memberfield[department]" type="text" id="memberskype" value="{$item.department}">
						</td>
					</tr>
					<tr>
						<th>Lớp</th>
						<td>
							<input size="30" name="memberfield[class]" type="text" id="memberskype" value="{$item.class}">
						</td>
					</tr>
					<tr>
						<th>Mã số sinh viên</th>
						<td>
							<input size="30" name="memberfield[mssv]" type="text" id="memberskype" value="{$item.mssv}">
						</td>
					</tr>
					<tr>
						<th>Liên kết học tập</th>
						<td>
							<span class="subject_name">
								<span class="select_box">
									<select name="subjects_id[]" id="subject_select" multiple>
										<!--{loop $Subjects item0 level_0 key0}-->
											<option value="{$item0.id}" {if $item0.selected}selected{/if}>{$item0.name}</option>
										<!--{/loop}-->
									</select>
								</span>								
							</span>
							<div class="other_subjects">
								<input type="checkbox" name="other_subject" /> Thêm môn học (nếu không có trong danh sách trên)
								<br /><input placeholder="Nhập tên môn học khác, cách nhau bằng dấy phẩy (,)" type="text" size="50" name="other_subject_name" />
							</div>
						</td>
					</tr>
								      
				    
				</table>
						<span class="top-table">.</span>
			
		{/if}
		
		
		
		
		
		
		
		
		<br />		
		<h3>Thông tin bổ sung cá nhân (nếu có)</h3>
		<span class="top-table">.</span>
		<table class="offer_info_content">
              
		    <tr style="display: none">
							<th>{lang postcode}</th>
							<td><input size="30" name="memberfield[zipcode]" type="text" id="memberzipcode" value="{$item.zipcode}"></td>
						      </tr>
						      
						      <!--<tr>
							<th>ICQ{lang number_n}</th>
							<td><input name="memberfield[icq]" type="text" id="membericq" value="{$item.icq}"></td>
						      </tr>-->
						      <tr>
							<th>Skype{lang colon}</th>
							<td><input size="30" name="memberfield[skype]" type="text" id="memberskype" value="{$item.skype}"></td>
						      </tr>
						      <!--<tr>
							<th>Trang Facebook</th>
							<td><input size="30" placeholder="Đường dẫn đến trang facebook" name="memberfield[facebook]" type="text" id="memberskype" value="{$item.facebook}"></td>
						      </tr>-->
						      <tr style="display: none">
							<th>Msn Messenger{lang colon}</th>
							<td><input size="30" name="memberfield[msn]" type="text" id="membermsn" value="{$item.msn}"></td>
						      </tr>
						      <tr>
							<th>Yahoo Messenger{lang colon}</th>
							<td><input size="30" name="memberfield[yahoo]" type="text" id="memberyahoo" value="{$item.yahoo}"></td>
						      </tr>
						      
						      
						      <tr style="display: none">
							<th>CMND {lang number_n}</th>
							<td><input size="30" name="memberfield[qq]" type="text" id="memberqq" value="{$item.qq}" class=""></td>
						      </tr>
						     
						      <tr style="display: none">
							<th>{lang fax_number}</th>
							<td></td>
						      </tr>
						      
						      
						      
						      <tr style="display: none">
							<th>{lang job_status}</th>
							<td><input size="40" type="radio" name="personal[resume_status]" value="1" {if $resume_status==1}checked="checked"{/if}> {lang like_job} <input type="radio" name="personal[resume_status]" value="0" {if $resume_status==0}checked="checked"{/if}> {lang not_like_job} </td>
						      </tr>
						      <tr style="display: none">
							<th>{lang highest_education}</th>
							<td>
										<select name="personal[max_education]" id="MaxEducation">
										<!--{foreach from=$Educations name=Educations item=item1 key=key1}-->
										<option value="{$key1}" {if $max_education==$key1}selected{/if}>{$item1}</option>
										<!--{/foreach}-->
										</select>
										</td>
						      </tr>
						      <tr>
							<th>{lang personal_homepage}</th>
							<td><input name="memberfield[site_url]" type="text" id="site_url" value="{$item.site_url}"></td>
						      </tr>
						      <tr>
							<th>Facebook</th>
							<td><input placeholder="Nick kết bạn của facebook (không phải trang fanpage) " name="memberfield[facebook]" type="text" id="site_url" value="{$item.facebook}"></td>
						      </tr>
						       <tr style="display: none">
							<th>{lang login_jump}</th>
							<td><select name="member[office_redirect]" id="MemberOfficeRedirect">
											<!--{foreach from=$OfficeRedirects name=office_redirect key=key1 item=item1}-->
											<option value="{$key1}" {if $key1==$item.office_redirect}selected{/if}>{$item1}</option>
											<!--{/foreach}-->
							</select></td>
						      </tr>
		    
		</table>
				<span class="top-table">.</span>
		</div>
		
		
		<input name="save" type="submit" id="save" value="{lang save}" />
	    </form>
  </div>
 </div>
<script language="javascript">
var enter_name = "{lang enter_name}";
var enter_website_error = "{lang enter_website_error}";
var cache_path = "../";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
</script>
<!--{literal}-->
<script>
jQuery(document).ready(function($) {
	$("#Frm1").validate({
	submitHandler: function(form) {
		$(form).find(":submit").attr("disabled", true).attr("value",pb_lang.DO_PROCESSING);
		form.submit();
	}
	});
})
</script>
<!--{/literal}-->
<script src="../scripts/multi_select.js" charset="{$charset}"></script>
<script src="../scripts/script_area.js"></script>
<!--{include file="footer.html"}-->