{if $smarty.get.type}
			<!--{assign var="page_title" value="`$_sms_sent`"}-->
		{else}
			<!--{assign var="page_title" value="`$_sms`"}-->
		{/if}


<!--{include file="header.html"}-->

<!--{literal}-->
<script>
	jQuery(document).ready(function($) {
		<!--{/literal}-->{if $smarty.get.type}<!--{literal}-->
			$('.MenuItem16sent').addClass('mActive');
		<!--{/literal}-->{else}<!--{literal}-->
			$('.MenuItem16').addClass('mActive');
		<!--{/literal}-->{/if}<!--{literal}-->
	});
</script>
<!--{/literal}-->

<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <!--{include file="menu.html"}-->
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="{$office_theme_path}images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2>{lang sms_box}</h2></div>


<table class="offer_count">
        <tr>
          <td class="orange"></td>
          <td></td>
        </tr>
         <tr>
          <td class="nntype">
	    
	    <a href="pms.php" {if !$smarty.get.type}class="active"{/if}>{lang sms}</a>
	    <a href="pms.php?type=sent" {if $smarty.get.type}class="active"{/if}>{lang sms_sent}</a>
	    
	    
	  </td>
          <td class="height35"><span class="btn_hint"><a href="pms.php?do=send" class="btn_publish">{lang send_message}</a></span></td>
        </tr>
</table>     

{if $message}<div class="hint">{$message}</div>{/if}
	  <form name="pmsfrm" method="post" action="{$smarty.server.PHP_SELF}">
	  <!-- {formhash} -->
       <table class="bglist">
            <tr align="center">
              <th width="5%">{lang choose}</th>
	      <th width="50%" style="text-align: left">{lang title}</th>
              
		{if $smarty.get.type}
			<th width="15%" style="text-align: left">{lang receiver}</th>
		{else}
			<th width="15%" style="text-align: left">{lang sender}</th>
		{/if}
	      
              <th width="10%" style="text-align: left">{lang category}</th>

              <th>{lang time}</th>
            </tr>
			<!--{foreach from=$Items item=item}-->
            <tr align="center" class="bggray <!--{if $item.status==0}-->unread<!--{/if}-->" >
              <td><input type="checkbox" name="id[]" value="{$item.id}" id="item_{$item.id}"></td>
	      <td style="text-align: left{if $item.status==0};font-weight: 700{/if}" align="left"><a  style="color: #3B984C" href="pms.php?do=view&id={$item.id}{if $smarty.get.type}&type=sent{/if}">{$item.title}</a></td>
              
	      
	      {if $smarty.get.type}
			<td style="text-align: left">{$item.cache_to_username}</td>
		{else}
			<td style="text-align: left">{$item.cache_from_username}</td>
		{/if}
	      
	      <td style="text-align: left">{$item.typename}</td>
	      
		
	      
	      
	      
              
              
              <td>{$item.senddate}</td>
            </tr>
			<!--{/foreach}-->
            <tr align="center" class="bggray">
              <td colspan="5">{$ByPages}</td>
            </tr>
        </table>  
       <table class="trade_line">
			<tr align="center" valign="bottom">
				<td height="40"><input  name="del" type="submit" id="del" value=" {lang delete_select} "></td>
			</tr>
      </table>
	  </form>
   </div>
   </div>
<!--{include file="footer.html"}-->
