{if $getvar.type == 'service'}
	<!--{assign var="page_title" value="`$_add_service`"}-->
{else}
	<!--{assign var="page_title" value="`$_product_management`"}-->
{/if}

<!--{include file="header.html"}-->
<script src="{$SiteUrl}scripts/jquery/jquery.colorbox.js" type="text/javascript"></script>
<link href="{$SiteUrl}scripts/jquery/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css"/>
<script>
var SiteUrl = "{$SiteUrl}";
</script>
<!--{editor type="tiny_mce_new"}-->


<!--{literal}-->
<script>
	jQuery(document).ready(function($) {
		$('.MenuItem<!--{/literal}-->{if $getvar.type == 'service'}21{else}4{/if}<!--{literal}-->').addClass('mActive');
	});
</script>
<!--{/literal}-->


<!--{literal}-->
<style>
</style>
<script>
	
	function IsValidImageUrl(url) {
		$("<img>", {
		    src: url,
		    error: function() { alert(url + ': ' + false); },
		    load: function() { alert(url + ': ' + true); }
		});
	}
	
	function checkHasImage() {
		if ($('#uploadfile0').val() || $('#uploadlinkfile').val() ||
			$('#uploadfile1').val() || $('#uploadlinkfile1').val() ||
			$('#uploadfile2').val() || $('#uploadlinkfile2').val() ||
			$('#uploadfile3').val() || $('#uploadlinkfile3').val() ||
			$('#uploadfile4').val() || $('#uploadlinkfile4').val() ||
			$('#p_image img').length
		) {
			return true;
		}
		else
		{
			return false;
		}
	}
	
	function checkHasCustomIndustry() {
		for (var i=1; i<5; i++) {
			if(!$('#dataCustomProductIndustryId'+i).attr("disabled") && ($('#dataCustomProductIndustryId'+i).val() > 0 || ($('#dataCustomProductIndustryId'+i).val() == 0 && $('.pos_'+i+' input').val() != ""))){
				return true;
			}
		}
		return false;
	}
	
	function inserEditorFile(url, image) {
		$('#uploadIVbutton').removeAttr('disabled');
		$('#uploadIVbutton').attr('value','Tải Ảnh/Video');
		if (image) {
			tinyMCE.activeEditor.execCommand('mceInsertContent', false, '<img src="{/literal}{the_url module=root-url}{literal}attachment/'+url+'" />');
		}
		else
		{
			alert("Video đã được chèn thành công. Sau khi nhấn nút lưu ở dưới, bạn xem video này ở trang chi tiết.");
			tinyMCE.activeEditor.execCommand('mceInsertContent', false, '<video controls width="640" height="360">'
										+'<source src="{/literal}{the_url module=root-url}{literal}attachment/'+url+'" type="video/mp4" />'
										+'Your browser does not support the video tag.</video>');
		}		
	}
	
	function checkUploadEditorInput() {
		//code
		if($('#uploadEditorFile').val() == '')
		{
			$('#uploadEditorFile').css('border', 'solid 1px red');
			return false;
		} else
		{
			$('#uploadEditorFile').css('border', 'none');
			$('#uploadIVbutton').attr('disabled','disabled');
			$('#uploadIVbutton').attr('value','Đang tải...');
			return true;
		}
	}
	
	function deleteImage(id, pos) {
		//code
		if (parseInt($('.img_item input[type=radio]:checked').val())+1 == pos) {
			//code
			//alert(parseInt($('.img_item input[type=radio]:checked').val())-1);
			
			alert('Bạn không thể xóa hình chính. Vui lòng chọn hình khác làm hình chính trước khi xóa');
			return;
		}
		
		$('#thumbs .tim_'+pos).css('opacity', '0.2');
		$.ajax({
			url: "../index.php?do=product&action=ajaxDeleteImage&pid="+id+"&pos="+pos,
		}).done(function ( data ) {
			if( console && console.log ) {
				if(data == '1')
				{
					$('#thumbs .tim_'+pos).fadeOut();
					$('.inputfile_'+pos).fadeIn();
				}
			}
		});
	}
	
	function changeDefaultImage(id, pos) {
		//code
		$('#thumbs .tim_'+pos).css('opacity', '0.2');
		$.ajax({
			url: "../index.php?do=product&action=changeDefaultImage&pid="+id+"&pos="+pos,
		}).done(function ( data ) {
			if( console && console.log ) {
				//alert(data)
				
				$('#p_image img').attr('src', ($('#thumbs .tim_'+pos+' img').attr("src")));
				$('#thumbs .tim_'+pos).css('opacity', '1');
			}
		});
	}
	
jQuery(document).ready(function($) {	
	$('a[rel*=lightbox]').colorbox({maxWidth:600,opacity:0.1});
	$('#CountryId').change(function(){
        $("#CountryImage").attr("src",$("#CountryId").find('option:selected').attr("title"));
	});
	$("#Frm1").validate({
	submitHandler: function(form) {
		var okie = false;
		
		

		if ($('#dataProductIndustryId1').val() != 0) {
			if ($('#dataProductIndustryId2').val() != 0 && !<!--{/literal}-->{$item.service}<!--{literal}-->) {
				//if($('#dataProductIndustryId3').val() != 0)
				//{			
					//if(($('#dataProductIndustryId4').children().length > 1 && $('#dataProductIndustryId4').val() != 0) || $('#dataProductIndustryId4').children().length == 1)
					//{
						okie = true;
					//}					
				//}				
			}
			else if (<!--{/literal}-->{$item.service}<!--{literal}-->) {
				okie = true;
			}				
		}
			
		if(checkHasCustomIndustry())
		{
			okie = true;
		}
		
		if(checkHasImage())
		{
			okie = true;
		}
		else
		{
			okie = false;
		}
	
	
	<!--{/literal}-->{if $getvar.type != 'service'}<!--{literal}-->
	
		if ($('#dataProductPrice').val().length < 5 || $('#dataProductPrice').val() == "") {
			okie = false;
		}

	<!--{/literal}-->{/if}<!--{literal}-->
	
		if(tinyMCE.activeEditor.getContent() == "")
		{			
			okie = false;
		}

		if (okie) {
			$(form).find(":submit").attr("disabled", true).attr("value",pb_lang.DO_PROCESSING);
			document.GetDocumentByID('#save').click();
		}

	}
	});
	
	$('#save').click(function () {
		//alert(checkHasCustomIndustry());
		if(!checkHasCustomIndustry())
		{		
			if ($('#dataProductIndustryId1').val() != 0)
			{
				if ($('#dataProductIndustryId2').val() != 0 && !<!--{/literal}-->{$item.service}<!--{literal}-->)
				{
					//if($('#dataProductIndustryId3').val() != 0)
					//{			
					//	if(($('#dataProductIndustryId4').children().length > 1 && $('#dataProductIndustryId4').val() != 0) || $('#dataProductIndustryId4').children().length == 1)
					//	{							
					//	}
					//	else
					//	{
					//		$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top - 100 }, 100);
					//		setTimeout(function(){
					//			$('#dataIndustry select').removeClass('error');
					//			$('#dataProductIndustryId4').addClass('error');			
					//			$('#dataIndustry').append('<label for="dataIndustryName" generated="true" class="error"><!--{/literal}-->{lang must_select_industry}<!--{literal}--></label>');
					//		}, 200);
					//	}
					//}
					//else
					//{
					//	$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top - 100 }, 100);
					//	setTimeout(function(){
					//		$('#dataIndustry select').removeClass('error');
					//		$('#dataProductIndustryId3').addClass('error');			
					//		$('#dataIndustry').append('<label for="dataIndustryName" generated="true" class="error"><!--{/literal}-->{lang must_select_industry}<!--{literal}--></label>');
					//	}, 200);
					//}	
				}
				else if(!<!--{/literal}-->{$item.service}<!--{literal}-->)
				{
					$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top - 100 }, 100);
					setTimeout(function(){
						$('#dataIndustry select').removeClass('error');
						$('#dataProductIndustryId2').addClass('error');			
						$('#dataIndustry').append('<label for="dataIndustryName" generated="true" class="error"><!--{/literal}-->{lang must_select_industry}<!--{literal}--></label>');
					}, 200);
				}
			}
			else
			{
				$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top - 100 }, 100);
				setTimeout(function(){
					$('#dataIndustry select').removeClass('error');
					$('#dataProductIndustryId1').addClass('error');			
					$('#dataIndustry').append('<label for="dataIndustryName" generated="true" class="error"><!--{/literal}-->{lang must_select_industry}<!--{literal}--></label>');
				}, 200);
			}
		}
		
		if(!checkHasImage())
		{
			$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top - 100 }, 100);
				setTimeout(function(){					
					$('#p_image').addClass('error');			
					$('#p_image').append('<label for="dataPicture" generated="true" class="error"><!--{/literal}-->Chưa thêm hình ảnh sản phẩm<!--{literal}--></label>');
				}, 200);
		}
		else
		{
			$('#p_image').removeClass('error');
			$('#p_image').find('label').remove();
		}
		
		var areaerror = false;
		if(tinyMCE.activeEditor.getContent() == "")
		{
			$('#dataProductContent').parent().find('label').remove();
			$('#dataProductContent').before('<label for="" class="errorz">Nội dung yêu cầu nhập</label>');
			areaerror = true;
			$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top + 500 }, 100);
		}
		else
		{
			$('#dataProductContent').parent().find('label').remove();
		}
		
	<!--{/literal}-->{if $getvar.type != 'service'}<!--{literal}-->
	
		if ($('#dataProductPrice').val().length < 5 || $('#dataProductPrice').val() == "") {
			$("html, body").animate({ scrollTop: $('#dataIndustry').offset().top }, 100);
			setTimeout(function(){					
					$('#dataProductPrice').addClass('error');			
					$('#dataProductPriceUnit').after('<label for="dataPrice" generated="true" class="error errorPrice"><!--{/literal}-->Nhập giá sản phẩm ( > 1.000 VNĐ)<!--{literal}--></label>');
				}, 200);
		}
		else
		{
			$('#dataProductPrice').removeClass('error');
			$('.errorPrice').remove();
		}
	
	<!--{/literal}-->{/if}<!--{literal}-->

	});
	
	$('.img_item input[type=radio]').change(function() {
		changeDefaultImage('<!--{/literal}-->{$item.id}<!--{literal}-->', parseInt($(this).val())+1);
	});
	
	//main image
	var cur_id = parseInt($('.img_item input[type=radio]:checked').val())+1;
	$('#p_image img').attr('src', $('#thumbs .tim_'+cur_id+' img').attr("src"));
	
	if (!$('#thumbs').children().length) {
		$('#image_size_note').addClass('noImage');
	}
})
</script>
<!--{/literal}-->
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
		<!--{include file="menu.html"}-->
       </div>
    </div>
     <div class="main_content">
	
	
     <div class="blank"></div>
	 <div class="offer_banner"><img src="{$office_theme_path}images/offer_01.gif" /></div>
     <div class="offer_info_title">
	<h2>{if $getvar.type == 'service'}{lang service_add_edit}{else}{lang product_add_edit}{/if}</h2>
	
	<!--{include file="_top_announce.html"}-->	
	
     </div>

     
     
     
     {if $back_link}<a class="back_product_list" href="{$back_link}"><< {lang back_product_list}</a>{/if}
     
	  <form name="productaddfrm" id="Frm1" method="post" action="{$smarty.env.PHP_SELF}" enctype="multipart/form-data" onsubmit="$('#Save').attr('disabled',true);">
	  <!-- {formhash} -->
		<input type="hidden" name="id" value="{$item.id}">
		<input type="hidden" name="formattribute_ids" value="{$item.formattribute_ids}">
		<input type="hidden" name="redirect" value="{$back_link}">
		{if $getvar.type}<input type="hidden" name="data[product][service]" value="1" />{/if}
		<div class="hint">{lang must_input_with_star}</div>
		
				{if $share_product}
					<div class="share_box" onclick="$('.share_box,.share_buts').hide()"></div>
						<div class="share_buts">
							<p>{$notice}<br />Hãy chia sẻ để quảng bá sản phẩm <strong>{$item.name}</strong></p>
						  <!-- AddThis Button BEGIN -->
							{literal}
								<div addthis:url='{/literal}{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}{literal}' class="addthis_toolbox addthis_default_style addthis_32x32_style">
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_google_plusone_share"></a>
								<a class="addthis_button_twitter"></a>					
								<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
								</div>
								<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
								<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520993b51c3b7da7"></script>
							{/literal}
							<!-- AddThis Button END -->
						</div>       
					
				{/if}
       
       
<div id="product_edit_box">
       
       <table id="product_formz" width="100%" cellpadding="10" class="super_product_form">
	<tr>
		<td colspan="2">
			<label>{lang industry_product}:<font class="red">*</font></label>
			<div id="dataIndustry">
							<select name="industry[id][1]" id="dataProductIndustryId1" class="level_1" rel="1"></select>
							<select name="industry[id][2]" id="dataProductIndustryId2" class="level_2" rel="2"></select>
							<select name="industry[id][3]" id="dataProductIndustryId3" class="level_3" rel="3"></select>
							<select name="industry[id][4]" id="dataProductIndustryId4" class="level_4" rel="4"></select>
						</div>
			<span class="industry_info">{lang main_industry_info}</span>
			
		</td>
	</tr>
	<tr style="">
		<td colspan="2">
			<label>{lang custom_industry}:<font class="red">*</font></label>
				<div id="dataCustomIndustry">
					<div class="i_item pos_1">
						<input name="customIndustry[name][1]" value="" placeholder="{lang create_custom_industry}" rel="1" />
						<select name="customIndustry[id][1]" id="dataCustomProductIndustryId1" class="level_1" rel="1" >
							<option value="-1">{lang select}</option>
							<option value="0">-{lang create_custom_industry}-</option>
						</select>
						
					</div>					
					<div class="i_item pos_2">
						<input name="customIndustry[name][2]" value="" placeholder="{lang create_custom_industry}" rel="2"  />
						<select name="customIndustry[id][2]" id="dataCustomProductIndustryId2" class="level_2" rel="2" >
							<option value="-1">{lang select}</option>
							<option value="0">-{lang create_custom_industry}-</option>
						</select>
						
					</div>
					<div class="i_item pos_3">
						<input name="customIndustry[name][3]" value="" placeholder="{lang create_custom_industry}" rel="3"  />
						<select name="customIndustry[id][3]" id="dataCustomProductIndustryId3" class="level_3" rel="3" >
							<option value="-1">{lang select}</option>
							<option value="0">-{lang create_custom_industry}-</option>
						</select>
						
					</div>
					<div class="i_item pos_4">
						<input name="customIndustry[name][4]" value="" placeholder="{lang create_custom_industry}" rel="4" />
						<select name="customIndustry[id][4]" id="dataCustomProductIndustryId4" class="level_4" rel="4" >
							<option value="-1">{lang select}</option>
							<option value="0">-{lang create_custom_industry}-</option>
						</select>
						
					</div>
				</div>
				<span class="industry_info">{lang custom_industry_info}</span>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-top: 15px;">
			<label>{if $getvar.type == 'service'}{lang service_name}{else}{lang product_name}{/if}:<font class="red">*</font></label>
			<input placeholder="{lang words_length}" maxlength="70" style="width: 406px" name="data[product][name]" type="text" id="dataProductName" value="{$item.name}" class="required">
		</td>
	</tr>

	<tr>
		<td style="width: 300px;display: block" valign="top">
			<div id="p_image">
				<!--{if $item.image1}--><img id="uploadpic" src="" alt="{$item.name}" width="200" /><!--{/if}-->
			</div>
			<div id="thumbs">
				<!--{if $item.picture}-->
				<div class="img_item tim_1">
					<img id="uploadpic" src="{$item.image1}" alt="{$item.name1}" />					
					<input title="Chọn làm hình chính" type="radio" name="data[product][default_pic]" value="0" {if $item.default_pic == 0}checked="checked"{/if} />
					<a href="#deleteImage" onclick="deleteImage('{$item.id}', '1');" ><img src="{$office_theme_path}images/delete-icon.png" /></a>
				</div><!--{/if}-->
				<!--{if $item.picture1}-->
				<div class="img_item tim_2">
					<img id="uploadpic" src="{$item.image2}" alt="{$item.name2}" />					
					<input title="Chọn làm hình chính" type="radio" name="data[product][default_pic]" value="1" {if $item.default_pic == 1}checked="checked"{/if} />
					<a href="#deleteImage" onclick="deleteImage('{$item.id}', '2');"><img src="{$office_theme_path}images/delete-icon.png" /></a>
				</div><!--{/if}-->
				<!--{if $item.picture2}-->
				<div class="img_item tim_3">
					<img id="uploadpic" src="{$item.image3}" alt="{$item.name3}" />					
					<input title="Chọn làm hình chính" type="radio" name="data[product][default_pic]" value="2" {if $item.default_pic == 2}checked="checked"{/if} />
					<a href="#deleteImage" onclick="deleteImage('{$item.id}', '3');"><img src="{$office_theme_path}images/delete-icon.png" /></a>
				</div><!--{/if}-->
				<!--{if $item.picture3}-->
				<div class="img_item tim_4">
					<img id="uploadpic" src="{$item.image4}" alt="{$item.name4}" />					
					<input title="Chọn làm hình chính" type="radio" name="data[product][default_pic]" value="3" {if $item.default_pic == 3}checked="checked"{/if} />
					<a href="#deleteImage" onclick="deleteImage('{$item.id}', '4');"><img src="{$office_theme_path}images/delete-icon.png" /></a>
				</div><!--{/if}-->
				<!--{if $item.picture4}-->
				<div class="img_item tim_5">
					<img id="uploadpic" src="{$item.image5}" alt="{$item.name5}" />					
					<input title="Chọn làm hình chính" type="radio" name="data[product][default_pic]" value="4" {if $item.default_pic == 4}checked="checked"{/if} />
					<a href="#deleteImage" onclick="deleteImage('{$item.id}', '5');"><img src="{$office_theme_path}images/delete-icon.png" /></a>
				</div><!--{/if}-->
			</div>
			<table id="table_images">
				<tr>
				  <td colspan=2 style="padding-bottom: 10px"><span id="image_size_note"><strong>{lang upload_image}</strong> {lang image_size_format_provision}</span></td>
				</tr>
								
				<tr class="inputfile_1" <!--{if $item.picture}-->style="display: none"<!--{/if}-->>
				<td class="pic_title">H1</td>
				<td>
				    <a href="#loadpic" onclick="$('#uploadfile0').trigger('click')">{lang upload_picture}: <span class="picload0" style="color: #3B984C">......</span></a>
				    <input accept="image/*" onchange="$('.picload0').html($(this).val());" style="display: none" name="pic" type="file" id="uploadfile0" onchange="preview()" />
				    <br><input title="{lang pic_note}" name="linkpic" placeholder="{lang link_picture}" class="linkpic" type="text" id="uploadlinkfile" />
				</td>

			      </tr>
				
				
				
				
			      <tr class="inputfile_2" <!--{if $item.picture1}-->style="display: none"<!--{/if}-->>
				<td class="pic_title">H2</td>
				<td>
				    <a href="#loadpic" onclick="$('#uploadfile1').trigger('click')">{lang upload_picture}: <span class="picload1" style="color: #3B984C">......</span></a>
				    <input accept="image/*" onchange="$('.picload1').html($(this).val())" style="display: none" name="pic1" type="file" id="uploadfile1" onchange="preview()" />
				    <br><input title="{lang pic_note}" name="linkpic1" placeholder="{lang link_picture}" class="linkpic" type="text" id="uploadlinkfile1" />
				</td>
			      </tr>

			      
			      
			      
			      <tr class="inputfile_3" <!--{if $item.picture2}-->style="display: none"<!--{/if}-->>
				<td class="pic_title">H3</td>
				<td>
				    <a href="#loadpic" onclick="$('#uploadfile2').trigger('click')">{lang upload_picture}: <span class="picload2" style="color: #3B984C">......</span></a>
				    <input accept="image/*" onchange="$('.picload2').html($(this).val())" style="display: none" name="pic2" type="file" id="uploadfile2" onchange="preview()" />
				    <br><input title="{lang pic_note}" name="linkpic2" placeholder="{lang link_picture}" class="linkpic" type="text" id="uploadlinkfile2" />
				</td>
			      </tr>
			      
			      
			      
			      <tr class="inputfile_4" <!--{if $item.picture3}-->style="display: none"<!--{/if}-->>
				<td class="pic_title">H4</td>
				<td>
				    <a href="#loadpic" onclick="$('#uploadfile3').trigger('click')">{lang upload_picture}: <span class="picload3" style="color: #3B984C">......</span></a>
				    <input accept="image/*" onchange="$('.picload3').html($(this).val())" style="display: none" name="pic3" type="file" id="uploadfile3" onchange="preview()" />
				    <br><input title="{lang pic_note}" placeholder="{lang link_picture}" name="linkpic3" class="linkpic" type="text" id="uploadlinkfile3" />
				     
				    </td>

			      </tr>
			      
			      
			      
			      <tr class="inputfile_5" <!--{if $item.picture4}-->style="display: none"<!--{/if}--> >
				<td class="pic_title">H5</td>
				<td>
				    <a href="#loadpic" onclick="$('#uploadfile4').trigger('click')">{lang upload_picture}: <span class="picload4" style="color: #3B984C">......</span></a>
				    <input accept="image/*" onchange="$('.picload4').html($(this).val())" style="display: none" name="pic4" type="file" id="uploadfile4" onchange="preview()" />
				    <br><input title="{lang pic_note}" placeholder="{lang link_picture}" name="linkpic4" class="linkpic" type="text" id="uploadlinkfile4" />
				     
				    </td>

			      </tr>
			      
			      
			</table>
		</td>
		<td valign="top">
			<span class="top-table">.</span>
			<table class="offer_info_content">
				<tr>
					   <th>{lang market}<font class="red">*</font></th>
					   <td class="tdright"><font color="#666666">
						<input placeholder="{lang market_note}" name="data[product][market]" type="text" id="dataProductMarket" value="{$item.market}" class="required"></font>					   
					   </td>
				</tr>
				{if $smarty.get.type=='service' && ($pb_userinfo.checkout || $pb_userinfo.school_id)}
					<tr>
						<th>Sinh viên </th>
						<td class="tdright">
							<input style="display: block;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    min-width: 0;
    width: auto;" {if $item.for_student}checked="checked"{/if} type="checkbox" value="1" name="data[product][for_student]" />
							Dịch vụ dành cho sinh viên
						</td>
					</tr>
				{/if}
				<!--<tr>
				  <th>{lang area_tt}{lang colon}</th>
				  <td class="tdright">
					<div id="dataArea">
								  <select name="area[id][1]" id="dataProductAreaId1" class="level_1" ></select>
								  <select name="area[id][2]" id="dataProductAreaId2" class="level_2" ></select>
								  <select name="area[id][3]" id="dataProductAreaId3" class="level_3"></select>
							  </div>
	  
							  </td>
				</tr>-->
				<tr>
					   <th> {if $getvar.type == 'service'}{lang service_code}{else}{lang product_code}{/if}{lang colon}</th>
					   <td class="tdright"><font color="#666666">
						<input name="data[product][product_code]" type="text" id="dataProductProductCode" value="{$item.product_code}"></font>					   
					   </td>
				</tr>
				<tr>
				  <th>{lang product_brand}</th>
				  <td class="tdright"><select name="data[product][brand_id]" id="brand_id_select">
				      <option value="0">{lang select}</option>
				      {html_options options=$UserBrands selected=$item.brand_id}
				    </select> <a href="#new_brand_box" onclick="$('#new_brand_box').css('display', 'block')" id="add_new_brand_but">{if $getvar.type == 'service'}{lang add_brand_service}{else}{lang add_brand_product}{/if}</a>
				  
				  </td>
				</tr>
				
				<!--{foreach from=$Forms name=form item=item1 key=key1}-->				
					<tr>
					   <th> {$item1.label}{lang colon}{if $key1 == 6 || ($getvar.type != 'service' && $key1 == 7)}<font class="red">*</font>{/if}</th>
					   <td class="tdright"><font color="#666666">
					     <input placeholder="{$item1.description}" name="data[formitem][{$key1}]" type="text" id="{$item1.id}" value="{$item1.value}" {if $key1 == 6 || ($getvar.type != 'service' && $key1 == 7)}class="required"{/if}></font>
					   </td>
					</tr>
				<!--{/foreach}-->
				
					<tr>
					  <th>{lang the_price_n}<font class="red">*</font></th>
					  <td class="tdright"><input name="data[product][price]" type="text" id="dataProductPrice" value="{$item.price}">
						<strong>VNĐ / </strong><input placeholder="Đơn vị sản phẩm (Ví dụ: cái, m2,...)" name="data[product][price_unit]" type="text" id="dataProductPriceUnit" value="{$item.price_unit}">
					  </td>
					</tr>
					<tr>
					   <th> {lang the_new_price}{lang colon}</th>
					   <td class="tdright"><font color="#666666">
					     <input name="data[product][new_price]" type="text" id="dataProductNewPrice" value="{$item.new_price}"></font>
					   <input placeholder="Ghi chú (Ví dụ: giá khuyến mãi)" name="data[product][price_note]" type="text" id="dataProductPriceNote" value="{$item.price_note}">
					   </td>
					</tr>

				<tr style="display: none">
				  <th class="circle_left">{lang product_type}<font class="red">*</font></th>
				  <td class="circle_right">{html_radios name="data[product][sort_id]" options=$ProductSorts checked=$item.sort_id|default:2 separator=" "}</td>
				</tr>
				
				
				
						    
				<tr style="display: none">
				  <th>{lang country}:</th>
				  <td><select name="data[product][country_id]" id="CountryId">
								  <option>{lang please_select}</option>
							  <!--{foreach from=$Countries name=Countries item=country}-->
								  <option value="{$country.id}" title="../images/country/{$country.picture}" {if $country.id==$item.country_id}selected="selected"{/if}>{$country.name}</option>
							  <!--{/foreach}-->
				  </select>&nbsp;&nbsp;<img src="../images/country/{$item.country}" id="CountryImage"></td>
				</tr>
				
				
				
				
				  <!--		  <tr>
					  <th>{lang sorts_n}</th>
					  <td><select name="data[product][category_id]" id="ProductpriceCategory">
					  {$Productcategories}	
					  </select></td>
				    </tr>-->
				
				<tr>
				  <th>{lang tags_n}</th>
				  <td class="tdright"><input class="infoTableInput2" name="data[tag]" type="text" id="tag" value="{$item.tag}" /><label class="field_notice">{lang space_separate}</label></td>
				</tr>
				

		    </table>
			<span class="bottom-table">.</span>
			
			
		</td>
	</tr>
       </table>
       
       <br />
       
       <table width="100%">
	<tr>
				  
				  <td class="">
					<h3 style="font-size: 16px;margin-bottom: 5px;">{lang details_n}<font class="red">*</font></h3>
					<input class="editor_imagevideo" id="uploadIVbutton" type = "button" value = "Tải Ảnh/Video" 
						onclick ="javascript:document.getElementById('imagefile').click();">
					<textarea name="data[product][content]" id="dataProductContent" rows="16" wrap="VIRTUAL" style="width:100%;height: 550px" class="">{$item.content}</textarea>
					<!-- tinyMCE.activeEditor.execCommand('mceInsertContent', false, "Whatever text");-->
					
				      </td>
				</tr>
       </table>
       
      
    </div>  
      
      
       <br />
       <input name="save" type="submit" id="save" value=" {lang confirm_submit} ">
							  <!--{if $item.id}-->
							  &nbsp;<a class="preview_link" href="{the_url module=product id=`$item.id` product_name=`$item.name`}" title="{lang preview}{$item.name}" target="_blank" style="text-decoration:underline;color:blue;">{lang preview}</a>
							  <!--{/if}-->
	</form>
	  
	
	<br />

	<div id="uploadImageVideo">
		<iframe style="display: none" id="insertFrame" name="insertFrame" ></iframe>
		<form method="POST" action="{$SiteUrl}index.php?do=product&action=uploadEditorFile" name="insertPicForm" id="insertPicForm" target="insertFrame" enctype="multipart/form-data" onsubmit="return checkUploadEditorInput()">
			<input type="hidden" name="do" value="product" />
			<input type="hidden" name="action" value="uploadEditorFile" />
			
			
			
      
			<input style="visibility: hidden; position: absolute; top: -20000px" id="imagefile" type="file" name="uploadEditorFile" id="uploadEditorFile" onchange="$('#insertPicForm').submit()" />
			
		</form>
	</div>
	  
	  




	  
	  

</div>
</div>
<script>
var cache_path = "../";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
var industry_id1 = {$item.industry_id1|default:0} ;
var industry_id2 = {$item.industry_id2|default:0} ;
var industry_id3 = {$item.industry_id3|default:0} ;
var industry_id4 = {$item.industry_id4|default:0} ;
</script>
<!-- {literal} -->
<script>
jQuery(document).ready(function($) {
	$("#ProductpriceCategory").val("{$item.category_id|default:0}")
})
</script>
<!-- {/literal} -->
<script src="../scripts/multi_select.js" charset="{$charset}"></script>
<script src="../scripts/script_area.js"></script>
<script src="../scripts/script_industry.js"></script>
<!--{include file="footer.html"}-->