
<div id="box_4home_tb" style="display: none">
	
	<div style="padding: 20px;width: 900px">
	 
	 
	 
	 	 	 {$gioithieu}
			
	</div>
	
   </div>
   
   
   
   <div id="box_4home_ql" style="display: none">
	
	<div style="padding: 20px;width: 900px">
	 
	 
	 
	 {$qltv}
			
	</div>
	
   </div>
   
   
   
   <div id="box_4home_dk" style="display: none">
	
	<div style="padding: 20px;width: 900px">
	 
	 
	 
	 {$dksd}
			
	</div>
	
   </div>
   
   
   
   <div id="box_4home_bm" style="display: none">
	
	<div style="padding: 20px;width: 900px">
	 
	 {$baomat}
	</div>
	
   </div>