{if !$pb_username}
	<div id="login-box" style="display: none">
		
		<div style="padding: 20px 20px 0px 20px;width: 425px">
	
			<div class="content_inner" style="padding-bottom:10px;">
			    <div class="wrapper">
	
	    <div class="content">
		
		<h1 style="font-size: 25px;
    font-weight: bold;
    line-height: 35px;">{lang login}</h1>
		
		<div class="loadingcon">
		<form name="loggingfrm" id="LoggingFrm" method="post" action="logging.php">
		    <input type="hidden" name="action" value="logging">
		    <input type="hidden" name="type" value="{$Type}">
		    <input type="hidden" name="redirect" value="{$F_URL}">
		    <!-- {formhash} -->
		    <input type="hidden" name="forward" value="{$_G.forward}" />
		    <div class="loadingconleft">
			
					{if $LoginError}{$LoginError}{/if}

				<label class="loadingname">
					{lang user_name}
			    </label>
			    <label style="height: auto;margin-top: 5px;">
				<input type="text" style="color: #333;" name="data[login_name]" id="LoginName"  value="" placeholder="{lang account_n_email_n_mobile}" tabindex="1">&nbsp;
			    </label>
			    <label class="loadingname" style="margin-top: -5px;">
			    {lang password}
			    </label>
			    <label style="margin-top: 5px;">
				<input name="data[login_pass]" type="password" id="LoginPass" value="" tabindex="2"><input type="checkbox" name="remember_pass" id="RememberPass" value="1" title="{lang remember_password}">&nbsp;{lang remember_password}&nbsp;
			    </label>
			    
			    
			    <div class="clear"></div>
			    <div class="login" id="btnLoginDiv" style="margin-top: 10px;">
			       <input type="submit" name="log_in" value="{lang login}" id="wp-submit" class="submitbutton" />
			       <div class="info_but_login">
				<a href="{$WebRootUrl}getpasswd.php">{lang forget_password}</a><br />
				<!--<a href="{$WebRootUrl}register.php">{lang register}</a>-->
			       </div>
			    </div>
				<br style="clear: both" />
				<br /><div style="display: block; border: 1px solid rgb(85, 85, 85);"></div><br />
			    <h1 style="font-size: 25px;
    font-weight: bold;
    line-height: 35px;">Nếu chưa có tài khoản thành viên</h1>
				<div class="box-res-con shopping" style="display: none">
					<div class="">
					    <!--<h4 style="margin-bottom: 8px;">Nếu bạn chưa có tài khoản thành viên.<br />Vui lòng đăng ký để tham gia với chúng tôi.</h4>
					    {if $smarty.get.do == "product"}
						<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Company'}">{lang register}</a>
					    {elseif $smarty.get.do == "employee"}
						<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Employee'}">{lang register}</a>
					    {elseif $smarty.get.do == "job"}
						<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Employer'}">{lang register}</a>
					    {elseif $smarty.get.do == "studypost"}
						<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Learner'}">{lang register}</a>
					    {else}
						<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Company'}">{lang register}</a>
					    {/if}-->
					    
					    
					    <a class="shopping_button single_add_to_cart_button button alt" type="button" href="index.php?do=product&action=meminfo&id=">Bổ sung thông tin đặt hàng</a>
					</div>
				    </div>
			    
			    <!--<div class="box-res-con">
				<div class="inner-boxx">
				    <h4>Nếu bạn chưa có tài khoản thành viên.<br />Vui lòng đăng ký để tham gia với chúng tôi.</h4><br />
				    {if $smarty.get.do == "product"}
					<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Company'}">{lang register}</a>
				    {elseif $smarty.get.do == "employee"}
					<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Employee'}">{lang register}</a>
				    {elseif $smarty.get.do == "job"}
					<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Employer'}">{lang register}</a>
				    {elseif $smarty.get.do == "studypost"}
					<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Learner'}">{lang register}</a>
				    {else}
					<a target="blank" class="single_add_to_cart_button button alt" type="button" href="{the_url module='register' typename='Company'}">{lang register}</a>
				    {/if}
				</div>
			    </div>-->
			    
			    
			    
		    </div>
		    
		</form>
		</div>
	    </div>
	</div>
	<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
	<script language="javascript" src="scripts/jquery/jquery.validate.js"></script>
	<script language="javascript" src="scripts/validate.js" charset="{$charset}"></script>
	<script>
		var account_n_email_n_mobile = "{lang account_n_email_n_mobile}";
	</script>

	</div>
		</div>
		
	</div>
{/if}

{if $pb_company.shop_name && $pb_userinfo.activity_announce_count==0 && $pb_userinfo.logging_count > 1}
	<div class="glass_background">.</div>
	<div id="activity-result" class="row" style="display: none">
	    <div class="activity_announce">
		Vào <strong>Trang quản lý</strong> để xem kết quả hoạt động Gian hàng <strong>{$pb_company.shop_name}</strong> trong tuần
		<span class="red_pointer">.</span>
	    </div>    
	</div>
	
	<!--{literal}-->
		<script>
			$(document).ready(function() {
				//$("#activity-result-but").trigger("click");
				$('#settingbox').addClass("force_show");
				$('#activity-result').show();
				
				$('#topmenu_outer').append('<div class="verytopmenu_glass"></div>');
				//$('body').click(function(){$('#settingbox').show();});
				
				$.ajax({
					url: "index.php?do=member&action=updateActivityAnnouceCount",
				}).done(function ( data ) {
					if( console && console.log ) {
						
					}
				});
				
				$('.virtual_office_link').click(function() {
					$('.glass_background').hide();
					$('#activity-result').hide();
					$('.verytopmenu_glass').hide();
				});
			});
			
			$(document).scroll(function() {
				//$("#activity-result-but").trigger("click");
				$('.activity_announce').css("top",$('#settingbox').offset().top+6);
			});
		</script>
	<!--{/literal}-->
{/if}

<!--{literal}-->
<style>
	{/literal}{loop $adsizes item level key}{literal}
		{/literal}{if $item.width && $item.height}{literal}
			.banner_{/literal}{$item.width}{literal}_{/literal}{$item.height}{literal} {
				width: {/literal}{$item.width}px{literal};
				height: {/literal}{$item.height}px{literal};
			}
		{/literal}{/if}{literal}
	{/literal}{/loop}{literal}
</style>
<!--{/literal}-->

<!--{literal}-->	
<script type="application/x-javascript">
$(document).ready(function() {
	$('.module-intro-box img').resizecrop({
	    width:$('.module-intro-box img').width(),
	    height:$('.module-intro-box img').height()
	});
	$('.logo-listing.cols3 ul li img').resizecrop({
	    width:$('.logo-listing.cols3 ul li img').width(),
	    height:$('.logo-listing.cols3 ul li img').height()
	});
	
	$('.module-intro-list ul li img').resizecrop({
	    width:$('.module-intro-list ul li img').width(),
	    height:$('.module-intro-list ul li img').height()
	});
	
	$('.tiles-list.inner-text-image ul li img').resizecrop({
	    width:$('.tiles-list.inner-text-image ul li img').width(),
	    height:$('.tiles-list.inner-text-image ul li img').height()
	});
	
	$('.tiles-list.top-info ul li img.main_img').resizecrop({
	    width:$('.tiles-list.top-info ul li img.main_img').width(),
	    height:$('.tiles-list.top-info ul li img.main_img').height()
	});
	
	$('.studyhome-banner .banner a img').each(function() {
	    $(this).resizecrop({
		      width:$(this).width(),
		      height:$(this).height()
		  });
	});
	
	$('.banner-one-line img').each(function() {
	    $(this).resizecrop({
		      width:$(this).width(),
		      height:$(this).height()
		  });
	});
	
	$('.studyhome-tabs ul.tabsz li a').click(function() {	    
	    $('.studyhome-tabs .contents .tab-content').addClass("boxhide");
	    $('.studyhome-tabs .contents .tab-content.tab-'+$(this).attr("rel")).removeClass("boxhide");
	    
	    $('.studyhome-tabs ul.tabsz li').removeClass("active");
	    $(this).parent().addClass("active");
	});
	$('.studyhome-tabs ul.tabsz li a').eq(0).trigger("click");
	
	$(".video_map").each(function() {
      var width = $(this).width();
      var height = $(this).height();
      var source = $(this).attr("rel");
      
      var video_tag = '<video width="'+width+'" height="'+height+'" controls>'
      video_tag += '<source src="'+source+'" type="video/mp4">'
      video_tag += 'Your browser does not support the video tag.'
      video_tag += '</video>'
      
      $(this).after(video_tag)
      $(this).hide()
	  
	  setTimeout('history.pushState("", document.title, window.location.pathname);', 1000);
    });
	
});
</script>
<!--{/literal}-->
