
<!--{if $pb_username!=""}-->
<a class="ppiitteemm" target="_blank" href="{the_url module="redirect" url="/virtual-office/product.php?do=edit"}">{lang post_product}</a>
<a class="ppiitteemm" target="_blank" href="{the_url module="redirect" url="/virtual-office/product.php?do=edit%26type=service"}">{lang add_service}</a>

<!--{else}-->
<a class="comment_but ppiitteemm" target="_blank" href="#login-box" redirect="{the_url module="redirect" url="/virtual-office/product.php?do=edit"}">{lang post_product}</a>
<a class="comment_but ppiitteemm" target="_blank" href="#login-box" redirect="{the_url module="redirect" url="/virtual-office/product.php?do=edit%26type=service"}">{lang add_service}</a>

<!--{/if}-->