            <a href="javascript:void(0)" class="setting"><img style="border: none" src="templates/default/image/setting-icon_small_w.png" width="20" height="20" /></a>
	    <div id="settingbox" style="display: none">
		<ul>
                    
                    {if $pb_userinfo.other_types }
                        {if $pb_company}
                            <li {if $pb_userinfo.current_type == 1 || $pb_userinfo.current_type == 2 || $pb_userinfo.current_type == 3}class="active"{/if}>
                                <a href="{the_url module=space userid=`$pb_company.cache_spacename` change_current_type=`$pb_userinfo.membertype_id`}">
                                    {$pb_company.shop_name}
                                </a>
                            </li>
                        {/if}
                    {/if}

		    <!--{loop $pb_userinfo.other_types typeitem typeitem_0 typeitemkey0}-->
			{if $typeitem.membertype_id == 6}
                            <li {if $pb_userinfo.current_type == $typeitem.membertype_id}class="active"{/if}>                                
                                <a href="{the_url module=studypost action=school change_current_type=`$typeitem.membertype_id`}">
                                    {$pb_userinfo.first_name} {$pb_userinfo.last_name}
                                </a>
                            </li>
                        {/if}
		    <!--{/loop}-->
		    
		    		    
		    {if $pb_userinfo.current_type == 6}
			<!--<li class="sline">.</li>-->
			<li>
			    <a href="{the_url module=studypost}">Diễn đàn Dạy và Học</a>
			</li>
		    {/if}
		    <li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/">{lang my_office_room}</a></li>
		    <li class="sline">.</li>
		    <li><a href="logging.php?action=logout">{lang login_out}</a></li>
		</ul>
		<span class="pointer_topmenu">.</span>
	    </div>