            <a href="javascript:void(0)" class="setting"><img style="border: none" src="templates/default/image/setting-icon_small_w.png" width="20" height="20" /></a>
	    <div id="settingbox" style="display: none">
		<ul>
                    
                    {if $pb_userinfo.other_types }
                        {if $pb_company}
                            <li {if $pb_userinfo.current_type == 1 || $pb_userinfo.current_type == 2 || $pb_userinfo.current_type == 3}class="active"{/if}>
                                <a href="{the_url module=space userid=`$pb_company.cache_spacename` change_current_type=`$pb_userinfo.membertype_id`}">
                                    {$pb_company.shop_name}
                                </a>
                            </li>
                        {/if}
                    {/if}

		    {loop $pb_userinfo.other_types typeitem typeitem_0 typeitemkey0}
			{if $typeitem.membertype_id == 6}
                            <li {if $pb_userinfo.current_type == $typeitem.membertype_id}class="active"{/if}>                                
                                <a href="{the_url module=studypost action=school change_current_type=`$typeitem.membertype_id`}">
                                    {$pb_userinfo.first_name} {$pb_userinfo.last_name}
                                </a>
                            </li>
                        {/if}
		    {/loop}
		    
		    {if $pb_userinfo.current_type == 6}
			<li>
			    <a href="{the_url module=studypost}">Diễn đàn Dạy và Học</a>
			</li>
		    {/if}
			<li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/?home=1">Quản lý chung</a></li>
			<li class="sline">.</li>
			<li>
						<span class="sell_count"></span>
						<a class="virtual_office_link" target="_blank" href="http://marketonline.vn:3000/pb_saleorders">Quản lý đơn hàng</a>
						{literal}
						<script>
							//Load new chatbox
							$.ajax({
								url: "http://marketonline.vn:3000/pb_members/pending_order_count?user_id="+{/literal}{$pb_userinfo.id}{literal},
							}).done(function ( data ) {
								$(".sell_count").html(data)
							});
						</script>
						{/literal}
			</li>

			<li><a class="virtual_office_link" target="_blank" href="http://marketonline.vn:3000">Quản lý Quảng cáo</a></li>
			<li><a class="virtual_office_link" target="_blank" href="http://marketonline.vn:3000/deals">Quản lý DEAL</a></li>
			<li class="sline">.</li>
			<li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/product.php">Sản phẩm</a></li>
			<li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/product.php?type=service">Dịch vụ</a></li>
			<li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/offer.php">Thương mại</a></li>
			<li class="sline">.</li>
			<li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/index.php">Hồ sơ Gian hàng</a></li>
			<li><a class="virtual_office_link" target="_blank" href="redirect.php?url=/virtual-office/personal.php">Hồ sơ cá nhân</a></li>
		    <li class="sline">.</li>
			<li><a class="" href="{the_url module=root-url}redirect.php?url=/virtual-office/announce.php?id=34" id="info-manage"><span>Dịch vụ Thiết kế Website</span></a></li>
			<li class="sline">.</li>
		    <li><a href="logging.php?action=logout">Đăng xuất</a></li>
		</ul>
		<span class="pointer_topmenu">.</span>
	    </div>