<!--{include file="`$theme_name`/header.html" page_title="`$box_title`"}-->
<!--{$redirectz}-->
<!--{$js_head}-->






<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
    <div class="fifteen columns" id="page-title">
        <a class="back" href="javascript:history.back()"></a>
        <div class="subtitle">
            
                        <p>{lang announcement}</p>
        </div>
        <h1 class="page-title">
                        {$page_title}                    </h1>

        

    </div>

</div>


{if $smarty.get.new_user_id != 0}
	<div class="row res_box res_done_box flash_boxz" style="width: 564px;">
		<h2>{$box_title}</h2>
		<div class="success_box">
		<h4>{$message}</h4>
		</div>
		
		<div class="reg_foot">
					
					<a class="gomail" href="javascript:history.go(-1);">{lang go_back}</a>
				</div>
	</div>
{else}
	<div class="row res_box res_done_box flash_boxz" {if $box_title == 'Đăng ký thành công'}style="width:330px;"{/if} {if $box_title == "Xác minh tài khoản"}style="width: 500px"{/if}>
		<h2>{$box_title}</h2>
		<div class="success_box">
		<h4 class="all_message">{$message}</h4>{if $box_title == 'Đăng ký thành công'}<br />{/if}
		</div>
		
		<div class="reg_foot">
			{if $box_title == "Xác minh tài khoản"}
				<a class="gomail" href="{$gomail}" target="_blank" rel="nofollow">Tới email của bạn</a>
				{literal}
					<script>
						$('.gomail').attr("href", $('.all_message strong').attr('gomail'));
					</script>
				{/literal}
			{else}
				<a class="gomail" href="javascript:history.go(-1);">{lang go_back}</a>
			{/if}
					
					
				</div>
	</div>
{/if}



<div class="row">

</div>



</div>
  </div>











<!--{include file="`$theme_name`/footer.html"}-->