<!--{include file="`$theme_name`/header.html"  page_title="`$_get_password`"}-->



<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
    <div class="fifteen columns" id="page-title">
        <a class="back" href="javascript:history.back()"></a>
        <div class="subtitle">
            
                        <p>{lang member}</p>
        </div>
        <h1 class="page-title">
                        {lang login}                    </h1>

        

    </div>
    <div class="fifteen columns"><div class="line"></div></div>
</div>


<div class="row">

    <div class="four columns logging getpass" style="margin-left: 80px">

        <section id="woocommerce_login-2" class="widget-1 widget-first widget widget_login">
	  
	  <div class="widget-inner">
	    <h3>{lang forget_pass}</h3>
	  
	  
	  <p style="color: red">{$ERRORS}</p>



<!--{include file="`$theme_name`/header.html" page_title="`$_get_password`"}-->
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
<script language="javascript" src="scripts/jquery/jquery.validate.js"></script>
<!--{literal}-->
<script>
jQuery(document).ready(function($) {
	$("#getPasswdFrm").validate({
	submitHandler: function(form) {
		$(form).find(":submit").attr("disabled", true).attr("value",pb_lang.DO_PROCESSING);
		form.submit();
	}
	});
})
</script>
<!--{/literal}-->

              <form name="getpasswdfrm" id="getPasswdFrm" method="post" action="getpasswd.php">
                  <input type="hidden" name="action" value="getpasswd" />
                  <!-- {formhash} -->
                    <strong>Vui lòng nhập email đã đăng ký của bạn.</strong>
		    
		    <!--<p>
			<label>
				{lang login_name}
			</label>
			<input type="text" name="data[username]" value="" id="dataUsername" class="required"/>
		    </p>-->
                     <p>
			<label>
				{lang your_email}
			</label>
			<input type="text" name="data[email]" id="UserEmail" value="" class="required email"/>
		    </p>
		     <p>
			<label style="text-transform: none;">{lang send_password_email_next}</label>
			<input type="submit" name="go_next" value="{lang pass_confirm}" id="wp-submit" class="submit_w165"/>
		     </p>
		    
                </form>
                <div class="messageconright">
                <!-- {if $ERRORS} -->
                    <!--<p>{$ERRORS}</p>-->
                <!-- {else} -->
                    
                <!-- {/if} -->
                </div>
	      
	      
	
	  </div>

	
	</section>
			
    </div>
</div>



</div>
  </div>



{literal}
	<script>
		$('#getPasswdFrm').validate();
	</script>
{/literal}


<!--{include file="`$theme_name`/footer.html"}-->

