<!--{include file="`$theme_name`/header.html" page_title="`$_get_password`"}-->



<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
    <div class="fifteen columns" id="page-title">
        <a class="back" href="javascript:history.back()"></a>
        <div class="subtitle">
            
                        <p>{lang member}</p>
        </div>
        <h1 class="page-title">
                        {lang reset_password}                  </h1>

        

    </div>
    <div class="fifteen columns"><div class="line" style="margin-bottom: 10px;"></div></div>
</div>


<div class="row">

    <div class="four columns logging" style="margin-left: 80px">

        <section id="woocommerce_login-2" class="widget-1 widget-first widget">
	  
	  
	  
	  <div class="widget-inner">
	  
	    
	    
	   <!--{literal}-->
<style type="text/css">
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<!--{/literal}-->
<div class="wrapper">
    <div class="content">
        
        <div class="loadingcon">
	  
	  
	  <form id="ResetFrm" name="reset_frm" method="post" action="index.php?do=member&action=getpasswd">
		<input type="hidden" name="data[username]" value="{$username}" />
		<input type="hidden" name="do" value="reset" />
		<!-- {formhash} -->
		
		
		
		<label class="loadingname">
                        {lang user_authentication}
                    </label>
                    <label>
                        <input type="text" value="{$username}" disabled />
                    </label>
		     
		     
		     <label class="loadingname">
                        {lang new_password}
                    </label>
                    <label>
                        <input type="password" name="data[password1]" id="password1" />
                    </label>
		     
		     
		     <label class="loadingname">
                        {lang re_enter_new_password}
                    </label>
                    <label>
                        <input type="password" name="data[password1]" id="password2" />
                    </label>
		     <br clear="all" />
		     
		     
		     
		     
		     <div class="clear"></div>
                    <div class="login" id="btnLoginDiv">
		     <input id="wp-submit" type="button" name="Submit" value="{lang submit_reset_password}" class="submit_w118" onclick="return check();" />
		    </div>
		
		
		
		</form>
	  
	  
	  
	  
        
        </div>
    </div>
</div>
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
<script language="javascript" src="scripts/jquery/jquery.validate.js"></script>
<script language="javascript" src="scripts/validate.js" charset="{$charset}"></script>
<script>
var account_n_email_n_mobile = "{lang account_n_email_n_mobile}";
</script>
<!--{literal}-->
<script>
$(document).ready(function(){
	$("#LoginName").focus(function(){
		if($("#LoginName").val()==account_n_email_n_mobile){
			$("#LoginName").val('').css('color', '#000');
		};
	}).blur(function(){
		if($("#LoginName").val()==''){
		$("#LoginName").val(account_n_email_n_mobile).css("color","#ccc")};
	});
});
</script>
<!--{/literal}-->
	  
	  
	  
	  </div>
	
	
	</section>
			
    </div>


<div class="res_logging">
    <h4>{lang not_register_annouce}</h4><br />
    <button class="single_add_to_cart_button button alt" type="button" onclick="window.location='{the_url module="register"}'">{lang register}</button>
</div>


</div>



</div>
  </div>










<script>
var enter_valid_password = "{lang enter_valid_password}";
var enter_correct_password = "{lang enter_correct_password}";
var enter_password_different = "{lang enter_password_different}";
</script>
<!--{literal}-->
<script>
function check(){
	if($("#password1").val()=="" || $("#password2").val()==""){
		alert(enter_correct_password);
		return false;
	}else if($("#password1").val().length<6 ){
	alert(enter_valid_password)
	return false;
	}else if($("#password1").val()!=$("#password2").val()){
		alert(enter_password_different);
		return false;
	}else{
		$("#ResetFrm").submit();
	}
}
</script>
<!--{/literal}-->
<!--{include file="`$theme_name`/footer.html"}-->