<!-- {assign var="metakeywords" value="`$site_description`"} -->
<!-- {assign var="metadescription" value="`$site_description`"} -->
<!-- {assign var="do" value="offer"} -->
<!-- {assign var="home_title" value=$_G.site_name} -->
<!--{include file="`$theme_name`/header.html" page_title="$home_title" nav_id=1}-->

<link rel="stylesheet" href="{$theme_img_path}css/newhome.css?v=2">

<!--{include file="`$theme_name`/topmenu.html"}-->

<div class="newhome">
    <div class="header">
        <div class="ad_banner_item_hover"></div>
        
        <div class="newhome-menus">
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_1" pos="home_top_banner_1">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_2" pos="home_top_banner_2">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_3" pos="home_top_banner_3">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_3 kkk_1" pos="home_top_banner_3">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_3 kkk_2" pos="home_top_banner_3">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_3 kkk_3" pos="home_top_banner_3">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
            <div class="ad_banner_item ad_banner_item home_top_banner_ad ad_banner_3 kkk_4" pos="home_top_banner_3">
                Nhấn vào đây
                <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
            </div>
        </div>
        
        <div class="top-banners">            
            <div class="right-banner">
                
                <div class="right-banner-inner">                    
                    <iframe scrolling="no" style="overflow: hidden;border: medium none;height: 641px;width: 100%;" src="http://marketonline.vn:3000/ad_positions/iframe_home_top_banner" style="border: none;"></iframe>
                    <!--<div class="home-right-content">
                        <div class="home-right-top-banner">
                            <div class="banner-item {if $show_home_top_main_left}left{/if} ajax_banner adid-39" rel="39" type="">
                                
                            </div>
                            {if $show_home_top_main_left}
                                <div class="banner-item right ajax_banner adid-40" rel="40" type="">
                                </div>
                            {/if}
                        </div>
                        <div class="home-right-bottoms-products ajax_banner adid-41" rel="41" type="products">
                            
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    
        <div class="newhome-menus">
            <div class="tabs-menu">
                <ul>
                    <li class="main-title">Danh mục chính</li>
                    <li>
                        <a target="_blank" href="{the_url module='product_main'}#sale">Giảm giá/Khuyến mãi</a>
                    </li>
                    <li class="ad_li">
                        <a target="_blank" class="ad_toggle" href="#add_toggle">Đăng Quảng Cáo</a>
                    </li>
                </ul>
            </div>
            <div class="main-menu">
                <ul>
                    <!--{loop $IndustryList item0 level_0 key0}-->
                        <li class="parent" rel="{$item0.id}">
                            <a target="_blank" href="{the_url module=products level=1 industryid=`$item0.id` title=`$item0.name`}">
                                {$item0.name}
                            </a>
                            <div class="menu-content hidden">
                                <div class="banner_container menu_ajax_banner adid-42-{$item0.id}" rel="42" type="industry" industry_id="{$item0.id}"></div>
                                
                                <div class="menu-content-inner">
                                    <div class="loading"></div>
                                </div>
                                
                                <div class="banner_container menu_ajax_banner banner-bottom-abs adid-59-{$item0.id}" rel="59" type="industry" industry_id="{$item0.id}"></div>
                            </div>
                        </li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
    </div>
    
    {if $show_productbox > 0 }
        {if $show_productbox < 13}
            <div class="productbox newhome-{if $productbox_center && !$productbox_more}product3lines{elseif $productbox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Sản phẩm nổi bật</h2>
                <div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_4" pos="home_feature_hot_product_left">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_5" pos="home_feature_hot_product_right">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                
                <div class="col-item col-left" type="productbox" rel="45">
                    <iframe class="iframe_ad" scrolling="no" style="overflow: hidden;border: medium none;height: 580px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_product_left" style="border: none;"></iframe>
                </div>
                
                <div class="col-item col-right" type="productbox" rel="45">
                    <iframe class="iframe_ad" scrolling="no" style="overflow: hidden;border: medium none;height: 580px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_product_right" style="border: none;"></iframe>
                </div>
                <br style="clear: both" />
            </div>        
        {/if}
    {/if}
    
    {if $show_servicebox > 0 }
        {if $show_servicebox < 13}
            <div class="productbox newhome-{if $servicebox_center && !$servicebox_more}product3lines{elseif $servicebox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Dịch vụ nổi bật</h2>
                <div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_6" pos="home_feature_hot_service_left">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_7" pos="home_feature_hot_service_right">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                
                
                <div class="col-item col-left" type="productbox" rel="45">
                    <iframe class="iframe_ad" scrolling="no" style="overflow: hidden;border: medium none;height: 490px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_service_left&show_title=false" style="border: none;"></iframe>
                </div>
                
                <div class="col-item col-right" type="productbox" rel="45">
                    <iframe class="iframe_ad"  scrolling="no" style="overflow: hidden;border: medium none;height: 490px;width: 573px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_4_images_box?pos=home_feature_hot_service_right&show_title=false" style="border: none;"></iframe>
                </div>
                <br style="clear: both" />
            </div>
        {/if}
    {/if}
    
    {if $show_tradebox > 0 }
        {if $show_tradebox < 13}
            <div class="productbox newhome-{if $tradebox_center && !$tradebox_more}product3lines{elseif $tradebox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Thương mại nổi bật</h2>
                <div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_8" pos="home_feature_trade_1">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_9" pos="home_feature_trade_2">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_10" pos="home_feature_trade_3">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                <div class="ad_banner_item home_top_banner_ad ad_banner_11" pos="home_feature_trade_4">
                    Nhấn vào đây
                    <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                </div>
                <!--<div class="col-item col-left ajax_banner adid-49" type="productbox" rel="49">
                    
                </div>-->
                
                <div class="col-item col-left">
                    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_1" style="border: none;"></iframe>
                </div>
                
                <div class="col-item col-center">
                    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_2" style="border: none;"></iframe>
                </div>
                
                <div class="col-item col-right">
                    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_3" style="border: none;"></iframe>
                </div>
                
                <div class="col-item col-more">
                    <iframe class="iframe_ad" style="border: medium none;height: 460px;width: 269px;" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_home_feature_3_images_box?pos=home_feature_trade_4" style="border: none;"></iframe>
                </div>
                <br style="clear: both" />
            </div>
        {/if}
    {/if}
    
    {if $show_combox > 0 }
        {if $show_combox < 13}
            <div class="productbox newhome-{if $combox_center && !$combox_more}product3lines{elseif $combox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Thương hiệu nổi bật</h2>
                <div class="col-item col-left ajax_banner adid-55" type="productbox" rel="55">
                    
                </div>
                {if $combox_center || $combox_more}
                    <div class="col-item col-center ajax_banner adid-56" type="productbox" rel="56">
                    
                    </div>
                {/if}
                <div class="col-item col-right ajax_banner adid-57" type="productbox" rel="57">
                    
                </div>
                {if $combox_more}
                    <div class="col-item col-more ajax_banner adid-58" type="productbox" rel="58">
                    
                    </div>
                {/if}
                <br style="clear: both" />
            </div>
        {/if}
    {/if}
</div>
<br style="clear: both" />


{if $companies}
    <div class="row company-container" >
	<p></p>
        <div style="padding: 0 10px">
            <h2 class="area-title">Thương hiệu tiêu biểu</h2>
        
                    <div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
                    <div class="works-list compage" style="padding: 0">         
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_1" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_3" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_4" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_5" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 line_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_1 line_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_2 line_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_3 line_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_4 line_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        <div class="ad_banner_item home_top_banner_ad ad_banner_12 kkk_5 line_2" pos="home_feature_company">
                            Nhấn vào đây
                            <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
                        </div>
                        
                        <iframe scrolling="no" class="iframe_ad" style="border: medium none;height: 485px;width: 100%;overflow: hidden" src_tmp="http://marketonline.vn:3000/ad_positions/iframe_6_items_list?pos=home_feature_company" style="border: none;"></iframe>

                    </div>
	
        </div>
    </div>
{/if}



<div class="row" style="display: none" >
    <div class="bottom_industry_list">
            <h3><a href="{the_url module='product_main'}">Danh mục sản phẩm</a></h3>
            <ul>
                    <!--{loop $industries item0 level_0 key0}-->
                            <li class="level0 {if $level_0%4 == 0}clear{/if}">
                                    <a class="level0" href="{the_url module=products level=1 industryid=`$item0.id` title=`$item0.name`}">{$item0.name}</a>
                                    <ul>
                                            <!--{loop $item0.sub level1 level_1_industry key_level1}-->
                                                <li class="level1 {if $key_level1 > 4}hide{/if}">
                                                        <a class="level1" href="{the_url module=products level=2 industryid=`$level1.id` title=`$level1.name`}">{$level1.name}</a>
                                                </li>
                                            <!--{/loop}-->
                                            <li class="view-more"><a href="javascript:void(0)">Xem thêm</a></li>
                                    </ul>
                            </li>
                            {if $level_0++}{/if}
                    <!--{/loop}-->
                    <li class="level0 more-item"><a href="{the_url module='product_main'}">Sản phẩm mới</a></li>
                    <li class="level0 more-item"><a href="{the_url module='product_main'}#sale">Giảm giá/Khuyến mãi</a></li>
            </ul>
    </div>
</div>




<div class="row">

  <div class="fifteen columns"><div class="text-block clearing-container"><div class="row"><div id="aq-block-4" class="aq-block aq-block-aq_page_15_block fifteen aq-first cf">    <div class="">
        <div class="row-fluid">
	
	<div class="wpb_content_element span4 column_container" style="margin-left: 20px">
		<div class="wpb_wrapper">
			 <div class="row-fluid">
	<div class="wpb_content_element span12 text-item wpb_text_column">
		<div class="wpb_wrapper">
			
<!--<h6>Great made option</h6>-->
<h2><a href="#box_4home_tb">Giới thiệu</a></h2>
{$gioithieu_raw|truncate:200}
<a class="more" href="#box_4home_tb">Xem thêm</a>

<img class="icon_post" title="settings" alt="" src="{$theme_img_path}/image/check1.png" width="32" height="32" />


		</div> 
	</div> </div> <div class="row-fluid">
	<div class="wpb_content_element span12 text-item no-740 wpb_text_column">
		<div class="wpb_wrapper">
			
<!--<h6>It was hard to make it so cool</h6>-->
<h2><a href="#box_4home_ql">Quyền lợi thành viên</a></h2>

{$qltv_raw|truncate:200}
<a class="more" href="#box_4home_ql">Xem thêm</a>

<img class="icon_post" title="check" alt="" src="{$theme_img_path}/image/check1.png" width="32" height="32" />


		</div> 
	</div> </div> 
		</div> 
	</div>
	<div class="wpb_content_element span4 column_container">
		<div class="wpb_wrapper">
			 <div class="row-fluid">
	<div class="wpb_content_element span12 text-item wpb_text_column">
		<div class="wpb_wrapper">
			
<!--<h6>Great made option</h6>-->
<h2><a href="#box_4home_dk">Điều khoản sử dụng</a></h2>
{$dksd_raw|truncate:200}
<a class="more" href="#box_4home_dk">Xem thêm</a>

<img class="icon_post" title="settings" alt="" src="{$theme_img_path}/image/check1.png" width="32" height="32" />


		</div> 
	</div> </div>
             
             
             <div class="row-fluid">
	<div class="wpb_content_element span12 text-item no-740 wpb_text_column">
		<div class="wpb_wrapper">
			
<!--<h6>It was hard to make it so cool</h6>-->
<h2><a href="#box_4home_bm">Bảo mật</a></h2>
{$baomat_raw|truncate:200}
<a class="more" href="#box_4home_bm">Xem thêm</a>

<img class="icon_post" title="check" alt="" src="{$theme_img_path}/image/check1.png" width="32" height="32" />


		</div> 
	</div> </div>
             
             
             
		</div> 
	</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
	<div class="wpb_content_element span4 pad-r20 column_container">
		<div class="wpb_wrapper fb_boxx">
		    <img src="images/facebg.png" style="display: block; margin: 0 auto" />
		    
		    
			    <div class="facebookOuter">
        <div class="facebookInner">
            <div class="fb-like-box"
                 data-width="380" data-height="255"
                 data-href="https://www.facebook.com/EMarketOnline.vn"
                 data-colorscheme="light"
                 data-border-color="#4e616d" data-show-faces="true"
                 data-stream="false" data-header="false">
            </div>
        </div>
    </div>

    
    
    
		</div> 
	</div>
        
        
        <br style="clear:both" />
        
        <div class="wpb_content_element span4 column_container">
		<div class="wpb_wrapper">
			 <div class="row-fluid">
	<div class="wpb_content_element span12 text-item wpb_text_column">
		<div class="wpb_wrapper">
			
<h2><a href="#box_4home_qc">Quy chế sàn giao dịch TMĐT</a></h2>
QUY CHẾ HOẠT ĐỘNG WEBSITE CUNG CẤP DỊCH VỤ TMĐT MARKETONLINE.VN

<a class="more" href="#box_4home_qc">Xem thêm</a>

<img class="icon_post" title="settings" alt="" src="{$theme_img_path}/image/check1.png" width="32" height="32" />


		</div> 
	</div> </div>
             
             
             
             
             
             
		</div> 
	</div>  
        
        
        
        </div>    </div>

    </div></div></div></div>
</div>



<!--{include file="`$theme_name`/_four_intro_box_content.html"}-->





<!--{include file="`$theme_name`/footer.html"}-->