<!-- {assign var="metakeywords" value="`$site_description`"} -->
<!-- {assign var="metadescription" value="`$site_description`"} -->
<!-- {assign var="do" value="offer"} -->
<!-- {assign var="home_title" value=$_G.site_name} -->
<!--{include file="`$theme_name`/header.html" page_title="$home_title" nav_id=1}-->

<link rel="stylesheet" href="{$theme_img_path}css/newhome.css">

<!--{include file="`$theme_name`/topmenu.html"}-->

<div class="newhome">
    <div class="header">
        <div class="top-banners">
            <div class="right-banner">
                <div class="right-banner-inner">
                    <div class="home-right-content">
                        <div class="home-right-top-banner">
                            <div class="banner-item {if $show_home_top_main_left}left{/if} ajax_banner adid-39 stretch_banner" rel="39" type="">
                                
                            </div>
                            {if $show_home_top_main_left}
                                <div class="banner-item right ajax_banner adid-40 stretch_banner" rel="40" type="">
                                </div>
                            {/if}
                        </div>
                        <div class="home-right-bottoms-products ajax_banner adid-41" rel="41" type="products">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="newhome-menus">
            <div class="tabs-menu">
                <ul>
                    <li class="main-title">Danh mục chính</li>
                    <li>
                        <a target="_blank" href="{the_url module='product_main'}#sale">Giảm giá/Khuyến mãi</a>
                    </li>
                </ul>
            </div>
            <div class="main-menu">
                <ul>
                    <!--{loop $IndustryList item0 level_0 key0}-->
                        <li class="parent" rel="{$item0.id}">
                            <a target="_blank" href="{the_url module=products level=1 industryid=`$item0.id` title=`$item0.name`}">
                                {$item0.name}
                            </a>
                            <div class="menu-content hidden">
                                <div class="banner_container ajax_banner adid-42-{$item0.id}" rel="42" type="industry" industry_id="{$item0.id}"></div>
                                <div class="menu-content-inner">
                                    <div class="loading"></div>
                                </div>
                            </div>
                        </li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
    </div>
    
    {if $show_productbox > 0 }
        {if $show_productbox < 13}
            <div class="productbox newhome-{if $productbox_center && !$productbox_more}product3lines{elseif $productbox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Sản phẩm nổi bật</h2>
                <div class="col-item col-left ajax_banner adid-43" type="productbox" rel="43">
                    
                </div>
                {if $productbox_center || $productbox_more}
                    <div class="col-item col-center ajax_banner adid-45" type="productbox" rel="45">
                    
                    </div>
                {/if}
                <div class="col-item col-right ajax_banner adid-44" type="productbox" rel="44">
                    <div class="col-center ajax_banner adid-45" type="productbox" rel="45">
                    
                    </div>
                </div>
                {if $productbox_more}
                    <div class="col-item col-more ajax_banner adid-52" type="productbox" rel="52">
                    
                    </div>
                {/if}
                <br style="clear: both" />
            </div>        
        {/if}
    {/if}
    
    {if $show_servicebox > 0 }
        {if $show_servicebox < 13}
            <div class="productbox newhome-{if $servicebox_center && !$servicebox_more}product3lines{elseif $servicebox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Dịch vụ nổi bật</h2>
                <div class="col-item col-left ajax_banner adid-46" type="productbox" rel="46">
                    
                </div>
                {if $servicebox_center || $servicebox_more}
                    <div class="col-item col-center ajax_banner adid-48" type="productbox" rel="48">
                    
                    </div>
                {/if}
                <div class="col-item col-right ajax_banner adid-47" type="productbox" rel="47">
                    
                </div>
                {if $servicebox_more}
                    <div class="col-item col-more ajax_banner adid-53" type="productbox" rel="53">
                    
                    </div>
                {/if}
                <br style="clear: both" />
            </div>
        {/if}
    {/if}
    
    {if $show_tradebox > 0 }
        {if $show_tradebox < 13}
            <div class="productbox newhome-{if $tradebox_center && !$tradebox_more}product3lines{elseif $tradebox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Thương mại nổi bật</h2>
                <div class="col-item col-left ajax_banner adid-49" type="productbox" rel="49">
                    
                </div>
                {if $tradebox_center || $tradebox_more}
                    <div class="col-item col-center ajax_banner adid-51" type="productbox" rel="51">
                    
                    </div>
                {/if}
                <div class="col-item col-right ajax_banner adid-50" type="productbox" rel="50">
                    
                </div>
                {if $tradebox_more}
                    <div class="col-item col-more ajax_banner adid-54" type="productbox" rel="54">
                    
                    </div>
                {/if}
                <br style="clear: both" />
            </div>
        {/if}
    {/if}
    
    {if $show_combox > 0 }
        {if $show_combox < 13}
            <div class="productbox newhome-{if $combox_center && !$combox_more}product3lines{elseif $combox_more}product4lines{else}product2lines{/if}">
                <h2 class="area-title">Thương hiệu nổi bật</h2>
                <div class="col-item col-left ajax_banner adid-55" type="productbox" rel="55">
                    
                </div>
                {if $combox_center || $combox_more}
                    <div class="col-item col-center ajax_banner adid-56" type="productbox" rel="56">
                    
                    </div>
                {/if}
                <div class="col-item col-right ajax_banner adid-57" type="productbox" rel="57">
                    
                </div>
                {if $combox_more}
                    <div class="col-item col-more ajax_banner adid-58" type="productbox" rel="58">
                    
                    </div>
                {/if}
                <br style="clear: both" />
            </div>
        {/if}
    {/if}
</div>
<br style="clear: both" />


{if $companies}
    <div class="row company-container" >
	<p></p>
        <div style="padding: 0 10px">
            <h2 class="area-title">Thương hiệu tiêu biểu</h2>
        
      
      
	<div class="works-list compage" style="padding: 0">         
                    
                    <ul class="filterable-grid companylayout">
                        
                            <!--{loop $companies item level key}-->
                                    <li data-type="dentity motion sites web-design " data-id="id-1" class="item">
                                            <div class="half odd">
                                                <div class="pic"><img title="{$item.name}" alt="{$item.name}" style="margin:0 0;" src="{$item.logo}"></div>
                                                
                                                <a target="_blank" title="{$item.name}" href="{$item.href}"></a>
                                            </div>
                                            <div class="description-bottom">
                                                  <div class="title">				      
                                                      <h4><a target="_blank" title="{$item.name}" href="{$item.href}">{$item.name}</a></h4>
                                                  </div>
                                            </div>
                                    </li>
                                {if $key%6==5}</ul><ul class="filterable-grid companylayout">{/if}
                            <!--{/loop}-->
                          
                    </ul>
        </div>
	
    </div>
    </div>
{/if}




<!--{include file="`$theme_name`/footer.html"}-->