<div id="topmenu_outer">
<div id="verytopmenu">
    <div class="left">
	<a class="homex" href="{$SiteUrl}" style="margin-left: -4px;">.</a>
        <!--<a href="{$SiteUrl}" class="home">{lang home_page}</a>-->
	<!--<a href="javascript:void(0)">{lang help}</a>-->
	<a class="top_contact_help" href="{$SiteUrl}lien-he">{lang contact_help}</a>
	<p id="f_language_bar"><!--{get_cache name="language" image="y" sep="&nbsp;" echo=y}--></p>
	
	<div id="TopSearch">
	    <input type="text" placeholder="{lang search_shop}" />
	    <div class="search_result">
		
		<ul>
		    <li>
			<h2><a></a></h2>
			<p></p>
		    </li>
		</ul>
	    </div>
	    <span class="right-search-icon">search</span>
	</div>
    </div>
    <div class="right">
        <div id="topCart" class="cart"><a class="cart_link" href="javascript:void(0)"></a></div>
        
        
	
	
        <!--{if $pb_username!=""}-->
	
	
	
	<div id="settingouter" style="float:right">
	    <!--<a href="{if $pb_company}space/?userid={$pb_username}&do={else}redirect.php?url=/virtual-office/{/if}"></a>-->
	    <a style="padding-left: 0; margin-right: 10px" class="name" href="{the_url module=studypost action=memberpage id=`$pb_userinfo.id` title=`$pb_userinfo.fullname`}">
		<img class="avatar" src="{if $user_avatar} {$user_avatar} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="20" height="20" />
		{if $pb_userinfo.first_name}{$pb_userinfo.first_name} {$pb_userinfo.last_name}{else}{$pb_userinfo.username}{/if}
	    </a>

	    <div id="message_out" class="message">
		<div id="messagehome">
		    <a class="but" href="javascript:void(0)">{lang message} </a>
		</div>
	    </div>
	    <div id="inbox_out" class="message">
		<div id="inboxhome">
		    <a class="but" href="javascript:void(0)">{lang inbox} </a>
		</div>
	    </div>
	    
	    <a style="padding-left: 0" class="name" href="{the_url module=studypost action=school id=`$pb_userinfo.school_id` title=`$pb_userinfo.school_name`}">
		<img src="{$theme_img_path}image/studygroup_old.png" width="20" height="20" />&nbsp;{lang connect_title}</a>
	    
	    <!--{include file="`$theme_name`/_settingbox.html"}-->
	    
	</div>
        <!--{else}-->
	    <a href="{the_url module=login}">{lang pls_login}</a>
	    {if $smarty.get.do == "employee"}
		<a href="{the_url module="register" typename="Employee"}">{lang register_now}</a>	    
	    {elseif $smarty.get.do == "job"}
		<a href="{the_url module="register" typename="Employer"}">{lang register_now}</a>	    
	    {elseif $smarty.get.do == "studypost"}
		<a href="{the_url module="register" typename="Learner"}">{lang register_now}</a>
	    {else}
		<a href="{the_url module="register"}">{lang register_now}</a>
	    {/if}
        <!--{/if}-->
        
    </div>
</div>
</div>

<!--{literal}-->
<script type="text/javascript">
    
                jQuery(document).ready(function() {
		    $('#settingouter').hover(
			function () {
			    //$('#settingbox').fadeIn();
			}
			,
			function () {
			    //$('#settingbox').fadeOut();
			}
		    );
		    $('body').click(function(){$('#settingbox').fadeOut()});	
		    $('#settingouter a.setting').click(function(e){$('#settingbox').toggle();e.stopPropagation();});
		    
		    $('body').click(function(){if($('.clicked_note_box').css('display') == 'block') $('.clicked_note_box').fadeOut("slow", refreshClickedCompany('<!--{/literal}-->{$pb_company.id}<!--{literal}-->'))});	
		    $('.staticon').click(function(e){$('.over_air_box').css("display","none");$('.clicked_note_box').toggle();e.stopPropagation();});
		    
		    
		    
		});
</script>
<!--{/literal}-->