<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang trade_management} &raquo; {lang yellow_page}</p>
</div>
<div id="rightTop"> 
    <h3>{lang yellow_page}</h3> 
    <ul class="subnav">
		<li><a href="company.php">{lang management}</a></li>
		<li><a class="btn1" href="#">Xem đánh giá</a></li>
		<li><a href="#"><h2>{$item.name}</h2></a></li>
    </ul> 
</div>
<div class="info">
	
  
	<table width="" cellspacing="0" class="dataTable" summary="{lang data_zone}">
		<tr>
			<th>Người đánh giá</th>
			<th>Đánh giá</th>
			<th>Thời gian</th>
		</tr>
		<!--{foreach from=$shopvotes item=item}-->
			<tr>
				<td>{$item.first_name} {$item.last_name} ({$item.username})</td>
				<td>
					<span class="stars">{$item.rate}</span> {$item.rate}
				</td>
				<td>{$item.created}</td>
			</tr>
		<!--{/foreach}-->
	</table>
	<a class="btn1" href="#" onclick="history.back()">Trở lại trang trước</a>
</div>
<!-- {include file="footer.html"} -->