<!-- {include file="header.html"} -->
<div id="currentPosition">
	<p>{lang your_current_position} {lang setting_global} &raquo; Chats</p>
</div>
<div id="rightTop"> 
    <h3>Trường học</h3> 
    <ul class="subnav">
		<li><a class="btn1" href="chat.php"><span>Chats</span></a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get">
        <input type="hidden" name="do" value="search" />
             <div>
			Kiếm theo tên người dùng : <input class="queryInput" type="text" name="q" value="{$smarty.get.q}" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="{lang searching}" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="chat.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="{lang data_zone}">
    <thead>
		<tr>
			<th width="4%" class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="{lang select_switch}"></th>
			<th>Chi nhánh</th>
			<th>Liên hệ</th>
			<th>SHOP</th>
			<th>Thời gian</th>
			<th width="3%">Actions</th>
		</tr>
    </thead>
    <tfoot>
			<tr>
			  <th colspan="11"><div class="pageLinks">{$ByPages}</div></th>
			</tr>
		<tfoot>
    <tbody>
		<!--{foreach from=$Items item=item}-->
		<tr class="tatr2">
		
			<td class="firstCell"><input type="checkbox" name="id[]" value="{$item.id}" onclick="pbCheckItem(this,'idAll');" id="item_{$item.id}" title="{$item.id}"></td>
			<td>
				<strong>{$item.name}</strong><br />
					{$item.address}<br />
					Điện thoại: {$item.phone} - Fax: {$item.fax} <br />
					E-mail: {$item.email}	- Website: {$item.website}
			</td>
			<td>{$item.cache_from_username}<br/><small style="color: #aaa">{$item.s_fullname}</small></td>
			<td>{$item.cache_to_username}<br/><small style="color: #aaa">{$item.r_fullname}</small></td>
			<td>{$item.created}</td>
				<td class="handler">
			<ul id="handler_icon">
			  <li><a class="btn_delete" href="chat.php?id={$item.id}&do=del" title="{lang delete}">{lang delete}</a></li>
			  
			</ul>  
		  </td>
		</tr>
		
		<!--{foreachelse}-->
		<tr class="no_data info">
		  <td colspan="3">{lang no_datas}</td>
		</tr>
		<!--{/foreach}-->
    </tbody>
	</table>
  
  
  <div id="dataFuncs" title="{lang action_zone}">
    <div class="left paddingT15" id="batchAction">
		<input type="submit" name="del" value="{lang delete}" class="formbtn batchButton"/>
		
    </div>
    <div class="clear"/>
    </div>
  
	
	</form>
</div>
<!-- {include file="footer.html"} -->