<!-- {include file="header.html"} -->
<link href="../scripts/jquery/colorpicker.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/jquery/colorpicker.js"></script>
<!--{literal}-->
<script>
jQuery(document).ready(function($) {
	$.fn.colorPicker.defaultColors = ['00FFFF', '000000', '999999', 'FF0000', 'FFFF00', '0000FF', 'FFFFFF', '00FF7F', '00FF00'];
	$('#color1').colorPicker();
})
</script>
<!--{/literal}-->
<div id="currentPosition">
	<p>{lang your_current_position} {lang setting_global} &raquo; {lang site_info}</p>
</div>
<div id="rightTop">
	<h3>{lang site_info}</h3>
	<ul class="subnav">
		<li><a href="setting.php?do=basic"><span>{lang basic_setting}</span></a></li>
		<li><a href="setting.php?do=basic_contact">{lang contact_method}</a></li>
		<li><a href="setting.php?do=basic_desc">{lang site_desc}</a></li>
		<li><a class="btn1" href="setting.php?do=basic_point">**Cấu hình chung**</a></li>
	</ul>
</div>
<div class="info">
  <form method="post">
    <table class="infoTable">
	<tr>
		<th colspan="2" style="padding-top: 20px;">
			<h1>TĂNG ĐIỂM HÀNG THÁNG</h1>
		</th>
	</tr>
      <tr>
        <th class="paddingT15"><label for="time_zone">Mời bạn bè</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_invite]" type="text" id="site_name" value="{$item.POINT_INVITE|default:10}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi mời bạn đăng ký</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Kết nối facebook</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_connect_facebook]" type="text" id="site_name" value="{$item.POINT_CONNECT_FACEBOOK|default:5}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi đang kết nối facebook (Điểm tăng hàng tuần)</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Thanh toán</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_checkout]" type="text" id="site_name" value="{$item.POINT_CHECKOUT|default:10}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi thanh toán và đang còn hạn (Điểm tăng hàng tuần)</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">SHOP đẹp</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_good_shop]" type="text" id="site_name" value="{$item.POINT_GOOD_SHOP|default:5}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi là SHOP đẹp (Điểm tăng hàng tuần)</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">SHOP đẹp (Lấy Top)</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_good_shop_top]" type="text" id="site_name" value="{$item.POINT_GOOD_SHOP_TOP|default:15}" class="infoTableInput" />SHOPs. 
          <span class="gray">Số lượng shop điểm cao nhất làm SHOP Đẹp (VD: Top: 10, 15,...). Điểm tăng hàng tuần.</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Điểm tối đa hàng tuần</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_weekly_max]" type="text" id="site_name" value="{$item.POINT_WEEKLY_MAX|default:100}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      
      <tr>
		<th colspan="2" style="padding-top: 20px;border-top: solid 1px #333">
			<h1>SẢN PHẨM MỚI</h1>
		</th>
	</tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Thời gian hiển thị sản phẩm mới</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][new_product_hours]" type="text" id="site_name" value="{$item.NEW_PRODUCT_HOURS|default:3}" class="infoTableInput" /> 
          <span class="gray">Đơn vị: giờ</span>
        </td>
      </tr>
      
      <tr style="">
        <th class="paddingT15"><label for="time_zone">Số bài hiển thị sản phẩm mới</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][new_product_count]" type="text" id="site_name" value="{$item.NEW_PRODUCT_COUNT|default:5}" class="infoTableInput" /> 
          <span class="gray">Đơn vị: sản phẩm</span>
        </td>
      </tr>
      
      <tr>
		<th colspan="2" style="padding-top: 20px;border-top: solid 1px #333">
			<h1>THÔNG TIN CÔNG TY</h1>
		</th>
	</tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Tên Công ty</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_name]" type="text" id="site_name" value="{$item.OWNER_NAME}" class="infoTableInput" /> 
          <span class="gray">Đơn vị: giờ</span>
        </td>
      </tr>
      
      <tr style="">
        <th class="paddingT15"><label for="time_zone">Văn phòng</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_office]" type="text" id="site_name" value="{$item.OWNER_OFFICE}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      
      <tr style=""> 
        <th class="paddingT15"><label for="time_zone">GPKD</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_gpdk]" type="text" id="site_name" value="{$item.OWNER_GPDK}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      <tr style="">
        <th class="paddingT15"><label for="time_zone">VPGD</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_vpgd]" type="text" id="site_name" value="{$item.OWNER_VPGD}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      <tr style="">
        <th class="paddingT15"><label for="time_zone">Điện thoại</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_phone]" type="text" id="site_name" value="{$item.OWNER_PHONE}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      <tr style="">
        <th class="paddingT15"><label for="time_zone">Fax</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_fax]" type="text" id="site_name" value="{$item.OWNER_FAX}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      <tr style="">
        <th class="paddingT15"><label for="time_zone">Hotline</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_hotline]" type="text" id="site_name" value="{$item.OWNER_HOTLINE}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
       <tr style="">
        <th class="paddingT15"><label for="time_zone">Email</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][owner_email]" type="text" id="site_name" value="{$item.OWNER_EMAIL}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      
      
      <tr>
		<th colspan="2" style="padding-top: 20px;border-top: solid 1px #333">
			<h1>BẬT TẮT CHỨC NĂNG</h1>
		</th>
	</tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Chức năng sinh viên trang Thương hiệu</label></th>
        <td class="paddingT15 wordSpacing5">
		<input {if $item.COMPANY_STUDENT_FEATURE}checked="checked"{/if} style="width:auto" type="radio" name="data[setting][company_student_feature]" type="text" id="" value="1" class="infoTableInput" />
		Hiện
		<input {if !$item.COMPANY_STUDENT_FEATURE}checked="checked"{/if} style="width:auto" type="radio" name="data[setting][company_student_feature]" type="text" id="" value="0" class="infoTableInput" />
		Ẩn
		
        </td>
      </tr>
      
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="savebasic" value="{lang submit}" />
          <input class="formbtn" type="reset" name="reset" value="{lang reset}" />
        </td>
      </tr>
    </table>
  </form>
</div>
<!-- {include file="footer.html"} -->