<!-- {include file="header.html"} -->
<link href="../scripts/jquery/colorpicker.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="../scripts/jquery/colorpicker.js"></script>
<!--{literal}-->
<script>
jQuery(document).ready(function($) {
	$.fn.colorPicker.defaultColors = ['00FFFF', '000000', '999999', 'FF0000', 'FFFF00', '0000FF', 'FFFFFF', '00FF7F', '00FF00'];
	$('#color1').colorPicker();
})
</script>
<!--{/literal}-->
<div id="currentPosition">
	<p>{lang your_current_position} {lang setting_global} &raquo; {lang site_info}</p>
</div>
<div id="rightTop">
	<h3>{lang site_info}</h3>
	<ul class="subnav">
		<li><a href="setting.php?do=basic"><span>{lang basic_setting}</span></a></li>
		<li><a href="setting.php?do=basic_contact">{lang contact_method}</a></li>
		<li><a href="setting.php?do=basic_desc">{lang site_desc}</a></li>
		<li><a class="btn1" href="setting.php?do=basic_point">Điểm thành viên</a></li>
	</ul>
</div>
<div class="info">
  <form method="post">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"><label for="time_zone">Mời bạn bè</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_invite]" type="text" id="site_name" value="{$item.POINT_INVITE|default:10}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi mời bạn đăng ký</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Kết nối facebook</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_connect_facebook]" type="text" id="site_name" value="{$item.POINT_CONNECT_FACEBOOK|default:5}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi đang kết nối facebook (Điểm tăng hàng tuần)</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Thanh toán</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_checkout]" type="text" id="site_name" value="{$item.POINT_CHECKOUT|default:10}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi thanh toán và đang còn hạn (Điểm tăng hàng tuần)</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">SHOP đẹp</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_good_shop]" type="text" id="site_name" value="{$item.POINT_GOOD_SHOP|default:5}" class="infoTableInput" />
          <span class="gray">Tăng điểm khi là SHOP đẹp (Điểm tăng hàng tuần)</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">SHOP đẹp (Lấy Top)</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_good_shop_top]" type="text" id="site_name" value="{$item.POINT_GOOD_SHOP_TOP|default:15}" class="infoTableInput" />SHOPs. 
          <span class="gray">Số lượng shop điểm cao nhất làm SHOP Đẹp (VD: Top: 10, 15,...). Điểm tăng hàng tuần.</span>
        </td>
      </tr>
      
      <tr>
        <th class="paddingT15"><label for="time_zone">Điểm tối đa hàng tuần</label></th>
        <td class="paddingT15 wordSpacing5"><input name="data[setting][point_weekly_max]" type="text" id="site_name" value="{$item.POINT_WEEKLY_MAX|default:100}" class="infoTableInput" /> 
          <span class="gray"></span>
        </td>
      </tr>
      
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="savebasic" value="{lang submit}" />
          <input class="formbtn" type="reset" name="reset" value="{lang reset}" />
        </td>
      </tr>
    </table>
  </form>
</div>
<!-- {include file="footer.html"} -->