<div id="job-search-box">
		<div class="job-search-tab">
			<ul>
				<!--<li><a href="#box_underi" rel="job-learn" class="notyet">Học tập</a></li>-->
				
				<li {if $smarty.get.do == "employee"}class="active"{/if}><a href="{the_url module='employees'}" rel="job-learn" class="">Hồ sơ ứng viên</a></li>
				<li {if $smarty.get.do == "job"}class="active"{/if}><a href="{the_url module='jobs'}" rel="job-learn">Việc làm</a></li>
				<li {if $smarty.get.do == "studypost"}class="active"{/if}><a href="{the_url module='studypost'}" rel="job-study">Học tập</a></li>
			</ul>
			<div class="tab-content">
				<div id="job-learn" class="tab-item active">
						
				    {if $smarty.get.do != "studypost"}
					<form action="{if $smarty.get.do == "job"}{the_url module='jobs'}{/if}{if $smarty.get.do == "employee"}{the_url module='employees'}{/if}" method="get">
						<input type="hidden" name="do" value="{$smarty.get.do}" />
						{if $smarty.get.total_count}<input type="hidden" name="total_count" value="{$smarty.get.total_count}" />{/if}
						{if $smarty.get.pos}<input type="hidden" name="pos" value="{$smarty.get.pos}" />{/if}
						<input type="hidden" name="type" value="{$smarty.get.type}" />
						
						<select name="indust" style="float: left;margin-right: 5px;">
							<option value="0">Tất cả ngành nghề</option>
							{$JobindustOptions}							
						</select>
						
						<select name="area" style="float: left;margin-right: 5px;">
							<option value="0">Tất cả địa điểm</option>
							{$AreaOptions}
						</select>
						
						<input type="text" placeholder="Nhập chức danh, vị trí công việc,..." name="keyword" value="{$keyword}"/>
						
						<input type="submit" value="Tìm kiếm" />
					</form>
				{else}
					<form action="{the_url module='studypost'}" method="get" onsubmit="return checkSelectStudypostType()">
						<input type="hidden" name="do" value="{$smarty.get.do}" />
						{if $smarty.get.total_count}<input type="hidden" name="total_count" value="{$smarty.get.total_count}" />{/if}
						{if $smarty.get.pos}<input type="hidden" name="pos" value="{$smarty.get.pos}" />{/if}
						
						<select name="type" style="float: left;margin-right: 5px;">
						    <option value="">Chọn: Trường / Môn học / Học viên</option>
						    <option {if $type == 'school'}selected="selected"{/if} value="school">Trường</option>
						    <option {if $type == 'group'}selected="selected"{/if} value="group">Môn học</option>
						    <option {if $type == 'learner'}selected="selected"{/if} value="learner">Học viên</option>						    
						</select>
						
						
						
						<select name="area" style="float: left;margin-right: 5px;">
							<option value="">Tất cả địa điểm</option>
							{$AreaOptions}
						</select>
						
						<input type="text" placeholder="Từ khóa tìm kiếm..." name="keyword" value="{$keyword}"/>
						
						<input type="submit" value="Tìm kiếm" />
					</form>
				    {/if}
				</div>				
			</div>
		</div>
	</div>