<div class="banner-box">
			<div class="banner-img size300x250">
						<a target="_blank" rel="nofollow" href="http://truonghaiauto.com.vn/" tooltip="Banner bottom right Auto Truong Hai" tooltipenable="true">
							<img alt="Banner bottom right Auto Truong Hai" src="http://marketonline.vn/images/banner/bannerauto336-280.gif">
						</a>
						<!--Nơi đặt quảng cáo<br /><span></span>-->
			</div>			
		</div>
		
		<section class="widget-1 widget-first widget widget_nav_menu job-left-section" id="nav_menu-2"><div class="widget-inner">
			<h3>Kiến thức bổ sung</h3><ul class="menu" id="menu-features-list">

			{announce row=10 typeid=3}
				{if $announce.status}
					<li{if !$announce.read} class="notread"{/if}><a target="_blank" href="{the_url module='announce' id=`$announce.id`}">{$announce.title}</a></li>
				{/if}
			{/announce}
		    
		    </ul></div>
		</section>
		
		<section class="widget-1 widget-first widget widget_nav_menu job-left-section" id="nav_menu-2"><div class="widget-inner">
			<h3>Tài liệu khác</h3><ul class="menu" id="menu-features-list">
			

			{announce row=10 typeid=4}
				{if $announce.status}
					<li{if !$announce.read} class="notread"{/if}><a target="_blank" href="{the_url module='announce' id=`$announce.id`}">{$announce.title}</a></li>
				{/if}
			{/announce}
		    
		    </ul></div>
		</section>
		
		<section class="widget-1 widget-first widget widget_nav_menu job-left-section" id="nav_menu-2"><div class="widget-inner">
			<h3>Mẫu đơn xin việc</h3><ul class="menu" id="menu-features-list">

			{announce row=10 typeid=5}
				{if $announce.status}
					<li{if !$announce.read} class="notread"{/if}><a target="_blank" href="{the_url module='announce' id=`$announce.id`}">{$announce.title}</a></li>
				{/if}
			{/announce}
		    
		    </ul></div>
		</section>
		
		<div class="banner-box">
			<div class="banner-img size300x120">Nơi đặt quảng cáo<br /><span></span></div>			
			<div class="banner-img size300x120">Nơi đặt quảng cáo<br /><span></span></div>
			<!--<div class="banner-img size300x120">Nơi đặt quảng cáo<br /><span></span></div>-->
		</div>
		
		<!--<div class="banner-box">
			<div class="banner-img size100x320">Nơi đặt quảng cáo<br /><span>100x320</span></div>
			<div class="banner-img size100x320">Nơi đặt quảng cáo<br /><span>100x320</span></div>
		</div>-->