    <ul class="areas_tree">	
	<!--{loop $areatypes type level key}-->
	    <li class="level1{if $smarty.get.areatype_id==$type.id} active{/if}"><a class="level1" href="{the_url module=areas areatype_id=`$type.id` type=`$smarty.get.type` industry_id=`$industry.id` industry_name=`$industry.name`}">{$type.name}</a>
		<!--{if $type.areas}-->
		    <ul>					      
			<!--{loop $type.areas item level key}-->
			    <li class="level2{if $smarty.get.area_id==$item.id} active{/if}"><a class="level2" href="{the_url module=areas areatype_id=`$type.id` area_id=`$item.id` title=`$item.name` type=`$smarty.get.type` industry_id=`$industry.id` industry_name=`$industry.name`}">{$item.name}</a></li>
			<!--{/loop}-->
		    </ul>
		<!--{/if}-->
	    </li>
	<!--{/loop}-->
    </ul>

    <!--<div class="vietbando_outer" {if $smarty.get.area_id || $smarty.get.areatype_id}style="margin-top: 113px"{/if}>
	<div id="vietbando_map"></div>
    </div>
    <br style="clear: both;" />-->