{if true}
		<div class="top_areas_menu_box" style="">
			<div class="choose_area_label">Chọn thị trường</div>
			<div class="top_areas_menu">
				
			</div>
		</div>
		{literal}
		<script>
			$.ajax({
			url: "http://marketonline.vn:3000/pb_areas/display_tree?areatype_id={/literal}{$areatype.id}{literal}&area_id={/literal}{$area.id}{literal}&catgroup_id={/literal}{$catgroup.id}{literal}&type={/literal}{$smarty.get.type}{literal}&info_page={/literal}{$info_page}{literal}",
			}).done(function ( data ) {
				if( console && console.log ) {
					$(".top_areas_menu").html(data);
				}
			});
		</script>
		{/literal}
	{/if}
	
    {if !$catgroup && !$info_page && !$areainfo}
	
		<div class="announce_intro_box">
			
		</div>
		{literal}
		<script>
			$.ajax({
			url: "http://marketonline.vn:3000/pb_areas/announce_intro_box?areatype_id={/literal}{$areatype.id}{literal}&area_id={/literal}{$area.id}{literal}&catgroup_id={/literal}{$catgroup.id}{literal}&type={/literal}{$smarty.get.type}{literal}&info_page={/literal}{$info_page}{literal}",
			}).done(function ( data ) {
				if( console && console.log ) {
					$(".announce_intro_box").html(data);
				}
			});
		</script>
		{/literal}

    {/if}
    
	{if !$catgroup && !$info_page && !$areainfo}
		<div class="groupcat_menu">
			
		</div>
		{literal}
		<script>
			$.ajax({
			url: "http://marketonline.vn:3000/catgroups/display_menu?areatype_id={/literal}{$areatype.id}{literal}&area_id={/literal}{$area.id}{literal}&type={/literal}{$smarty.get.type}{literal}",
			}).done(function ( data ) {
				if( console && console.log ) {
					$(".groupcat_menu").html(data);
				}
			});
		</script>
		{/literal}
	{/if}