    <ul class="areas_tree">	
	<!--{loop $areatypes type level key}-->
	    <li class="level1{if $smarty.get.areatype_id==$type.id} active{/if}"><a class="level1" href="{the_url module=areas areatype_id=`$type.id` type=`$smarty.get.type` industry_id=`$industry.id` industry_name=`$industry.name`}">{$type.name}</a>
		<!--{if $type.areas}-->
		    <ul>					      
			<!--{loop $type.areas item level key}-->
			    <li class="level2{if $smarty.get.area_id==$item.id} active{/if}"><a class="level2" href="{the_url module=areas areatype_id=`$type.id` area_id=`$item.id` title=`$item.name` type=`$smarty.get.type` industry_id=`$industry.id` industry_name=`$industry.name`}">{$item.name}</a></li>
			<!--{/loop}-->
		    </ul>
		<!--{/if}-->
	    </li>
	<!--{/loop}-->
    </ul>

    <div class="vietbando_outer" {if $smarty.get.area_id || $smarty.get.areatype_id}style="margin-top: 113px"{/if}>
	<div id="vietbando_map"></div>
    </div>
    <br style="clear: both;" />
    
    
<!--{literal}-->
<script type="application/x-javascript">    
    $(document).ready(function() {	
	//load Map
	{/literal}
	    {if $area.map_lat}
		{if $area.map_zoom}
		    loadMap({$area.map_lat},{$area.map_lng},{$area.map_zoom});
		{else}
		    loadMap({$area.map_lat},{$area.map_lng},11);
		{/if}
	    {elseif $areatype.map_lat}
		{if $areatype.map_zoom}
		    loadMap({$areatype.map_lat},{$areatype.map_lng},{$areatype.map_zoom});
		{else}
		    loadMap({$areatype.map_lat},{$areatype.map_lng},6);
		{/if}
                
                {loop $areas_by_areatype aaa levela keya}
                    {if $aaa.map_lat}
                        addAreaMarker({$aaa.map_lat},{$aaa.map_lng},'{$aaa.name}','{the_url module=areas areatype_id=`$areatype.id` area_id=`$aaa.id` title=`$aaa.name` type=`$smarty.get.type` industry_id=`$industry.id` industry_name=`$industry.name`}');
                    {/if}
                {/loop}
	    {else}
		loadMap();
                
                {loop $areas_by_areatype aaa levela keya}
                    {if $aaa.map_lat}
                        addAreaMarker({$aaa.map_lat},{$aaa.map_lng},'{$aaa.name}','{the_url module=areas areatype_id=`$areatype.id` area_id=`$aaa.id` title=`$aaa.name` type=`$smarty.get.type` industry_id=`$industry.id` industry_name=`$industry.name`}');
                    {/if}
                {/loop}
	    {/if}
	{literal}
        
        {/literal}{$companies_map_script}{literal}
    });
</script>
<!--{/literal}-->