		<h3 style="margin-bottom: 20px;"><a class="main_a" href="javascript:void(0)">Trường học</a>
		
		    <div class="subtab-area">
			<ul>
			    <li><a class="{if $smarty.get.type=='subject'}active{/if}" rel="subject" href="javascript:void(0)">Môn học</a></li>
			    <li><a class="{if $smarty.get.type=='student'}active{/if}" rel="student" href="javascript:void(0)">Học viên</a></li>
			</ul>
		    </div>
		
		</h3>
		
		<!--{if $list}-->
		    <ul class="filterable-grid">					      
			<!--{loop $list item level key}-->
			    <li data-type="dentity motion sites web-design " data-id="id-1" class="item id{$item.id}">
				<div class="half odd">
				    <div class="pic"><img title="{$item.title}" alt="{$item.title}" style="margin:0 0;" src="{$item.thumb}"></div>
				    <a rel="video_group" class="album_a_block" title="{$item.title}" href="{$item.href}"></a>
				</div>
				<div class="description-bottom">
				    <div class="title">				      
					    <h4><a target="_blank" title="{$item.title}" href="{$item.href}">{$item.title}</a></h4>
				    </div>
				</div>
			    </li>
			<!--{/loop}-->
		    </ul>
		<!--{else}-->
                    <p>Chưa có trường nào trong khu vực này.</p>
                <!--{/if}-->