		<h2 class="market-header-title">Sản phẩm
				{if $industry}
					- {$industry.name}
				{/if}
				{if $area}
					| 
					{if $area.level==3}
					<a class="level2" href="{the_url module=areas areatype_id=`$areatype.id` area_id=`$parent_area.id` title=`$parent_area.name`}">
						{$parent_area.name}
					</a>
					{/if}
					{if $area.level==3}
						<span class="delim">,</span>
					{/if}
					<a href="{the_url module=areas areatype_id=`$areatype.id` area_id=`$area.id` title=`$area.name`}">{$area.name}</a>
				{/if}
				{if $areatype}
					<span class="delim">,</span> <a href="{the_url module=areas areatype_id=`$areatype.id`}">{$areatype.name}</a>
				{/if}
				
		</h2>

		<div class="market-product-module">
			<div class="box_left">
				<ul id="menu-features-list" class="menu">
					<!--{loop $industries_list item0 level_0 key0}-->
						<li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
							<a href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='san-pham' industry_id=`$item0.id` industry_name=`$item0.name`}" content="{$item0.name}" rel="1" class="item menu_lvl1 {if $smarty.get.industry_id==$item0.id}active{/if}">
								{$item0.name} <span></span>
							</a>
						</li>
					<!--{/loop}-->					
				</ul>
			</div>
			<div class="box_right">
				<div class="wide_1_banners">
					<div style="width: 1220px; overflow: hidden;float: left">
						<div class="works-list compage" style="padding: 0">         
							  <div class="ad_banner_item product_home_banner" pos="product_category_main">
									Nhấn vào đây
									<br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
							  </div>
							  
							  
							  <iframe scrolling="no" style="border: medium none;height: 415px;width: 932px;margin-bottom: 0" src="http://marketonline.vn:3000/ad_positions/iframe_1_wide_banners?pos=product_category_main&industry_id=0" style="border: none;"></iframe>
						</div>
					</div>
				</div>
				
				<div class="product_list">
					<!--{if $products}-->
					<div class="product_listing">
						<ul class="filterable-grid products">					      
						<!--{loop $products item level key}-->
						
							
							<li class="product{$item.isfirst} boxcols">
								<div class="hidden-info-list-item">
									<a href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}">Xem chi tiết</a>
								</div>
								
								<a href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}">
									<div><img width="225" height="" src="{$item.thumb}" class="attachment-shop_catalog wp-post-image" alt="{$item.name}"></div>
									<a class="shop_info_product" href="{$item.shop_url}" title="">
									<div>Xem gian hàng:</div>
									<span>{$item.shop_name}</span>
									</a>
									<h3>{$item.name}</h3>
									<div class="fixedheight_box">
									{if $item.new_price || $item.price}
										{if $item.new_price != "" && $item.new_price != 0}
										<span class="price">{if $item.price}<span class="old_price">{$item.price} <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span>{/if} <span class="amount">{$item.new_price}</span> <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span> {if $item.price_note}<span class="noteprice">({$item.price_note})</span>{/if}
										{else}
										<span class="price"><span class="amount">{$item.price}</span> <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span>
										{/if}
									{/if}
									</div>
								</a>
								
									<div class="product_tools">
										<a class="comment_link stat_link" href="javascript:void(0)">{$item.clicked}</a>
										<a class="comment_link" href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}#comment_pos">{lang comment_list} ({$item.comments_count})</a>
										<!--{if $pb_username!=""}-->
											<a class="comment_link message_tool" href="javascript:void(0)" onclick="getChatboxNew('{$item.member_id}x{$item.membertype_id}', false)">{lang message}</a>
										<!--{else}-->
											<a class="comment_link message_tool comment_but" href="#login-box">{lang message}</a>
										<!--{/if}-->
									</div>
								</li>							
							<!--{/loop}-->
							</ul>
						</div>
					
						{if $smarty.get.p}<br style="clear: both" /><p></p><br /><div class="pagination-list"></div><br style="clear:both" />{/if}
						
						{if $smarty.get.p}
							<div id="cccount" style="display: none">{$count}</div>
							<div id="pppage" style="display: none">{$smarty.get.p}</div>
						{/if}
					
					<!--{else}-->
						<p style="text-align: center; font-size: 18px">Chưa có sản phẩm phù hợp trong mục này!</p>
					<!--{/if}-->
				</div>				
			</div>
		</div>
		
{literal}
    <script>
	$(document).ready(function() {
	    $('.market-product-module .product_listing ul.products li.product img').resizecrop({
		   width:224,
		   height:190
	    });
		
		{/literal}{if $smarty.get.p}{literal}
			pagination({/literal}{$count}{literal}, {/literal}{$smarty.get.p}{literal})
		{/literal}{/if}{literal}
	});
    </script>
{/literal}