		<h3 style="margin-bottom: 20px;"><a class="main_a" href="javascript:void(0)">Việc làm</a>
		</h3>
		
		
		
		<div class="job_employee_boxes">
			<div class="job_box">
				<div class="module-box">
					<div class="module-title">
						<h2>Danh sách tuyển dụng</h2>
						<div class="areas-module-controls">
							<a target="_blank" href="{the_url module=root-url}virtual-office/job.php?do=edit">Đăng việc làm</a>
							
						</div>
					</div>
					<div class="study-mod">
						<div id="job-content">
							<div class="">
								<table width="100%" style="">
								  <tbody><tr class="job-table-list-head">
								<th style="white-space: nowrap" width="40%" align="left">Tên công việc</th>
								<th style="white-space: nowrap" width="30%" align="left">Nhà tuyển dụng</th>
								<th style="white-space: nowrap" width="18%" align="left">Nơi làm việc</th>
								<!--<th width="15%" align="left">Mức lương</th>-->
								<th style="white-space: nowrap" width="" align="left">Hạn nộp</th>
								  </tr>
									
								<!--{loop $jobs job level key}-->
								<tr>
									<td><a href="{the_url module='jobs' id=`$job.id` title=`$job.name`}">{$job.name}</td>
									<td><a href="{if $job.membertype_id == 5}{the_url module='jobs' id=`$job.id` title=`$job.name`}{else}{$job.space_url}{/if}">{$job.companyname}</a></td>
									<td><a class="job_city_link" href="javascript:void(0)" rel="{$job.city_id}">{$job.area}</a></td>
									<!--<td>{$job.salary}</td>-->
									<td>{$job.expired_dates}</td>
								</tr>				
								<!-- {/loop} -->
								
								</tbody></table>
								
						
								
								  
							  </div>
							
						</div>
					</div>
					<a style="color: #3b984c !important;margin: 0 10px 10px 0;float: right" class="" href="{the_url module='jobs'}">Xem thêm</a>
				</div>
				
			</div>
			<div class="employee_box">
				<div class="module-box">
				<div class="module-title">
					<h2>Danh sách ứng viên</h2>
					<div class="areas-module-controls">
						<a target="_blank" href="{the_url module=root-url}virtual-office/employee.php?do=edit">Đăng việc làm</a>
					
					</div>
				</div>
				<div class="study-mod">
					<div id="job-content">
						<div class="">
							<table width="100%" style="">
								<tbody>
									
									<tr class="job-table-list-head">
										<th style="white-space: nowrap" width="40%" align="left">Vị trí mong muốn</th>
										<th style="white-space: nowrap" width="35%" align="left">Cấp bậc</th>
										<th style="white-space: nowrap" width="30%" align="left">Nơi làm việc</th>
									</tr>
									
									<!-- {employee row=10 status=1 showed=1 searched=1 indust=`$smarty.get.industry_id` type=`$smarty.get.type` area=`$smarty.get.area_id`} -->
										<tr>
											<td><a href="{the_url module='employees' id=`$job.id`}">{$job.expected_position}</td>
											<td><a class="joblevel_link" rel="{$job.joblevel_id}" href="javascript:void(0)">{$job.joblevel}</a></td>
											<td>
												{$job.areas}
											</td>
										</tr>				
									<!-- {/employee} -->
									
									<!--{if !$count}-->
										<tr><td align="center" colspan="3" style="text-align: center">Không tìm thấy hồ sơ nào</td></tr>
									<!--{/if}-->
								  
								</tbody>
							</table>
							
							
						</div>
					</div>
				</div>
				<a style="color: #3b984c !important;margin: 0 10px 10px 0;float: right" class="" href="{the_url module='jemployees'}">Xem thêm</a>
		    </div>
				
			</div>
		</div>

{literal}
<script>
	var height = $(".job_box .module-box").height()
	if(height < $(".employee_box .module-box").height()) {
	  height = $(".employee_box .module-box").height()
	}
	$(".employee_box .module-box").css("height",height)
	$(".job_box .module-box").css("height",height)
</script>
{/literal}

        
