<h2 class="market-header-title">Thương mại
				{if $industry}
					- {$industry.name}
				{/if}
				{if $area}
					| 
					{if $area.level==3}
					<a class="level2" href="{the_url module=areas areatype_id=`$areatype.id` area_id=`$parent_area.id` title=`$parent_area.name`}">
						{$parent_area.name}
					</a>
					{/if}
					{if $area.level==3}
						<span class="delim">,</span>
					{/if}
					<a href="{the_url module=areas areatype_id=`$areatype.id` area_id=`$area.id` title=`$area.name`}">{$area.name}</a>
				{/if}
				{if $areatype}
						{if $area}
								<span class="delim">,</span>
						{else}
								|
						{/if}
						<a href="{the_url module=areas areatype_id=`$areatype.id`}">{$areatype.name}</a>
				{/if}
				
		</h2>

			<div class="ad_banner_item_hover"></div>
				<div class="row">
				  <div class="wide_3_banners">
								  <div style="display: block; height: 5px; margin-right: 20px;">
									<div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
								  </div>
								  <div class="works-list compage" style="padding: 0" >         
									  <div class="ad_banner_item product_home_banner" pos="trade_home_top">
										  Nhấn vào đây
										  <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
									  </div>
									  <div class="ad_banner_item product_home_banner" pos="trade_home_top_2">
										  Nhấn vào đây
										  <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
									  </div>
									  <div class="ad_banner_item product_home_banner" pos="trade_home_top_3">
										  Nhấn vào đây
										  <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
									  </div>
									  
									  <iframe style="border: medium none;height: 252px;width: 102%;" src="http://marketonline.vn:3000/ad_positions/iframe_3_wide_banners?pos=trade_home_top" style="border: none;"></iframe>
			  
								  </div>
				  </div>
				</div>


		<div class="market-product-module">
			<div class="box_left">
				<ul id="menu-features-list" class="menu">
					<!--{loop $industries_list item0 level_0 key0}-->
						<li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
							<a href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='thuong-mai' industry_id=`$item0.id` industry_name=`$item0.name`}" content="{$item0.name}" rel="1" class="item menu_lvl1 {if $smarty.get.industry_id==$item0.id}active{/if}">
								{$item0.name} <span></span>
							</a>
						</li>
					<!--{/loop}-->					
				</ul>
			</div>
			<div class="box_right">
				
			</div>
		</div>