                <div class="areas-module-controls">
		    <a target="_blank" href="{the_url module=root-url}virtual-office">Tiêu chuẩn thương hiệu</a>
		    {if $view_more}
				<a class="module-more-but" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='thuong-hieu'}{if $smarty.get.membergroup_id}#{$smarty.get.membergroup_id}{/if}">Xem thêm</a>
			{/if}
		    
		</div>
		
		<h3 style="margin-bottom: 20px;"><a class="main_a" href="javascript:void(0)">Thương hiệu</a>
		    <div class="subtab-area">
			<ul>
			    <li><a class="{if $smarty.get.membergroup_id==3}active{/if}" rel="3" href="javascript:void(0)">Doanh nghiệp</a></li>
			    <li><a class="{if $smarty.get.membergroup_id==2}active{/if}" rel="2" href="javascript:void(0)">Cá nhân</a></li>
			    <li><a class="{if $smarty.get.membergroup_id==1}active{/if}" rel="1" href="javascript:void(0)">Cửa hàng</a></li>
			</ul>
		    </div>
		</h3>
                <!--{if $companies}-->
		
                    <ul class="filterable-grid companylayout">					      
                        <!--{loop $companies item level key}-->
                            <li data-type="dentity motion sites web-design " data-id="id-1" class="item id{$item.id}">
                                <div class="half odd">
                                    <div class="pic">
					<img title="{$item.title}" alt="{$item.title}" style="margin:0 0;" src="{$item.thumb}" />
				    </div>
                                    <a rel="video_group" class="album_a_block" title="{$item.title}" href="{$item.href}"></a>
                                </div>
                                <div class="description-bottom">
                                    <div class="title">				      
                                        <h4>
											<a target="_blank" title="{$item.title}" href="{$item.href}">
											{$item.title}
											</a>
										</h4>
                                    </div>
                                </div>
                            </li>
			    {if $key%6==5}</ul><ul class="filterable-grid companylayout">{/if}
                        <!--{/loop}-->
                    </ul>
		{if $smarty.get.p}<div style="margin-top: 20px" class="pagination-list"></div><br style="clear:both" />{/if}
                <!--{else}-->
                    <br><br><br><p class="no-content">Chưa có thương hiệu nào trong mục này.</p>
                <!--{/if}-->
		
		{if $smarty.get.p}
		    <div id="cccount" style="display: none">{$count}</div>
		    <div id="pppage" style="display: none">{$smarty.get.p}</div>
		{/if}
<br />