		<div class="areas-module-controls">
		    <a target="_blank" href="{the_url module=root-url}virtual-office/product.php?do=edit">Đăng sản phẩm</a>
		    <a class="module-more-but" href="{the_url title=`$area.name` module=areas area_id=`$smarty.get.area_id` areatype_id=`$smarty.get.areatype_id` type='san-pham'}">Xem thêm</a>
		</div>
		
		<h3 style="margin-bottom: 20px;"><a class="main_a" href="javascript:void(0)">Sản phẩm</a></h3>
		
		<!--{if $products}-->
		
		    <ul class="filterable-grid">					      
			<!--{loop $products item level key}-->
			    <li data-type="dentity motion sites web-design " data-id="id-1" class="item id{$item.id}">
				<a class="shop_info_product" href="{$item.shop_url}" title="">
					<div>Xem gian hàng:</div>
					<span>{$item.shop_name}</span>
				</a>
				
				<div class="half odd">
				    <div class="pic"><img title="{$item.title}" alt="{$item.title}" style="margin:0 0;" src="{$item.thumb}"></div>
				    <a rel="video_group" class="album_a_block" title="{$item.title}" href="{$item.href}"></a>
				</div>
				<div class="description-bottom">
				    <div class="title">				      
					    <h4><a target="_blank" title="{$item.title}" href="{$item.href}">{$item.title}</a></h4>
				    </div>
				</div>
				
				
			    </li>
			<!--{/loop}-->
		    </ul>
		{if $smarty.get.p}<div class="pagination-list"></div><br style="clear:both" />{/if}
		<!--{else}-->
                    <p class="no-content">Chưa có sản phẩm nào trong mục này.</p>
                <!--{/if}-->
		
		{if $smarty.get.p}
		    <div id="cccount" style="display: none">{$count}</div>
		    <div id="pppage" style="display: none">{$smarty.get.p}</div>
		{/if}