		<div class="market-product-module">
			<div class="box_left">
				<ul id="menu-features-list" class="menu">
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/1/thoi-trang-trang-suc" content="Thời trang, trang sức" rel="1" class="item menu_lvl1">
					  Thời trang, trang sức <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/2/sach-dia-van-hoa-pham" content="Sách, đĩa, văn hóa phẩm" rel="2" class="item menu_lvl1">
					  Sách, đĩa, văn hóa phẩm <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/3/may-tinh-va-mang" content="Máy tính và mạng" rel="3" class="item menu_lvl1">
					  Máy tính và mạng <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/4/gia-dinh-noi-ngoai-that" content="Gia đình - Nội ngoại thất" rel="4" class="item menu_lvl1">
					  Gia đình - Nội ngoại thất <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/3788/hoa-qua-tang-do-choi" content="Hoa, quà tặng, đồ chơi" rel="3788" class="item menu_lvl1">
					  Hoa, quà tặng, đồ chơi <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/6/do-van-phong" content="Đồ văn phòng" rel="6" class="item menu_lvl1">
					  Đồ văn phòng <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/7/dien-dien-lanh" content="Điện - Điện lạnh" rel="7" class="item menu_lvl1">
					  Điện - Điện lạnh <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/8/dien-tu-nghe-nhin" content="Điện tử - Nghe nhìn" rel="8" class="item menu_lvl1">
					  Điện tử - Nghe nhìn <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/9/lam-dep-suc-khoe" content="Làm đẹp, sức khỏe" rel="9" class="item menu_lvl1">
					  Làm đẹp, sức khỏe <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/10/dien-thoai" content="Điện thoại" rel="10" class="item menu_lvl1">
					  Điện thoại <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/11/me-va-be" content="Mẹ và Bé" rel="11" class="item menu_lvl1">
					  Mẹ và Bé <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/12/thu-cong-my-nghe" content="Thủ công, mỹ nghệ" rel="12" class="item menu_lvl1">
					  Thủ công, mỹ nghệ <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/13/may-anh-may-quay" content="Máy ảnh - Máy quay" rel="13" class="item menu_lvl1">
					  Máy ảnh - Máy quay <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/14/thuc-pham-an-uong" content="Thực phẩm, ăn uống" rel="14" class="item menu_lvl1">
					  Thực phẩm, ăn uống <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/15/oto-xe-may-xe-dap" content="Ôtô, xe máy, xe đạp" rel="15" class="item menu_lvl1">
					  Ôtô, xe máy, xe đạp <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/16/the-thao" content="Thể thao" rel="16" class="item menu_lvl1">
					  Thể thao <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/17/game-tai-san-ao" content="Game, tài sản ảo" rel="17" class="item menu_lvl1">
					  Game, tài sản ảo <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/18/du-lich-dich-vu" content="Du lịch, dịch vụ" rel="18" class="item menu_lvl1">
					  Du lịch, dịch vụ <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/19/do-xua-bo-suu-tap" content="Đồ xưa, bộ sưu tập" rel="19" class="item menu_lvl1">
					  Đồ xưa, bộ sưu tập <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/3965/bat-dong-san" content="Bất động sản" rel="3965" class="item menu_lvl1">
					  Bất động sản <span></span>
					</a>
					  </li>
							  <li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954">
					<a href="http://marketonline.vn/san-pham/1/5/vat-tu-thiet-bi-cac-nganh" content="Vật tư, thiết bị các ngành" rel="5" class="item menu_lvl1">
					  Vật tư, thiết bị các ngành <span></span>
					</a>
					  </li>
				</ul>
			</div>
			<div class="box_right">
				<div class="wide_1_banners">
					<div style="width: 1220px; overflow: hidden;float: left">
						<div class="works-list compage" style="padding: 0">         
							  <div class="ad_banner_item product_home_banner" pos="product_category_main">
									Nhấn vào đây
									<br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
							  </div>
							  
							  
							  <iframe scrolling="no" style="margin-top: 25px;border: medium none;height: 415px;width: 932px;margin-bottom: 0" src="http://marketonline.vn:3000/ad_positions/iframe_1_wide_banners?pos=product_category_main&industry_id=0" style="border: none;"></iframe>
						</div>
					</div>
				</div>
				
				<div class="product_list">
					<!--{if $products}-->
						<div class="product_listing areapage">
							<ul class="filterable-grid products">					      
							<!--{loop $products item level key}-->
							
								
								<li class="product{$item.isfirst} boxcols">
								<div class="hidden-info-list-item">
									<a href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}">Xem chi tiết</a>
								</div>
								
								<a href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}">
									<div><img width="225" height="" src="{$item.thumb}" class="attachment-shop_catalog wp-post-image" alt="{$item.name}"></div>
									<a class="shop_info_product" href="{$item.shop_url}" title="">
									<div>Xem gian hàng:</div>
									<span>{$item.shop_name}</span>
									</a>
									<h3>{$item.name}</h3>
									<div class="fixedheight_box">
									{if $item.new_price || $item.price}
										{if $item.new_price != "" && $item.new_price != 0}
										<span class="price">{if $item.price}<span class="old_price">{$item.price} <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span>{/if} <span class="amount">{$item.new_price}</span> <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span> {if $item.price_note}<span class="noteprice">({$item.price_note})</span>{/if}
										{else}
										<span class="price"><span class="amount">{$item.price}</span> <span class="price_unit">VNĐ{if $item.price_unit}/{$item.price_unit}{/if}</span></span>
										{/if}
									{/if}
									</div>
								</a>
								
								<div class="product_tools">
									<a class="comment_link stat_link" href="javascript:void(0)">{$item.clicked}</a>
									<a class="comment_link" href="{the_url id=`$item.id` module='product' product_name=`$item.name` service=`$item.service`}#comment_pos">{lang comment_list} ({$item.comments_count})</a>
									<!--{if $pb_username!=""}-->
										<a class="comment_link message_tool" href="javascript:void(0)" onclick="getChatboxNew('{$item.member_id}x{$item.membertype_id}', false)">{lang message}</a>
									<!--{else}-->
										<a class="comment_link message_tool comment_but" href="#login-box">{lang message}</a>
									<!--{/if}-->
								</div>
								</li>
							</ul>
							
						</div>
						
						{if $smarty.get.p}<div class="pagination-list"></div><br style="clear:both" />{/if}
						<!--{else}-->
									<p class="no-content">Chưa có sản phẩm nào trong mục này.</p>
								<!--{/if}-->
						
						{if $smarty.get.p}
							<div id="cccount" style="display: none">{$count}</div>
							<div id="pppage" style="display: none">{$smarty.get.p}</div>
						{/if}
				</div>
				
			</div>
		</div>