<!--{include file="`$theme_name`/header.html" page_title="`$PageTitle`" nav_id="`$nav_id`"}-->

<!--{literal}-->
<style>
    .banner_top {
	display: none;
    }
</style>
<script type="application/x-javascript">   
    
    {/literal}
	{if $smarty.get.area_id}
	    var AREA_ID = {$smarty.get.area_id};
	{else}
	    var AREA_ID = '';
	{/if}
	
	{if $smarty.get.area_id}
	    var AREATYPE_ID = {$smarty.get.areatype_id};
	{else}
	    var AREATYPE_ID = '';
	{/if}
    {literal}
    
    $(document).ready(function() {
	ajaxLoadModule("trade_module", "ajaxTradeModule");
	$('.trade_module .subtab-area ul li a').live("click", function() {
	    ajaxLoadModule("trade_module", "ajaxTradeModule", "type_id", $(this).attr("rel"));
	});
	$('.trade_module a.main_a').live("click", function() {
	    ajaxLoadModule("trade_module", "ajaxTradeModule");
	});
	
	ajaxLoadModule("company_module", "ajaxCompanyModule");
	$('.company_module .subtab-area ul li a').live("click", function() {
	   ajaxLoadModule("company_module", "ajaxCompanyModule", "membergroup_id",$(this).attr("rel"));
	});
	$('.company_module a.main_a').live("click", function() {
	    ajaxLoadModule("company_module", "ajaxCompanyModule");
	});
	
	ajaxLoadModule("product_module", "ajaxProductModule");
	$('.product_module a.main_a').live("click", function() {
	    ajaxLoadModule("product_module", "ajaxProductModule");
	});
	
	ajaxLoadModule("service_module", "ajaxServiceModule");
	$('.service_module a.main_a').live("click", function() {
	    ajaxLoadModule("service_module", "ajaxServiceModule");
	});
	
	ajaxLoadModule("school_module", "ajaxSchoolModule");
	$('.school_module .subtab-area ul li a').live("click", function() {
	   ajaxLoadModule("school_module", "ajaxSchoolModule", "type",$(this).attr("rel"));
	});
	$('.school_module a.main_a').live("click", function() {
	    ajaxLoadModule("school_module", "ajaxSchoolModule");
	});
	
	ajaxLoadModule("job_module", "ajaxJobModule");
	$('.job_module a.main_a').live("click", function() {
	    ajaxLoadModule("job_module", "ajaxJobModule");
	});
    });
</script>
<!--{/literal}-->


<div id="body-wrapper" >
<div id="body-wrapper-padding">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->

<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title" class="connect_ptitle" style="padding-left: 110px">

    <div class="super-main-category mainproductpage area">
		<div class="show-but">
			Chuyên mục chính
			
		</div>
		<a href="{the_url module='areas'}" class="show-but current-but market">
			.			
		</a>
		<br style="clear:both" />
		<div class="main-cat-content-out">
			<span class="pointer_topmenuz">.</span>
			<div class="main-cat-content">
			    <!--{include file="`$theme_name`/area/_main_menu.html"}-->
			</div>
		</div>
	</div>
	
    <div class="breadcrumbs">
	<a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span>
	<a href="{the_url module=areas}">Thị trường</a>
	
	{if $areatype}
	    <span class="delim">/</span>
	    {if $area}
		<a href="{the_url module=areas areatype_id=`$areatype.id`}">{$areatype.name}</a>
	    {else}
		{$areatype.name}
	    {/if}
	{/if}
	{if $area}
	    <span class="delim">/</span> {$area.name}
	{/if}
    
    </div>
    
	<h1 class="page-title">Thị trường {if $industry}- {$industry.name}{/if}</h1>
    
    </div>

  </div>
</div>


<div class="row company-container areas-container">
    
    <!--{include file="`$theme_name`/area/_areas-menu.html"}-->    
    
    
    <div>	    
	    <div class="works-list album area-module school_module starting">
		
	    </div>
	    
	    
	    <div class="works-list album area-module company_module starting">
		
	    </div>
	    
	    
	    <div class="works-list album area-module product_module starting">
		
	    </div>
	    
	    
	    <div class="works-list album area-module service_module starting">
		
	    </div>	
	    
	    
	    <div class="works-list album area-module trade_module starting">
		
	    </div>    
	    
	    
	    <div class="works-list album area-module job_module starting">
		
	    </div>

    </div>
    

</div>








</div>
  </div>



<!--{include file="`$theme_name`/footer.html"}-->



