                    {if $ads_right}
			<div class="module-box">
			    <div class="module-title title-small">
				<h4>Quảng cáo</h4>
			    </div>
			    <div class="studybanner-home">
				<div class="banner-one-line">
				    <!--{loop $ads_right item level key}-->
					<a href="{$item.target_url}" target="_blank" title="{$item.name}">
					    <img class="banner_{$item.size_width}_{$item.size_height} banner-item-{$item.id}" src="{$item.logo}" />
					</a>
				    <!--{/loop}-->
				</div>
			    </div>
			</div>
		    {/if}
		    
		    <!--{include file="`$theme_name`/studypost/_home_student_shop.html"}-->
		    
		    <!--{include file="`$theme_name`/studypost/_home_student_trade.html"}-->
		    
		    <!--{include file="`$theme_name`/studypost/_home_student_service.html"}-->
		    
		    <!--{include file="`$theme_name`/studypost/_home_student_discount_product.html"}-->
		    
		    