                <div class="module-box">
		    <div class="module-title">
			<h2>Trường học</h2>
			<a class="more" href="{the_url module='studypost'}">Danh sách trường</a>
		    </div>
		    <div class="two-rowx study-mod ">
			<div class="rowx first-row">
			    <div class="two-column">
				<div class="column first-column">
				    <div class="module-intro-box">
					{if !$article_school.target_url}
                                            <img width="100%" src="{$article_school.logo}" />
                                        {else}
                                            <a target="_blank" href="{$article_school.target_url}">
                                                <img width="100%" src="{$article_school.logo}" />
                                            </a>
                                        {/if}
				    </div>
				</div>
				<div class="column second-column">
				    <div class="module-intro-article">
					<h3>{$article_school.name}</h3>
					<div class="content">
					    {$article_school.description}
					    {if $article_school.target_url}
                                                <a target="_blank" class="more" href="{$article_school.target_url}">Xem thêm...</a>
                                            {/if}
					</div>				    
				    </div>		
				</div>	    
			    </div>
			</div>
			<div class="rowx second-row">
			    <div class="logo-listing">
				<ul class="first-row">
                                    <!--{loop $module_schools item level key}-->
                                        <li>
                                            <a href="{the_url module=studypost action=school id=`$item.id` title=`$item.name`}">
                                                <img src="{the_url module=root-url}{$item.logo}" />
                                                <span class="logo-title">{$item.name}</span>
                                            </a>
                                        </li>
                                    <!--{/loop}-->				    
				</ul>
			    </div>
			</div>
    
		    </div>
		</div>