                <div class="module-box">
		    <div class="two-column study-mod study-module">
			<div class="column first-column">
			    <div class="module-intro-box">
				{if !$article_employee.target_url}
                                    <img width="100%" src="{$article_employee.logo}" />
                                {else}
                                    <a target="_blank" href="{$article_employee.target_url}">
                                        <img width="100%" src="{$article_employee.logo}" />
                                    </a>
                                {/if}
				<h2>{$article_employee.name}
				</h2>
				{$article_employee.description}
			    </div>
			</div>
			<div class="column second-column">
			    <div class="module-intro-list">
				
				<div id="job-learn" style="position: absolute;left:-9000px">
				    <form action="{the_url module="root-url"}" method="get">
					<input type="hidden" name="do" value="employee" />
					{if $smarty.get.total_count}<input type="hidden" name="total_count" value="{$smarty.get.total_count}" />{/if}
					{if $smarty.get.pos}<input type="hidden" name="pos" value="{$smarty.get.pos}" />{/if}
					<input type="hidden" name="type" value="{$smarty.get.type}" />
					
					<select name="indust" style="float: left;margin-right: 5px;">
						<option value="0">Tất cả ngành nghề</option>
						{$JobindustOptions}							
					</select>
					
					<select name="area" style="float: left;margin-right: 5px;">
						<option value="0">Tất cả địa điểm</option>
						{$AreaOptions}
					</select>
					
					<input type="text" placeholder="Nhập chức danh, vị trí công việc,..." name="keyword" value="{$keyword}"/>
					
					<input type="submit" value="Tìm kiếm" />
				    </form>
				</div>
				
				
				<h3>Hồ sơ ứng viên
				<a class="more" href="{the_url module='employees'}">Danh sách</a>
				</h3>
				<ul>
				    <!-- {employee row=5 status=1 showed=1 searched=1 start=`$smarty.get.pos` keyword=`$smarty.get.keyword` indust=`$smarty.get.indust` type=`$smarty.get.type` area=`$smarty.get.area`} -->
				    
					<li>
					    <a href="{the_url module='employees' id=`$job.id` title=`$job.expected_position`}"><strong>{$job.expected_position|truncate:30}</strong></a>
					    <a class="joblevel_link" rel="{$job.joblevel_id}" onclick="$('#job-learn input[name=do]').val('employee')" href="javascript:void(0)" style="float: left">{$job.joblevel}</a>
					    <div class="module_employee_area" href="" style="float: right">{$job.areas}</div>
					    
					</li>
					
				    <!-- {/employee} -->
				    
				</ul>
			    </div>		
			</div>	    
		    </div>
		</div>