                <div class="module-box">
		
		    <div class="module-title">
			<h2>Học viên</h2>
			<a class="more" href="{the_url module='studypost' type='learner'}">Danh sách Học viên</a>
		    </div>
		    <div class="two-column study-mod study-module-none width50">
			<div class="column first-column">
			    <div class="tiles-list">
				<ul>
                                    <!--{loop $module_learners item level key}-->
                                        {if $key < 5}
                                            <li>
                                                <a href="{the_url module=studypost action=memberpage id=`$item.id` title=`$item.fullname`}">
                                                    <img src="{$item.photo}">
                                                </a>
                                                <a class="title" href="{the_url module=studypost action=memberpage id=`$item.id` title=`$item.fullname`}">{$item.first_name} {$item.last_name}</a>
                                                <p><a href="" title="{$item.school_name}">{$item.school_name}</a></p>
                                                {if $item.address_short}<p class="more_info">{$item.address_short}</p>{/if}
                                                <div class="controls">
                                                    <!--{if $pb_username!=""}-->
                                                            {if !$item.friended}
                                                                    <a onclick="studyfriend({$item.id}, this)" href="javascript:void(0)" class="add_friend">Kết bạn</a>
                                                            {else}
                                                                    <a title="Hủy lời mời" onclick="studyfriend({$item.id}, this)" class="add_friend del_addfriend" href="javascript:void(0)">Đã gửi lời mời kết bạn</a>
                                                            {/if}
                                                    <!--{else}-->
                                                            {if !$item.friended}
                                                                <a class="add_friend comment_but" href="#login-box" href="javascript:void(0)">Kết bạn</a>
                                                            {else}
                                                                <a class="add_friend comment_but del_addfriend" href="#login-box" href="javascript:void(0)">Đã gửi Lời mời kết bạn</a>
                                                            {/if}                                
                                                    <!--{/if}-->
                                                </div>
                                            </li>
                                        {/if}
                                    <!--{/loop}-->				    
				</ul>
			    </div>
			</div>
			<div class="column second-column">
			    <div class="tiles-list">
				<ul>
				    <!--{loop $module_learners item level key}-->
                                        {if $key >= 5}
                                            <li>
                                                <a href="{the_url module=studypost action=memberpage id=`$item.id` title=`$item.fullname`}">
                                                    <img src="{$item.photo}">
                                                </a>
                                                <a class="title" href="{the_url module=studypost action=memberpage id=`$item.id` title=`$item.fullname`}">{$item.first_name} {$item.last_name}</a>
                                                <p><a href="" title="{$item.school_name}">{$item.school_name}</a></p>
                                                {if $item.address_short}<p class="more_info">{$item.address_short}</p>{/if}
                                                <div class="controls">
                                                    <!--{if $pb_username!=""}-->
                                                            {if !$item.friended}
                                                                    <a onclick="studyfriend({$item.id}, this)" href="javascript:void(0)" class="add_friend">Kết bạn</a>
                                                            {else}
                                                                    <a title="Hủy lời mời" onclick="studyfriend({$item.id}, this)" class="add_friend del_addfriend" href="javascript:void(0)">Đã gửi lời mời kết bạn</a>
                                                            {/if}
                                                    <!--{else}-->
                                                            {if !$item.friended}
                                                                <a class="add_friend comment_but" href="#login-box" href="javascript:void(0)">Kết bạn</a>
                                                            {else}
                                                                <a class="add_friend comment_but del_addfriend" href="#login-box" href="javascript:void(0)">Đã gửi Lời mời kết bạn</a>
                                                            {/if}                                
                                                    <!--{/if}-->
                                                </div>
                                            </li>
                                        {/if}
                                    <!--{/loop}-->
				</ul>
			    </div>
			</div>	    
		    </div>
		</div>