                <div class="module-box">
		    <div class="two-column study-mod study-module-first">
			<div class="column first-column">
			    <div class="module-intro-box">
                                {if !$article_job.target_url}
                                    <img width="100%" src="{$article_job.logo}" />
				    <h2>{$article_job.name}</h2>
                                {else}
                                    <a target="_blank" href="{$article_job.target_url}">
                                        <img width="100%" src="{$article_job.logo}" />
                                    </a>
				    
				    <h2><a target="_blank" href="{$article_job.target_url}">{$article_job.name}</a></h2>
                                {/if}
				
				{$article_job.description}
				{if $article_job.target_url}
                                    <a target="_blank" class="more" href="{$article_job.target_url}">Xem thêm...</a>
                                {/if}
			    </div>
			</div>
			<div class="column second-column">
			    <div class="module-intro-list">
				<h3>Tuyển dụng
				    <a class="more" href="{the_url module='jobs'}">Danh sách</a>
				</h3>
				<ul>
				    <!-- {job row=4 status=1 showed=1 searched=1 start=`$smarty.get.pos` keyword=`$smarty.get.keyword` indust=`$smarty.get.indust` type=`$smarty.get.type` area=`$smarty.get.area`} -->
				    
					<li>
					    <a title="{$job.title}" href="{the_url module='jobs' id=`$job.id` title=`$job.name`}"><strong>{$job.title|truncate:45}</strong></a>
					    <a target="_blank" href="{if $job.membertype_id == 5}{the_url module='jobs' id=`$job.id` title=`$job.name`}{else}{$job.space_url}{/if}">{$job.companyname}</a>
					    <div class="light" style="float: left">Hạn nộp: {$job.expired_dates}</div>
					    <div class="module_employee_area" href="" style="float: right">
                                                <a class="job_city_link light" onclick="$('#job-learn input[name=do]').val('job')" href="javascript:void(0)" rel="{$job.city_id}">{$job.area}</a>
                                            </div>					    
					</li>
					
				    <!-- {/job} -->
				    
				</ul>
			    </div>		
			</div>	    
		    </div>
		</div>