<div class="module-box">
			<div class="module-title">
			    <h2>Nhu cầu sinh viên</h2>
			    <a class="more" href="#">Xem Tất cả</a>
			</div>
			<div class="one-column study-mod study-module paddingtop0">
			    <div class="studyhome-tabs">
				<ul class="tabsz">
                                    <!--{loop $student_trades item level key}-->
                                        <li class=""><a rel="{$item.id}" href="javascript:void(0)">{$item.short_name}</a></li>
                                    <!--{/loop}-->                                        
				</ul>
				<div class="contents">
                                    <!--{loop $student_trades item level key}-->
                                        <div class="tab-content tab-{$item.id} boxhide">
                                            <div class="module-intro-list full-width">				    
                                                <ul>
                                                    <!--{loop $item.trades itemc levelc keyc}-->
                                                        <li>
                                                            <a title="{$itemc.title}" href="{the_url module=offers action=detail id=`$itemc.id` title=`$itemc.title`}">
                                                                <img src="{$itemc.thumb}" />
                                                            </a>
                                                            <a title="{$itemc.title}" href="{the_url module=offers action=detail id=`$itemc.id` title=`$itemc.title`}"><strong>{$itemc.title|truncate:50}</strong></a>
							    <p class="more_content">{$itemc.content_raw|truncate:80}</p>
							    
                                                            <a class="light" rel="" href="javascript:void(0)" style="float: left">{$itemc.short_name}</a>
							    
                                                            <div class="module_employee_area light" href="" style="float: right"><a href="">
                                                                {if $itemc.new_price != "" && $itemc.new_price != 0}
                                                                    {$itemc.new_price} VNĐ
                                                                {else}
                                                                    {if $itemc.price>0}
                                                                        {$itemc.price} VNĐ
                                                                    {/if}
                                                                {/if}
                                                            </a></div>
                                                        </li>
                                                    <!--{/loop}-->
                                                </ul>
                                            </div>
                                        </div>
                                    <!--{/loop}-->				    
				</div>
			    </div>
				 
			</div>
		    </div>