<a class="title_more_school_button" href="{the_url module='studypost'}">Danh sách trường</a>
<div id="other-school-list" style="display: none" class="school_list">
    <h3>Danh sách các trường khác</h3>
    <ul class="group_list">
        <!--{loop $school_list item level key}-->
                <li onclick="window.location='{the_url module=studypost action=school id=`$item.id` title=`$item.name`}'" class="school_list_box {if $item.id == $school.id}active{/if}">
                    <a class="head-title">
                        <img src="{$WebRootUrl}/{$item.logo}" />
                        <span>{$item.name|truncate:38}</span>
                    </a>
                    {if $item.address}<p>{$item.address}</p>{/if}
                    {if $item.phone}<p><label>Điện thoại:</label> {$item.phone}</p>{/if}
                    {if $item.email}<p><label>Email:</label> <a href="mailto:{$item.email}">{$item.email}</a></p>{/if}
                    {if $item.website}<p><label>Website:</label> {$item.website}</p>{/if}
                </li>
        <!--{/loop}-->
    </ul>
</div>