<div class="top_user_info">
                    <img class="avatar" src="{if $user_avatar} {$user_avatar} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="20" height="20" />
                    <h4>{$pb_userinfo.first_name} {$pb_userinfo.last_name}</h4>
                    <a style="padding-left: 0; margin-right: 10px" class="name" href="{if $pb_company}{the_url module=space userid=`$pb_company.cache_spacename`}{else}redirect.php?url=/virtual-office/{/if}">
                        Vào trang quản trị
                    </a>
                </div>
                <br style="clear: both" />