<div class="top_user_info">
    <a href="{the_url module=studypost action=memberpage id=`$pb_userinfo.id`}">
        <img class="avatar" src="{if $user_avatar} {$user_avatar} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="20" height="20" />
    </a>
    <h4><a href="{the_url module=studypost action=memberpage id=`$pb_userinfo.id`}">{$pb_userinfo.first_name} {$pb_userinfo.last_name}</a></h4>
    <a style="padding-left: 0; margin-right: 10px" class="name" href="{$WebRootUrl}redirect.php?url=/virtual-office/" target="_blank">
        Vào trang quản trị
    </a>
</div>
<br style="clear: both" />