<!--{if $List}-->
    <!--{loop $List item level_0 key}-->
        <div class="studypost_box" rel="{$item.id}">
            {if $pb_userinfo.id == $item.member_id}
                <div class="box_controls">
                    <a onclick="return confirm('Bạn có chắc là muốn xóa bài viết này?')" class="box_delete_but" href="javascript:void(0)">Xóa</a>
                    <a class="box_edit_but" href="javascript:void(0)">Chỉnh sửa</a>
                </div>
            {/if}
            <div class="box_header">
                <img src="{$item.member.photo}" />
                <h2>{$item.member.first_name} {$item.member.last_name}</h2>
                <p>{$item.member.school_name}</p>
                <div class="box_moreinfo">
                    Ngày đăng: {$item.created}
                </div>
            </div>
            <div class="box_content">
                <div class="inner-content">{$item.content}</div>
                <div class="editor">
                    
                </div>
            </div>
            <div class="stats">
                <ul class="stats_header">
                    <li>
                        <a href="javascript:void(0)" rel="stats">Bình luận</a>
                    </li>
                </ul>
                
                <div class="comment_list">
                   
                    <!--{if $item.more}-->
                        <div class="comment_item view_morecomment">
                            <a href="javascript:void(0)">
                                Xem them binh luan khac
                            </a>
                            <span class="count_current_comment" style="display: none">4</span>
                        </div>
                    <!--{/if}-->
                    
                    <!--{if $item.comments}-->
                        <!--{loop $item.comments comment level_comment comment_key}-->
                        <div class="comment_item is_item" rel="{$comment.id}">
                            
                            {if $pb_userinfo.id == $comment.member_id}
                                <div class="box_controls">
                                    <a onclick="return confirm('Bạn có chắc là muốn xóa bài viết này?')" class="commentbox_delete_but" href="javascript:void(0)">Xóa</a>
                                    <a style="display: none" class="commentbox_edit_but" href="javascript:void(0)">Chỉnh sửa</a>
                                </div>
                            {/if}
                            
                            <img src="{$comment.member.photo}" />
                            <h2>{$comment.member.first_name} {$comment.member.last_name}</h2>

                            <!--{if $comment.star > 0}-->
                            <div class="starshover">
                                <div class="stars">
                                    <span class="star{if $comment.star >= 1} light{/if}" rel="1"></span>
                                    <span class="star{if $comment.star >= 2} light{/if}" rel="2"></span>
                                    <span class="star{if $comment.star >= 3} light{/if}" rel="3"></span>
                                    <span class="star{if $comment.star >= 4} light{/if}" rel="4"></span>
                                    <span class="star{if $comment.star >= 5} light{/if}" rel="5"></span>
                                    <span class="star{if $comment.star >= 6} light{/if}" rel="6"></span>
                                    <span class="star{if $comment.star >= 7} light{/if}" rel="7"></span>
                                    <span class="star{if $comment.star >= 8} light{/if}" rel="8"></span>
                                    <span class="star{if $comment.star >= 9} light{/if}" rel="9"></span>
                                    <span class="star{if $comment.star >= 10} light{/if}" rel="10"></span>
                                    <span class="result" value="0"></span>                            
                                </div>
                                <div class="over_points">{$comment.star}</div>
                            </div>
                            <!--{/if}-->
                            
                            <div class="comment_content">
                                {$comment.content}
                            </div>
                            <div class="box_moreinfo">
                                {$comment.created}
                            </div>
                        </div>
                        <!--{/loop}-->
                    <!--{/if}-->
                </div>
                
                <div class="stats_content" class="tab_item" >
                    <form id="sudypostcomment_form_{$item.id}" action="{the_url module=studypost action=postcomment}" method="post" {if !$pb_userid}onclick="$('.comment_but').trigger('click')"{/if}>
                        <!-- {formhash} -->
                        <input type="hidden" name="comment[studypost_id]" value="{$item.id}" />
                        <input type="hidden" name="comment[star]" value="0" />
                        
                        <!--{if !$item.comment_with_star}-->
                            <div class="stars post_star">
                                <span class="star" rel="0"></span>
                                <span class="star" rel="1"></span>
                                <span class="star" rel="2"></span>
                                <span class="star" rel="3"></span>
                                <span class="star" rel="4"></span>
                                <span class="star" rel="5"></span>
                                <span class="star" rel="6"></span>
                                <span class="star" rel="7"></span>
                                <span class="star" rel="8"></span>
                                <span class="star" rel="9"></span>
                                <span class="star" rel="10"></span>
                                <span class="result" value="0"></span>
                            </div>
                        <!--{/if}-->
                            
                        <div class="editor">
                            <img src="{if $pb_userinfo.photo} {$pb_userinfo.photo} {else} {$theme_img_path}image/usericon_big.jpg  {/if}" />
                            <textarea name="comment[content]"></textarea>
                        </div>
                        <div class="actions">
                            <button class="send-button">Gửi bình luận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!--{/loop}-->
<!--{/if}-->