<div class="chat_list_title"><strong>Danh sách bạn bè</strong> <!--<span>{$count} bạn</span>--></div>
<div class="scroll_list">
            <ul>
                        <li class="title" style="">Bạn học tập đang trực tuyến ({$count})</li>
                        {if !$members}
                            <li style="text-align: center">Chưa có bạn</li>
                        {else}
                            <!--{loop $members item level key}-->
                                    <li class="{if $item.online}online{/if}" onclick="getChatboxNew('{$item.id}x6', false);">
                                        <div class="online_status">.</div>
                                        <img src="{$item.photo}" />
                                        <h2 class="title">{$item.first_name} {$item.last_name}</h2>
                                        <p class="content">{$item.school_name}</p>
                                        <!--<p class="timeinbox">{$item.created}</p>-->
                                    </li>
                            <!--{/loop}-->
                        {/if}
                        {if $pb_userinfo.id}
                            <li class="title" style="">Liên kết đang trực tuyến ({$count_online_list})</li>
                            <li class="invite" style=""><a href="{the_url module='share_shop' space_name="`$pb_userinfo.space_name`"}">Mời bạn bè tham gia</a></li>
                                {if !$online_list}
                                    <li style="text-align: center">Chưa có bạn</li>
                                {else}
                                    <!--{loop $online_list item level key}-->
                                            <li class="{if $item.online}online{/if}" onclick="getChatboxNew('{$item.id}x{$item.membertype_id}', false);">
                                                <div class="online_status">.</div>
                                                <img src="{$item.photo}" />
                                                
                                                {if $item.membertype_id == 6}
                                                    <h2 class="title">{$item.first_name} {$item.last_name}</h2>
                                                    <p class="content">{$item.school_name}</p>
                                                {else}
                                                    <h2 class="title">{$item.shop_name}</h2>
                                                    <p class="content">{if $item.first_name}{$item.first_name} {$item.last_name}{if !$item.shop_name} ({$item.username}){/if}{else}{$item.username}{/if}</p>
                                                {/if}
                                                <!--<p class="timeinbox">{$item.created}</p>-->
                                            </li>
                                    <!--{/loop}-->
                                {/if}
                        {/if}
                        
            </ul>
</div>

