<!--{include file="`$theme_name`/header.html" page_title="Học Tập" nav_id=9}-->
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>

<div id="body-wrapper" >
<div id="body-wrapper-padding" class="job_page">
<!--[if lt IE 7]>

<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
  <div class="fifteen columns">

    <div id="page-title">

    <a class="back" href="javascript:history.back()"></a>
    <div class="subtitle">
        Học và Làm
    </div>
   
    
	<h1 class="page-title">Môn học</h1>

    
    <!--{include file="`$theme_name`/job/postitem.html"}-->
    
    


    
    
  </div>

  
  </div>
</div>



<div class="row">
    
    <!--{include file="`$theme_name`/job/jobsearchbox.html"}-->
    
</div>

<div class="row">
	<div id="job-content">
		<!--<div id="TopStudytypeCategory">
		      <ul class="list-studytype-cat">
                                <li rel=""><a href="{the_url module=studypost}">Trường</a></li>
                                <li rel="" class="active"><a href="{the_url module=studypost type=group}">Môn học</a></li>
                                <li rel=""><a href="{the_url module=studypost type=learner}">Học viên</a></li>
		      </ul>
		</div>-->
		
                <div class="studypage-content">
                    <div id="other-school-list" class="school_list main_list">
			<h1>Danh sách Môn học</h1>
                        <ul class="group_list">
                            <!--{loop $group_list item level key}-->
                                    <li class="school_list_box {if $item.id == $school.id}active{/if}">
					<div onclick="window.location='{the_url module=studypost action=group id=`$item.id` title=`$item.subject_name`}'">
					    <a class="head-title">
						<img src="{$item.logo}" />
						<span>{$item.subject_name|truncate:40}</span>
						<span>{$item.school_name|truncate:40}</span>
					    </a>
					    {if $item.address}<p>{$item.address|truncate:40}</p>{/if}
					    {if $item.member_count}<p><label>Thành viên:</label> {$item.member_count}</p>{/if}
					</div>
					
					<div class="action">					    
                                                {if $item.joined}
						    {if !$item.status}
							<a href="{the_url module=studypost action=group id=`$item.id` title=`$item.subject_name`}">
							    Chờ duyệt
							</a>
						    {else}
							<a href="{the_url module=studypost action=group id=`$item.id` title=`$item.subject_name`}">
							    Đã tham gia
							</a>
						    {/if}
						{else}
						    {if !$item.status}
							<a class="join_group" onclick="window.location='{the_url module=studypost action=join_group id=`$item.id`}'">
							    Tham gia
							</a>
						    {else}
							<a href="{the_url module=studypost action=group id=`$item.id` title=`$item.subject_name`}">
							    Đã tham gia
							</a>
						    {/if}
						    
						{/if}
					</div>
                                    </li>
                            <!--{/loop}-->
                        </ul>
                    </div>
		    <div id="pagenav">
		      <p><div class="pagination"><!-- {pager rowcount=`$paging.total` limit=20} --></div></p>
		    </div>
                    <br style="clear: both" />
                </div>

		
	</div>
	<div id="job-sidebar">
		
		<!--{include file="`$theme_name`/job/rightbar.html"}-->
		
	</div>
</div>







<script>
var app_language = '{$AppLanguage}';
var area_id1 = 0;
var area_id2 = 0;
var area_id3 = 0;
</script>
<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<!--{include file="`$theme_name`/footer.html"}-->