<!--{include file="`$theme_name`/header.html" page_title="Thị trường Mua-Bán, Phân phối Sản phẩm/Dịch vụ"}-->


<!--{include file="`$theme_name`/verytopmenu.html"}-->

<!--{literal}-->
<script type="application/x-javascript">

    $(document).ready(function() {
        
        $('#facelike_col2').css("min-height",$(window).height()+200);
        $(window).scrollTop(200);
        
    });
    
</script>
<!--{/literal}-->

<div class="outpage_box">
    <div class="row">
        <div class="facelike_main">
            
            <div id="facelike_col1">                
                <div class="top_user_info">
                    <img class="avatar" src="{if $pb_company}{$pb_company.image}{else} {if $user_avatar} {$user_avatar} {else} {$theme_img_path}image/usericon.jpg  {/if}  {/if}" width="20" height="20" />
                    <h4>{$pb_userinfo.first_name} {$pb_userinfo.last_name}</h4>
                    <a style="padding-left: 0; margin-right: 10px" class="name" href="{if $pb_company}{the_url module=space userid=`$pb_company.cache_spacename`}{else}redirect.php?url=/virtual-office/{/if}">
                        Vào trang quản trị
                    </a>
                </div>
                <br style="clear: both" />
                
                <!--{include file="`$theme_name`/studypost/_joined_groups.html"}-->
                
            </div>
            
            <div id="facelike_col2">
                <div class="col2-top">
                    <div class="col2-top-banner">
                        <img src="{$school.banner}" />
                        <div class="banner-school-info banner-group-info">
                            <h2>{$group.subject_name} ({$group.school_name})</h2>
                            {if $school.address}<p>{$school.address}</p>{/if}
                            {if $school.phone}<p><label>Điện thoại:</label> {$school.phone}</p>{/if}
                            {if $school.email}<p><label>Email:</label> <a href="mailto:{$school.email}">{$school.email}</a></p>{/if}
                            {if $school.website}<p><label>Website:</label> {$school.website}</p>{/if}
                        </div>
                    </div>
                    <div class="main_controls">
                        <a href="{the_url module=studypost action=leave_group id=`$group.id`}">Rời khỏi nhóm</a>
                    </div>
                </div>
                <div class="col2-bottom">
                    <div class="col2-bottom-left">
                        <!--{include file="`$theme_name`/studypost/_main_content.html"}-->
                    </div>
                    <div class="col2-bottom-right">
                        <div class="school_list">
                            <h4>Trường</h4>                            
                            <!--{include file="`$theme_name`/studypost/_other_school_list.html"}-->
                            <ul class="group_list">
                                <li class="{if $smarty.get.action == 'school'}active{/if}">
                                    <a class="logo" style="background-image:url('{$WebRootUrl}/{$school.logo}')" href="{the_url module=studypost action=school id=`$school.id`}" title="{$school.name}">
                                        {$school.name|truncate:40}
                                        <div class="more-studybar">Thành viên: {$school.member_count}</div>
                                    </a>
                                </li>
                            </ul>
                            
                            <!--{include file="`$theme_name`/studypost/_rightbar_groups.html"}-->
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--{include file="`$theme_name`/footer_none.html"}-->
