<!--{include file="`$theme_name`/header.html" page_title="Thị trường Mua-Bán, Phân phối Sản phẩm/Dịch vụ"}-->

<!--{include file="`$theme_name`/verytopmenu.html"}-->

<!--{literal}-->
<script type="application/x-javascript">
    
    $(document).ready(function() {
        
        $(window).scrollTop(150);
    
    });

    $(document).scroll(function() {

        moveLeftBar(200);

    });
    
    $(window).resize(function() {    
        
        var minnn = $(window).height();
        if ($(window).height() < $('#facelike_col1').height()) {
            minnn = $('#facelike_col1').height();
        }
        $('#facelike_col2').css("min-height",minnn+200);
        //$(window).scrollTop(200);
    
    });

    
</script>
<!--{/literal}-->

<div class="outpage_box">
    <div class="row">
        <div class="facelike_main">
            
            <div id="facelike_col1">                
                <!--{include file="`$theme_name`/studypost/_top_user_info.html"}-->
                
                <div class="school-top-left-info group_left_top">
                    <iframe name="upload" id="upload" style="display: none"></iframe>
                        <form style="display: none" name="productaddfrm" id="Frm2_logo" method="post" action="{$WebRootUrl}index.php?do=studypost&action=change_group_logo" enctype="multipart/form-data">
                          <!-- {formhash} -->
                          <input type="hidden" name="group_id" value="{$group.id}" />
                          <input type="hidden" name="uri" value="{$FURI}" />
                        
                          <p><input accept="image/*" type="file" name="upload_logo" id="changelogo-but" onchange="$('#Frm2_logo').submit()" /></p>
                          
                        </form>
                        
                        <div class="logo_out_hover">
                            {if $pb_userid == 1030}
                                <a class="changesgrouplogo" onclick="$('#changelogo-but').trigger('click')" href="javascript:void(0)">
                                    {if $group.logo_origin}
                                        Thay logo
                                    {else}
                                        Thêm logo
                                    {/if}
                                </a>
                            {/if}
                            <div class="box-group-info">
                                <a href="{the_url module=studypost action=group id=`$group.id`}"><img src="{$group.logo}" /></a>
                                <div class="box2">
                                    <div class="box-top"><label>Thành viên</label>{$group.member_count}</div>
                                    <div class="box-bottom"><label>Quản trị viên</label>
                                        <a href="{the_url module=studypost action=memberpage id=`$group_leader.id`}">{$group_leader.first_name} {$group_leader.last_name}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <h1>{$group.name}</h1>                    
                </div>
                
                <!--{include file="`$theme_name`/studypost/_joined_groups.html"}-->
                
            </div>
            
            <div id="facelike_col2">
                <div class="col2-top">
                    <div class="col2-top-banner">
                        
                        
                        <ul class="school_banners">
                            {if $group.no_banner}
                                <li><a href="javascript:void(0)"><img src="{$group.no_banner}" /></a></li>
                            {else}
                                <!--{loop $group.banners item level key}-->
                                    <li>
                                        {if $pb_userid == 1030}<a class="del_schoolbanner" onclick="return confirm('Bạn có chắc muốn xóa hình này!')" href="{the_url module=studypost action=del_studygroupbanner id=`$item.id`}">x</a>{/if}
                                        <a href="javascript:void(0)" onclick="getStudygrouppictureDetail({$group.id},{$item.id})"><img src="{$item.banner}" /></a>
                                    </li>
                                <!--{/loop}-->
                            {/if}
                        </ul>
                        <span class="studybanner_nav next">></span>
                        <span class="studybanner_nav prev"><</span>
                        
                        
                        <div class="banner-school-info banner-group-info">
                            <h2>{$group.subject_name}</h2>
                            <h3>{$group.school_name}</h3>
                            {if $school.address}<p>{$school.address}</p>{/if}
                            {if $school.phone}<p><label>Điện thoại:</label> {$school.phone}</p>{/if}
                            {if $school.email}<p><label>Email:</label> <a href="mailto:{$school.email}">{$school.email}</a></p>{/if}
                            {if $school.website}<p><label>Website:</label> {$school.website}</p>{/if}
                        </div>
                    </div>
                    <div class="main_controls">
                        <a href="{the_url module=studypost action=leave_group id=`$group.id`}">Rời khỏi nhóm</a>
                        
                        {if $pb_userid == 1030}
                            <iframe name="upload" id="upload" style="display: none"></iframe>
                            <form style="display: none" name="productaddfrm" id="Frm2_banner" method="post" action="{$WebRootUrl}index.php?do=studypost&action=change_group_banner" enctype="multipart/form-data">
                              <!-- {formhash} -->
                              <input type="hidden" name="group_id" value="{$group.id}" />
                              <input type="hidden" name="uri" value="{$FURI}" />
                            
                              <p><input type="file" name="upload_logo" id="changebanner-but" onchange="$('#Frm2_banner').submit()" /></p>
                              
                            </form>
                            <a class="changesgroupbanner" onclick="$('#changebanner-but').trigger('click')" href="javascript:void(0)">
                                {if $school.banner_origin}
                                    Thay hình banner
                                {else}
                                    Thêm hình banner
                                {/if}
                                
                            </a>
                        {/if}
                    </div>
                </div>
                <div class="col2-bottom">
                    <div class="col2-bottom-left">
                        <!--{include file="`$theme_name`/studypost/_main_content.html"}-->
                    </div>
                    <div class="col2-bottom-right">
                        <div class="school_list">
                            <h4>Trường</h4>                            
                            <!--{include file="`$theme_name`/studypost/_other_school_list.html"}-->
                            <ul class="group_list">
                                <li class="{if $smarty.get.action == 'school'}active{/if}">
                                    <a class="logo" style="background-image:url('{$WebRootUrl}/{$school.logo}')" href="{the_url module=studypost action=school id=`$school.id`}" title="{$school.name}">
                                        {$school.name|truncate:40}
                                        <div class="more-studybar">Thành viên: {$school.member_count}</div>
                                    </a>
                                </li>
                            </ul>
                            
                            <!--{include file="`$theme_name`/studypost/_rightbar_groups.html"}-->
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--{include file="`$theme_name`/footer_none.html"}-->
