<!--{include file="`$theme_name`/header.html" page_title="`$_hr`" nav_id=9}-->
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>

<div id="body-wrapper" >
<div id="body-wrapper-padding" class="job_page">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->


<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
  <div class="fifteen columns">

    <div id="page-title">

    <a class="back" href="javascript:history.back()"></a>
    <div class="subtitle">
        {lang job_head}
    </div>
   
    
	<h1 class="page-title">{lang job_head}</h1>

    
    <!--{include file="`$theme_name`/job/postitem.html"}-->
    
    


    
    
  </div>

  
  </div>
</div>



<div class="row">
    
    <!--{include file="`$theme_name`/job/jobsearchbox.html"}-->
    
</div>

<div class="row">
	<div id="job-content">
		<div id="TopWorkCategory">
			<h4>Đối tượng tuyển dụng</h4>
		      <ul class="list-hot-cat">
				<li rel="0" {if !$smarty.get.type}class="active"{/if}><a href="javascript:void(0)">Tất cả</a></li>
				<!-- {get from="type" name="jobtype" var="Items"} -->
				<!-- {if $Items|@count eq 0} -->
				<!-- {get var="IndustryList" from="industry"} -->
				<!-- {else} -->
				<!-- {assign var="IndustryList" value=`$Items`} -->
				<!-- {/if} -->
				<!--{foreach from=$IndustryList item=industry_item name=IndustryList}-->
					<li {if $smarty.get.type == $industry_item.id}class="active"{/if} rel="{$industry_item.id}"><a href="javascript:void(0)">{$industry_item.name}</a></li>			 
				<!--{/foreach}-->
			
		      </ul>
		</div>
		
		
		
		<div class="works-list">
			<h3>Danh sách tuyển dụng</h3>
			<table width="98%" style="">
			  <tbody><tr class="job-table-list-head">
			    <th width="40%" align="left">Tên công việc</th>
			    <th width="35%" align="left">Nhà tuyển dụng</th>
			    <th width="15%" align="left">Nơi làm việc</th>
			    <!--<th width="15%" align="left">Mức lương</th>-->
			    <th width="15%" align="left">Hạn nộp</th>
			  </tr>
				
			<!-- {job row=20 status=1 start=`$smarty.get.pos` keyword=`$smarty.get.keyword` indust=`$smarty.get.indust` type=`$smarty.get.type` area=`$area_string`} -->
				<tr>
					<td><a href="{the_url module='jobs' id=`$job.id`}">{$job.name}</td>
					<td><a href="{if $job.membertype_id == 5}{the_url module='jobs' id=`$job.id`}{else}{$job.space_url}{/if}">{$job.companyname}</a></td>
					<td><a class="job_city_link" href="javascript:void(0)" rel="{$job.city_id}">{$job.area}</a></td>
					<!--<td>{$job.salary}</td>-->
					<td>{$job.expired_dates}</td>
				</tr>				
			<!-- {/job} -->
			  
			</tbody></table>
			
			<div id="pagenav">
				<p><div class="pagination"><!-- {pager rowcount=`$paging.total` limit=20} --></div></p>
			</div>
			
			  
		      </div>
		
		
		
	</div>
	<div id="job-sidebar">
		
		<!--{include file="`$theme_name`/job/rightbar.html"}-->	
		
	</div>
</div>







<script>
var app_language = '{$AppLanguage}';
var area_id1 = 0;
var area_id2 = 0;
var area_id3 = 0;
</script>
<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<!--{include file="`$theme_name`/footer.html"}-->