<!--{include file="`$theme_name`/header.html" page_title="Học Tập" nav_id=9}-->
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>

<div id="body-wrapper" >
<div id="body-wrapper-padding" class="job_page">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{include file="`$theme_name`/topmenu.html"}-->


<div class="row">
  <div class="fifteen columns">

    <div id="page-title">

    <a class="back" href="javascript:history.back()"></a>
    <div class="subtitle">
        {lang job_head}
    </div>
   
    
	<h1 class="page-title">{lang job_head}</h1>

    
    <!--{include file="`$theme_name`/job/postitem.html"}-->
    
    


    
    
  </div>

  
  </div>
</div>



<div class="row">
    
    <!--{include file="`$theme_name`/job/jobsearchbox.html"}-->
    
</div>

<div class="row">
	<div id="job-content">
		<!--<div id="TopStudytypeCategory">
		      <ul class="list-studytype-cat">
                                <li rel=""><a href="{the_url module=studypost}">Trường</a></li>
                                <li rel=""><a href="{the_url module=studypost type=group}">Môn học</a></li>
                                <li rel="" class="active"><a href="{the_url module=studypost type=learner}">Học viên</a></li>
		      </ul>
		</div>-->
		
                <div class="studypage-content">
                    <div id="other-school-list" class="school_list main_list">
			<h1>Danh sách Học viên</h1>
		      {if $learner_list}
                        <ul class="group_list">
                            <!--{loop $learner_list item level key}-->
                                    <li class="school_list_box {if $item.id == $school.id}active{/if}">
					<div onclick="window.location='{the_url module=studypost action=memberpage id=`$item.id` title=`$item.fullname`}'">
					    <a class="head-title">
						<img src="{$item.photo}" />
						<span>{$item.first_name} {$item.last_name}</span>
					    </a>
					    {if $item.address}<p>{$item.address}</p>{/if}
					    
					    
					    {if $item.email}<p><label>Email:</label> {$item.email}</p>{/if}
					</div>
					
					<div class="action">
					    {if $pb_userid != $item.id && !$item.friending && !$item.is_friend}
						<!--{if $pb_username!=""}-->
							{if !$item.friended}
								<a onclick="studyfriend({$item.id}, this)" href="javascript:void(0)">Kết bạn</a>
							{else}
								<a onclick="studyfriend({$item.id}, this)" class="del_addfriend" href="javascript:void(0)">Đã gửi lời mời kết bạn</a>
							{/if}
						<!--{else}-->
							{if !$item.friended}
							    <a class="comment_but" href="#login-box" href="{$WebRootUrl}logging.php">Kết bạn</a>
							{else}
							    <a class="comment_but del_addfriend" href="#login-box" href="{$WebRootUrl}logging.php">Đã gửi Lời mời kết bạn</a>
							{/if}                                
						<!--{/if}-->
					    {elseif $item.is_friend}
						<a class="" href="{the_url module=studypost action=rejectFriend id=`$item.id`}">
						    
						    Bạn bè
						</a>
					    {/if}
					</div>
                                    </li>
                            <!--{/loop}-->
                        </ul>
		      {else}
			<p></p>
			<p> Không tìm thấy học viên nào...!</p>
		      {/if}
                    </div>
		    <!--<div id="pagenav">
		      <p><div class="pagination"><!-- {pager rowcount=`$paging.total` limit=20} --></div></p>
		    </div>-->
                    <br style="clear: both" />
                </div>

		
	</div>
	<div id="job-sidebar">
		
		<!--{include file="`$theme_name`/job/rightbar.html"}-->	
		
	</div>
</div>







<script>
var app_language = '{$AppLanguage}';
var area_id1 = 0;
var area_id2 = 0;
var area_id3 = 0;
</script>
<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<!--{include file="`$theme_name`/footer.html"}-->