<!--{include file="`$theme_name`/header.html" page_title="Thị trường Mua-Bán, Phân phối Sản phẩm/Dịch vụ"}-->


<!--{include file="`$theme_name`/verytopmenu.html"}-->

<!--{literal}-->
<script type="application/x-javascript">

    $(document).ready(function() {
        
        
    });
    
    $(window).resize(function() {    
        
        var minnn = $(window).height();
        if ($(window).height() < $('#facelike_col1').height()) {
            minnn = $('#facelike_col1').height();
        }
        $('#facelike_col2').css("min-height",minnn+200);
        //$(window).scrollTop(200);
     
    });
    
</script>
<!--{/literal}-->

<div class="outpage_box">
    <div class="row">
        <div class="study-member-box">
            <div class="member-right">
                <div class="member-pics-album">
                    <div class="main">
                        {if $pb_userid == $member.id && $member.studypics.main.id}
                            <a onclick="return confirm('Bạn có chắc muốn xóa hình này!')" href="{the_url module=studypost action=del_studypic id=`$member.studypics.main.id`}" class="del_main_pic" rel="{$member.studypics.main.id}">x</a>
                        {/if}
                        
                        
                            <img class="avatar" src="{$member.studypics.main.name_medium}" width="400" height="400" onclick="getStudypictureDetail({$member.id}, {$member.studypics.main.id})" />

                        
                        {if $pb_userid == $member.id}
                            <div class="upload_studymemberpagepics">
                                <a class="but" href="javascript::void(0)" onclick="$('#uploadpics-but').trigger('click')">+ Tải ảnh</a>
                            </div>
                            <div id="upload_logo" class="hide">
                                <div class="upload_logo">                                    
                                    <iframe name="uploadpics" id="uploadpics" style="display: none"></iframe>
                                    <form id="uploadpics_form" method="post" action="{$WebRootUrl}index.php?do=studypost&action=upload_picture" enctype="multipart/form-data">
                                      <!-- {formhash} -->
                                    
                                    
                                      <p><input accept="image/*" type="file" name="upload_picture" id="uploadpics-but" onchange="$('#uploadpics_form').submit()" /></p>
                                      
                                      
                                      <input type="submit" class="checkout_but" style="padding: 3px 50px; margin-left: 10px;" value="{lang upload}" /><br>
                                    </form>
                                </div>
                            </div>
                        {/if}
                    </div>
                    
                    {if $member.studypics.thumbs}
                        <div class="thumbs">
                            <span class="nav next">></span>
                            <span class="nav prev"><</span>
                            <div class="inner_slider">
                                <!--{loop $member.studypics.thumbs item level key}-->
                                    <span class="img_item_out"><div class="img_item">
                                        <img class="avatar" src="{$item.name_small}" width="400" height="400" onclick="getStudypictureDetail({$member.id}, {$item.id})" />                                        
                                    </div>
                                    {if $pb_userid == $member.id}<a onclick="return confirm('Bạn có chắc muốn xóa hình này!')" class="del_pic" rel="{$item.id}" href="{the_url module=studypost action=del_studypic id=`$item.id`}">x</a>{/if}
                                    </span>
                                <!--{/loop}-->
                            </div>
                            
                        </div>
                    {/if}
                </div>
            </div>
            <div class="member-left">
                {if $friend_request}
                        <div class="friend_requests">
                            <strong>{$member.first_name} {$member.last_name}</strong> muốn kết bạn với bạn
                            <a href="{the_url module=studypost action=acceptFriend id=`$member.id`}">Đồng ý</a>
                            <a href="{the_url module=studypost action=rejectFriend id=`$member.id`}">Từ chối</a>
                        </div>
                    {/if}
                <div class="member-left-top-bound">
                    
                    
                    <div class="member-left-top">
                        {if $pb_userid == $member.id}
                            <iframe name="upload" id="upload" style="display: none"></iframe>
                            <form style="display: none" name="productaddfrm" id="Frm2_logo" method="post" action="{$WebRootUrl}index.php?do=studypost&action=change_logo_home" enctype="multipart/form-data">
                              <!-- {formhash} -->
                              <input type="hidden" name="uri" value="{$FURI}" />
                            
                              <p><input type="file" name="upload_logo" id="changelogo-but" onchange="$('#Frm2_logo').submit()" /></p>
                              
                            </form>
                        {/if}
                        
                        <div class="out_studyava">
                            {if $pb_userid == $member.id}
                                <a class="changestudyava" onclick="$('#changelogo-but').trigger('click')" href="javascript:void(0)">Thay hình đại diện</a>
                            {/if}
                            
                            <a href="{the_url module=studypost action=memberpage id=`$member.id` title=`$member.fullname`}">
                                <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}"/>
                            </a>
                        </div>
                        
                        <h4>{$member.first_name} {$member.last_name}</h4>
                        {if $member.school_name}<p class="school"><label>Trường </label>:&nbsp; {$member.school_name}</p>{/if}
                        {if $member.class}<p><label>Lớp </label>:&nbsp; {$member.class}</p>{/if}
                        {if $member.gender}<p><label>Giới tính </label>:&nbsp; {if $member.gender == 1}Name{else}Nữ{/if}</p>{/if}
                        {if $member.address}<p><label>Địa chỉ </label><span><i>:&nbsp; </i>{$member.address}</span></p>{/if}
                        {if $member.mobile}<p><label>Điện thoại </label>:&nbsp; {$member.mobile}</p>{/if}
                        {if $member.email}<p><label>Email </label>:&nbsp; {$member.email}</p>{/if}
                    </div>
                    <div class="controls">
                        <div class="friend_menu">
                            {if $pb_userid != $member.id && !$friend_request && !$is_friend}
                                <!--{if $pb_username!=""}-->
                                        {if !$Friended}
                                                <a onclick="studyfriend({$member.id}, this)" href="javascript:void(0)" class="kkkmember">Kết bạn</a>
                                        {else}
                                                <a onclick="studyfriend({$member.id}, this)" class="del_addfriend kkkmember" href="javascript:void(0)">Đã gửi lời mời kết bạn</a>
                                        {/if}
                                <!--{else}-->
                                        {if !$Friended}
                                            <a class="comment_but" href="#login-box" href="{$WebRootUrl}logging.php">Kết bạn</a>
                                        {else}
                                            <a class="comment_but del_addfriend" href="#login-box" href="{$WebRootUrl}logging.php">Đã gửi Lời mời kết bạn</a>
                                        {/if}                                
                                <!--{/if}-->
                            {elseif $is_friend}
                                <a class="" href="javascript:void(0)">
                                    <img class="friend_checked" src="{the_url module=root-url}/templates/default/image/check_list.png" />
                                    Bạn bè
                                </a>
                            {/if}
                            
                            
                                <div class="friend_menu_items{if $Friended || $is_friend} active{/if}">
                                    <div class="friend_menu_items_inner">
                                        <span class="pointer_topmenu">.</span>
                                        <ul>
                                            <li>
                                                {if $is_friend}
                                                    <a class="" href="{the_url module=studypost action=rejectFriend id=`$member.id`}">Hủy kết bạn</a>
                                                {/if}
                                                {if !$is_friend}
                                                    <a class="" href="javascript:void(0)" onclick="studyfriend({$member.id}, $('.kkkmember'))">Hủy kết bạn</a>
                                                {/if}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            
                            
                        </div>    
                            
                        
                        {if $pb_userid != $member.id}
                            <!--{if $pb_username!=""}-->
                                <a href="javascript::void(0)" onclick="getChatboxNew('{$member.id}x6', false)" class="skin_chat_with_owner comment_but {if $member.online}online{/if}">Tin nhắn</a>
                            <!--{else}-->
                                <a title="" class="skin_chat_with_owner comment_but {if $member.online}online{/if}" href="#login-box" onclick="">Tin nhắn</a>
                            <!--{/if}-->
                            
                            
                            <!--{if $pb_username!=""}-->
                                    {if !$Followed}
                                            <a onclick="studyfollow({$member.id}, this)" href="javascript:void(0)">{lang follow}</a>
                                    {else}
                                            <a onclick="studyfollow({$member.id}, this)" href="javascript:void(0)">{lang followed}</a>
                                    {/if}
                            <!--{else}-->
                                    {if !$Followed}
                                        <a class="comment_but" href="#login-box" href="{$WebRootUrl}logging.php">{lang follow}</a>
                                    {else}
                                        <a class="comment_but" href="#login-box" href="{$WebRootUrl}logging.php">{lang followed}</a>
                                    {/if}                                
                            <!--{/if}-->
                        {/if}
                    
                    </div>
                
                </div>
                
                <div class="member-left-bottom">
                        <h2>Tự giới thiệu
                        {if $pb_userid == $member.id}
                            <a href="{the_url module=root-url}virtual-office/personal.php#tgttext" style="font-size: 14px;">(Chỉnh sửa)</a>
                        {/if}</h2>
                        {$member.intro}
                </div>
                <a class="member-left-bottom-more" href="#member-left-bottom-content">Xem thêm...</a>
                <div id="member-left-bottom-content" style="display: none">
                    <h2>Tự giới thiệu
                        {if $pb_userid == $member.id}
                            <a href="{the_url module=root-url}virtual-office/personal.php#tgttext" style="font-size: 14px;">(Chỉnh sửa)</a>
                        {/if}
                    </h2>
                    {$member.intro}
                </div>
                
            </div>
            
            <br style="clear: both" />
        </div>
    </div>
    <div class="row">
        <div class="facelike_main">
            
            <div id="facelike_col1">
                
                <!--{include file="`$theme_name`/studypost/_joined_groups.html"}-->
                
            </div>
            
            <div id="facelike_col2">
                <div class="col2-top">
                    
                </div>
                <div class="col2-bottom">
                    <div class="col2-bottom-left">
                        <!--{include file="`$theme_name`/studypost/_main_content.html"}-->
                    </div>
                    <div class="col2-bottom-right">
                        <div class="school_list">
                            <h4>Trường</h4>
                            <!--{include file="`$theme_name`/studypost/_other_school_list.html"}-->
                            <ul class="group_list">
                                <li class="{if $smarty.get.action == 'school'}active{/if}">
                                    <a class="logo" style="background-image:url('{$WebRootUrl}/{$school.logo}')" href="{the_url module=studypost action=school id=`$school.id` title=`$school.name`}" title="{$school.name}">
                                        {$school.name|truncate:40}
                                        <div class="more-studybar">Thành viên: {$school.member_count}</div>
                                    </a>
                                </li>
                            </ul>
                            
                            <ul class="group_list">
                                <!--{loop $school_list item level key}-->
                                    <li class="{if $item.id == $school.id}active{/if}" style="display: none">
                                        <a class="logo" style="background-image:url('{$WebRootUrl}/{$item.logo}')" href="{the_url module=studypost action=school id=`$item.id` title=`$item.name`}" title="{$item.school_name}">
                                            {$item.name|truncate:40}
                                            <div class="more-studybar">Thành viên: {$item.member_count}</div>
                                        </a>
                                    </li>
                                <!--{/loop}-->
                            </ul>
                            
                            <!--{include file="`$theme_name`/studypost/_rightbar_groups.html"}-->
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--{include file="`$theme_name`/footer_none.html"}-->
