<!--{include file="`$theme_name`/header.html" page_title="Thị trường Mua-Bán, Phân phối Sản phẩm/Dịch vụ"}-->


<!--{include file="`$theme_name`/verytopmenu.html"}-->

<!--{literal}-->
<script type="application/x-javascript">

    $(document).ready(function() {
        
        $('#facelike_col2').css("min-height",$(window).height()+200);
        
    });
    
</script>
<!--{/literal}-->

<div class="outpage_box">
    <div class="row">
        <div class="study-member-box">
            <div class="member-right">
                <div class="member-pics-album">
                    <div class="main">
                        <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="400" height="400" />
                    </div>
                    <div class="thumbs">
                        <span class="nav next">></span>
                        <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="400" height="400" />
                        <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="400" height="400" />
                        <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="400" height="400" />
                        <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}" width="400" height="400" />
                        <span class="nav prev"><</span>
                    </div>
                </div>
            </div>
            <div class="member-left">
                <div class="member-left-top">
                    <img class="avatar" src="{if $member.photo} {$member.photo} {else} {$theme_img_path}image/usericon.jpg  {/if}"/>
                    <h4>{$member.first_name} {$member.last_name}</h4>
                    {if $member.school_name}<p class="school"><label>Trường </label>: {$member.school_name}</p>{/if}
                    {if $member.class}<p><label>Lớp </label>: {$member.class}</p>{/if}
                    {if $member.gender}<p><label>Giới tính </label>: {if $member.gender == 1}Name{else}Nữ{/if}</p>{/if}
                    {if $member.address}<p><label>Địa chỉ </label>: {$member.address}</p>{/if}
                    {if $member.mobile}<p><label>Điện thoại </label>: {$member.mobile}</p>{/if}
                    {if $member.email}<p><label>Email </label>: {$member.email}</p>{/if}
                </div>
                <div class="controls">
                    <a href="javascript::void(0)">Kết bạn</a>
                    <!--{if $pb_username!=""}-->
                        <a href="javascript::void(0)" onclick="getChatbox({$member.id}, false)" class="skin_chat_with_owner comment_but {if $member.online}online{/if}">Chat</a>
                    <!--{else}-->
                        <a title="Hỗ trợ trực tuyến" class="skin_chat_with_owner comment_but {if $member.online}online{/if}" href="#login-box" onclick="">Chat</a>
                    <!--{/if}-->
                    <a href="javascript::void(0)">Theo dõi</a>
                </div>
            </div>
            
            <br style="clear: both" />
        </div>
    </div>
    <div class="row">
        <div class="facelike_main">
            
            <div id="facelike_col1">
                
                <!--{include file="`$theme_name`/studypost/_joined_groups.html"}-->
                
            </div>
            
            <div id="facelike_col2">
                <div class="col2-top">
                    
                    
                </div>
                <div class="col2-bottom">
                    <div class="col2-bottom-left">
                        <!--{include file="`$theme_name`/studypost/_main_content.html"}-->
                    </div>
                    <div class="col2-bottom-right">
                        <div class="school_list">
                            <h4>Trường</h4>
                            <!--{include file="`$theme_name`/studypost/_other_school_list.html"}-->
                            <ul class="group_list">
                                <li class="{if $smarty.get.action == 'school'}active{/if}">
                                    <a class="logo" style="background-image:url('{$WebRootUrl}/{$school.logo}')" href="{the_url module=studypost action=school id=`$school.id`}" title="{$school.name}">
                                        {$school.name|truncate:40}
                                        <div class="more-studybar">Thành viên: {$school.member_count}</div>
                                    </a>
                                </li>
                            </ul>
                            
                            <ul class="group_list">
                                <!--{loop $school_list item level key}-->
                                    <li class="{if $item.id == $school.id}active{/if}" style="display: none">
                                        <a class="logo" style="background-image:url('{$WebRootUrl}/{$item.logo}')" href="{the_url module=studypost action=school id=`$item.id`}" title="{$item.school_name}">
                                            {$item.name|truncate:40}
                                            <div class="more-studybar">Thành viên: {$item.member_count}</div>
                                        </a>
                                    </li>
                                <!--{/loop}-->
                            </ul>
                            
                            <!--{include file="`$theme_name`/studypost/_rightbar_groups.html"}-->
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--{include file="`$theme_name`/footer_none.html"}-->
