<!--{include file="`$theme_name`/header.html" page_title="Thị trường Mua-Bán, Phân phối Sản phẩm/Dịch vụ"}-->

<!--{include file="`$theme_name`/verytopmenu.html"}-->

<!--{literal}-->
<script type="application/x-javascript">

    $(document).ready(function() {
        
        $(window).scrollTop(120);
        
    });
    
    $(document).scroll(function() {

        moveLeftBar(200);
        
    });
    
    $(window).resize(function() {    
        
        var minnn = $(window).height();
        if ($(window).height() < $('#facelike_col1').height()) {
            minnn = $('#facelike_col1').height();
        }
        $('#facelike_col2').css("min-height",minnn+200);
        //$(window).scrollTop(200);
     
    });
    
</script>
<!--{/literal}-->

<div class="outpage_box">
    <div class="row">
        <div class="facelike_main">
            
            <div id="facelike_col1">
                <div class="school-top-left-info">
                    <iframe name="upload" id="upload" style="display: none"></iframe>
                        <form style="display: none" name="productaddfrm" id="Frm2_logo" method="post" action="{$WebRootUrl}index.php?do=studypost&action=change_school_logo" enctype="multipart/form-data">
                          <!-- {formhash} -->
                          <input type="hidden" name="school_id" value="{$school.id}" />
                          <input type="hidden" name="uri" value="{$FURI}" />
                        
                          <p><input type="file" name="upload_logo" id="changelogo-but" onchange="$('#Frm2_logo').submit()" /></p>
                          
                        </form>
                        
                        <div class="logo_out_hover">
                            {if $pb_userid == 1030}
                                <a class="changesschoollogo" onclick="$('#changelogo-but').trigger('click')" href="javascript:void(0)">
                                    {if $school.logo_origin}
                                        Thay logo
                                    {else}
                                        Thêm logo
                                    {/if}
                                </a>
                            {/if}
                            <a href="{the_url module=studypost action=school id=`$school.id`}"><img src="{$school.logo}" /></a>
                        </div>
                        
                    <h1><a href="{the_url module=studypost action=school id=`$school.id`}">{$school.name}</a></h1>                    
                </div>
                
                <div class="school_list" style="display: none">
                    <ul>
                        <li class="{if $smarty.get.action == 'school'}active{/if}">
                            <a href="{the_url module=studypost action=school id=`$school.id`}" title="{$school.name}">
                                {$school.name|truncate:40}
                                <div class="more-studybar">Thành viên: {$school.member_count}</div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <!--{include file="`$theme_name`/studypost/_joined_groups.html"}-->
                
            </div>
            
            <div id="facelike_col2">
                <div class="col2-top">
                    <div class="col2-top-banner">
                        
                        <ul class="school_banners">
                            {if $school.no_banner}
                                <li><a href="javascript:void(0)"><img src="{$school.no_banner}" /></a></li>
                            {else}
                                <!--{loop $school.banners item level key}-->
                                    <li>
                                        {if $pb_userid == 1030}<a class="del_schoolbanner" onclick="return confirm('Bạn có chắc muốn xóa hình này!')" href="{the_url module=studypost action=del_schoolbanner id=`$item.id`}">x</a>{/if}
                                        <a href="javascript:void(0)" onclick="getSchoolpictureDetail({$school.id},{$item.id})"><img src="{$item.banner}" /></a>
                                    </li>
                                <!--{/loop}-->
                            {/if}
                        </ul>
                        <span class="studybanner_nav next">></span>
                        <span class="studybanner_nav prev"><</span>
                        
                        
                        
                        
                        
                        <div class="banner-school-info">
                            {if $school.address}<p>{$school.address}</p>{/if}
                            {if $school.phone}<p><label>Điện thoại:</label> {$school.phone}</p>{/if}
                            {if $school.email}<p><label>Email:</label> <a href="mailto:{$school.email}">{$school.email}</a></p>{/if}
                            {if $school.website}<p><label>Website:</label> {$school.website}</p>{/if}
                        </div>
                    </div>
                    <div class="main_controls">
                        
                        {if $pb_userid == 1030}
                        
                            <iframe name="upload" id="upload" style="display: none"></iframe>
                            <form style="display: none" name="productaddfrm" id="Frm2_banner" method="post" action="{$WebRootUrl}index.php?do=studypost&action=change_school_banner" enctype="multipart/form-data">
                              <!-- {formhash} -->
                              <input type="hidden" name="school_id" value="{$school.id}" />
                              <input type="hidden" name="uri" value="{$FURI}" />
                            
                              <p><input type="file" name="upload_logo" id="changebanner-but" onchange="$('#Frm2_banner').submit()" /></p>
                              
                            </form>
                            <a class="changesschoolbanner" onclick="$('#changebanner-but').trigger('click')" href="javascript:void(0)">
                                Thêm hình banner
                            </a>
                            
                        {/if}
                        
                    </div>
                </div>
                <div class="col2-bottom">
                    <div class="col2-bottom-left">
                        <!--{include file="`$theme_name`/studypost/_main_content.html"}-->
                    </div>
                    <div class="col2-bottom-right">
                        <div class="school_list">
                            <h4>Trường</h4>
                            <!--{include file="`$theme_name`/studypost/_other_school_list.html"}-->
                            <ul class="group_list">
                                <li class="{if $smarty.get.action == 'school'}active{/if}">
                                    <a class="logo" style="background-image:url('{$WebRootUrl}/{$school.logo}')" href="{the_url module=studypost action=school id=`$school.id`}" title="{$school.name}">
                                        {$school.name|truncate:40}
                                        <div class="more-studybar">Thành viên: {$school.member_count}</div>
                                    </a>
                                </li>
                            </ul>
                            
                            <ul class="group_list">
                                <!--{loop $school_list item level key}-->
                                    <li class="{if $item.id == $school.id}active{/if}" style="display: none">
                                        <a class="logo" style="background-image:url('{$WebRootUrl}/{$item.logo}')" href="{the_url module=studypost action=school id=`$item.id`}" title="{$item.school_name}">
                                            {$item.name|truncate:40}
                                            <div class="more-studybar">Thành viên: {$item.member_count}</div>
                                        </a>
                                    </li>
                                <!--{/loop}-->
                            </ul>
                            
                            <!--{include file="`$theme_name`/studypost/_rightbar_groups.html"}-->
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--{include file="`$theme_name`/footer_none.html"}-->
