<!--{include file="`$theme_name`/header.html" page_title="`$IndustryList.name`"}-->
<!--{literal}-->
<style>
  .eleven, .row .eleven {
    width: 100%;
}
</style>
<!--{/literal}-->
<div id="body-wrapper"  class="product_home_pagez">
<div id="body-wrapper-padding" class="connect_page">
<!--[if lt IE 7]>
<div class="alert">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
    browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
    experience this site.
</div><![endif]-->

<!--{literal}-->
<script type="application/x-javascript">
  

  
	  function ajaxLoadMenu(id, level, item) {
	    //code
	    //$('h1.page-title').html(item.html());
	    if(item) item.parent().parent().find("li").removeClass('active');
	    if(item) item.parent().addClass('active');
	    $.ajax({
		    url: "index.php?do=product&action=ajaxLoadMenuConnect&tipe=offer&industryid="+id+"{/literal}{if $smarty.get.do=='area'}&pos=area&areatype={$smarty.get.action}&type={$smarty.get.type}{/if}&service={if $smarty.get.do=='company'}company&membergroup_id={$smarty.get.membergroup_id}{else}{$item.service}{$smarty.get.action}{/if}{literal}",			
		}).done(function ( data ) {
			if( console && console.log ) {
			  
			  if(item) $('h1.page-title').html(item.html());
			  
				$('.product_list_title').html($(data).filter('#mapp').html());
				
				
				
				$('.product_list_title a').eq(0).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '2', $(this));
				});
				$('.product_list_title a').eq(1).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));
				});
				$('.product_list_title a').eq(2).click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '4', $(this));
				});
				
				$('.product_list_title a').click(function() {

						  industryid = $(this).attr('rel');
						  
						  if (industryid) {
						      //getFilterProducts() in custom.js
						      $('#ProductName').val("");
						      ajaxListProduct(getFilterProducts());
						  }
						 
				});
				//alert("aaaa");
				//alert(data);
				if(typeof($(data).filter('ul').html()) != 'undefined' || true)
				{
				    var levelx = level;
					$('.parent-menu-title').html("<a>"+$('.product_list_title parent').html()+"</a>");
				    if(typeof($(data).filter('ul').html()) == 'undefined')
				    {
				      levelx = level - 1;
					  $('.parent-menu-title').html("<a>"+$('.product_list_title a').eq(levelx-2).html()+"</a>");
				    }
				    
				    //update parent menu link
					
				      
				      if (industryid == 0) {
						$('.parent-menu-title').html("<a href='javascript:void(0)'>Danh mục thương mại</a>");
						//$('.product_list_title').html(" / Tìm kiếm");
				      }
				    
				  if (levelx == '2') {
				    $('.s-scroll').animate({ marginLeft: '-240px' }, 260);
				  }
				  else if (levelx == '3') {				    
				    $('.s-scroll').animate({ marginLeft: '-480px' }, 260);
				  }
				  else if (levelx == '4') {
				    $('.s-scroll').animate({ marginLeft: '-720px' }, 260);
				  }
				    
				    
				    $('.box-level'+level).html(data);
				    $('.box-level'+level).mCustomScrollbar({
					    autoHideScrollbar:true,
					    theme:"light-thin"
				    });
				    
				    $('.box-level'+level+' ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), parseInt(level)+1, $(this));				      
				    });
				    
				    $('.box-level'+level+' ul.menu li a').click(function() {
						  
						  industryid = $(this).attr('rel');
						  
						  
						  if (industryid) {
						     //getFilterProducts() in custom.js
						     $('#ProductName').val("");
						    ajaxListProduct(getFilterProducts());
						  }
						 
				    });
				}				
			}
		});
	  }
   
	function getMinHeight() {
	  
	    //for offer
	    if (offer) {
	      return 0;
	    }
	  
	    //code
	    var min =  $('#list_product_ajax0').height();
	    var it = 0;
	    for (var j=1; j < 3; j++) {
	       if ($('#list_product_ajax'+j).height() < min) {
		  min = $('#list_product_ajax'+j).height();
		  it = j;
	       }				    
	    }
	    return it;
	}
	 
	function ajaxListProduct(filter) {
	      if ($(window).scrollTop() > 253) $("html, body").animate({ scrollTop: 253 }, "slow");
	  
	      $('.product_list_loading').height($('.product_listing').height());
		$('.product_list_loading').css("display", "block");
		$.ajax({
			url: "index.php?do=product&leftbar=1&action=listAjax{/literal}{if $smarty.get.student}&student=1{/if}{literal}&offer_page=1"+filter,
			beforeSend: function ( xhr ) {
				//xhr.overrideMimeType("text/plain; charset=x-user-defined");
				$('#list_product_ajax').html('<div class="loading">'+$('#loading').html()+'</div>');
			}
		}).done(function ( data ) {
			if( console && console.log ) {
				for (var j=0; j < 5; j++) {
				    $('#list_product_ajax'+j+' ul').html("");
				}
				for (var i=0; i < 15; i++) {
				    var pos = i%3;
				    
				    $('#list_product_ajax'+getMinHeight()+' ul').append($(data).filter(".products_"+i).html());
				}
				
				pos_pg = 15;
				$('.product_list_loading').css("display", "none");
				
				
				if(!scroll) scroll = true;
				
				$('.product_listing ul.products li.product img').load(function() {
				  $(this).parent().css("height", $(this).parent().height());
				});
				
				
				
				
				//if (offer && first_offer) {
				//  $('.offer_transform ul.products li.product img').live('click', function() {
				//
				//    getOfferDetail($(this).parent().parent().parent().attr("rel"),0);
				//  
				//  });
				//  $('.offer_transform ul.products li.product h3 a').live('click', function() {
				//
				//    getOfferDetail($(this).parent().parent().parent().attr("rel"),0);
				//  
				//  });
				//  first_offer =  0;
				//}
				
				
				$('a,img').qtip({ // Grab some elements to apply the tooltip to
				    content: {
					attr: 'title'                        
				    },
				    position: {
					target: 'mouse', // Track the mouse as the positioning target
					adjust: { x: 10, y: 25 } // Offset it slightly from under the mouse
				    }
				})
			}
		});
	}
	
	 function resetFilter(args) {
	    //$('#ProductName').val("");
	    $('#dataProductIndustryId1').val(0);
	    $('#dataProductIndustryId2').val(0);
	    $('#dataProductIndustryId3').val(0);
	    $('#dataProductIndustryId4').val(0);
	    service = 0;
	    
	    //for other product
	    other = 0;
	    
	    //for sale
	    sale = 0;
	    
	    //for offer
	    offer = 0;
	    $('.col_products ul').html("");
	    $('.product_listing').removeClass("offer_transform");
	    ///////////////
	    
	 }
	
	function ajaxListProductScroll(filter) {
	  
		$.ajax({
			url: "index.php?do=product&leftbar=1&action=listAjax{/literal}{if $smarty.get.student}&student=1{/if}{literal}&offer_page=1"+filter,
		}).done(function ( data ) {
			if( console && console.log ) {
				//console.log("Sample of data:", data.slice(0, 200));
				//alert(data);
				//$('#list_product_ajax').append(data);
				for (var i=0; i < 15; i++) {
				    var pos = i%3;
				    $('#list_product_ajax'+getMinHeight()+' ul').append($(data).filter(".products_"+i).html());
				    //alert(getMinHeight());
				}
				startscroll = true;
				pos_pg += 15;
				
				$('.product_listing ul.products li.product img').load(function() {
				    $(this).parent().css("height", $(this).parent().height());
				});
				
				$('a,img').qtip({ // Grab some elements to apply the tooltip to
				    content: {
					attr: 'title'                        
				    },
				    position: {
					target: 'mouse', // Track the mouse as the positioning target
					adjust: { x: 10, y: 25 } // Offset it slightly from under the mouse
				    }
				})
			}
		});
	}
	
	var industryid = 0;
	var service = 0;
	
	//for other product
	var other = 0;
	
	//for sale
	var sale = 0;
	
	//for offer
	var offer = 0;
	var first_offer = 1;
	
	var orderby = 'dateline';
	var scroll = false;
	
	//for offer_page
	{/literal}{if $smarty.get.offertype}{literal}
	offertype = '{/literal}{$smarty.get.offertype}{literal}';
	{/literal}{else}{literal}
	offertype = 'all';
	{/literal}{/if}{literal}
	  
	
	$(document).ready(function() {
	  
	  if ($('#aq-block-5').height())
	    pos_searchlist = $('#aq-block-5').height() + 260;
	  else
	    pos_searchlist = {/literal}{if $show_3_top_trades_banner == "1"}505{else}255{/if}{literal};
	       
	      //Init level 4
	       $(".hotnewlist").removeClass("active");
	       //$('#new_offer_but').addClass("active");
	       industryid = <!--{/literal}-->{$IndustryList.id}<!--{literal}-->;
	       
	      
	      //getFilterProducts() in custom.js
	      //ajaxListProduct(getFilterProducts());
	      
	      if (offertype == "buy") {
		setTimeout('$("#new_offer_but_buy").trigger("click")',200);
	      }
	      else if (offertype == "sell") {
		setTimeout('$("#new_offer_but_sell").trigger("click")',260);
	      }
	      else if (offertype == "supply") {
		setTimeout('$("#new_offer_but_pp").trigger("click")',260);
	      }
	      else if (offertype == "partner") {
		setTimeout('$("#new_offer_but_partner").trigger("click")',260);
	      }
	      else
	      {
		setTimeout('$("#new_offer_but").trigger("click")',260);
	      }
	      
	      
	      ajaxLoadMenu(<!--{/literal}-->{$IndustryList.id}, {$p_level+1}<!--{literal}-->, null)

	 
		$('#hot_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'favourite';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#new_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#new_service_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			service = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#recentbuy_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			
			ajaxListProduct("");
		});
		
		//for other product
		$('#other_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			other = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		//for offer
		$('#new_offer_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			offertype = 'all';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
			
			
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		
		//for offer
		$('#new_offer_but_buy').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			offertype = '14';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
			
			
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		//for offer
		$('#new_offer_but_sell').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			offertype = '9';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
			
			
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		//for offer
		$('#new_offer_but_pp').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			offertype = '10';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
			
			
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		//for offer
		$('#new_offer_but_partner').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			offer = 1;
			offertype = '16';
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
			
			
			$('.col_products ul').html("");
			$('.product_listing').addClass("offer_transform");
		});
		
		//for sale
		$('#sale_product_but').click(function () {
			resetFilter();
			$(".hotnewlist").removeClass("active");
			$(this).addClass("active");
			orderby = 'dateline';
			sale = 1;
			
			//getFilterProducts() in custom.js
			ajaxListProduct(getFilterProducts());
		});
		
		$('#search_list_but').click(function() {
			ajaxListProduct(getFilterProducts());
		});
		
				    $('.box-level2 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '3', $(this));				      
				    });
				    
				    $('.box-level3 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '4', $(this));				      
				    });
				    
				    $('.box-level4 ul li a.item').click(function() {
				      ajaxLoadMenu($(this).attr("rel"), '5', $(this));
				    });

		
		$('.box-scroll ul.menu li a.item').click(function() {
			industryid = $(this).attr('rel');
			
			if (industryid) {
			    //getFilterProducts() in custom.js
			    $('#ProductName').val("");
			    ajaxListProduct(getFilterProducts());
			}
		});
		
		$('a.all_p').click(function() {
		    industryid = 0;
		    
		    $('.box-scroll ul li').removeClass('active');
			
		    $('span.product_list_title').html("");
		    
		    //getFilterProducts() in custom.js
		    ajaxListProduct(getFilterProducts());
		    
		    $('.s-scroll').animate({ marginLeft: '0px' }, 200);
		    
		    $('.parent-menu-title').html("<a href='javascript:void(0)'>Danh mục thương mại</a>");
		});
		
		$('.box-level1 ul li a.item').click(function() {		
		  ajaxLoadMenu($(this).attr("rel"), '2', $(this));	 
		  
		});
		
		$(".box-level1").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level2").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level3").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
	       $(".box-level4").mCustomScrollbar({
					autoHideScrollbar:true,
					theme:"light-thin"
				});
				
		$('.parent-menu-title').live("click",function() {
		  industryid = $(this).find("a").attr('rel');
		  $('.connect_menu .menu li a[rel='+industryid+']').trigger("click");
		});
		$('.widget ul.menu li.liback').live("click", function(){
		  if($('.product_list_title a').length)
		  {
		    $('.product_list_title a').last().trigger("click");
		  }
		  else
		  {
		    $('a.all_p').trigger("click");
		  }
		});		
	});
	
	
	var startscroll = true;
	var pos_pg = 15;

	$(document).scroll(function(){		
		if(($(document).height()-$(window).height()-$(document).scrollTop()) < 1000){
			if (startscroll && scroll) {
				startscroll = false;
				//code
				console.log('Scrolled to bottom');
				//ArticleList.loadMoreArticles();
				//alert("end");
				
				
				ajaxListProductScroll(getFilterProducts()+"&pos_pg="+pos_pg);		
			}
		
		} else {
		    //console.log('Scroll '+$(document).height()+' - '+$(window).height()+' - ' +$(document).scrollTop());
		}
	});	
	
</script>
   

<!--{/literal}-->

<!--{include file="`$theme_name`/topmenu.html"}-->




      
      {if $IndustryList.count && false}
  
<div class="row">
  <div class="fifteen columns" style="padding-left: 0">

    <div id="page-title">

    <a class="back" href="javascript:history.back()"></a>
    <h1 class="page-title">{$IndustryList.name}</h1>

    <div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="index.php?do=product">{lang product_center}</a><span class="delim">/</span><a href="index.php?do=product&level=1&industryid={$IndustryList.level0_id}">{$IndustryList.level0_name}</a><span class="delim">/</span><a href="index.php?do=product&level=2&industryid={$IndustryList.level1_id}">{$IndustryList.level1_name}</a><span class="delim">/</span>{$IndustryList.name} </div>

    
    
  </div>

  
  </div>
</div>
  
  
  
<div class="row">
  
 <div id="aq-block-5" style="padding: 0 12px;" class="aq-block aq-block-aq_recent_block fifteen columns aq-first cf">
  <div id="recent" class="section-block clearing-container" style="height: auto">
        
   

    <div class="works-list xxsmall">
        <ul class="filterable-grid" style="height: auto">
            
		<!--{loop $IndustryList.sub item0 level_0 key0}-->
		    
		    <li class="item" data-id="id-1" data-type="dentity motion sites web-design ">
			<div class="{$item0.size} odd">
			    <div class="pic">
				
				{if $item0.images != ""}					
					<img {if $item0.size == "large"} width="390" height="180" {else} width="193" height="180" {/if} src="{$item0.images.0}" style="margin:0 0;" alt="{$item0.name}" title="{$item0.name}" >
                                {else}
					<img src="{if $item0.size == "large"}http://theme.crumina.net/onetouch/wp-content/uploads/2012/12/tumblr_m6p161c56j1qdq19eo1_1280-390x180.jpg{else}http://theme.crumina.net/onetouch/wp-content/uploads/2012/11/tumblr_m3yj7gRlDS1qdq19eo1_1280-193x180.jpg{/if}" style="margin:0 0;" alt="{$item0.name}" title="{$item0.name}" >
					
				{/if}
				
			    
			    
			    </div>
			    <div class="description">
				<div class="title">
				    <!--<time>{lang category}</time>-->
				    <h4>{$item0.name}</h4>
				</div>
			    </div>
			    <a href="index.php?do=product&level=4&industryid={$item0.id}"></a>
			</div>
		    </li>
		  		     
		<!--{/loop}-->
	    
                
		
		
		
                                            
        </ul>
    </div>
    </div>

    <!--{literal}-->
    <script type="text/javascript">
        /*-----------------------------------------------------------------------------------

           Custom JS - All front-end jQuery

      -----------------------------------------------------------------------------------*/

        jQuery(document).ready(function($) {

            function portfolio_quicksand() {

                // Setting Up Our Variables
                var $filter;
                var $container;
                var $containerClone;
                var $filterLink;
                var $filteredItems

                // Set Our Filter
                $filter = $('.filter li.active a').attr('class');

                // Set Our Filter Link
                $filterLink = $('.filter li a');

                // Set Our Container
                $container = $('ul.filterable-grid');

                // Clone Our Container
                $containerClone = $container.clone();

                // Apply our Quicksand to work on a click function
                // for each for the filter li link elements
                $filterLink.click(function(e)
                {
                    // Remove the active class
                    $('.filter li').removeClass('active');

                    // Split each of the filter elements and override our filter
                    $filter = $(this).attr('class').split(' ');

                    // Apply the 'active' class to the clicked link
                    $(this).parent().addClass('active');

                    // If 'all' is selected, display all elements
                    // else output all items referenced to the data-type
                    if ($filter == 'all') {
                        $filteredItems = $containerClone.find('li');
                    }
                    else {
                        $filteredItems = $containerClone.find('li[data-type~=' + $filter + ']');
                    }

                    // Finally call the Quicksand function
                    $container.quicksand($filteredItems,
                            {
                                // The Duration for animation
                                duration: 750,
                                // the easing effect when animation
                                easing: 'easeInOutQuad'
                                // height adjustment becomes dynamic

                            });

                    //Initalize our PrettyPhoto Script When Filtered
                    $container.quicksand($filteredItems,
                            function () { lightbox(); }
                    );
                });
            }

            if(jQuery().quicksand) {
                portfolio_quicksand();
            }


        }); // END OF DOCUMENT
    </script>
    <!--{/literal}-->
    
    </div>
 
 
</div>
{/if}





<div class="row">
  <div class="fifteen columns with85" style="padding-left: 0">

    <div id="page-title" class="connect_ptitle" style="padding-left: 110px">

    <div class="super-main-category mainproductpage market">
		<div class="show-but">
			Chuyên mục chính
			
		</div>
		<a href="{the_url module='offer_main'}" class="show-but current-but market">
			.			
		</a>
		<br style="clear:both" />
		<div class="main-cat-content-out">
			<span class="pointer_topmenuz">.</span>
			<div class="main-cat-content"></div>
		</div>
	</div>    
    

    <div class="breadcrumbs"><a href="{$SiteUrl}">{lang home_page}</a> <span class="delim">/</span><a href="{the_url module=offer_main}">Thương mại</a></div>

    <h1 class="page-title">{$IndustryList.name}{if $smarty.get.student} - Dành cho sinh viên{/if}</h1>
    
  </div>

  </div>
</div>


<div class="ad_banner_item_hover"></div>
  
  
  {if $show_3_top_trades_banner == "1"}
	  <div class="row">
		<div class="wide_3_banners">
						<div style="display: block; height: 5px;">
						  <div class="ad_toggle_h2"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
						</div>
						<div class="works-list compage" style="padding: 0" >         
							<div class="ad_banner_item product_home_banner" pos="trade_home_top">
								Nhấn vào đây
								<br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
							</div>
							<div class="ad_banner_item product_home_banner" pos="trade_home_top_2">
								Nhấn vào đây
								<br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
							</div>
							<div class="ad_banner_item product_home_banner" pos="trade_home_top_3">
								Nhấn vào đây
								<br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
							</div>
							
							<iframe style="border: medium none;height: 252px;width: 101%;" src="http://marketonline.vn:3000/ad_positions/iframe_3_wide_banners?pos=trade_home_top" style="border: none;"></iframe>
	
						</div>
		</div>
	  </div>
	{/if}
    
<div class="row" style="height: 45px;">
  
        
      <div id="SearchList" class="connect_searchx" style="padding-left: 10px;position: absolute;top: {if $show_3_top_trades_banner == "1"}505{else}255{/if}px;">
	    <div  class="follow-scrollz">
      
        <input id="search_list_but" type="submit" value="{lang search}" />

        <div id="dataIndustry" style="display: none">
	    <select name="industry[id][4]" id="dataProductIndustryId1" class="level_4" ></select>
	    <select name="industry[id][3]" id="dataProductIndustryId3" class="level_3" ></select>	    
	    <select name="industry[id][2]" id="dataProductIndustryId2" class="level_2"></select>
	    <select name="industry[id][1]" id="dataProductIndustryId1" class="level_1" ></select>
	</div>
	
        <!--<label>{lang industry}&nbsp;&nbsp;</label>-->
        <input type="text" id="ProductName" name="q" value="{$keyword}" placeholder="Tìm kiếm (nhập tên, mã sản phẩm/dịch vụ)" />
	
	<h5><a href="javascript:void(0)" class="all_p"><span class="cat_title">Danh mục thương mại</span></a> <span class="product_list_title">
	  
	  
	</span></h5>
	
	<section style="background: none; width: 230px" class="widget-1 widget-first widget widget_nav_menu widget_recent_products nav-products-menu connect_menu" id="nav_menu-2">
	  <div class="widget-inner">
	   
	    <ul class="menu" id="menu-features-list" style="display: none">
	      
	      <!--{loop $IndustryList item0 level_0 key0}-->
		  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954" id="menu-item-954">
		    <a class="menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="javascript:void(0)">
		      {$item0.name}
		    </a>
		    {if $item0.sub}
		      <ul>
			<!--{loop $item0.sub level1 level_1_industry key_level1}-->
			  <li><a class="menu_lvl2" rel="{$level1.id}" content="<a rel='{$item0.id}' content='{$item0.name}' href='javascript:void(0)'>{$item0.name}</a> / {$level1.name}" href="javascript:void(0)">{$level1.name}</a>
			    {if $level1.sub}
			      <ul>
				<!--{loop $level1.sub level2 level_2_industry key_level2}-->
				  <li><a class="menu_lvl3" rel="{$level2.id}" content="<a rel='{$item0.id}' href='javascript:void(0)' content='{$item0.name}'>{$item0.name}</a> / <a rel='{$level1.id}' content='<a rel=&quot;{$item0.id}&quot; href=&quot;javascript:void(0)&quot; content=&quot;{$item0.name}&quot;>{$item0.name}</a> / {$level1.name}' href='javascript:void(0)'>{$level1.name}</a> / {$level2.name}" href="javascript:void(0)">{$level2.name}</a></li>
				<!--{/loop}-->
				<!--{if $level1.sub}--><li><a class="mback bmenu_lvl3" href="javascript:void(0)" back-id="{$item0.id}">{lang back}</a></li><!--{/if}-->
			      </ul>
			    {/if}
			  </li>
			<!--{/loop}-->
			<li class=""><a class="mback bmenu_lvl2" href="javascript:void(0)">{lang back}</a></li>
		      </ul>
		    {/if}
		  </li>
	      <!--{/loop}-->
	      
</ul>
	    
	    
	    
	    
	  
	  </div>
	
	
	</section>
	
	
        </div>
    </div>
		
		
</div>
  
  
<div class="row" id="containerz">
  <aside id="left-sidebar" class="four columns follow-scroll connect_menu">
   
	<div class="box-scroll connect_menu widget">
	      <div class="parent-menu-title">
		
	      </div>
	      <div class="s-scroll">
	      <div class="box-level1">
			<ul class="menu" id="menu-features-list">
			  <!--{loop $IndustryList.box1 item0 level_0 key0}-->
				{if $item0.count}
				  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level0_id} active{/if}" id="menu-item-954">
					<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=offers level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
					  {$item0.name} <span>{$item0.count}</span>
					</a>
				  </li>
				{/if}
			  <!--{/loop}-->
			</ul>
	      </div>
	    
	      <div class="box-level2">
		    <ul class="menu">
			<!--{loop $IndustryList.box2 item0 level_0 key0}-->
			  {if $item0.count}
				  <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.level1_id} active{/if}" id="menu-item-954">
					<a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=offers level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
					  {$item0.name} <span>{$item0.count}</span>
					</a>
				  </li>
			  {/if}
			<!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	      <div class="box-level3">
		    <ul class="menu">
				<!--{loop $IndustryList.box3 item0 level_0 key0}-->
				  {if $item0.count}
					<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.id} active{/if}" id="menu-item-954">
					  <a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=offers level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
						{$item0.name} <span>{$item0.count}</span>
					  </a>
					</li>
				  {/if}
				<!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	      <div class="box-level4">
		    <ul class="menu">
				<!--{loop $IndustryList.box4 item0 level_0 key0}-->
				  {if $item0.count}
					<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-916 current_page_item menu-item-954{if $item0.id == $IndustryList.id} active{/if}" id="menu-item-954">
					  <a class="item menu_lvl1" rel="{$item0.id}" content="{$item0.name}" href="{the_url module=offers level=`$item0.level` industryid=`$item0.id` title=`$item0.name` membergroup_id=`$smarty.get.membergroup_id`}">
						{$item0.name} <span>{$item0.count}</span>
					  </a>
					</li>
				  {/if}
				<!--{/loop}-->
		  <li class="liback"><a class="mback" href="javascript:void(0)">{lang back}</a></li>
		    </ul>
	      </div>
	      
	    </div>
	    </div>
	
	
	<section style="display: none" id="recent_products-3" class="widget-3 widget-last widget widget_recent_products ">
                <div class="widget-inner">
                    <h3>{lang friend_links}</h3>

				<ul>
					<!--{loop $Friends spacelink spacelink}-->
					<li><a href="space/?userid={$spacelink.username}&do=" target="_blank">{$spacelink.username}</a></li>
					<!--{/loop}-->
				</ul>

		</div></section>
   
   
  </aside>
  
  <div id="content" class="eleven columns" style="margin-top: -16px">
    <div id="main">


	  {if $show_1_top_trades_banner == "1"}
		  <div class="wide_1_banners">
				  <!--<div style="display: block; height: 5px;">
					  <div class="ad_toggle_h2" style="margin-top: -25px;"><a href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
				  </div>-->
				  <div style="overflow: hidden;float: left">
					  <div class="works-list compage" style="padding: 0">         
							<div class="ad_banner_item product_home_banner" pos="trade_category_main">
								  Nhấn vào đây
								  <br><span class="subtitle">Để đăng ký quảng cáo vị trí này</span>
							</div>
							
							
							<iframe scrolling="no" style="margin-top: 25px;border: medium none;height: 317px;width: 932px;margin-bottom: 0" src="http://marketonline.vn:3000/ad_positions/iframe_1_wide_banners?pos=trade_category_main&industry_id={$IndustryList.id}" style="border: none;"></iframe>
					  </div>
				  </div>
			  </div>
		  <div class="ad_toggle_h2" style="margin-top: -25px"><a style="position: relative;z-index: 100" href="#add_toggle" class="ad_toggle" target="_blank">Đăng Quảng Cáo</a></div>
	  
	  {/if}
      
      <div class="page-title">

    
    <div class="subtitle loplo" style="margin-top: 8px;">
        Thị trường thương mại{if $smarty.get.student} - Dành cho sinh viên{/if}</div>
    <h1 style="font-size: 18px;margin: 0;padding-top: 0px;" class="page-titlez mainhotnew">
      <!--<a id="new_product_but" class="hotnewlist" href="javascript:void(0)">{lang new_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      
      <!-- for sale -->
      <!--<a id="sale_product_but" class="hotnewlist" href="javascript:void(0)">Giảm giá/Khuyến mãi</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      
      <!--<a id="hot_product_but" class="hotnewlist" href="javascript:void(0)">{lang hot_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      
      <!-- for other -->
      <!--<a id="other_product_but" class="hotnewlist" href="javascript:void(0)">{lang other_product}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      
      <!--<a id="new_service_but" class="hotnewlist" href="javascript:void(0)">{lang services}</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      <!-- for offer -->
      <a id="new_offer_but" class="hotnewlist" href="javascript:void(0)">Tất cả</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="new_offer_but_buy" class="hotnewlist" href="javascript:void(0)">Nhu cầu mua</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="new_offer_but_sell" class="hotnewlist" href="javascript:void(0)">Nhu cầu bán</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="new_offer_but_pp" class="hotnewlist" href="javascript:void(0)">Phân phối</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="new_offer_but_partner" class="hotnewlist" href="javascript:void(0)">Tìm đối tác</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <!--<a id="sale_product_but" class="hotnewlist" href="javascript:void(0)">Giảm giá/Khuyến mãi</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      
      <!--<a id="recentbuy_product_but" class="hotnewlist" href="#list">{lang recent_buy}</a>-->
      
      </h1>


      <div class="postitem">
		  <!--{if $pb_username!=""}-->
		  <a class="ppiitteemm" target="_blank" href="{the_url module="redirect" url="/virtual-office/offer.php?do=edit"}">Đăng thương mại</a>
		  
		  
		  <!--{else}-->
		  <a class="comment_but ppiitteemm" target="_blank" href="#login-box" redirect="{the_url module="redirect" url="/virtual-office/offer.php?do=edit"}">Đăng thương mại</a>
		  
		  <!--{/if}-->
      </div>
    
    
  </div>
      
      

	  
	  <br class="clear" />
	  
	  
	  <!--<div style="float: left;
			padding-bottom: 20px;
			width: 100%;">
				<div style="border: solid 1px #aaa;background: #ccc none repeat scroll 0 0;
			float: left;
			height: 180px;
			width: 455px;">
		  <a target="_blank" title="Nhà cho thuê làm văn phòng giá rẻ - Q. Phú Nhuận" href="http://www.marketonline.vn/san-pham/59997/cho-thue-nha-nguyen-can">
			<img style="max-width: 100%; max-height: 100%" src="/images/banner/honganh/banner_1.png" />
		  </a>
		</div>
		<div style="border: solid 1px #aaa;background: #ccc none repeat scroll 0 0;
			float: right;
			height: 180px;
			width: 455px;">
		  <a target="_blank" title="Cung cấp sỉ lẻ mền cotton" href="http://www.marketonline.vn/minh-ngoc">
			<img style="max-width: 100%; max-height: 100%" src="/images/banner/honganh/banner_2.png" />
		  </a>
		</div>
	  </div>
	  
	  <br class="clear" />-->
	  
      
      <div class="product_listing level4 product_listing4">
	<div class="product_list_loading">
	  <img src="{$theme_img_path}/image/loading.gif" />
	</div>
      
      <!-- list ajax product -->
			<div id="list_product_ajax0" class="col_products">
			<ul class="products">
			   

			</ul>
			
			</div>
			<div id="list_product_ajax1" class="col_products">
			   <ul class="products">
			   
			   
			   </ul>
			   
			   
			</div>
			<div id="list_product_ajax2" class="col_products">
			   
			   <ul class="products">
			   
			   </ul>
			</div>

			
			<!--div id="list_product_ajax3" class="col_products">
			   <ul class="products">
			   
			   
			   
			   </ul>
			   
			   
			</div>
			
			<div id="list_product_ajax4" class="col_products">
			   <ul class="products">
			   
			   
			  
			   </ul>
			   
			   
			</div>-->
			
		
		<div class="clear"></div>

      </div>
      
      
    </div>
  </div>
</div>
  
  


  




  
  

  
</div></div>

  </div>

<script>
var cache_path = "";
var app_language = '{$AppLanguage}';
var area_id1 = {$item.area_id1|default:0} ;
var area_id2 = {$item.area_id2|default:0} ;
var area_id3 = {$item.area_id3|default:0} ;
var industry_id1 = {$item.industry_id1|default:0} ;
var industry_id2 = {$item.industry_id2|default:0} ;
var industry_id3 = {$item.industry_id3|default:0} ;
</script>
<script src="data/cache/{$JsLanguage}/locale.js" charset="{$charset}"></script>
<script src="scripts/multi_select.js" charset="{$charset}"></script>
<script src="scripts/script_area.js"></script>
<script src="scripts/script_industry.js"></script>

<!--{include file="`$theme_name`/footer_none.html"}-->


















