.newhome {
    position: relative;
}
.newhome-menus {
    margin: auto;
    padding: 10px;
    width: 1200px;
}
.newhome-menus .tabs-menu {
    margin-top: 10px;
    position: absolute;
}
.newhome-menus .tabs-menu ul {
    float: left;
    margin: 0;
    width: 100%;
}
.newhome-menus .tabs-menu ul li {
    float: left;
    font-size: 120%;
    list-style: outside none none;
    padding: 5px 20px;
}
.newhome-menus .tabs-menu ul li.main-title {
    background: none repeat scroll 0 0 #3b984c;
    color: #fff;
    height: 35px;
    text-align: center;
    width: 200px;
}
.newhome-menus .tabs-menu ul li a {
    color: #333;
}
.newhome-menus .main-menu {
    clear: both;
    position: absolute;
    top: 55px;
    width: 200px;
}
.newhome-menus .main-menu ul {
    
}
.newhome-menus .main-menu ul li {
    list-style: none;
}
.newhome-menus .main-menu ul li a {
    color: #333;
    display: block;
    padding: 0 10px;
}
.top-banners {
    background: none repeat scroll 0 0 #eee;
    height: 480px;
    position: absolute;
    top: 20px;
    width: 100%;
}
