.newhome {
    
}
.newhome-menus {
    margin: -675px auto auto;
    padding: 0 10px;
    width: 1200px;
}
.newhome-menus .tabs-menu {
    margin-top: 10px;
}
.newhome-menus .tabs-menu ul {
    float: left;
    margin: 0;
    width: 100%;
}
.newhome-menus .tabs-menu ul li {
    float: left;
    font-size: 120%;
    list-style: outside none none;
    padding: 5px 20px;
}
.newhome-menus .tabs-menu ul li.main-title {
    background: none repeat scroll 0 0 #3b984c;
    color: #fff;
    text-align: center;
    width: 200px;
}
.newhome-menus .tabs-menu ul li a {
    color: #333;
}
.newhome-menus .main-menu {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    width: 200px;
}
.newhome-menus .main-menu ul {
    
}
.newhome-menus .main-menu ul li {
    list-style: none;
}
.newhome-menus .main-menu ul li a {
    color: #333;
    display: block;
    height: 30px;
    line-height: 20px;
    padding: 5px 10px;
}
.top-banners {
    background: none repeat scroll 0 0 #eee;
    height: 630px;
    margin-top: 60px;
    width: 100%;
}
.top-banners {
    
}
.top-banners .right-banner {
    background: none repeat scroll 0 0 #ddd;
    height: 630px;
    margin: auto;
    padding-left: 210px;
    width: 1200px;
}
.top-banners .right-banner-inner {
    height: 630px;
    width: 990px;
    background: #ccc;
    position: relative;
    position: absolute;
}
.home-right-top-banner {
    background: none repeat scroll 0 0 #bbb;
    height: 380px;
    width: 100%;
}
.home-right-bottoms-products {
    background: none repeat scroll 0 0 #aaa;
    height: 250px;
    width: 100%;
}
.newhome-menus .main-menu ul li a:hover {
    background: #ddd;
}
    
