h1 {
   
}
h2 {
   
}
h3 {
   
}
h4 {
   
}
h5 {
   
}
h6 {
   
}
body {
   color: ;
}

a {
    color:;
}

a:hover {
    color:;
}

body {
}
#body-wrapper{
    }

#darkf {
}
.scroll-box .item.even .description{}

.scroll-box .item.even .description time{ }

.scroll-box .item.odd .description{}

.scroll-box .item.odd .description time{ }

.author_info .soc-icons {
   display:none
}
#director-page{
   background-color:;
   background-image:url();
}
#post-slider{
   background-color:;
   background-image:url();
}
#recent-projects{
   background-color:;
   background-image:url();
}
#demo-block{
   background-color:;
   background-image:url();
}
#topmenu .tiled-menu{float:right}