<div class="btn-group top_cart">
        <button onclick="window.location='{the_url module=root-url}index.php?do=product&action=add_cart'" aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle nobutton" type="button">
            <span aria-hidden="true" class="glyphicon glyphicons shopping_cart"></span>
            <div class="badge_outer">
                <span class="badge pull-right"></span>
            </div>
        </button>
        <!--<div role="menu" class="dropdown-menu toogle_list_box top_cart_content">
            <ul>
                <li class="noitem loading">Đang tải...</li>
            </ul>
        </div>-->
</div>