<!--<a class="main-but" href="#">
    <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
</a>-->
<div class="btn-group">
    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle nobutton" type="button">
        <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
    </button>
        <div role="menu" class="dropdown-menu toogle_list_box top_mailbox_content">
            <ul>
                <li class="noitem loading">Đang tải...</li>
            </ul>
        </div>
</div>