<div class="btn-group top-main-cats {$class}">
              <button class="btn btn-default current-top-menu" type="button">
                
              </button>
              <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                <span aria-hidden="true" class="glyphicon glyphicons show_lines top-menu-icon-button"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul role="menu" class="dropdown-menu">
                <li>
                  <a href="{the_url module='product_main'}">
                    <img class="img_icon img_product_icon" src="{the_url module=root-url}templates/default/image/product_bg.png" />
                    Sản phẩm
                  </a>
                </li>
                <li>
                  <a href="{the_url module='service_main'}">
                    <img class="img_icon img_service_icon" src="{the_url module=root-url}templates/default/image/service_bg.png" />
                    Dịch vụ
                  </a>
                </li>
                <li>
                  <a href="{the_url module='offer_main'}">
                    <img class="img_icon img_trade_icon" src="{the_url module=root-url}templates/default/image/trade_bg.png" />
                    Thương mại
                  </a>
                </li>
                <li>
                  <a href="{the_url module='companies'}">
                    <img class="img_icon img_company_icon" src="{the_url module=root-url}templates/default/image/brand_bg.png" />
                    Thương hiệu
                  </a>
                </li>
                <li>
                  <a href="{the_url module='jobs'}">
                    <img class="img_icon img_study_icon" src="{the_url module=root-url}templates/default/image/job_bg.png" />
                    Học và Làm
                  </a>
                </li>
                
              </ul>
              
            </div>