        <form class="navbar-left top-search-form" role="search">
            <div class="form-group">
              <!--<input id="top-search-input" style="" type="text" class="form-control" placeholder="Tên Gian hàng/Công ty/Chủ nhân/Email/...">-->
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span aria-hidden="true" class="top-search-type glyphicon glyphicons shop" rel="shop"></span>
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li rel="shop" icon-rel="shop" holder-rel="Tên Gian hàng/Công ty/Chủ nhân/Email/...">
                        <a href="#">
                          <span aria-hidden="true" class="glyphicon glyphicons shop"></span>
                          Tìm kiếm gian hàng
                        </a>
                      </li>
                      <li rel="product" icon-rel="fins" holder-rel="Tên sản phẩm/Mã sản phẩm/Tên Thương hiệu/...">
                        <a href="#">
                          <span aria-hidden="true" class="glyphicon glyphicons fins"></span>
                          Tìm kiếm sản phẩm
                        </a>
                      </li>                      
                    </ul>
                  </div><!-- /btn-group -->
                  <input id="top-search-input" placeholder="Tên Gian hàng/Công ty/Chủ nhân/Email/..." type="text" class="top-search-input form-control">
                </div><!-- /input-group -->
            </div>
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <div class="top-search-result-box" style="display: none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Kết quả tìm kiếm</h3>                  
                    </div>
                    <div class="panel-body">
                              <ul class="list-group nopadding">
                                <li class="list-group-item school-list">
                                    <a href="#">
                                        <img src="holder.js/60x60" class="img-responsive" alt="" />
                                        <h4>Đại Học Thái Nguyên</h4>
                                        <p class="more_info">TP.Hồ Chí Minh, Việt Nam</p>
                                    </a>
                                </li>
                                
                                <li class="list-group-item school-list">
                                    <a href="#">
                                        <img src="holder.js/60x60" class="img-responsive" alt="" />
                                        <h4>Đại Học Thái Nguyên</h4>
                                        <p class="more_info">TP.Hồ Chí Minh, Việt Nam</p>
                                    </a>
                                </li>
                                
                                <li class="list-group-item school-list">
                                    <a href="#">
                                        <img src="holder.js/60x60" class="img-responsive" alt="" />
                                        <h4>Đại Học Thái Nguyên</h4>
                                        <p class="more_info">TP.Hồ Chí Minh, Việt Nam</p>
                                    </a>
                                </li>
                                
                              </ul>
                    </div>
                </div>
            </div>
        </form>
        
        