    
    <div id="chat-frame"></div>
    <div style="display:none">
        <iframe name="uploadChatImage_frame" id="uploadChatImage_frame" style="display: none"></iframe>
            <form target="uploadChatImage_frame" name="productaddfrm" id="uploadChatImage" method="post" action="{$WebRootUrl}index.php?do=product&action=uploadChatImage" enctype="multipart/form-data">
              <!-- {formhash} -->
              <input type="hidden" name="chatbox_id" value="" />
              <p><input accept="image/*" type="file" name="uploadChatImage" id="uploadChatImage_but" onchange="$('#uploadChatImage').submit()" /></p>
    
            </form>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{the_url module=root-url}{$theme_img_path}modern/bootstrap/js/bootstrap.min.js"></script>
    
    {literal}
        <script type="text/javascript">        
            $(document).ready(function() {
                
                {/literal}{if $pb_userinfo}{literal}
                
                    //AUO SCRIPTS
                    //Load Top Mailbox
                    ajaxTopMailbox();
                    //Load Top Chat
                    ajaxTopChatbox();
                    
                    //chatboxs
                    {/literal}
                        {if $pb_username!=""}
                            {literal}
                                setInterval(function(){ updateChatboxNew(); }, 15000);
                            {/literal}
                            
                            {loop $chatboxsnew item level key}
                                {if $item != ''}
                                    getChatboxNew("{$item}", true);
                                {/if}
                            {/loop}
                        {/if}
                    {literal}
                    
                    
                    //COMPANY CLICK COUNT
                    {/literal}
                        {if $pb_company.id}
                            getTopCompanyStatistic('{$pb_company.id}');
                        {/if}
                    {literal}
                    
                    $('.top_statistic').click(function() {
                        {/literal}
                            {if $pb_company.id}
                                refreshTopCompanyStatistic('{$pb_company.id}');
                            {/if}
                        {literal}
                    });
                    
                    //GET TOP CART
                    getTopCart();
                    
                {/literal}{/if}{literal}
            });
        </script>
    {/literal}
    
  </body>
</html>
