    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div class="mobile-top-menu">
            <a class="navbar-brand mobile-logo" href="{the_url module=root-url}">
              <img alt="50x50" src="{the_url module=root-url}images/LOGO_35_trans.png" />
            </a>
            
            <!--{include file="`$theme_name`/modern/_top_main_cats_menu.html"}-->
            
            <!--{include file="`$theme_name`/modern/_top_search.html"}-->
            
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand top-logo mobile-hide" href="{the_url module=root-url}">
            <img alt="50x50" src="{the_url module=root-url}images/LOGO_35_trans.png" />
          </a>
          
          <!--{include file="`$theme_name`/modern/_top_main_cats_menu.html" class=" mobile-hide"}-->
          
          
          <div class="second-top-bar">
            
            <!--{include file="`$theme_name`/modern/_top_setting_menu.html"}-->
            
            
            <ul class="nav navbar-right">
                
              <!--{if $pb_username!=""}-->
                  <li class="navli-icon top-cart">
                    <!--{include file="`$theme_name`/modern/_top_cart.html"}-->
                  </li>                  
                  <li class="navli-icon">
                    <!--{include file="`$theme_name`/modern/_top_statistic.html"}-->
                  </li>
                  <li class="navli-icon top-chat-menu">
                    <!--{include file="`$theme_name`/modern/_top_chatbox.html"}-->                    
                  </li>
                  <li class="navli-icon">
                    <!--{include file="`$theme_name`/modern/_top_mailbox.html"}-->
                  </li>
                  <li class="login-info">
                    <!--{include file="`$theme_name`/modern/_top_page_link.html"}-->  
                  </li>
                  <li>
                    <!--{include file="`$theme_name`/modern/_top_home_link.html"}-->
                  </li>
                  
              <!--{else}-->
          
                    <li class="navli-icon">
                      <a class="main-but" href="{the_url module=login redirect=`$current_address_encoded`}">
                        Đăng nhập
                      </a>
                    </li>
                    <li class="navli-icon">
                      {if $smarty.get.do == "employee"}
                          <a class="main-but" href="{the_url module=register typename=Employee}">{lang register_now}</a>	    
                      {elseif $smarty.get.do == "job"}
                          <a class="main-but" href="{the_url module=register typename=Employer}">{lang register_now}</a>	    
                      {elseif $smarty.get.do == "studypost"}
                          <a class="main-but" href="{the_url module=register typename=Learner}">{lang register_now}</a>
                      {else}
                          <a class="main-but" href="{the_url module=register}">{lang register_now}</a>
                      {/if}
                    </li>
              
              <!--{/if}-->
              
            </ul>
            
        </div>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class=""><a href="{the_url module=root-url}lien-he">Liên hệ / Trợ giúp</a></li>
          </ul>
          
          <!--{include file="`$theme_name`/modern/_top_search.html"}-->
          
        
          
          
          <!--{if $pb_username!=""}-->

              <ul class="nav navbar-nav navbar-right">                
                <li class="navli-icon top-cart mobile-hide">
                    <!--{include file="`$theme_name`/modern/_top_cart.html"}-->
                </li>
                
                <li class="navli-icon mobile-hide">
                    <!--{include file="`$theme_name`/modern/_top_statistic.html"}-->
                </li>
                <li class="navli-icon mobile-hide top-chat-menu">
                    <!--{include file="`$theme_name`/modern/_top_chatbox.html"}-->
                </li>
                <li class="navli-icon mobile-hide top-mailbox-menu">                  
                    <!--{include file="`$theme_name`/modern/_top_mailbox.html"}-->
                </li>
                <li class="login-info mobile-hide">
                    <!--{include file="`$theme_name`/modern/_top_page_link.html"}-->                               
                </li>
                <li class="mobile-hide">
                    <!--{include file="`$theme_name`/modern/_top_home_link.html"}-->                                    
                </li>
                <li>                  
                  <!--{include file="`$theme_name`/modern/_top_setting_menu.html"}-->                  
                </li>

              </ul>
          
          <!--{else}-->
          
          
            <ul class="nav navbar-nav navbar-right">
                <li class="navli-icon">
                  <a class="main-but" href="{the_url module=login redirect=`$current_address_encoded`}">
                    Đăng nhập
                  </a>
                </li>
                <li class="navli-icon">
                  {if $smarty.get.do == "employee"}
                      <a class="main-but" href="{the_url module=register typename=Employee}">{lang register_now}</a>	    
                  {elseif $smarty.get.do == "job"}
                      <a class="main-but" href="{the_url module=register typename=Employer}">{lang register_now}</a>	    
                  {elseif $smarty.get.do == "studypost"}
                      <a class="main-but" href="{the_url module=register typename=Learner}">{lang register_now}</a>
                  {else}
                      <a class="main-but" href="{the_url module=register}">{lang register_now}</a>
                  {/if}
                </li>
            </ul>
          
          
          <!--{/if}-->
          
          
          
        </div><!-- /.nav-collapse -->
      </div>
    </nav>