    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img alt="50x50" src="http://marketonline.vn/attachment/2014/02/12/company-logo-479.jpg.small.jpg" />
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">Liên hệ</a></li>
            <li><a href="#about">Trợ giúp</a></li>
          </ul>
          <form class="navbar-form navbar-left top-search-form" role="search">
            <div class="form-group">
              <!--<input id="top-search-input" style="" type="text" class="form-control" placeholder="Tên Gian hàng/Công ty/Chủ nhân/Email/...">-->
                <div class="input-group">
                  <div class="input-group-btn top-search-type">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="#">
                          <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
                          Tìm kiếm gian hàng
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
                          Tìm kiếm sản phẩm
                        </a>
                      </li>                      
                    </ul>
                  </div><!-- /btn-group -->
                  <input id="top-search-input" placeholder="Tên Gian hàng/Công ty/Chủ nhân/Email/..." type="text" class="form-control">
                </div><!-- /input-group -->
            </div>
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="navli-icon top-cart">
              <a href="#">
                <span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span>
              </a>
            </li>
            <li class="login-info">
              <a href="#">
                <img alt="50x50" src="http://marketonline.vn/attachment/2014/02/12/company-logo-479.jpg.small.jpg" />
                Shop Market Online
              </a>
            </li>
            <li class="navli-icon">
              <a href="#">
                <span aria-hidden="true" class="glyphicon glyphicon-signal"></span>
              </a>
            </li>
            <li class="navli-icon">
              <a href="#">
                <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
              </a>
            </li>
            <li class="navli-icon">
              <a href="#">
                <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
              </a>
            </li>
            <li><a href="#">Trang chủ</a></li>
            <li class="navli-icon top-setting">
              <a href="#">
                <span aria-hidden="true" class="glyphicon glyphicon-tasks"></span>
              </a>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </nav>