<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    <script type='text/javascript' src='{$theme_img_path}js/jquery.js?ver=1.8.3'></script>
    
<!--{literal}-->
<script type="application/x-javascript">
    var idd = 22;
    function startImport() {
        //code
	if (idd <= 273)
	{
	    jQuery.ajax({
			url: "index.php?do=product&action=importAjax&id="+idd,
		    }).done(function ( data ) {
			    if( console && console.log ) {
				    idd++;
				    //alert(data);
				    jQuery('#result').append(data+"<br />");
				    startImport();
			    }
		    });
	}
    }
</script>
<!--{/literal}-->

</head>

<body>

<input type="button" id="import" value="Import" onclick="startImport();" />

<div id="result"></div>

</body>
</html>
