<a class="cart_link" href="javascript:void(0)">{if $count} <span class="outcount"><span id="cart_count">{$count}</span></span>{/if}</a>


<div class="row item_rows cart_ajax" style="display: none">

	
    
{if $count}
	<form name="offer_list_frm" id="cart">
				<input type='hidden' name="do" value="product" />
				<input type='hidden' name="action" value="add_cart" />
				<input type='hidden' id="task" name="task" value="update" />
				<input type='hidden' id="cartitemid" name="cartitemid" value="" />
				<table width="68%">
					<tr>
						<th width="8%">{lang picture}</th>
						<th style="text-align: left;">{lang product}</th>
						
						<th></th>
						
						<th width="20%">{lang sum_price} (VNĐ)</th>
						<h></h>
						
					</tr>
					<!--{loop $StickyItems shop sticky_offer}-->
						<tr>
							<td colspan=5 style="background: #efefef">
								<a href="{the_url module=space userid=`$shop.space_name`}">{$shop.shop_name}</a>
							</td>
						</tr>
													
							<!--{loop $shop.items sticky sticky_offer}-->
							<tr>
							<td class="offer_img"><img src="{$sticky.image}" border=0 alt="{$sticky.title}"></td>
							<td class="title_link">
								<a href="{the_url module=product id=`$sticky.p_id`}" title="{$sticky.p_name}">{$sticky.p_name} </a>
													
							</td>
							
							<td>x{$sticky.quantity}</td>

							<td align=right style="text-align: right;">{$sticky.p_total}</td>
							<td><input  class="cart_remove" onclick="removeCartItem({$sticky.id}, this, '{$sticky.p_total}');" type="button" value="{lang remove}" /></td>
							
							</tr>
							<!--{/loop}-->
							<tr>
								<td colspan=3 align=right style="text-align: right;">{lang total}</td>
								<td colspan=2 align=right style="text-align: right;"><span id="cart_total">{$shop.total}</span> VNĐ</td>
							</tr>
							
						
					<!--{/loop}-->
							<tr>
								<td colspan=5 align=right style="text-align: right;">
									
									
									<input name="checkout" class="checkout_but go_cart" onclick="window.location='index.php?do=product&action=add_cart'"  type="button" value="{lang go_to_cart}" />
										
								</td>								
							</tr>
				</table>
			</form>

		

	
{else}
					<form name="offer_list_frm" id="cart">
					    
					    <table width="100%">
					<tr>
						<td>
			<p style="text-align: center; margin-top: 10px;">{lang cart_empty}</p>
						</td>
					</form>
			
{/if}
    
    
    
    
    
    
    
    
</div>









