<div id="sendbox">
    <div class="content">
        <h1>{lang pls_click_the_link_to_active_first} '{$username}' {lang pls_click_the_link_to_active_last}</h1>
        <div>
		<p><a style="text-decoration: none" href="{$SiteUrl}pending.php?new_user_id={$new_user_id}&do=member&action=activate&hash={$hash}"><strong style="font-size: 18px;">{lang click_here}</strong></a> {lang active_and_expired}.</p>

		<p><a style="text-decoration: none" href="{$SiteUrl}pending.php?new_user_id={$new_user_id}&do=member&action=activate&hash={$hash}">{$SiteUrl}pending.php?new_user_id={$new_user_id}&do=member&action=activate&hash={$hash}</a></p>
	</div>
    </div>
    <div class="info">

    </div>
</div>