body {
    padding-top: 0;
    background-color: #edf4ef;
}
.navbar-inverse {
    background-color: #3b984c;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.top-nav-cover {
    height: 50px;
}
.navbar-inverse .navbar-toggle {
    border: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li:hover > a {
    background-color: rgba(255,255,255,0.3);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: rgba(255,255,255,0.3);
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(255,255,255,0.3);
}
.sidebar-nav {
    padding-top: 15px;
}
.sidebar-nav li.sidebar-menu a {
    padding-bottom: 8px;
}
.sidebar-nav li.sidebar-menu .color-point {
    display: inline-block;
    height: 40px;
    margin-bottom: -15px;
    margin-right: 10px;
    margin-top: 8px;
    width: 40px;
    background-position: center -10px;
    background-size: 55px auto;
}
.sidebar-nav li.sidebar-menu-product .color-point {
    background-color: #1acfac;
    background-image: url('../img/product_bg.png');
}
.sidebar-nav li.sidebar-menu-service .color-point {
    background-color: #ffa544;
    background-image: url('../img/service_bg.png');
}
.sidebar-nav li.sidebar-menu-trade .color-point {
    background-color: #57BAE8;
    background-image: url('../img/trade_bg.png');
}
.sidebar-nav li.sidebar-menu-company .color-point {
    background-color: #fe7477;
    background-image: url('../img/brand_bg.png');
    background-size: 50px auto;
}
.sidebar-nav li.sidebar-menu-job .color-point {
    background-color: #7ad04d;
    background-image: url('../img/job_bg.png');
    background-size: 50px auto;
}
.leftbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 8px;
    padding: 1px 10px 0;
}
.leftbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background: #fff;
    margin-bottom: 4px;
}
.leftbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
}
.logo-sidebar img {
    margin-bottom: 10px;
    width: 190px;
}
.sidebar-nav .divider {
    background-color: #222;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.custome-navbar-toggle {
    color: #fff;
    font-size: 24px;
    margin: 7px 5px 0 0;
    padding: 3px 5px 0;
}
.custome-navbar-toggle:hover, .custome-navbar-toggle:focus, .custome-navbar-toggle:active {
    background: none !important;
}
.top-register-box {
    float: right;
    margin-right: 15px;
}
.top-register-box li {
    float: left;
}
.top-register-box li a {
    padding-bottom: 7px;
    padding-top: 7px;
}
.navbar-nav .divider {
    background-color: rgba(255,255,255,0.3);
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.mobile-horizon-slider {
    display: block;
    float: left;
    overflow: auto;
    width: 100%;
    margin-bottom: 20px;
}
.mobile-horizon-slider ul {
    float: left;
    padding: 0;
    width: 999999px;
    position: relative;
}
.mobile-horizon-slider ul li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    font-size: 80%;
    list-style: outside none none;
    margin-right: 8px;
    padding: 4px;
    width: 130px;
    height: 190px;
    overflow: hidden;
}
.ad_slider ul li {
    height: 155px;
}
a.crop-img-square {
    overflow: hidden;
    display: block;
    max-height: 120px;
    
}
.mobile-horizon-slider ul li a.title {
    display: block;
    margin-top: 5px;
    text-align: center;
    color: #333;
    height: 17px;
    overflow: hidden;
}
.mobile-horizon-slider ul li a img {
    width: 100%;
}
.mobile-horizon-slider ul {
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}
.navbar-brand {
    padding: 15px 8px;
}
#page-content-wrapper.home-page {
    background: none repeat scroll 0 0 #edf4ef;
    padding: 0;
    z-index: 10;
    max-width: 100%;
    overflow-x: hidden;
}
.mobile-horizon-slider-title h4 {
    float: left;
    margin-top: 20px;
}
.mobile-horizon-slider-title a.view-more {
    float: right;
    margin-top: 25px;
}
.top-register-box li a {
    padding: 7px 0;
    margin-left: 15px;
}
.top-register-box li:hover a {
    background: none !important;
}
.footer {
    padding: 10px;
}
.footer-menu {
    margin-bottom: 2px;
    text-align: center;
    padding: 0;
}
.footer-menu li {
    border-right: 1px solid #ccc;
    display: inline;
    list-style: outside none none;
    padding: 0 1px 0 5px;
}
.footer-menu li:last-child {
    border: 0;
}
.footer-menu li a {
    color: #555;
}
#page-content-wrapper {
    width: 100%;
}
#company_info {
    padding-top: 10px;
}
#company_info p {
    margin: 0;
    text-align:center;
}
.price-block {
    text-align: center;
}
.old_price {
    text-decoration: line-through;
    color: #bf0000;
}
.fixed-tab-top {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #1acfac;
    position: fixed;
    width: 100%;
    overflow: auto;
}
.fixed-tab-top .nav-pills > li > a {
    border-radius: 0;
    color: #333;
}
.fixed-tab-top.product-tabs .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #1acfac;
    color: #fff;
}
.service-page .fixed-tab-top.product-tabs .nav-pills > li.active > a, .service-page .nav-pills > li.active > a:focus, .service-page .nav-pills > li.active > a:hover {
    background-color: #ffa544;
}
.ajax-list-container {
    background: #fff;
}
.fixed-tab-top .nav > li > a {
    padding: 8px 10px;
}
.ajax-list {
}
.ajax-list ul {
    padding: 0;
    margin: 0;
}
.ajax-list ul li {
    border-bottom: 1px solid #eee;
    list-style: outside none none;
    min-height: 141px;
    padding: 5px;
    font-size: 90%;
}
.ajax-list ul li a.img-box img {
    display: inline-block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.ajax-list ul li a {
    
}
.ajax-list ul li a.title {
    font-size: 100%;
    color: #333;
}
.ajax-list ul li a.img-box {
    border: 1px solid #eee;
    display: table-cell;
    float: left;
    height: 130px;
    line-height: 126px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}
.ajax-list ul li .info {
    
}
.ajax-list ul li .price-box {
    float: right;
    margin-left: 15px;
    height: 130px;
    text-align: center;
    max-width: 30%;
}
.list-loading {
    background: url("../img/list-loading.gif") no-repeat scroll center center #fff;
    height: 150px;
    width: 100%;
    opacity: 0.9;
}
.top-second-cover {
    height: 37px;
}
.fixed-filter-top {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #edf4ef;
    border-top: 1px solid #edf4ef;
    height: 34px;
    margin: 0;
    position: fixed;
    width: 100%;
}
.fixed-filter-top input[type="text"] {
    border: 0 none;
    height: 29px;
    padding: 0 10px;
    width: 100%;
}
.top-filter-cover {
    height: 34px;
}
.fixed-filter-top label {
    font-weight: normal;
    height: 29px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
}
.cat-filter-but {
    border: 0 none;
    border-radius: 0;
    height: 32px;
    line-height: 24px;
    max-width: 100%;
    overflow: auto;
    padding: 5px 5px 5px 42px;
    text-align: left;
}
.cat-filter-but-group {
    position: absolute;
    z-index: 20;
    max-width: 100%;
}
.cats-list-box {
    background: #edf4ef;
    position: fixed;
    border-bottom: 1px solid #eee;
    max-height: 300px;
    padding: 5px;
    width: 100%;
    width: 100%;
    z-index: 10;
    overflow: auto;
}
.cats-list {
}
.cats-list-cover {
    height: 299px;
}
.cats-list ul {
    margin-bottom: 5px;
}
.cats-list ul li a {
    color: #333;
}
.cats-list-caret {
    border-width: 7px 6px 0;
    
}
.cats-list-caret-but {
    border-left: 1px solid #ddd;
    display: block;
    height: 41px;
    padding: 10px 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
}

.list-group-item.child-item {
}
.list-group-item.child-item .border-line {
    background: none repeat scroll 0 0 #1acfac;
    display: block;
    float: left;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
    z-index: 100;
}
.cats-list-icon {
    background: none repeat scroll 0 0 #fff;
    display: block;
    float: left;
    font-size: 24px;
    padding: 2px 2px 0 10px;
    position: absolute;
}
.cat-filter-items .cat-filter-item {
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 1px #ddd;
    display: inline-block;
}
.cat-filter-items .cat-filter-item:last-child {
    margin-right: 0;
}
.cat-filter-but:hover {
    background: none;
}
.cats-list-box .list-group-item {
    padding-left: 0;
    padding-right: 0;
}
.cats-list-box ul ul {
    margin: 10px -1px -11px;
}
.list-group-item .border-line, .list-group-item .border-line2, .list-group-item .border-line3, .list-group-item .border-line4 {
    background: none repeat scroll 0 0 #1acfac;
    display: block;
    float: left;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 100;
}
.list-group-item.level-0 a {
    padding-left: 20px;
}
.list-group-item.level-1 a {
    padding-left: 30px;
}
.list-group-item.level-2 a {
    padding-left: 40px;
}
.list-group-item.level-3 a {
    padding-left: 50px;
}
.list-group-item.level-4 a {
    padding-left: 60px;
}

.list-group-item .border-line {

}
.list-group-item .border-line2 {
    margin-left: 8px;
}
.list-group-item .border-line3 {
    margin-left: 16px;
}
.list-group-item .border-line4 {
    margin-left: 24px;
}
.cats-list-caret-but.loading {
    background: url("../img/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.cats-list-caret-but.loading span {
    border: none;
}
.product-title {
    background: none repeat scroll 0 0 #fff;
    padding: 8px 10px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin-top: 0;
}
.product-title h4 {
    font-size: 90%;
    font-weight: 700;
    margin: 0 0 4px;
}
.product-title h1 {
    font-size: 150%;
    margin: 0;
}
.mobile-product-gallery {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
}
.mobile-product-gallery ul {
    padding: 0;
}
.mobile-product-gallery ul li {
    display: inline-block;
    height: 500px;
    line-height: 500px;
    list-style: outside none none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background: #eee;
}
.mobile-product-gallery ul li a {
    
}
.mobile-product-gallery ul li a img {
    max-height: 100%;
    max-width: 100%;
}
.mobile-product-gallery .pointers {
    margin-left: -10px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.mobile-product-gallery .pointers .pointer {
    background: none repeat scroll 0 0 #aaa;
    border-radius: 10px;
    display: inline-block;
    height: 5px;
    margin: 5px;
    width: 5px;
}
.mobile-product-gallery .pointers .pointer.active {
    background: #333;
}
.mobile-product-info {
    background: none repeat scroll 0 0 #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
    margin-top: 0;
    padding: 10px;
}
.summary .title_disc {
    display: inline-block;
    min-width: 150px;
    font-weight: 700;
}
.summary .top_left_info p {
    
}
.summary .quantity {
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: -90000px;
}
.summary .keywords {
    line-height: 100%;
    padding-top: 10px;
}
#quantity {
    width: 100px;
    text-align: center;
}
.mobile-shop-info {
    background: #fff;
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    margin-top: 5px;
}
.logo_box_u img {
    border: 1px solid #ddd;
    float: left;
    margin-right: ;
    width: 25%;
}
.red_box {
    width: 70%;
    float: right;
}
.mobile-shop-info .shop_name {
    margin-top: 0;
}
.mobile-shop-info .seller-title {
    font-size: 130%;
    font-weight: 700;
    margin: 0 0 10px;
}
.mobile-product-desc {
    background: #fff;
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    margin-top: 5px;
}
.mobile-product-desc * {
    max-width: 100%;
}
.mobile-product-desc h2 {
    margin-top: 0;
}
.pointer-left {
    background: none repeat scroll 0 0 #fff;
    font-size: 200%;
    left: 10px;
    opacity: 0.7;
    padding: 5px 2px;
    position: absolute;
    top: 45%;
}
.pointer-right {
    background: none repeat scroll 0 0 #fff;
    font-size: 200%;
    right: 10px;
    opacity: 0.7;
    padding: 5px 2px;
    position: absolute;
    top: 45%;
}
.mobile-product-infobox-title {
    font-size: 130%;
    margin: 15px 0 -2px 5px;
    font-weight: 700;
}
.related_products {
    background: #fff;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    margin-top: 5px;
}
.cart-items .table {
    margin: 0;
    max-width: none;
    width: 100%;
}
.cart-items {
    padding: 10px;
    background: #fff;
    border-bottom: solid 1px #ddd;
}
.cart-items h1 {
    margin:0 10px 10px;
}
.cart-picture-cols {
    
}
.cart-picture-cols a {
    border: 1px solid #ddd;
    display: inline-block;
    height: 70px;
    line-height: 66px;
    text-align: center;
    vertical-align: middle;
    width: 70px;
}
.cart-picture-cols img {
    max-height: 100%;
    max-width: 100%;
}
.quantity_val {
    height: 36px;
    position: absolute;
    text-align: center;
    width: 48px;
    padding-right: 5px;
    font-size: 120%;
}
.quantity_sel {
    display: block;
    height: 36px;
    position: absolute;
    text-align: center;
    width: 66px;
    padding-right: 5px;
    font-size: 120%;
}
.quantity_but {
    margin-top: 40px;
    padding: 10px 5px;
}
.shop-info-line-cart {
    background: none repeat scroll 0 0 #eee;
}
.shop-info-line-cart td {
    padding: 5px 10px !important;
}
.shop-info-line-cart td a {
}
.cart-line-name a {
    color: #333;
}
.checkout_but {
    margin-right: 0;
}
.buy_methods {
    background: #fff;
    padding: 10px;
}
.buy_methods .nav-justified li strong {
    font-size: 130%;
}
.count_badge_outer {
    display: block;
    margin-left: -11px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 100;
}
.count_badge_outer .badge {
    font-size: 11px;
    background: #b92c28;
}
.logging-box {
    padding: 10px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}
.logging-box h1 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 25px;

}
.logging-box label {
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin-top: 15px;
}
.logging-box input[type="text"], .logging-box input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border-color: #aaa;
    margin-bottom: 5px;
}
input.error {
    border-color: #b92c28 !important;
}
label.error {
    color: #b92c28;
    margin: 0;
}
.logging-box input[type="submit"] {
    display: block;
    margin-top: 15px;
    width: 100%;
}
.logging_actions {
    margin-top: 10px;
}
.meminfo-box {
    
}
.page-inner {
    padding: 20px 15px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}
.page-inner h1 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 25px;

}
.meminfo-box .panel {
    margin: 0 -10px;
    margin-bottom: 10px;
}
.meminfo-box input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border-color: #aaa;
    margin-bottom: 5px;
}
.input-group label {
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin-top: 0;
    font-size: 90%;
}
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.meminfo-box input[type="submit"] {
    width: 100%;
}
.info-2line-group p label {
    display: block;
    float: left;
    left: 0;
    position: absolute;
}
.info-2line-group p {
    padding-left: 140px;
    position: relative;
    min-height: 18px;
    word-wrap: break-word;
}
.meminfo_but {
    width: 100%;
    margin-top: 10px;
}
.info-2line-group.line-small p {
    padding-left: 100px;
}
.info-2line-group.line-xsmall p {
    padding-left: 80px;
}
.info-2line-group.line-normal p {
    padding-left: 120px;
}
.custome-navbar-toggle:hover, .custome-navbar-toggle:focus, .custome-navbar-toggle:active {
    color: #333 !important;
}
#search-panel {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ddd;
    height: 57px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block !important;
}
#search-panel .input-group {
    background: none repeat scroll 0 0 #fff;
    margin: 0;
    padding: 8px 5px;
    width: 100%;
}
#search-panel .form-group {
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    width: 100%;
    z-index: 2000;
    visibility: visible;
}
.search-toggle {
    display: none;
}
#search-panel {
    overflow: hidden;
}
#search-panel button, #search-panel input {
    border: 0 none;
    border-radius: 4px;
}
#search-panel .input-group-btn {
    padding: 0;
    position: absolute;
    z-index: 10;
}
#search-panel .input-group-btn .btn {
    border-color: #aaa;
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: 40px;
    padding: 6px;
}
#search-panel input {
    border: 1px solid #aaa;
    height: 40px;
    padding: 10px 0 10px 50px;
    width: 100%;
}
#search-panel .glyphicon {
    font-size: 22px;
}
#search-panel .dropdown-menu li a {
    padding: 2px 10px;
}
.top-search-result-box {
    margin-top: -1px;
    width: 100%;
}
.top-search-result-box .panel {
    border-radius: 0;
}
.top-search-result-box .panel-body {
    border-radius: 4px 4px 0 0;
    overflow-y: auto;
    padding: 0;
}
.top-search-result-box .panel-heading {
    padding: 5px 10px;
}
.top-search-result-box .panel-title {
    font-size: 14px;
}
.top-search-result-box .list-group {
    margin-bottom: 0;
}
.top-search-result-box .list-group li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ddd;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
    margin: 0;
    padding: 5px;
}
.top-search-result-box .list-group li:last-child {
    border-bottom: 0;
}
.top-search-result-box .list-group li:hover {
    background-color: #f8f8f8;
}
.top-search-result-box .list-group li .ajax-list-img-box {
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 56px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.top-search-result-box .list-group li .ajax-list-img-box img {
    display: inline;
}
.top-search-result-box .list-group li a {
    color: #333;
    display: block;
    height: 60px;
    overflow: hidden;
}
.top-search-result-box .list-group li a:hover {
    text-decoration: none;
}
.top-search-result-box .list-group li p {
    margin: 0;
}
.top-search-result-box .list-group li h4 {
    font-size: 18px;
    height: 21px;
    margin: 0;
    overflow: hidden;
}
.top-search-result-box .list-group li .more_info {

}
.search-loading {
    height: 50px;
    text-indent: -9000px;
    width: 100%;
    background: url("../img/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.top-search-more {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    bottom: -11px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    width: 100%;
    color: #333;
    left: 0;
}
.keyword_title .glyphicon-remove {
    color: #b92c28;
}
.top-search-bg {
    background: none repeat scroll 0 0 #3b984c;
    border-radius: 0 4px 4px 0;
    color: rgba(255, 255, 255, 0.9);
    height: 40px;
    padding: 4px 10px;
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 3;
}
#search-panel input {
    font-size: 85%;
    box-shadow: none;
}
.service-page .fixed-tab-top {
    border-bottom: 1px solid #ffa544;
}
.offer-page .fixed-tab-top.product-tabs .nav-pills > li.active > a, .offer-page .nav-pills > li.active > a:focus, .offer-page .nav-pills > li.active > a:hover {
    background-color: #57bae8;
}
.offer-page .fixed-tab-top {
    border-bottom: 1px solid #57bae8;
}
.product-page .navbar-inverse {
    background-color: #1acfac;
}
.offer-page .navbar-inverse {
    background-color: #57bae8;
}
.service-page .navbar-inverse {
    background-color: #ffa544;
}
.shop_top_info .banners ul {
    padding: 0;
    margin: 0;
}
.shop_top_info .banners ul li {
    list-style: none;
}
.shop_top_info .banners ul li img, .shop_top_info .banners .noiimage {
    width: 100%;
    height: 200px;
    background: #ddd;
}
.shop_top_info .banners ul{
    height: 220px;
}
.shop_top_info .banners ul li {    
    position: absolute;
    width: 100%;
    height: 220px;
}
.shop_top_info .banners ul li img {
    
}
.shop_top_info .logo_title {
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* Standard syntax */
    bottom: 0;
    height: 100px;
    left: 0;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: auto
}
.shop_top_info .logo_title .logo img {
    border: 1px solid #ddd;
    float: left;
    width: 80px;
    margin-right: 5px;
}
.shop_top_info .head {
    position: relative;
}
#top_company_info {
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    width: 150%;
}
#top_company_info h3 {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}
#top_company_info p {
    line-height: normal;
    font-size: 100%;
}
#top_company_info label {
    margin: 0;
}
#top_company_info a {
    color: #fff;
}
#top_company_info span {
    display: block;
    font-size: 100%;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    word-break: break-all;
}
#top_company_info .com_name {
    display: block;
    font-size: 110%;
    margin-bottom: 5px;
    padding: 0;
}
.shop-nav {
    background: none repeat scroll 0 0 #3b984c;
    border-bottom: 1px solid #fff;
    height: 41px;
    overflow: auto;
}
.shop-nav ul {
    width: 700px;
}
.shop-nav ul li {
    margin: 0;
    
}
.shop-nav ul li a {
    background: rgba(255,255,255,0.1);
}
.shop-nav ul li.active {
    
}
.shop-nav ul li a {
    color: #fff;
}
.shop-nav .nav-pills > li > a {
    border-radius: 0;
}
.shop-nav .nav-pills > li > a:hover, .shop-nav .nav-pills > li > a:focus {
    background: rgba(255,255,255,0.5);
}
.shop-nav .nav-pills > li.active > a, .shop-nav .nav-pills > li.active > a:focus, .shop-nav .nav-pills > li.active > a:hover {
    background: rgba(255,255,255,0.8);
    color: #333;
}
.space-product-tabs {
    background: #3b984c;
    overflow: auto;
}
.space-product-tabs ul {
    width: 100%;
    background: rgba(255,255,255,0.8);
    color: #333;
    min-width: 520px;
}
.space-product-tabs .nav-pills > li > a {
    border-radius: 0;
    color: #333;
}
.space-product-tabs .nav-pills > li.active > a {
    color: #fff;
}
.footer {
    background: none;
}
.space-product-tabs .nav-pills > li.active > a, .space-product-tabs .nav-pills > li.active > a:focus, .space-product-tabs .nav-pills > li.active > a:hover {
    background: #337ab7;
}
.shop_top_info {
    margin-top: 1px;
}
.tree_bound {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 1px;
}
.tree_bound h3 {
    border: 1px solid #ddd;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}
.tree_bound ul {
    display: none;
    margin: 0;
    padding: 0;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}
.tree_bound ul li {
    list-style: outside none none;
    padding: 0 !important;
}
.tree_bound ul li a {
    border: 1px solid #ddd;
    color: #333;
    display: block;
    padding: 10px;
}
.tree_bound ul li.plevel0 a {
    background: #f5f5f5;
}
.tree_bound ul li.plevel1 a {
    padding-left: 30px;
    background: #efefef;
}
.tree_bound ul li.plevel2 a {
    padding-left: 50px
}
.tree_bound ul li.plevel3 a {
    padding-left: 70px
}
.tree_bound ul li.plevel4 a {
    padding-left: 90px
}
.tree_bound ul li a span {
    background: none repeat scroll 0 0 #999;
    border-radius: 4px;
    color: #fff;
    display: block;
    float: right;
    height: 20px;
    padding: 0 5px;
    text-align: center;
    width: auto;
}
.space-menu-icon {
    font-size: 21px;
    margin-right: 5px;
    float:left;
    margin-top: -5px;
}
.media-list-box {
    background: none repeat scroll 0 0 #fff;
    padding: 10px;
}
.media-list-box ul {
    
}
.media-list-box ul li {
    border-bottom: 1px solid #ddd;
    height: 80px;
    overflow: auto;
}
.media-list-box ul li a {
    
}
time {
    background: none repeat scroll 0 0 #b5c2ca;
    color: #fff;
    display: block;
    float: left;
    font-family: "Segoe UI Light","Source Sans Pro","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial",sans-serif;
    height: 64px;
    text-align: center;
    width: 64px;
}
time .day {
    display: block;
    font-size: 20px;
    line-height: 18px;
    padding-top: 2px;
}
time .mounth {
    display: block;
    font-size: 20px;
    line-height: 18px;
}
.mounth {
    padding-top: 3px;
}
time .time {
    display: block;
    font-family: "Segoe UI",Frutiger,"Frutiger Linotype","dejavu sans","helvetica neue",arial,sans-serif;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    padding-top: 7px;
}
.time {
    padding-top: 2px !important;
}
.logoz {
    text-align: center;
    max-width: 100%;
}
.logoz img {
    max-width: 100%;
}
.page-inner img {
    max-width: 100%;
    max-height: 100%;
}
.footerz {
    padding-top: 20px;
}
.contact_box label {
    margin-top: 20px;
}
.no-result {
    font-size: 110%;
    padding: 20px;
    text-align: center;
}
.order_message_box {    
}
.order_message_box {
    background: none repeat scroll 0 0 #edf4ef;
    margin: 20px 0 0;
    padding: 20px;
    text-align: center;
}
.album_tab {    
}
.album_tab ul {
    margin-right: -2%;
    padding: 0;
}
.album_tab ul li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin-bottom: 10px;
    margin-right: 2%;
    overflow: hidden;
    padding: 10px;
    width: 48%;
    height: 235px;
}
.album_tab ul li a {    
}
.album_tab ul li a img {    
}
.album_tab ul li p {
    display: block;
    max-height: 48px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    margin: 0;
}
.amount {
    color: #0072bd;
    font-size: 110%;
    font-weight: 700;
}
.price_unit {
    color: #0072bd;
    font-size: 110%;
    font-weight: 700;
}
.old_price .price_unit {
    color: #a94442;
}
.old_price {
    display: block;
    font-weight: 700;
    height: 17px;
    overflow: hidden;
}
.single_add_to_cart_button {
    background: #f44f00 none repeat scroll 0 0;
    border-color: #f44f00;
    font-size: 18px;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
}
.color-tab-top .nav-pills > li.active > a, .color-tab-top .nav-pills > li.active > a:focus, .color-tab-top .nav-pills > li.active > a:hover {
    background-color: #1acfac;
    color: #fff;
}
.color-tab-top .nav > li > a {
    padding: 8px 10px;
}
.color-tab-top .nav-pills > li > a {
    border-radius: 0;
    color: #333;
}
.color-tab-top {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #1acfac;
    overflow: auto;
    width: 100%;
    border-top: solid 1px #fff;
    z-index: 10;
}
.compage {
    padding: 10px;
}
.video_new_page {
    background: none;
    padding: 10px;
}
.compage h3, .video_new_page h3 {
    margin-top: 10px;
}
.compage ul {
    margin: 0 -2% 0 0;
    padding: 0;
}
.compage ul li {
    border: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin-bottom: 20px;
    margin-right: 1%;
    width: 32%;
    background: #fff;
}
.compage ul li a {    
}
.compage ul li img {
    float: left;
    width: 100%;
    padding: 2px;
}
.compage ul li span.title {
    display: block;
    float: left;
    height: 50px;
    padding: 5px;
    text-align: center;
    color: #333;
    width: 100%;
}
.compage ul li span.logo-box {
    border: 0;
    border-bottom: 1px solid #ddd;
    display: block;
    float: left;
    text-align: center;
    width: 100%
}
.compage ul li span.logo-box img {
    width: 100%
}
.clear {
    clear: both;
}
.company-page .color-tab-top.product-tabs .nav-pills > li.active > a, .company-page .nav-pills > li.active > a:focus, .company-page .nav-pills > li.active > a:hover {
    background-color: #fe7477;
}
.company-page .color-tab-top {
    border-bottom: 1px solid #fe7477;
}
.company-page .navbar-inverse {
    background-color: #fe7477;
}
.shop-info-line {
    display: block;
    font-size: 90%;
    text-align: center;
}
.shop-info-line a {
    color: #888;
}
.album_detail {
    background: #fff;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
    padding-top: 5px;
    margin-top: 5px;
}
.album_detail {
    width: 100%;
}
.page-register {
    padding: 20px 35px;
}
#regfrm p {
    margin: 0;
}
.footerz {
    margin-top: 40px;
}
label.error {
    margin-bottom: 10px;
}
.form-control {
    height: 44px;
}
form label {
    margin-bottom: 0;
}
form label span {
    color: #ff0000;
    font-size: 150%;
}
#regfrm {
    font-size: 120%;
}
form input, form select {
    font-size: 110%;
}
.email_confirm, .password_confirm {
    display: none;
}
.h4, h4 {
    line-height: normal;
}
.form-control.half-control {
    width: 40%;
    float: left;
    margin-right: 20px;
}
.half-control.lastname {
}
.half-control.firstname {
}
.fullcols {
    display: inline-block;
    width: 100%;
}
.genders {
    margin-bottom: 5px;
}
#dataArea {
    width: 100%;
    display: block;
}
#dataArea select {
    width: 100%;
    margin-top: 10px;
    display: block;
}
label.error {
    display: none;
}
#dataArea .level_1 {
    margin-top: 0;
}
#MemberLogo {
    margin-bottom: 40px;
    text-align: center;
    
}
#MemberLogo img {
    max-width: 150px;
    border: solid 1px #ddd;
    padding: 2px;
}
.navbar-inverse.office-page {
    background: #666;
}
.office-page .sidebar-brand img {
    width: 50px;
    float: left;
    margin-right: 10px;
}
.office-page .sidebar-brand {
    height: 70px;
    padding: 10px 20px !important;
}
.office-page .sidebar-brand a {
    float: left;
    line-height: normal;
    text-indent: 0;
}
.office-page .sidebar-nav li.title {
    color: #555;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 20px;
}
.office-page .sidebar-nav li.title h2 {
    font-size: 130%;
    margin: 0;
}
.office-page .sidebar-nav li {
    padding-left: 10px;
    font-size: 130%;
}
.office-page .navbar-nav .divider {
    background: #aaa;
}
.office-page  .navbar-collapse, .office-page .navbar-form {
    border-color: #aaa;
}
.office-page  .navbar-nav > .active > a, .office-page  .navbar-nav > .active > a:focus, .office-page  .navbar-nav > .active > a:hover {
    background-color: #aaa;
}
.office-page .navbar-nav > li:hover > a {
    background-color: #aaa;
}
.sidebar-nav {
    width: 280px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 280px;
}
#wrapper.toggled {
    padding-left: 280px;
}
.logo-box {
    width: 150px; margin: auto; border: solid 1px #ddd
}
i.note {
    font-style: normal;
    font-weight: normal;
}
.phonepart-1, .phonepart-2, .phonepart-3 {
    display: inline-block;
    width: 120px;
}
.phonepart-1 {
    width: 60px;
}
.phonepart-2 {
    width: 80px;
}
.industry_list_checkbox li, .fb_list li {
    float: left;
    list-style: outside none none;
    width: 100%;
}
.industry_list_checkbox, .fb_list {
    padding-left: 10px;
}
.fb_list li {
    width: 100%;
}
.fb_list {
    margin-bottom: 10px;
}
.published_but {
    font-size: 150%;
    color: #5cb85c;
}
.unpublished_but {
    font-size: 150%;
    color: #d9534f;
}
.action_col .btn {
    margin-bottom: 5px;
}
DIV.pagination2 A {
    padding: 8px 10px !important;
}
.pagination2 {
    padding-top: 20px !important;
}
#dataCustomIndustry select, #dataIndustry select {
    margin-bottom: 5px;
}
#dataCustomIndustry input {
    border: 0 none;
    height: 42px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 90%;
}
#dataCustomIndustry .i_item {
    position: relative;
}
.images_inputs {
    float: left;
    width: 95%;
    display: inline-block;
    position: absolute;
}
.images_inputs .box {
    margin-bottom: 20px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    width: 100px;
    display: inline-block;
}
.images_inputs .img-box {
    border: 1px solid #ddd;
    height: 100px;
    line-height: 96px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.price_2cols input {
    display: inline-block;
    width: 130px;
}
#dataIndustry select.lock {
    background: #efefef;
}
.searchbox_mleft select {
    float: left;
    max-width: 150px;
    margin-right: 10px;
}
.product_sort input {
    margin-bottom: 5px;
}
#sortType, #sortOrder {
    display: inline-block;
    width: 120px;
}
.avatar img {
    width: 80px;
    float: left;
    margin-right: 20px;
}
.glyphicons-envelope:before {
  content: "\2709";
}
.pms-toggle .glyphicon {
    font-size: 28px;
    margin-top: 0;
}
.top_inbox_content {
    
}
#inboxhome {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 5px solid #ddd;
    max-height: 400px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 100;
}
.pms-toggle {
    position: inherit;
}
#quick_inbox_content {
    
}
#quick_inbox_content ul {
    padding: 0;
}
#quick_inbox_content ul li {
    border-bottom: 1px solid #ddd;
    line-height: 16px;
    margin-bottom: 10px;
    min-height: 50px;
    padding-bottom: 10px;
    list-style: none;
}
#quick_inbox_content ul li a {
    
}
#quick_inbox_content .announce_title {
    border-bottom: 1px solid #ddd;
    color: #333;
    display: block;
    margin-bottom: 10px;
}
#quick_inbox_content ul li .content {
    font-size: 14px;
    display: inline;
}
#quick_inbox_content ul li .timeinbox {
    color: #333;
    display: inline;
    font-size: 14px;
}
#quick_inbox_content ul li p {
    margin: 0;
}
#quick_inbox_content ul li img {
    float: left;
    margin-right: 10px;
    width: 40px;
}
.top_inbox_content {
    display: none;
}
.moderator_actions {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    margin: 10px -15px !important;
    padding: 10px;
}
.moderator_actions .title {
    background: none repeat scroll 0 0 #efefef;
    display: block;
    margin: 10px 0;
    padding: 5px;
}
.moderator_actions h2 {
    margin: 5px 0 15px;
}
table td * {
    word-wrap: break-word;
    word-break: break-all;
}
body {
    max-width: 100% !important;
    overflow-x: hidden;
}
.shop-stats {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
}
.shop-stats ul {
    margin: 0;
    padding: 0;
}
.shop-stats ul li {
    border-right: 1px solid #ddd;
    display: inline-block;
    list-style: outside none none;
    padding: 5px;
    text-align: center;
    width: 49%;
}
.shop-stats ul li:last-child {
    border: 0;
}
#dataProductPrice, #dataProductNewPrice {
    text-align: right;
}
.contact_page_left label {
    display: inline-block;
    font-weight: 700;
    margin: 5px 0;
}
.fields label {
    margin-top: 5px;
    font-weight: 700;
}
.images_inputs {
    max-width: 100%;
    overflow-x: hidden;
    display: block;
}
DIV.pagination2 {
    line-height: 35px;
    word-break: normal !important;
    word-wrap: break-word;
}
DIV.pagination2 A {
    padding: 0 10px !important;
    display: inline-block;
    margin-bottom: 5px;
}
.main_price {
    display: block;
    height: 17px;
    overflow: hidden;
}
.loading_page {
    
}
.loading_page .cover_page {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
.loading_page .loadicon {
    background: transparent url("../img/loading_page.gif") no-repeat scroll 0 0;
    display: block;
    height: 50px;
    margin: 0 50%;
    position: fixed;
    top: 45%;
    width: 50px;
    z-index: 101;
    left: 0;
}
h2.area-title {
    font-size: 20px;
    margin: 10px 0;
}
#wrapper.toggled #page-content-wrapper {
    position: inherit !important;
}
.area-title.second {
    margin-top: 20px;
}
.share_title::before {
    background: rgba(0, 0, 0, 0) url("http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflYxhNH5.png") no-repeat scroll -171px -233px;
    color: rgba(0, 0, 0, 0);
    content: "a";
    display: block;
    float: left;
    height: 20px;
    margin-right: 2px;
    width: 20px;
}
.share_title {
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: 5px;
}
.ad_hover.home_top_banner_1 {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 20.5%;
    position: absolute;
    width: 100%;
}
.ad_hover.home_top_banner_2 {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 22.5%;
    position: absolute;
    top: 21.7%;
    width: 49%;
}
.ad_hover.home_top_banner_3 {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 22.5%;
    position: absolute;
    top: 21.7%;
    width: 49%;
    right: 0;
}
.ad_hover.home_top_banner_4 {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 16.1%;
    position: absolute;
    top: 46.3%;
    width: 49%;
}
.home_top_banner_4.ad_1, .home_top_banner_4.ad_3 {
    right: 0;
}

.home_top_banner_4.ad_2, .home_top_banner_4.ad_3 {
    top: 71.9%;
}
.ad_banner_item {
    color: #fff;
    text-align: center;
}
.ad_hover.home_feature_hot_product_left {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 59.1%;
    margin-top: 59px;
    position: absolute;
    width: 100%;
}
.ad_hover.home_feature_hot_product_right {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 59.1%;
    margin-top: 59px;
    position: absolute;
    width: 100%;
}
.ad_hover.home_feature_hot_service_left {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 74.8%;
    position: absolute;
    width: 100%;
}
.ad_hover.home_feature_hot_service_right {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 74.8%;
    position: absolute;
    width: 100%;
}
.ad_hover.home_feature_trade_1, .ad_hover.home_feature_trade_2 {
    background: rgba(0, 255, 100, 0.6) none repeat scroll 0 0;
    border: 1px dashed #fff;
    height: 76.5%;
    position: absolute;
    top: 59px;
    width: 49%;
}
.ad_hover.home_feature_trade_2 {
    right: 0;
}
.ad_toggle {
    background: #3b984c none repeat scroll 0 0;
    border-radius: 40px;
    color: #fff !important;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin: 12px 12px 20px 0;
    padding: 3px 10px 5px;
    text-align: center;
    width: 94%;
}
.ad_banner_item {
    display: none;
}
.ad_fixed_in {
    font-size: 20px;
    height: 40px;
    padding: 6px;
    position: fixed;
    right: 0;
    top: 100px;
    width: 40px;
    z-index: 100000;
}
.ad_banner_item_hover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}