body {
    padding-top: 0;
    background-color: #edf4ef;
}
.navbar-inverse {
    background-color: #3b984c;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.top-nav-cover {
    height: 35px;
}
.navbar-inverse .navbar-toggle {
    border: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li:hover > a {
    background-color: #71c681;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #71c681;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #71c681;
}
.sidebar-nav {
    padding-top: 15px;
}
.sidebar-nav li.sidebar-menu a {
    padding-bottom: 8px;
}
.sidebar-nav li.sidebar-menu .color-point {
    display: inline-block;
    height: 40px;
    margin-bottom: -15px;
    margin-right: 10px;
    margin-top: 8px;
    width: 40px;
    background-position: center -10px;
    background-size: 55px auto;
}
.sidebar-nav li.sidebar-menu-product .color-point {
    background-color: #1acfac;
    background-image: url('../img/product_bg.png');
}
.sidebar-nav li.sidebar-menu-service .color-point {
    background-color: #ffa544;
    background-image: url('../img/service_bg.png');
}
.sidebar-nav li.sidebar-menu-trade .color-point {
    background-color: #57BAE8;
    background-image: url('../img/trade_bg.png');
}
.sidebar-nav li.sidebar-menu-company .color-point {
    background-color: #fe7477;
    background-image: url('../img/brand_bg.png');
    background-size: 50px auto;
}
.sidebar-nav li.sidebar-menu-job .color-point {
    background-color: #7ad04d;
    background-image: url('../img/job_bg.png');
    background-size: 50px auto;
}
.leftbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 8px;
    padding: 1px 10px 0;
}
.leftbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background: #fff;
    margin-bottom: 4px;
}
.leftbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
}
.logo-sidebar img {
    margin-bottom: 10px;
    width: 190px;
}
.sidebar-nav .divider {
    background-color: #222;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.custome-navbar-toggle {
    color: #fff;
    font-size: 24px;
    margin: 7px 5px 0 0;
    padding: 3px 5px 0;
}
.custome-navbar-toggle:hover, .custome-navbar-toggle:focus, .custome-navbar-toggle:active {
    background: none !important;
}
.top-register-box {
    float: right;
    margin-right: 15px;
}
.top-register-box li {
    float: left;
}
.top-register-box li a {
    padding-bottom: 7px;
    padding-top: 7px;
}
.navbar-nav .divider {
    background-color: #71c681;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.mobile-horizon-slider {
    display: block;
    float: left;
    overflow: auto;
    width: 100%;
}
.mobile-horizon-slider ul {
    float: left;
    padding: 0;
    width: 999999px;
    position: relative;
}
.mobile-horizon-slider ul li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    float: left;
    list-style: outside none none;
    margin-right: 8px;
    padding: 4px;
    width: 130px;
}
.mobile-horizon-slider ul li a.title {
    display: block;
    margin-top: 5px;
    text-align: center;
    color: #333;
    font-size: 80%;
}
.mobile-horizon-slider ul li a img {
    width: 100%;
}
.mobile-horizon-slider ul {
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}
.navbar-brand {
    padding: 15px 8px;
}
#page-content-wrapper.home-page {
    background: none repeat scroll 0 0 #edf4ef;
    padding: 15px 0;
}
.mobile-horizon-slider-title h4 {
    float: left;
    margin-top: 20px;
}
.mobile-horizon-slider-title a.view-more {
    float: right;
    margin-top: 15px;
}
.top-register-box li a {
    padding: 7px 0;
    margin-left: 15px;
}
.top-register-box li:hover a {
    background: none !important;
}
.footer {
    padding: 10px;
}
.footer-menu {
    margin-bottom: 2px;
    text-align: center;
    padding: 0;
}
.footer-menu li {
    border-right: 1px solid #ccc;
    display: inline;
    list-style: outside none none;
    padding: 0 1px 0 5px;
}
.footer-menu li:last-child {
    border: 0;
}
.footer-menu li a {
    color: #555;
}
#page-content-wrapper {
    width: 100%;
}
#company_info {
    padding-top: 10px;
}
#company_info p {
    margin: 0;
    text-align:center;
}
.price-block {
    text-align: center;
}
.old_price {
    text-decoration: line-through;
}