body {
    padding-top: 0;
    background-color: #edf4ef;
}
.navbar-inverse {
    background-color: #3b984c;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.top-nav-cover {
    height: 50px;
}
.navbar-inverse .navbar-toggle {
    border: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li:hover > a {
    background-color: #71c681;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #71c681;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #71c681;
}
.sidebar-nav {
    padding-top: 15px;
}
.sidebar-nav li.sidebar-menu a {
    padding-bottom: 8px;
}
.sidebar-nav li.sidebar-menu .color-point {
    display: inline-block;
    height: 40px;
    margin-bottom: -15px;
    margin-right: 10px;
    margin-top: 8px;
    width: 40px;
    background-position: center -10px;
    background-size: 55px auto;
}
.sidebar-nav li.sidebar-menu-product .color-point {
    background-color: #1acfac;
    background-image: url('../img/product_bg.png');
}
.sidebar-nav li.sidebar-menu-service .color-point {
    background-color: #ffa544;
    background-image: url('../img/service_bg.png');
}
.sidebar-nav li.sidebar-menu-trade .color-point {
    background-color: #57BAE8;
    background-image: url('../img/trade_bg.png');
}
.sidebar-nav li.sidebar-menu-company .color-point {
    background-color: #fe7477;
    background-image: url('../img/brand_bg.png');
    background-size: 50px auto;
}
.sidebar-nav li.sidebar-menu-job .color-point {
    background-color: #7ad04d;
    background-image: url('../img/job_bg.png');
    background-size: 50px auto;
}
.leftbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 8px;
    padding: 1px 10px 0;
}
.leftbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background: #fff;
    margin-bottom: 4px;
}
.leftbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
}
.logo-sidebar img {
    margin-bottom: 10px;
    width: 190px;
}
.sidebar-nav .divider {
    background-color: #222;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.custome-navbar-toggle {
    color: #fff;
    font-size: 24px;
    margin: 7px 5px 0 0;
    padding: 3px 5px 0;
}
.custome-navbar-toggle:hover, .custome-navbar-toggle:focus, .custome-navbar-toggle:active {
    background: none !important;
}
.top-register-box {
    float: right;
    margin-right: 15px;
}
.top-register-box li {
    float: left;
}
.top-register-box li a {
    padding-bottom: 7px;
    padding-top: 7px;
}
.navbar-nav .divider {
    background-color: #71c681;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.mobile-horizon-slider {
    display: block;
    float: left;
    overflow: auto;
    width: 100%;
}
.mobile-horizon-slider ul {
    float: left;
    padding: 0;
    width: 999999px;
    position: relative;
}
.mobile-horizon-slider ul li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    float: left;
    list-style: outside none none;
    margin-right: 8px;
    padding: 4px;
    width: 130px;
}
.mobile-horizon-slider ul li a.title {
    display: block;
    margin-top: 5px;
    text-align: center;
    color: #333;
    font-size: 80%;
}
.mobile-horizon-slider ul li a img {
    width: 100%;
}
.mobile-horizon-slider ul {
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}
.navbar-brand {
    padding: 15px 8px;
}
#page-content-wrapper.home-page {
    background: none repeat scroll 0 0 #edf4ef;
    padding: 0;
    z-index: 10;
    width: 100%;
}
.mobile-horizon-slider-title h4 {
    float: left;
    margin-top: 20px;
}
.mobile-horizon-slider-title a.view-more {
    float: right;
    margin-top: 15px;
}
.top-register-box li a {
    padding: 7px 0;
    margin-left: 15px;
}
.top-register-box li:hover a {
    background: none !important;
}
.footer {
    padding: 10px;
}
.footer-menu {
    margin-bottom: 2px;
    text-align: center;
    padding: 0;
}
.footer-menu li {
    border-right: 1px solid #ccc;
    display: inline;
    list-style: outside none none;
    padding: 0 1px 0 5px;
}
.footer-menu li:last-child {
    border: 0;
}
.footer-menu li a {
    color: #555;
}
#page-content-wrapper {
    width: 100%;
}
#company_info {
    padding-top: 10px;
}
#company_info p {
    margin: 0;
    text-align:center;
}
.price-block {
    text-align: center;
}
.old_price {
    text-decoration: line-through;
    color: #a94442;
}
.fixed-tab-top {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #1acfac;
    position: fixed;
    width: 100%;
    overflow: auto;
}
.fixed-tab-top .nav-pills > li > a {
    border-radius: 0;
    color: #333;
}
.fixed-tab-top.product-tabs .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #1acfac;
    color: #fff;
}
.service-page .fixed-tab-top.product-tabs .nav-pills > li.active > a, .service-page .nav-pills > li.active > a:focus, .service-page .nav-pills > li.active > a:hover {
    background-color: #ffa544;
}
.ajax-list-container {
    background: #fff;
}
.fixed-tab-top .nav > li > a {
    padding: 8px 10px;
}
.ajax-list {
}
.ajax-list ul {
    padding: 0;
    margin: 0;
}
.ajax-list ul li {
    border-bottom: 1px solid #eee;
    list-style: outside none none;
    min-height: 141px;
    padding: 5px;
    font-size: 90%;
}
.ajax-list ul li a.img-box img {
    display: inline-block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.ajax-list ul li a {
    
}
.ajax-list ul li a.title {
    font-size: 100%;
    color: #333;
}
.ajax-list ul li a.img-box {
    border: 1px solid #eee;
    display: table-cell;
    float: left;
    height: 130px;
    line-height: 126px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}
.ajax-list ul li .info {
    
}
.ajax-list ul li .price-box {
    float: right;
    margin-left: 15px;
    height: 130px;
    text-align: center;
    max-width: 30%;
}
.list-loading {
    background: url("../img/list-loading.gif") no-repeat scroll center center #fff;
    height: 150px;
    width: 100%;
    opacity: 0.9;
}
.top-second-cover {
    height: 37px;
}
.fixed-filter-top {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #edf4ef;
    border-top: 2px solid #edf4ef;
    height: 34px;
    margin: 0;
    position: fixed;
    width: 100%;
}
.fixed-filter-top input[type="text"] {
    border: 0 none;
    height: 29px;
    padding: 0 10px;
    width: 100%;
}
.top-filter-cover {
    height: 34px;
}
.fixed-filter-top label {
    font-weight: normal;
    height: 29px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
}
.cat-filter-but {
    border: 0 none;
    border-radius: 0;
    height: 29px;
    max-width: 100%;
    overflow: auto;
    padding: 5px 5px 5px 38px;
    text-align: left;
}
.cat-filter-but-group {
    position: absolute;
    z-index: 20;
    max-width: 100%;
}
.cats-list-box {
    background: #edf4ef;
    position: fixed;
    border-bottom: 1px solid #eee;
    max-height: 300px;
    padding: 5px;
    width: 100%;
    width: 100%;
    z-index: 10;
    overflow: auto;
}
.cats-list {
    
    
    
    
}
.cats-list-cover {
    height: 299px;
}
.cats-list ul {
    margin-bottom: 5px;
}
.cats-list ul li a {
    color: #333;
}
.cats-list-caret {
    border-width: 7px 6px 0;
    
}
.cats-list-caret-but {
    border-left: 1px solid #ddd;
    display: block;
    height: 41px;
    padding: 10px 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
}

.list-group-item.child-item {
}
.list-group-item.child-item .border-line {
    background: none repeat scroll 0 0 #1acfac;
    display: block;
    float: left;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
    z-index: 100;
}
.cats-list-icon {
    background: none repeat scroll 0 0 #fff;
    display: block;
    float: left;
    font-size: 21px;
    padding: 2px 2px 0 10px;
    position: absolute;
}
.cat-filter-items .cat-filter-item {
    margin-right: 5px;
    padding-right: 5px;
    border-right: solid 1px #ddd;
    display: inline-block;
}
.cat-filter-items .cat-filter-item:last-child {
    margin-right: 0;
}
.cat-filter-but:hover {
    background: none;
}
.cats-list-box .list-group-item {
    padding-left: 0;
    padding-right: 0;
}
.cats-list-box ul ul {
    margin: 10px -1px -11px;
}
.list-group-item .border-line, .list-group-item .border-line2, .list-group-item .border-line3, .list-group-item .border-line4 {
    background: none repeat scroll 0 0 #1acfac;
    display: block;
    float: left;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 100;
}
.list-group-item.level-0 a {
    padding-left: 20px;
}
.list-group-item.level-1 a {
    padding-left: 30px;
}
.list-group-item.level-2 a {
    padding-left: 40px;
}
.list-group-item.level-3 a {
    padding-left: 50px;
}
.list-group-item.level-4 a {
    padding-left: 60px;
}

.list-group-item .border-line {

}
.list-group-item .border-line2 {
    margin-left: 8px;
}
.list-group-item .border-line3 {
    margin-left: 16px;
}
.list-group-item .border-line4 {
    margin-left: 24px;
}
.cats-list-caret-but.loading {
    background: url("../img/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.cats-list-caret-but.loading span {
    border: none;
}
.product-title {
    background: none repeat scroll 0 0 #fff;
    padding: 8px 10px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    margin-top: 0;
}
.product-title h4 {
    font-size: 90%;
    font-weight: 700;
    margin: 0 0 4px;
}
.product-title h1 {
    font-size: 150%;
    margin: 0;
}
.mobile-product-gallery {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
}
.mobile-product-gallery ul {
    padding: 0;
}
.mobile-product-gallery ul li {
    display: inline-block;
    height: 500px;
    line-height: 500px;
    list-style: outside none none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background: #eee;
}
.mobile-product-gallery ul li a {
    
}
.mobile-product-gallery ul li a img {
    max-height: 100%;
    max-width: 100%;
}
.mobile-product-gallery .pointers {
    margin-left: -10px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.mobile-product-gallery .pointers .pointer {
    background: none repeat scroll 0 0 #aaa;
    border-radius: 10px;
    display: inline-block;
    height: 5px;
    margin: 5px;
    width: 5px;
}
.mobile-product-gallery .pointers .pointer.active {
    background: #333;
}
.mobile-product-info {
    background: none repeat scroll 0 0 #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 0 1px;
    margin-top: 0;
    padding: 10px;
}
.summary .title_disc {
    display: inline-block;
    min-width: 150px;
    font-weight: 700;
}
.summary .top_left_info p {
    
}
.summary .quantity {
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: -90000px;
}
.summary .keywords {
    line-height: 100%;
    padding-top: 10px;
}
#quantity {
    width: 100px;
    text-align: center;
}
.mobile-shop-info {
    background: #fff;
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    margin-top: 5px;
}
.logo_box_u img {
    border: 1px solid #ddd;
    float: left;
    margin-right: ;
    width: 25%;
}
.red_box {
    width: 70%;
    float: right;
}
.mobile-shop-info .shop_name {
    margin-top: 0;
}
.mobile-shop-info .seller-title {
    font-size: 130%;
    font-weight: 700;
    margin: 0 0 10px;
}
.mobile-product-desc {
    background: #fff;
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    margin-top: 5px;
}
.mobile-product-desc * {
    max-width: 100%;
}
.mobile-product-desc h2 {
    margin-top: 0;
}
.pointer-left {
    background: none repeat scroll 0 0 #fff;
    font-size: 200%;
    left: 10px;
    opacity: 0.7;
    padding: 5px 2px;
    position: absolute;
    top: 45%;
}
.pointer-right {
    background: none repeat scroll 0 0 #fff;
    font-size: 200%;
    right: 10px;
    opacity: 0.7;
    padding: 5px 2px;
    position: absolute;
    top: 45%;
}
.mobile-product-infobox-title {
    font-size: 130%;
    margin: 15px 0 -2px 5px;
    font-weight: 700;
}
.related_products {
    background: #fff;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    margin-top: 5px;
}
.cart-items .table {
    margin: 0;
    max-width: none;
    width: 100%;
}
.cart-items {
    padding: 10px;
    background: #fff;
    border-bottom: solid 1px #ddd;
}
.cart-items h1 {
    margin:0 10px 10px;
}
.cart-picture-cols {
    
}
.cart-picture-cols a {
    border: 1px solid #ddd;
    display: inline-block;
    height: 70px;
    line-height: 66px;
    text-align: center;
    vertical-align: middle;
    width: 70px;
}
.cart-picture-cols img {
    max-height: 100%;
    max-width: 100%;
}
.quantity_val {
    height: 36px;
    position: absolute;
    text-align: center;
    width: 48px;
    padding-right: 5px;
    font-size: 120%;
}
.quantity_sel {
    display: block;
    height: 36px;
    position: absolute;
    text-align: center;
    width: 66px;
    padding-right: 5px;
    font-size: 120%;
}
.quantity_but {
    margin-top: 40px;
}
.shop-info-line-cart {
    background: none repeat scroll 0 0 #eee;
}
.shop-info-line-cart td {
    padding: 5px 10px !important;
}
.shop-info-line-cart td a {
}
.cart-line-name a {
    color: #333;
}
.checkout_but {
    margin-right: 0;
}
.buy_methods {
    background: #fff;
    padding: 10px;
}
.buy_methods .nav-justified li strong {
    font-size: 130%;
}
.count_badge_outer {
    display: block;
    margin-left: -13px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 100;
}
.count_badge_outer .badge {
    font-size: 11px;
    background: #b92c28;
}
.logging-box {
    padding: 10px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}
.logging-box h1 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 25px;

}
.logging-box label {
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin-top: 15px;
}
.logging-box input[type="text"], .logging-box input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border-color: #aaa;
    margin-bottom: 5px;
}
input.error {
    border-color: #b92c28 !important;
}
label.error {
    color: #b92c28;
    margin: 0;
}
.logging-box input[type="submit"] {
    display: block;
    margin-top: 15px;
    width: 100%;
}
.logging_actions {
    margin-top: 10px;
}
.meminfo-box {
    
}
.page-inner {
    padding: 10px;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
}
.page-inner h1 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 25px;

}
.meminfo-box .panel {
    margin: 0 -10px;
    margin-bottom: 10px;
}
.meminfo-box input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border-color: #aaa;
    margin-bottom: 5px;
}
.input-group label {
    display: block;
    font-size: 100%;
    font-weight: normal;
    margin-top: 0;
    font-size: 90%;
}
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
.meminfo-box input[type="submit"] {
    width: 100%;
}
.info-2line-group p label {
    display: block;
    float: left;
    left: 0;
    position: absolute;
}
.info-2line-group p {
    padding-left: 140px;
    position: relative;
    min-height: 18px;   
}
.meminfo_but {
    width: 100%;
    margin-top: 10px;
}
.info-2line-group.line-small p {
    padding-left: 100px;
    position: relative;
    min-height: 18px;   
}
.custome-navbar-toggle:hover, .custome-navbar-toggle:focus, .custome-navbar-toggle:active {
    color: #333 !important;
}
#search-panel {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ddd;
    height: 57px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#search-panel .input-group {
    background: none repeat scroll 0 0 #fff;
    margin: 0;
    padding: 8px 5px;
    width: 100%;
}
#search-panel .form-group {
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1px;
    position: fixed;
    width: 100%;
    z-index: 2000;
}
#search-panel button, #search-panel input {
    border: 0 none;
    border-radius: 4px;
}
#search-panel .input-group-btn {
    padding: 0;
    position: absolute;
    z-index: 10;
}
#search-panel .input-group-btn .btn {
    border-color: #aaa;
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: 40px;
    padding: 6px;
}
#search-panel input {
    border: 1px solid #aaa;
    height: 40px;
    padding: 10px 0 10px 50px;
    width: 100%;
}
#search-panel .glyphicon {
    font-size: 22px;
}
#search-panel .dropdown-menu li a {
    padding: 2px 10px;
}
.top-search-result-box {
    margin-top: -1px;
    width: 100%;
}
.top-search-result-box .panel {
    border-radius: 0;
}
.top-search-result-box .panel-body {
    border-radius: 4px 4px 0 0;
    overflow-y: auto;
    padding: 0;
}
.top-search-result-box .panel-heading {
    padding: 5px 10px;
}
.top-search-result-box .panel-title {
    font-size: 14px;
}
.top-search-result-box .list-group {
    margin-bottom: 0;
}
.top-search-result-box .list-group li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ddd;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
    margin: 0;
    padding: 5px;
}
.top-search-result-box .list-group li:last-child {
    border-bottom: 0;
}
.top-search-result-box .list-group li:hover {
    background-color: #f8f8f8;
}
.top-search-result-box .list-group li .ajax-list-img-box {
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 56px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.top-search-result-box .list-group li .ajax-list-img-box img {
    display: inline;
}
.top-search-result-box .list-group li a {
    color: #333;
    display: block;
    height: 60px;
    overflow: hidden;
}
.top-search-result-box .list-group li a:hover {
    text-decoration: none;
}
.top-search-result-box .list-group li p {
    margin: 0;
}
.top-search-result-box .list-group li h4 {
    font-size: 18px;
    height: 21px;
    margin: 0;
    overflow: hidden;
}
.top-search-result-box .list-group li .more_info {

}
.search-loading {
    height: 50px;
    text-indent: -9000px;
    width: 100%;
    background: url("../img/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.top-search-more {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    bottom: -11px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    width: 100%;
    color: #333;
    left: 0;
}
.keyword_title .glyphicon-remove {
    color: #b92c28;
}
.top-search-bg {
    background: none repeat scroll 0 0 #3b984c;
    border-radius: 0 4px 4px 0;
    color: rgba(255, 255, 255, 0.9);
    height: 40px;
    padding: 4px 10px;
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 100;
}
#search-panel input {
    font-size: 85%;
    box-shadow: none;
}
.service-page .fixed-tab-top {
    border-bottom: 1px solid #ffa544;
}
.offer-page .fixed-tab-top.product-tabs .nav-pills > li.active > a, .offer-page .nav-pills > li.active > a:focus, .offer-page .nav-pills > li.active > a:hover {
    background-color: #57bae8;
}
.offer-page .fixed-tab-top {
    border-bottom: 1px solid #57bae8;
}
.product-page .navbar-inverse {
    background-color: #1acfac;
}
.offer-page .navbar-inverse {
    background-color: #57bae8;
}
.service-page .navbar-inverse {
    background-color: #ffa544;
}
.shop_top_info .banners ul {
    padding: 0;
    margin: 0;
}
.shop_top_info .banners ul li {
    list-style: none;
}
.shop_top_info .banners ul li img, .shop_top_info .banners .noiimage {
    width: 100%;
    height: 200px;
    background: #ddd;
}
.shop_top_info .banners ul{
    height: 200px;
}
.shop_top_info .banners ul li {    
    position: absolute;
    width: 100%;
}
.shop_top_info .banners ul li img {
    height: 200px;
}
.shop_top_info .logo_title {
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* Standard syntax */
    bottom: 0;
    height: 140px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.shop_top_info .logo_title .logo img {
    border: 1px solid #ddd;
    float: left;
    width: 120px;
    margin-right: 10px;
}
.shop_top_info .head {
    position: relative;
}
#top_company_info {
    color: #fff;
    text-shadow: 1px 1px #333;
}
#top_company_info h3 {
    font-weight: bold;
    margin-top: 5px;
}
#top_company_info p {
    font-size: 115%;
}